{$__contact = $wa->globals("_contact")}
{if $wa->shop}{$phone = $wa->shop->settings('phone')}{$email = $wa->shop->settings('email')}{else}{$phone=''}{$email=''}{/if}
<ul>
{if $__contact}
    <!--contact in header-->
    {if $phone}<li class="top-contact phone">{$phone}</li>{else}
    <li class="top-contact phone">8 (800) 550-20-79</li>   {/if}

    <li class="top-contact phone"><span class="clientRoom">+7 (495) 178-00-89</span></li>
	
    <li class="top-contact hint">с 10:00 до 19:00 </li>
    <li class="top-contact"><a class="callme_viewform callback_plugin_handler"> Закажите обратный звонок </a></li>
    {*<b><a href="http://www.btoys.ru/info/grafik-noviy-god" target="_blank">График работы в праздники</a></b>*}
    {*<b><a href="http://www.btoys.ru/info/weekend/" target="_blank">19 и 20 мая - выходные дни</a></b>*}
    {*<b><a href="http://www.btoys.ru/info/8-marta/" target="_blank">8 марта - выходной день</a></b>*}
    {*{shopYoucityPlugin::getViewCity()}*}
    



{else}    
 <li class="bottom-contact"><a class="callme_viewform callback_plugin_handler"> Закажите обратный звонок </a> </li>
    {* <li class="bottom-contact adress"><i class="icon-map-marker"></i>Тула</li> *}
    {if $phone}<li class="bottom-contact phone"><i class="icon-phone"></i>{$phone}</li>{else}
        <li class="bottom-contact phone"><i class="icon-phone"></i>+7 (495) 178-00-89</li>
    {/if}
        {*{if $email}<li class="bottom-contact email"><i class="icon-envelope"></i><a href="mailto:{$email}">{$email}</a></li>{else}
        <li class="bottom-contact email"><i class="icon-envelope"></i><a href="mailto:btoys@mail.ru">order@btoys.ru</a></li>
    {/if}*}

{/if}
</ul>