<a class="logo-link" href="{$wa_url}" title="" rel="nofollow">
    <div class="logo-img">
        {*<img src="/wa-data/public/site/btlogo120.jpg"  alt="" />*}
        <img src="/wa-data/public/site/bt_logo300g.png"  alt="" />  
		{*<img src="/wa-data/public/site/btlogo120_ny.jpg"  alt="" />*}

    </div>
    <div>
        {*<p class="first">{if $wa->shop}{$wa->shop->settings('name')}{else}{$wa->accountName()}{/if}</p>*}
        {*<p class="first">Bondage Toys</p>
        <p class="last">Мир девайсов для бондажа</br> и целомудрия</p>*}

    </div>
</a>