{if $wa->currentUrl() == $wa_app_url && !empty($error_code) && $error_code == 404}
    <div class="sidebar left230px" role="navigation">
        {include file="sidebar.html"}
    </div>
   
    <div class="content left230px welcome">
        <h1>[`Welcome to your new site!`]</h1>
        <p>{sprintf('[`Start by creating a page in your <a href="%s">site backend</a>.`]', $wa_backend_url|cat:'site/#/pages/')}</p>
    </div>
{else}
    {$content}
{/if}