{* <div class="content">
  <div id="page" role="main">
    <h1>[`The requested resource is not available.`]</h1>
    <div class="error404 red">{if $error_code}{$error_code}. {/if}{if $error_message}{$error_message}{else}[`Error`]{/if}</div>
    <p class="gray">[`Unfortunately, the page you requested was not found.`]<br>[`You can find the page that interests you, click on the link on the left or by clicking on the main page.`]</p>
    <a href="{$wa_app_url}" class="button">[`Go to home`]</a>
  </div>
</div>*}


<div class="error404 red">Запрашиваемая Вами страница не найдена. Возможно она была переименована. Пожалуйста, воспользуйтесь строкой поиска или панелью навигации.<br /> (Ошибка 404)</div>
 
{$homepage_columns = 2}

{$categories = $wa->menu->get(1)}
<table class="homepage_categories">
    {foreach $categories as $tc_id => $top_category}
        {if $tc_id is div by $homepage_columns}<tr>{/if}
        <td>
            <div class="top_category_image"><a href="{$top_category.url}"><img src="{$top_category.icon|default:'/wa-data/public/site/main_images/novinka.jpg'}"></a></div>
            <div>
                {if $top_category.url == '#'}
                    <span class="top_category">{$top_category.name|escape}</span>
                {else}
                    <a class="top_category" href="{$top_category.url}">{$top_category.name|escape}</a>
                {/if}
            </div>
            <div>
                {foreach $top_category.childs as $child_category}
                    <a href="{$child_category.url}">{$child_category.name|escape}</a>{if !$child_category@last} | {/if}
                {/foreach}
            </div>
        </td>
        {if $tc_id+1 is div by $homepage_columns}</tr>{/if}
    {/foreach}
</table>

{if $wa->shop}
{shop404Log::log($error_code)}
{/if}