<link rel="stylesheet" href="{$wa_theme_url}css/order.css?v={$wa_theme_version}">
<div class="wa-order-layout font_family_google_fira">
<header class="order-header wa-order-header">
    <div class="order-header__wrapper container">
        <div class="order-header__logo wa-logo-section">
            <div class="wa-logo">
                <a href="/" target="onlineSupportClonePageIframe">
                    <img src="/wa-data/public/shop/storefronts/logos/e217a6ab7a406b4d221ab084744561d8-1560882616.png" alt="Мир девайсов для бондажа и целомудрия"/>
                </a>
            </div>
        </div>
        <div class="order-header__phones wa-phone-section">
            <div class="wa-phone">
                <a href="tel:8 (800) 550-20-79">8 (800) 550-20-79</a>
            </div>

            <div class="call-back">
                <!--<i class="wa-icon phone size-13"><svg><use xlink:href="{$wa_url}wa-apps/shop/img/frontend/order/svg/sprite.svg#phone"></use></svg></i>-->
                <img src="/wa-data/public/shop/storefronts/logos/call1.png" class="call-back__icon" alt="">
                <a class="callme_viewform callback_plugin_handler">Закажите обратный звонок</a>
            </div>
        </div>
    </div>
</header>
</div>