{if $wa->blog}
    {$lposts = $wa->blog->posts(9, 8)}
    {if count($lposts) > 0}<!--last posts-->
    <div class="last-posts{if !isset($sidebar) && isset($home) && ($home > 0)} margin-left{/if}">
        <div class="caption home"><span>[`Our`]</span>[`news`]</div>
        <ul class="{if isset($sidebar) && $sidebar}s{/if}lposts">
        {foreach $lposts as $post}
            {$relative_url = explode('.ru', $post.link)}
            <li>
                <div class="post">
                    <span class="datetime">{$post.datetime|wa_datetime:"date"}</span>
                    <p>{$post.text|strip_tags|regex_replace:'/\{[^}]+\}/':''|truncate:120}</p>
                    <a class="type2" href="{$relative_url[1]}" title="[`Read more`]"{if !$_index} rel="nofollow"{/if}>[`Read more`]</a>
                </div>
            </li>
        {/foreach}
        </ul>
    </div>
    {/if}
{/if}