<div class="container">
<table>
  <tr class="head-lt-ie8">
    <td colspan="3" class="align-left align-middle">
      	<!-- website logo/title -->
    	<div class="logo align-left">
    	    {if $logo=$wa->block("`$themeId`.logo")}
                {$logo}
            {else}
                {include file="comfortbuy.logo.html"}
            {/if}
    	</div> 
    </td>
    <td colspan="2" class="align-right align-middle">
      	<!-- block contact -->
      	<div class="contact align-right">
      	    {$wa->globals("_contact", 1)}
      	    {if $contact=$wa->block("`$themeId`.contact")}
                {$contact}
            {else}
                {include file="comfortbuy.contact.html"}
            {/if}
      	</div>
    </td>
  </tr>
  <tr><td colspan="5">
    <span style="font-size: 24px;font-weight: bold;line-height: normal;margin: 90px 0 0 0;">[`Dear friends!`]</span>
    <p class="hello">    
	[`Unfortunately, your browser does not support modern technology used on our website.`]
  	</p>
  </td></tr>
  <tr><td colspan="5">
    <p class="help-text">[`Please refresh your browser by downloading it on the links below or contact your system administrator serving your computer.`]</p>
  </td></tr>
  <tr class="browser-icon">
    <td class="align-center"><a href="http://www.microsoft.com/rus/windows/internet-explorer/worldwide-sites.aspx" title="Internet Explorer" rel="nofollow"><span class="explorer"></span>Internet Explorer</a><p>от Microsoft</p></td>
    <td class="align-center"><a href="http://www.google.com/chrome/" title="Chrome" rel="nofollow"><span class="chrome"></span>Chrome</a><p>от Google</p></td>
    <td class="align-center"><a href="http://www.apple.com/ru/safari/" title="Safari" rel="nofollow"><span class="safari"></span>Safari</a><p>от Apple</p></td>
    <td class="align-center"><a href="http://www.opera.com/" title="Opera" rel="nofollow"><span class="opera"></span>Opera</a><p>от Opera Software</p></td>
    <td class="align-center"><a href="http://www.mozilla-europe.org/ru/firefox/" title="Firefox" rel="nofollow"><span class="firefox"></span>Firefox</a><p>от Mozilla</p></td>
  </tr>
</table>
</div>