<div class="content">
    <div id="page" role="main">
        {if !empty($contact)}
            <h1>[`Thank you!`]</h1>
            <p>[`You have successfully signed up.`]</p>
            <p>На Ваш e-mail отправлено письмо для подтверждения регистрации.</p>
        {else}
            <h1>[`Sign up`]</h1>
            {$wa->authAdapters()}
            <div class="form-wrapper">
            {$html = $wa->signupForm($errors)}
        	{$name = sprintf('%04x%04x', mt_rand(0, 0xffff), mt_rand(0, 0xffff))}
        	{$_name = " data-`$name`=\""}
        	{$html|regex_replace:'/ name="/':$_name|regex_replace:'/<form /':"<form data-param-name='`$name`'"}
        	<script>
                (function (d, c) {
                var data = d.querySelectorAll('[data-'+c+']');
                for (var i = 0; i < data.length; i++) {
                    if(data[i].dataset && data[i].dataset[c]) data[i].name = data[i].dataset[c];
                }
                })(document, '{$name}');
            </script>
            </div>
        {/if}
    </div>
</div>