{if !empty($theme_settings.verticalTree)}{$class_tree = $theme_settings.verticalTree}{else}{$class_tree = 'm0'}{/if}

{$show_this_app = ''}

{if !empty($theme_settings.verticalTreeSite)}{$show_this_app = $show_this_app|cat:'_site'}{/if}

{if !empty($theme_settings.verticalTreeShop)}{$show_this_app = $show_this_app|cat:'_shop'}{/if}

{if !empty($theme_settings.verticalTreeBlog)}{$show_this_app = $show_this_app|cat:'_blog'}{/if}

{if !empty($theme_settings.verticalTreePhotos)}{$show_this_app = $show_this_app|cat:'_photos'}{/if}

{if !empty($theme_settings.verticalTreeHelpdesk)}{$show_this_app = $show_this_app|cat:'_helpdesk'}{/if}

{if !empty($theme_settings.verticalTreeMailer)}{$show_this_app = $show_this_app|cat:'_mailer'}{/if}

{if !empty($theme_settings.verticalTreeHub)}{$show_this_app = $show_this_app|cat:'_hub'}{/if}

{$show_this_app_mobile = ''}

{if !empty($theme_settings.horizontalTreeSite)}{$show_this_app_mobile = $show_this_app_mobile|cat:'_site'}{/if}

{if !empty($theme_settings.horizontalTreeShop)}{$show_this_app_mobile = $show_this_app_mobile|cat:'_shop'}{/if}

{if !empty($theme_settings.horizontalTreeBlog)}{$show_this_app_mobile = $show_this_app_mobile|cat:'_blog'}{/if}

{if !empty($theme_settings.horizontalTreePhotos)}{$show_this_app_mobile = $show_this_app_mobile|cat:'_photos'}{/if}

{if !empty($theme_settings.horizontalTreeHelpdesk)}{$show_this_app_mobile = $show_this_app_mobile|cat:'_helpdesk'}{/if}

{if !empty($theme_settings.horizontalTreeHub)}{$show_this_app_mobile = $show_this_app_mobile|cat:'_hub'}{/if}



{if strpos($show_this_app, $wa_app) !== false || strpos($show_this_app_mobile, $wa_app) !== false}

    {if $wa->shop}

        {$tree = $wa->shop->categories(0, null, true)}

        {if isset($category) && $wa_app == 'shop'}{$selected_category=$category.id}{else}{$selected_category=null}{/if}

        {if isset($product) && $product.categories}

            {$selected_category = $product.categories}

            {$selected_category = current($selected_category)}

            {$selected_category = $selected_category.id}

        {/if}

    {else}

        {$tree=$wa->site->pages()}

        {if $wa_app == 'site' && isset($page.id)}{$selected_category = $page.id}{else}{$selected_category = null}{/if}

    {/if}

    {if $tree}

        {if $class_tree == 'm0' || $wa->isMobile()}{$class_tree = 'vertical-tree-zero dhtml'}{elseif $class_tree == 'm1'}{$class_tree = 'hide-for-mobile vertical-tree-one'}{else}{$class_tree = 'hide-for-mobile vertical-tree-two'}{/if}

    <div class="shop-category{if strpos($show_this_app, $wa_app) === false && strpos($show_this_app_mobile, $wa_app) !== false} hide-for-desktop{/if}">

        <div class="caption acapitalize">{if $wa->shop}[`Catalog`]{else}[`Site pages`]{/if}</div>

        

        <ul class="comfortbuy-vertical-tree vertical-tree-zero dynamized" style="display: block; margin-bottom:0">

		{*убираем отдельно внедренную ссылку на категорию новинок*}
		{*<li style="border-bottom: none;"><a href="/novelties" class="novelties"><i class="icon-circle"></i><i class="cb-minus">–</i>НОВИНКИ</a></li>*}

		</ul>

        {wa_print_tree tree=$tree selected=$selected_category unfolded=true class="comfortbuy-vertical-tree `$class_tree`" elem ='<a href=":url" data-icon-id=":id"><i class="icon-circle"></i><i class="cb-minus">&#8211;</i>:name</a>'}

        {if $class_tree != 'vertical-tree-zero dhtml'}{wa_print_tree tree=$tree selected=$selected_category unfolded=true class="comfortbuy-vertical-tree hide-for-desktop vertical-tree-zero dhtml" elem ='<a href=":url" data-icon-id=":id"><i class="icon-circle"></i><i class="cb-minus">&#8211;</i>:name</a>'}{/if}

        <script type="text/javascript"> $('ul.vertical-tree-zero.dhtml').hide(); </script>

    </div>

    {/if}

{/if}



{*MENU MOBILE*}

{if $wa->shop && $theme_settings.appsPages == 'shop'}

    {$apps_pages = $wa->shop->pages()}

    {if $wa_app == 'shop' && isset($root_page_id)}{$active_page = $root_page_id}{else}{$active_page = null}{/if}

{else}

    {$apps_pages = $wa->site->pages()}

    {if $wa_app == 'site' && isset($root_page_id)}{$active_page = $root_page_id}{else}{$active_page = null}{/if}

{/if}

{if $apps_pages}

    <div class="information block hide-for-desktop">

        <span class="caption acapitalize">[`Sections of the site`]</span>

        <ul>

        {if !empty($theme_settings.homeLink)}

            <li{if $wa_url == $wa->currentUrl()} class="selected"{/if}>

                <a href="{$wa_url}" title="[`Home`]"><i class="icon-circle"></i>[`Home`]</a>

            </li>

        {/if}

        {foreach $apps_pages as $pageMT}

            {if !isset($pageMT.menu_top)}

            <li{if $pageMT.id == $active_page} class="selected"{/if}>

                <a href="{$pageMT.url}" title="{$pageMT.title}"><i class="icon-circle"></i>{$pageMT.name}</a>

            </li>

            {/if}

        {/foreach}

        </ul>

    </div>

{/if}