{if $bannerId && $b_products && count($b_products)}
<div id="da-slider-{$bannerId}" class="da-slider">
	{foreach $b_products as $p}
	<div class="da-slide">
		<div class="da-img image">
		    <a href="{$p.frontend_url}" title="{$p.name|escape}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
		        {$badge_html = $wa->shop->badgeHtml($p.badge)}
                {if $badge_html}<div class="corner bottom left">{$badge_html}</div>{/if}
                {$wa->shop->productImgHtml($p, '300x0', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
            </a>
        </div>

{$product = $wa->shop->product($p.id)}
<h2><span class="name">{$product.params.slidername}</span></h2>
<p>{if $p.compare_price > 0}<span class="compare-at-price nowrap"> {if empty($theme_settings.sumbolRUB)}{shop_currency($p.compare_price)}{else}{shop_currency_html($p.compare_price)}{/if} </span>{/if}<span class="price nowrap red">{if empty($theme_settings.sumbolRUB)}{shop_currency($p.price)}{else}{shop_currency_html($p.price)}{/if}</span>
</p>

        {if $p.summary}<p itemprop="description">{strip_tags($p.summary)}</p>{/if}
        <a href="{$p.frontend_url}" class="da-link">[`Learn more`]</a>
	</div>
	{/foreach}
	<nav class="da-arrows">
		<span class="icon-caret-left da-arrows-prev"></span>
		<span class="icon-caret-right da-arrows-next"></span>
	</nav>
	
	<script type="text/javascript">
    $(function(){
        $('#da-slider-{$bannerId}').cslider({
    		/*current		: 0,*/
    		bgincrement	: 0,
    		autoplay	: true,
    		interval	: 5000
    	});   
    });
    </script>
</div>
{/if}