<script type="text/javascript" src="{$wa_theme_url}cart.js"></script>
<style type="text/css">
.infopages, #horizontal-category-wrap { display: none; }
.infopages-search { border-bottom: none !important; }

</style>

{if !$cart.count}

    <h1>[`Shopping cart`]</h1>
    <p>[`Your shopping cart is empty.`]</p>
    <a href="{$wa_app_url}" class="button back"><i class="icon-circle-arrow-left"></i>[`Back to the store`]</a>

{else}
    <!-- general welcome text -->
    <div class="content">
    
        <h1>[`Shopping cart`]</h1>
    
        <form method="post">
            <table class="table cart">
                <!-- col name -->
              	<tr class="align-left coll-name ahover">
                  <th></th><th></th><th>[`Quantity`]</th><th>[`Price`]</th><th class="align-center">[`Remove`]</th>
              	</tr>
                <!-- products -->
                {foreach $cart.items as $item}
                    <tr data-id="{$item.id}" class="ahover border{if $item@last} basicBG{/if}">
                        <td class="min-width picture"><a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">{$wa->shop->productImgHtml($item.product, '96x96')}</a></td>
                        <td>
                            <a href="{$wa->shop->productUrl($item.product)}" class="bold">{$item.product.name|escape}</a>
                            {if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}
                            {if !empty($item.services)}
                            <div class="services">
                                {foreach $item.services as $service_id => $s}
                                <!-- one option -->
                                <div {if !empty($s.id)}data-id="{$s.id}"{/if}>
                                <label>
                                    <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{if empty($theme_settings.sumbolRUB)}{shop_currency($s.price, $s.currency)}{else}{shop_currency_html($s.price, $s.currency)}{/if}</span>){/if}
                                </label>
                                {if isset($s.variants)}
                                <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                    {foreach $s.variants as $variant_id => $v}
                                    <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                    {/foreach}
                                </select>
                                {/if}
                                </div>
                                {/foreach}

                            </div>
                            {/if}
                            {if !empty($item.error)}<script>alert({json_encode($item.error)});</script>{/if}
                        </td>
                        <td class="nowrap"><span class="gray">&times;</span> <input type="text" name="quantity[{$item.id}]" value="{$item.quantity}" class="qty{if !empty($item.error)} error{/if}"></td>
                        <td class="item-total nowrap">{if empty($theme_settings.sumbolRUB)}{shop_currency($item.full_price, true)}{else}{shop_currency_html($item.full_price, true)}{/if}</td>
                        <td class="align-center{* align-middle*}" style="width: 1%;"><a class="delete" href="#" title="[`Remove from cart`]"><i class="icon-remove"></i></a></td>
                    </tr>
                {/foreach}
                
                <!-- discount coupon -->
                <tr class="border ahover" {if !shopDiscounts::isEnabled('coupons') && !$discount}style="display:none"{/if}>
                    <td colspan="2" class="no-border align-middle">
                        {if shopDiscounts::isEnabled('coupons')}
                        [`Discount coupon (if you have one)`]:
                        <input type="text" name="coupon_code" value="{$coupon_code|escape}"><input class="back" type="submit" style="margin-left: 10px;"  value="[`Apply`]">
                        {/if}
                    </td>
                    <td class="align-middle">[`Discount`]</td>
                    <td class="align-middle cart-discount nowrap" colspan="2">&minus; {if empty($theme_settings.sumbolRUB)}{shop_currency($discount, true)}{else}{shop_currency_html($discount, true)}{/if}</td>
                    {*<td>&nbsp;</td>*}
                </tr>

                {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
                <!-- affiliate bonus -->
                <tr class="no-border ahover">
                    <td colspan="3" class="no-border">
                        {if empty($theme_settings.sumbolRUB)}{$af = shop_currency(shopAffiliate::convertBonus($affiliate_bonus))}{else}{$af = shop_currency_html(shopAffiliate::convertBonus($affiliate_bonus))}{/if}
                        {*sprintf('[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]', $affiliate_bonus, $af)*}
{sprintf('[`<b>На Вашем счету %s бонусных рублей</b>. Вы можете использовать их для получения дополнительной скидки.`]', $affiliate_bonus, $af)}

                        {if $use_affiliate}
                        <br /><a id="cancel-affiliate" class="button back" style="margin-top: 10px;" href="#">[`Cancel`]</a>
                        {else}
                        <br /><input class="back" type="submit" name="use_affiliate" style="margin-top: 10px;" value="[`Use bonus`]">
                        {/if}
                    </td>
                    <td colspan="2">&minus; {if $use_affiliate}{if empty($theme_settings.sumbolRUB)}{shop_currency(shopAffiliate::convertBonus($used_affiliate_bonus))}{else}{shop_currency_html(shopAffiliate::convertBonus($used_affiliate_bonus))}{/if}{else}0{/if}</td>
                    {*<td>&nbsp;</td>*}
                </tr>
                {/if}
                
                <!-- TOTAL -->
                <tr class="large no-border ahover cart-total-price">
                    <td colspan="3" class="bold">[`Total`]</td>
                    <td colspan="2" class="cart-total align-center total bold nowrap">{if empty($theme_settings.sumbolRUB)}{shop_currency($cart.total, true)}{else}{shop_currency_html($cart.total, true)}{/if}</td>
                    {*<td>&nbsp;</td>*}
                </tr>
                
                {*<!-- BONUS Этот блок выводит размер ожидаемого бонуса по бонусной программе, в случае оформления заказа-->
                <tr class="ahover">
                    <td colspan="5">
                    {if !empty($add_affiliate_bonus)}
                          <!--комент в коменте нечитается. Это было закомметировано изначально
						  <em class="affiliate"><i class="icon-gift"></i>{sprintf("[`This order will add +%s points to your affiliate bonus.`]", $add_affiliate_bonus)}</em>		-->
                        <em class="affiliate"><i class="icon-gift"></i>[`This order adds`] <span class="price red">+{$add_affiliate_bonus}</span> [`points to your affiliate bonus.`]</em>
                    {/if}
                    </td>
                </tr>
                   *}
<style>
.cart span.sp{
    display: inline-block;
    width: 193px;
    text-align: center;
    margin: 10px 0;
}

    .quickorder-button-cart{
        margin-left: 0;
padding-left: 5px;
padding-right: 5px;
padding-top: 13px;
padding-bottom: 13px;
width: 193px;
border-radius: 0;
border: 1px solid #aaa;
background: rgba(243,243,243,1);
color: #000;
font-family: Arial,sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
margin-top: 0;
margin-bottom: 0;
text-align: center;
vertical-align: baseline;
line-height: 1.5em;
display: inline-block;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
    }
    
.quickorder-button-cart i {
    font-style: normal;
}

.cart input[name="checkout"] {
    width: 193px;
}


</style>
                
                <!-- checkout -->
                <tr class="no-border ahover">
                    <td class="align-middle" colspan="3">
                        {*<span class="gray">&larr;</span>*}<a href="{$wa_app_url}" class="button back"><i class="icon-circle-arrow-left"></i>[`Back to the store`]</a>
                    </td>
                    <td colspan="2" class="align-right align-middle bold">
                        {foreach $frontend_cart as $id => $_}{if $id == 'quickorder-plugin'}{$_}{/if}{/foreach}
                        <input name="checkout" type="submit" value="[`Proceed to checkout`]" class="button extra-large">
<span class="sp"> -или- </span>
{shopQuickorderPlugin::submitCart()}
                    </td>
                    {*<td>&nbsp;</td>*}
                </tr>
                
                
                
            </table>


            <!-- plugin hook: 'frontend_cart' -->
            {* @event frontend_cart.%plugin_id% *}
            {*foreach $frontend_cart as $_}{$_}{/foreach*}
            {foreach $frontend_cart as $id => $_}{if $id != 'quickorder-plugin'}{$_}{/if}{/foreach}

        </form>
    
        {$crossselling = $wa->shop->crossSelling($cart.items, 'product_id')}
        {if $crossselling}
        <div class="products-slider" style="margin-top: 20px;">
            <div class="products-slider-name"><h3>[`Better together`]</h3></div>
            {include file="products.slider.html" sliderId='crossselling' s_products=$crossselling}
        </div>
        {/if}
    
    </div>
{/if}