<div class="sidebar left230px">
    {include file="sidebar.html"}
</div>
<center>{$wa->banner->getBanner(3)}</center>
<div class="content left230px">

<!--banner -->
{*{if class_exists(shopAgamaya_bannersPlugin)}<center>{shopAgamaya_bannersPlugin::getBannersByGroupName('cat-up')}</center><br>{/if}*}



    <!-- navigation breadcrumbs -->
    <div class="breadcrumbs">
        {shopBreadcrumbsViewHelper::getBreadcrumbs()}
    </div>

    <h1 class="category-name">
        {$category.name|escape}
    </h1>
    

<div style="clear: both"></div>
<!-- description -->
{if $category.description and $wa->get('page', 1) == 1}
    <div class="category-description category-desc">{$category.description}</div>
{/if}

    
    {* подключение плагина "Иконка, изображение и баннер для категории" (вывод банера) *}
    {if shopWmimageincatPlugin::getCategoryImage($category.id, 'banner')}
    <div class="shopWmimageincatPlugin"><img src="{shopWmimageincatPlugin::getCategoryImage($category.id, 'banner')}" alt="{$category.name}" title="{$category.description|strip_tags}" /></div>
    {/if}
    {**}
    
    <!-- subcategories -->
    {if $category.subcategories}
        <div class="sub-categories">
            <table>
            {foreach $category.subcategories as $sc}
            {if $sc@first || ($sc@index is div by 4)}<tr>{/if}
<td><a href="{$sc.url}">{*<img src="{$wa_url}wa-data/public/shop/categories/{$sc.id}/{$sc.id}{$sc.image}">*}
{* <img src="{shopLogocategoryPlugin::getImgUrl($sc.id)}" /> *}
<img src="{shopCategoryImagesPlugin::getCategoryMiddleThumbUrl($sc.id)}" alt="">
{$sc.name|escape}</a></td>

            {if $sc@last || (($sc@index+1) is div by 4)}</tr>{/if}
            {/foreach}
            </table>
        </div>
    {/if}
    {* подключение плагина "Иконка, изображение и баннер для категории" (вывод списка изображений подкатегорий)

    <ul class="sub-categories with-pictures">
        {$num_cell = 3}
        {foreach $category.subcategories as $sc}
            {if $sc@first || ($sc@index is div by $num_cell)}<li>{/if}
                <a class="name" href="{$sc.url}">
                    <div><img src="{if shopWmimageincatPlugin::getCategoryImage($sc.id, 'image')}{shopWmimageincatPlugin::getCategoryImage($sc.id, 'image')}{else}{$wa_theme_url}img/dummy200.png{/if}" alt=""/></div>
                    <span>{$sc.name}</span>
                </a>
            {if $sc@last || (($sc@index+1) is div by $num_cell)}</li>{/if}
        {/foreach}
    </ul>
    {**}
    
    <!-- plugin hook: 'frontend_category' -->
    {* @event frontend_category.%plugin_id% *}
    {foreach $frontend_category as $_}{$_}{/foreach}
{*
    <!-- description -->
    {if $category.description}
        <div id="category-description"{if !empty($theme_settings.descCut)} data-cutter="{$theme_settings.descCut}" data-etext="[`expand description`]" data-ctext="[`collapse description`]"{/if}>{$category.description}</div>
    {/if}
*}    
    <div id="product-list">
        {if !$products}
            {if !empty($filters)}
                [`No products were found.`]
            {else}
                [`This category does not contain any products.`]
            {/if}
        {else}
            {include file='products.list.html' sorting=!empty($category.params.enable_sorting)}
        {/if}
    </div>




<!--banner -->
{*{if class_exists(shopAgamaya_bannersPlugin)}<center>{shopAgamaya_bannersPlugin::getBannersByGroupName('cat-down')}</center><br>{/if}*}
<center>{$wa->banner->getBanner(4)}</center>


<!--seo description -->
<div class="filter-additional-desc">
{if $category.seo_description and $wa->get('page', 1) == 1}
    {$category.seo_description}
{/if}
</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.fancybox').fancybox();
	});
</script>
