<style>
    .checkout-header { display: none; }
</style>

<div class="checkout-result success">
    <h1>[`Thank you!`]</h1>
    <p>[`We successfully accepted your order, and will contact you asap.`]<br />
    [`Your order number is `] <strong class="price red">{$order.id}</strong>.</p>
    
    {if !empty($payment)}
        <div class="plugin">
            {$payment}
        </div>
    {/if}

    {if !empty($payment_success)}
        <span class="highlighted">[`Your payment has been successfully accepted. We will process your order and contact you shortly.`]</span>
    {/if}
    
    <p class="back">
        <a href="{$wa_app_url}" class="button back"><i class="icon-circle-arrow-left"></i>[`Back to the store`]</a>
    </p>
    
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
    
</div>