<div class="sidebar left230px hide-for-desktop">
    {include file="sidebar.html"}
</div>
{$wa->title('[`Compare products`]')}
<h1>[`Compare products`]<a href="{$wa_url}" id="addition-all-delete" data-addition="compare">[`Clear list`] "[`Compare products`]"</a></h1>

<script>
    $(function () {
    $("#compare-all").click(function () {
        $("#compare-table tr.same").show();
        $(this).closest('ul').find('li.selected').removeClass('selected');
        $(this).parent().addClass('selected');
        return false;
    });
    $("#compare-diff").click(function () {
        $("#compare-table tr.same").hide();
        $(this).closest('ul').find('li.selected').removeClass('selected');
        $(this).parent().addClass('selected');
        return false;
    });
    $(".compare-remove").on('click', function () {
        var compare = $.cookie('shop_compare');
        if (compare) {
            compare = compare.split(',');
        } else {
            compare = [];
        }
        var i = $.inArray($(this).data('product') + '', compare);
        if (i != -1) {
            compare.splice(i, 1)
        }
        if (compare) {
            $.cookie('shop_compare', compare.join(','), { expires: 30, path: '/'});
        } else {
            $.cookie('shop_compare', null);
        }
    });
    $('#compare-link').parent().addClass('selected');
    });
</script>
<style type="text/css"> .bg-bottom-line { height: 0; overflow: hidden; } </style>

{if count($products)}

{$td_width = round((100-25)/count($products))}
<div class="compare-wrap">
<table id="compare-table" class="compare">
    <tr class="ahover">
        <th>    
            {*
            uncomment for all/different only toggle
            <ul class="menu-h">
                <li class="selected"><a id="compare-all" href="#" class="inline-link"><b><i>[`All features`]</i></b></a></li>
                <li><a id="compare-diff" href="#" class="inline-link"><b><i>[`Different`]</i></b></a></li>
            </ul>
            *}
        </th>
        {foreach $products as $p}
            <td width="{$td_width}%">
                <a href="{$wa->getUrl('/frontend/product/', ['product_url' => $p.url])}" class="no-underline">
                    {$wa->shop->productImgHtml($p, '96x0', ['itemprop' => 'image', 'id' => 'product-image', 'default' => "`$wa_theme_url`img/dummy96.png", 'title' => $p.name|escape|cat:' ':strip_tags($p.summary)|escape])}<u style="line-height: 120%;">{$p.name}</u></a>
                {if count($products) > 2}
                    <br><br>
                    <a data-product="{$p.id}" class="compare-remove" href="{$p.delete_url}" title="[`Remove from comparison list`]"><i class="icon-remove"></i></a>
                {/if}
            </td>
        {/foreach}
    </tr>
    <tr class="zebra">
        <th class="bold">[`Price`]</th>
        {foreach $products as $p}
            <td width="{$td_width}%">
                <span class="price nowrap">{if empty($theme_settings.sumbolRUB)}{shop_currency($p.price)}{else}{shop_currency_html($p.price)}{/if}</span>
            </td>
        {/foreach}
    </tr>
    {foreach $features as $f_id=>$f}
    <tr class="{if $f.same}same {/if}{if $f@iteration is div by 2}zebra{/if}">
        <th class="bold">{$f.name}</th>
        {foreach $products as $p}
            <td>
            {if isset($p.features[$f_id])}
                {if is_array($p.features[$f_id])}
                    {implode(', ', $p.features[$f_id])}
                {else}
                    {$p.features[$f_id]}
                {/if}
            {else}
                <span class="gray">&mdash;</span>
            {/if}
            </td>
        {/foreach}
    </tr>
    {/foreach}
</table>
</div>

{else}
    <p>[`Product comparison list is empty.`]</p>
{/if}