<link href="{$wa_url}wa-apps/shop/plugins/from18/css/from18.css" type="text/css" rel="stylesheet"/>
<div id="growlcontainer">
    <div id="gs0" class="growlstatus">
        <div class="growltitle"></div>
        <div><span style="color: rgb(0,198,255);">Добро пожаловать в интернет магазин Bondage Toys.</span><br><br><br>Наш
            сайт содержит материалы для взрослых, которые неприемлемы для детей. Входя на сайт Вы подтверждаете, что Вам
            уже исполнилось 18 лет.
        </div>
        <div class="block_buttons"><a href="{$wa->currentUrl()}" class="growlstatusclose not_view input_button"
                                      onclick="return false;" id="inv-message-close">Войти</a><a href="http://yandex.ru/" class="input_button">Покинуть
            сайт</a></div>
    </div>
</div>