<!-- shop app css -->
{literal}
<script src="https://api-maps.yandex.ru/2.1/?apikey=ebbd30e1-5346-4f35-add6-ed6f2546d451&lang=ru_RU" type="text/javascript"></script>
{/literal}
<link href="{$wa_active_theme_url}btoys.css?v2{$wa_theme_version}" rel="stylesheet" type="text/css">
<link href="{$wa_active_theme_url}comfortbuy.shop.css?v2{$wa_theme_version}" rel="stylesheet" type="text/css">
{if $action == 'default' && !empty($theme_settings.homeBannerPrd) && empty($theme_settings.homeBannerImg)}<link href="{$wa_active_theme_url}jquery.cslider.css?v{$wa_theme_version}" rel="stylesheet" type="text/css" />{/if}

<!-- js -->
{if $action == 'default' && !empty($theme_settings.homeBannerPrd) && empty($theme_settings.homeBannerImg)}<script type="text/javascript" src="{$wa_active_theme_url}jquery.cslider.js?v{$wa_theme_version}"></script>{/if}
<script type="text/javascript" src="{$wa_app_static_url}js/lazy.load.js?v{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_active_theme_url}comfortbuy.shop.js?v2{$wa_theme_version}"></script>
{if $wa->shop->config('enable_2x')}
    <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.min.js?v{$wa->version(true)}"></script>
    <script type="text/javascript">$(window).load(function(){ $('.da-slider img, .product-list img, ul[class^="products-slider-"] img, .product-image img, .product-info img, .cart img').retina()});</script>
{/if}

{if $action == 'category' && !empty($filters)}
    {if empty($theme_settings.autofitItem)}
    <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version()}"></script>
    <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version()}"></script>
    {/if}
    <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version()}"></script>
    <script type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version()}"></script>
{/if}

{if $action == 'product' && !empty($theme_settings.reviewsFBappId)}
    <meta property="fb:app_id" content="{$theme_settings.reviewsFBappId}"/>
    {if !empty($theme_settings.reviewsFBadmins)}<meta property="fb:admins" content="{$theme_settings.reviewsFBadmins}"/>{/if}
{/if}
{if !empty($nofollow)}
    <!-- "nofollow" for pages not to be indexed, e.g. customer account -->
    <meta name="robots" content="noindex,nofollow" />
{/if}

<!-- plugin hook: 'frontend_head' -->
{* @event frontend_head.%plugin_id% *}
{foreach $frontend_head as $_}{$_}{/foreach}

<link href="{$wa_active_theme_url}jquery.countdownTimer.css" rel="stylesheet" type="text/css">
<link href="{$wa_active_theme_url}user.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$wa_active_theme_url}jquery.countdownTimer.min.js?v={$wa->version(true)}"></script>
<style type="text/css">
@media screen and (max-width: 1001px)	{
.ProductpreviewPlugin {
    display:none;
}
}
.plugin_arrived-box .plugin_arrived-header {
    margin: 10px;
    box-sizing: border-box;
    width: auto;
    background: #3397db;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
}
.plugin_arrived-header .plugin_arrived-close {
    background:none;
}
.plugin_arrived-header .plugin_arrived-close:after {
    content: 'x';
    font-size: 120%;
}
</style>
