<!--  promo cards -->
{if $promocards = $wa->shop->promos()}
    <!-- PROMOS -->
    <section class="promos">
        <ul>
            {foreach $promocards as $promo}
                <li id="s-promo-{$promo.id}">
                    <a href="{$promo.link|escape}" style="background-image: url('{$promo.image}');">
                        <div class="background-color-layer"></div>
                        {if !empty($promo.title)}<h5 style="color: {$promo.color};">{$promo.title|escape}</h5>{/if}
                        {if !empty($promo.body)}<p style="color: {$promo.color};">{$promo.body|escape}</p>{/if}
                        
                        
{if !empty($promo.countdown_datetime) && time() <= strtotime($promo.countdown_datetime)}
	<div class="countdown">
		<span class="js-promo-countdown"
			  data-start="{date('Y-m-d H:i:s')}"
			  data-end="{$promo.countdown_datetime}">
		</span>
	</div>
{/if}
                        
                    </a>
                </li>
            {/foreach}
        </ul>
    </section>
{/if}

<div class="sidebar left230px{if empty($theme_settings.shopSidebarHome)} hide-for-desktop{/if}">
    {include file="sidebar.html"}
</div>
{if !empty($theme_settings.shopSidebarHome)}<div class="content left230px">{/if}

{if !empty($theme_settings.homeBannerPrd) && empty($theme_settings.homeBannerImg)}
    {$b_products = $wa->shop->products($theme_settings.homeBannerPrd, 10)}
    {include file="`$wa_active_theme_path`/banner.products.html" bannerId=1 b_products=shopSpecialofferPlugin::prepareProducts($b_products)}
{/if}

{if !empty($theme_settings.homeBannerImg)}
    {$b_photos = $wa->photos->photos($theme_settings.homeBannerImg)}
    {include file="`$wa_active_theme_path`/banner.images.html" bannerId=1 b_photos=$b_photos}
{/if}
{if (!empty($b_products) || !empty($b_photos)) && empty($theme_settings.shopSidebarHome)}<style type="text/css"> #main { padding: 0; } </style>{/if}

{*баннер*}
<div class="home-banner">{$wa->banner->getBanner(5)}</div>



{* изображения основных категорий на главной странице (плагин "Иконка, изображение и баннер для категории" http://www.webasyst.ru/store/plugin/shop/wmimageincat/)
<ul class="sub-categories with-pictures home">
    {$num_cell = 4}
    {$category_list = $wa->shop->categories(0, 0)}
    {foreach $category_list as $sc}
        {if $sc@first || ($sc@index is div by $num_cell)}<li>{/if}
            <a class="name" href="{$sc.url}">
                <div><img src="{if shopWmimageincatPlugin::getCategoryImage($sc.id, 'image')}{shopWmimageincatPlugin::getCategoryImage($sc.id, 'image')}{else}{$wa_theme_url}img/dummy200.png{/if}" alt=""/></div>
                <span>{$sc.name}</span>
            </a>
        {if $sc@last || (($sc@index+1) is div by $num_cell)}</li>{/if}
    {/foreach}
</ul>
*}

<!-- plugin hook: 'frontend_homepage' -->
{* @event frontend_homepage.%plugin_id% *}
{foreach $frontend_homepage as $_}{$_}{/foreach}

{if !preg_match('/\/(\w+)\/$/', $wa_theme_url, $them)}{$them[1]='comfortbuy'}{/if}
{if $homeBlock=$wa->block("`$them[1]`.home.block")}
    {$homeBlock}
{else}{*HOME BLOCK*}


{$homepage_columns = 2}
{$categories = $wa->menu->get(1)}
<table class="homepage_categories">
{foreach $categories as $tc_id => $top_category}
    {if $tc_id is div by $homepage_columns}<tr>{/if}
        <td>
            <div class="top_category_image">
                <!--645-->
                <a href="{$top_category.url}">
                    <!-- 
                            {$picUrl = shopCategoryImagesPlugin::getCategoryMiddleThumbUrl($top_category.id)}
                            {if $picUrl}
                                <img class="main-cat-img" src="{$picUrl}" alt="">
                            {else}
                                no image
                            {/if}
                    -->
                    <img src="{$top_category.icon|default:'/wa-data/public/site/main_images/novinka.jpg'}">
                </a>
            </div>
                <div>
					{if $top_category.url == '#'}
						<span class="top_category">{$top_category.name|escape}</span>
					{else}
                    <a class="top_category" href="{$top_category.url}">{$top_category.name|escape}</a>
					{/if}
                </div>
            <div>
                {foreach $top_category.childs as $child_category}
                    <a href="{$child_category.url}">{$child_category.name|escape}</a>{if !$child_category@last} | {/if}
                {/foreach}
            </div>
        </td>
    {if $tc_id+1 is div by $homepage_columns}</tr>{/if}
{/foreach}
</table>





{*$promos = $wa->shop->promos()}
{if !$promos}
    <div class="home-block">
        <div>
            <a href="/" title=""><i class="icon-truck"></i><span>Доставка по всей России</span></a>
            <p class="padding-right">Мы осуществляем быструю и надежную доставку по всей России и странам ближнего зарубежья. Вы сможете быстро и легко получить ваши покупки</p>
        </div>
        <div>
            <a href="/" title=""><i class="icon-gift align-center"></i><span>Ваш вариант</span></a>
            <p class="padding-right">В этих разделах вы можете разместить любую информацию, которая будет интересна вашим покупателям или баннеры</p>
        </div>
        <div>
            <a href="/" title=""><i class="icon-money"></i><span>Любой вариант оплаты</span></a>
            <p>Вы можете оплатить сделанные покупки любым удобным для вас способом - никаких ограничений! Мы предлагаем разные варианты</p>
        </div>
    </div>
{else}
    <div class="promos">
        <ul>
            {foreach $promos as $promo}
                <li id="s-promo-{$promo.id}">
                    <a href="{$promo.link|escape}" style="background-image: url('{$promo.image}');">
                        <div class="background-color-layer"></div>
                        {if !empty($promo.title)}<h5 style="color: {$promo.color};">{$promo.title|escape}</h5>{/if}
                        {if !empty($promo.body)}<p style="color: {$promo.color};">{$promo.body|escape}</p>{/if}
                    </a>
                </li>
            {/foreach}
        </ul>
        <div class="clear-both"></div>
    </div>
{/if*}



<div class="home-block">
    <div>
        <a href="/info/confidentiality/" title=""><i class="icon-gift align-center"></i><span>Конфиденциально!</span></a>
        <p class="padding-right">Вы получите посылку в непрозрачной упаковке, без указания содержимого и упоминаний нашего магазина.</p>
    </div>
    <div>
        <a href="/shop/auxpage_about-us" title=""><i class="icon-money"></i><span>Только серьезные девайсы</span></a>
        <p class="padding-right">Мы продаем только качественные, рабочие девайсы. Никаких коробочных безделушек!</p>
    </div>

    <div>
        <a href="/shop/auxpage_dostavka_i_oplata" title=""><i class="icon-truck"></i><span>Бесплатная доставка по России</span></a>
        <p>Мы бесплатно доставим Ваш заказ по России, при сумме заказа от 4990 рублей. Быстро и надежно.</p>
    </div>
</div>

{***********************************************************************************************}
{if isset($smarty.get.test_echo)}
{if $wa->shop}
<style>
.products_block .product-list li {
  display: none;
}
button.btn-show-more {
    width: 150px;
    margin: auto;
    display: block;
    height: 33px;
    margin-bottom: 40px;
    background: #3397db;
    border: solid 1px #3397db;
    color: white;
}
.products_block .homeList .sort-and-view, .homeList .addtocart, .homeList .product-kod-wr, .homeList .thumbs .modal-preorder-btn, .homeList .plugin_arrived-button {
    display: unset !important;
}
.products_block ul.thumbs .product-block.block {
    height: 370px;
}
.homeList .prd_addition.home_list {
    margin-top: 12px !important;
}
.homeList ul.thumbs .compare-at-price.home_list {
    margin-right: unset !important;
}
.products_block .preorderWrapper {
    float: left;
}
.homeList ul.thumbs .price.home_list {
    float: unset !important;
}
</style>
<script>
function _load_products(id){
    var per_load = 8; //is PC ver
    if($(window).width() <= 767){
        per_load = 4; //is Mob ver
    }
    var count = 0;
    var count2 = 0;
    $('#'+id+' .product-list li').each(function(i1, obj) {
       if($(this).css('display') == 'none' && count < per_load){
          count++;
          $(this).css('display', 'inline-block');
       }
     });
    $('#'+id+' .product-list li').each(function(i1, obj) {
       if($(this).css('display') == 'none'){
          count2++;
       }
     });
    if(count2 <= 0){
        $('button.btn-'+id).css('display','none');
    }
}
</script>


{* Начало: Хиты *}
{$products_block_thebest = $wa->shop->productSet("thebest")}
{if $products_block_thebest}
<div style="margin-bottom: 30px;" class="tab-wrapper">

	<ul class="product-tab">
		<li data-tab="2" class="selected"><h2 style="margin:0;"  rel="nofollow">Хиты</h2></li>
	</ul>
	<div class="product-tab-content homeList">
		<div id="products_block_thebest" class="products_block tab-content1 show-print" style="display: block;">

			{include file="products.list2.html" products=shopSpecialofferPlugin::prepareProducts($products_block_thebest)}
		</div>
	</div>
</div>
<button onclick="_load_products('products_block_thebest')" class="btn-show-more btn-products_block_thebest">Показать еще</button>
<script>
_load_products('products_block_thebest');
</script>
{/if}
{* Конец: Хиты *}

{* Начало: Новинки *}
{$products_block_newprod = $wa->shop->productSet("newprod")}
{if $products_block_newprod}
<div style="margin-bottom: 30px;" class="tab-wrapper">

	<ul class="product-tab">
		<li data-tab="2" class="selected"><h2 style="margin:0;"  rel="nofollow">Новинки</h2></li>
	</ul>
	<div class="product-tab-content homeList">
		<div id="products_block_newprod" class="products_block tab-content1 show-print" style="display: block;">

			{include file="products.list2.html" products=shopSpecialofferPlugin::prepareProducts($products_block_newprod)}
		</div>
	</div>
</div>
<button onclick="_load_products('products_block_newprod')" class="btn-show-more btn-products_block_newprod">Показать еще</button>
<script>
_load_products('products_block_newprod');
</script>
{/if}
{* Конец: Новинки *}

{* Начало: Снова в наличии *}
{$products_block_re = shopLastPlugin::products(12)}
{if $products_block_re}
<div style="margin-bottom: 30px;" class="tab-wrapper">

	<ul class="product-tab">
		<li data-tab="2" class="selected"><h2 style="margin:0;"  rel="nofollow">Снова в наличии</h2></li>
	</ul>
	<div class="product-tab-content homeList">
		<div id="products_block_re" class="products_block tab-content1 show-print" style="display: block;">

			{include file="products.list2.html" products=shopSpecialofferPlugin::prepareProducts($products_block_re)}
		</div>
	</div>
</div>
<button onclick="_load_products('products_block_re')" class="btn-show-more btn-products_block_re">Показать еще</button>
<script>
_load_products('products_block_re');
</script>
{/if}
{* Конец: Снова в наличии *}

{/if}
{/if}
{***********************************************************************************************}



<!-- GENERAL WELCOME TEXT -->
<!--noindex-->
<div style="margin-bottom: 30px;" class="tab-wrapper">

       {* <div class="products-slider-name"><h2>Немного о нас</h2></div> *}
	<ul class="product-tab">
	<li data-tab="1" class="selected"><h2 style="margin:0;"><a href="/category/novelties/"  rel="nofollow">Новинки магазина</a></h2></li>

{*	<li data-tab="2" class=""><h2 style="margin:0;"  rel="nofollow">Популярные товары</h2></li> *}


</ul>
<div class="product-tab-content homeList">
	<div id="tab1" class="tab-content show-print" style="display: none;">
		{if $wa->shop}
			{$products = $wa->shop->productSet("newprod")}
			{include file="news_popular_home_list.html" products=shopSpecialofferPlugin::prepareProducts($products)}
		{/if}
		<p class="allNew"><!--123--><a href="/category/novelties">Посмотреть все новинки >></a></p>
	</div>

	{*<div id="tab2" class="tab-content show-print" style="display: block;">
		{if $wa->shop}
			{$products = $wa->shop->productSet("popular")}
			{include file="news_popular_home_list.html" products=$products}
		{/if}
	</div>*}
</div>



{$last_products = shopLastPlugin::products(12)}
{if $last_products}
<!-- GENERAL WELCOME TEXT -->
<div style="margin-bottom: 30px;" class="tab-wrapper">

	<ul class="product-tab">
		<li data-tab="2" class="selected"><h2 style="margin:0;"  rel="nofollow">Снова в наличии</h2></li>
	</ul>
	<div class="product-tab-content homeList">
		<div id="tab2" class="tab-content show-print" style="display: block;">
			{include file="news_popular_home_list.html" products=$last_products}
		</div>
	</div>
</div>

{/if}

<!--/noindex-->


<!-- GENERAL WELCOME TEXT -->
    	<H1>Интернет-магазин БДСМ 
		атрибутики и товаров для бондажа</H1>
		<p>
		Интернет-магазин Bondage 
		toys* предлагает более 1000 наименований эротических товаров и секс игрушек для 
		искушенных и начинающих поклонников BDSM и любителей нестандартного 
		секса.</p>
		<p>
		В отличие от 
		других магазинов, продающих аналогичные товары наряду с классическим 
		выбором любого секс-шопа, мы специализируемся исключительно на девайсах 
		для бондажа, БДСМ и целомудрия. Нашим преимуществом является то, что мы 
		прекрасно знаем, что продаем и как правильно это использовать, чтобы 
		доставить друг другу максимум удовольствия. Поэтому в нашем магазине вы можете 
		выбрать и купить набор товаров для реализации любой самой изысканной, 
		смелой и необычной фантазии.</p>
		<p>
		В каталоге 
		btoys.ru представлены самые разнообразные БДСМ игрушки и атрибутика:</p>
		<ul>
			<li>
			полицейские наручники из разных стран мира, 
			</li>
			<li>
			кандалы,</li>
			<li>
			ошейники,</li>
			<li>
			кляпы,</li>
			<li>
			веревки для бондажа,</li>
			<li>
			маски и повязки на глаза,
			</li>
			<li>
			пояса верности,</li>
			<li>
			зажимы на соски,</li>
			<li>
			бондажные крюки,</li>
			<li>
			распорки,</li>
			<li>
			анальные игрушки,</li>
			<li>
			смирительные рубашки и многое другое.
			</li>
		</ul>
		<p>
		В нашем 
		интернет-магазине вы сможете купить редкие и эксклюзивные для 
		российского рынка товары для секса и бондаж-игр. Мы постоянно расширяем 
		ассортимент игрушек и девайсов для БДСМ, ориентируясь на тенденции индустрии и 
		пожелания клиентов. Свежие поступления с обзорами товаров регулярно 
		появляются разделе «Новости».</p>
		<p>*Btoys.ru – это производная от слов bondage toys, что в 
		переводе с английского означает «игрушки для бондажа».</p>
		<h2>
		Что такое БДСМ и бондаж</h2>
		<p>BDSM – это аббревиатура, которая состоит из трех 
		частей: BD (бондаж и дисциплина), DS (доминирование и подчинение) и SM 
		(садизм и мазохизм). Под ней скрывается целая психосексуальная культура 
		взаимоотношений, которую в той или иной степени практикуют до 25% пар. 
		Несмотря на необычные или даже немного пугающие непосвященного человека 
		слова, как садизм, мазохизм, доминирование, фетиши и бондаж, такие 
		отношения вполне естественны, упорядочены и безопасны. Практики в БДСМ 
		подчиняются незыблемым принципам, помогают открывать новые ощущения, а 
		потому востребованы современным обществом.</p>
		<p>
		Подробнее об этой теме вы узнаете в разделах «<a href="https://btoys.ru/articles/stati-o-bdsm/">Статьи о БДСМ отношениях</a>» 
		и «<a href="https://btoys.ru/photos/">БДСМ-фото</a>».</p>
		<p>Bondage в 
		переводе с английского означает «неволя, рабство». В данном случае речь 
		идет об игровой неволе – временном ограничении или лишении партнера 
		некоторых физиологических возможностей тела при помощи определенных секс 
		игрушек и БДСМ атрибутики:</p>
		<ul>
			<li>двигаться – с помощью наручников, кандалов, веревок и других бондажных приспособлений;</li>
			<li>говорить – с помощью кляпа, намордника;</li>
			<li>видеть – с помощью масок;</li>
			<li>слышать – с помощью депривационной маски;</li>
			<li>ощущать прикосновения – с помощью бондажных 
		перчаток, латексных костюмов и других аксессуаров.</li>
		</ul>
		<p>Для каждого варианта 
		ограничений наш магазин предлагает множество специальных товаров. Мы 
		отслеживаем новинки и отбираем лучшие, чтобы ваши бондаж-игры проходили 
		на высшем уровне, доставляли психологическое и сексуальное удовольствия 
		обоим партнерам. Для нижнего (раб, рабыня, саб) – чувство беспомощности, 
		покорности, неспособности к сопротивлению. Для верхнего (господин, 
		госпожа, хозяин, доминант) – полный контроль над партнером и наслаждение 
		эстетикой связанного тела (что тоже своего рода фетиш).</p>




<script type="text/javascript">
$('ul.product-tab li').click(function(){
    var $w = $(this).closest('.tab-wrapper');
    $w.find('.tab-content').hide();
	var id = $(this).data('tab');
    $w.find('ul.product-tab li').removeClass('selected');
	$(this).addClass('selected');
    $w.find('#tab'+id).show();
});



//addToLastview
$(function(){
    $('ul.product-tab li:first-child').click();
    if($('#main-addition').length) addLastview($("input[name='product_id']").val());
});
</script>


</div>
{*/HOME BLOCK*}{/if}

{*last photos & posts*}
<div class="home-last">
    {*if !empty($theme_settings.shopLastPhotos)}
        {include file="`$wa_parent_theme_path`/last.photos.html" _index=true}
    {/if*}
    {if !empty($theme_settings.shopLastPosts)}
        {if $wa->photos && !empty($theme_settings.shopLastPhotos)}{$count_photos = count($wa->photos->photos())}{else}{$count_photos=0}{/if}
        {include file="`$wa_parent_theme_path`/last.posts.html" home=$count_photos _index=true}
    {/if}
    <div class="clear-both"></div>
</div>

{if !empty($theme_settings.shopSidebarHome)}</div>{/if}