<div class="sidebar left230px">
    {include file="sidebar.html"}
</div>

<div class="content left230px">

    <!-- navigation breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{$wa_app_url}">[`Home`]</a> » <a href="{$wa->myUrl()}">[`My Account`]</a> » <span class="gray">[`Affiliate program`]</span>
    </div>
    
    <div class="info-page menu">{$wa->myNav()}</div>
    
    <h1>[`Affiliate program`]</h1>
    
    {$balance = round($customer.affiliate_bonus, 2)|wa_format_number:false}
    {if $customer.affiliate_bonus >= 0}{$balance = '+'|cat:$balance}{/if}
    <p class="bonus-balance large">{sprintf('[`Your current affiliate bonus: <strong class="bonus">%s</strong>`]', $balance)}</strong></p>
    
    {$_aff_plugins_active = 0}
    <!-- plugin hook: 'frontend_my_affiliate' -->
    {* @event frontend_my_affiliate.%plugin_id% *}
    {foreach $frontend_my_affiliate as $_}{$_}{$_aff_plugins_active = 1}{/foreach}
    
    {if $_aff_plugins_active}<br><br><h2>[`Bonus activity log`]</h2>{/if}

    <table class="table">
        <tr class="white coll-name ahover">
            <th>[`Date`]</th>
            <th>[`Ordering Information`]</th>
            <th class="align-right">[`Credit`]</th>
            <th class="align-right">[`Debit`]</th>
            <th class="align-right">[`Balance`]</th>
        </tr>
        {foreach $affiliate_history as $h}
            <tr{if $h@iteration is div by 2} class="zebra"{/if}>
                <td class="gray">{$h.create_datetime|wa_date:'humandatetime'}</td>
                <td>
                    {if $h.order_id && !empty($h.order_url)}
                        <a href="{$h.order_url}">[`Order`] {$wa->shop->orderId($h.order_id)}</a>
                        {if $h.comment}<br>{/if}
                    {/if}
                    {if $h.comment}
                        {$h.comment|escape}
                    {/if}
                </td>
                <td class="align-right">
                    {if $h.amount > 0}
                        {round($h.amount, 2)|wa_format_number:false}
                    {/if}
                </td>
                <td class="align-right">
                    {if $h.amount < 0}
                        {round(abs($h.amount), 2)|wa_format_number:false}
                    {/if}
                </td>
                <td class="align-right">{round($h.balance, 2)|wa_format_number:false}</td>
            </tr>
        {foreachelse}
            <tr class="ahover">
                <td colspan="5">[`You have no affiliate history yet.`]</td>
            </tr>
        {/foreach}
    </table>
    
</div>