<div class="sidebar left230px">
    {include file="sidebar.html"}
</div>

<div class="content left230px">

    <!-- navigation breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{$wa_app_url}">[`Home`]</a> » <a href="{$wa->myUrl()}">[`My Account`]</a> » <span class="gray">[`My orders`]</span>
    </div>
    
    <div class="info-page menu">{$wa->myNav()}</div>

{shopBonusesPlugin::displayFrontendMy()}

   
    <h1>[`My orders`]</h1>
    
    <table class="table">
        <tr class="coll-name ahover">
            <th>[`Order`]</th>
            <th>[`Order status`]</th>
            <th>[`Description`]</th>
            <th>[`Shipping`]</th>
            <th>[`Payment`]</th>
            <th>[`Date`]</th> 
        </tr>
    {foreach $orders as $o}
        <tr class="{if $o@iteration is div by 2}zebra{/if}">
            <td class="nowrap">
                <a href="{$o.url}" class="bold">
                    {$o.id_str}
                </a>
            </td>
            <td class="nowrap">
                <span class="nowrap order-status" style="{$o.state->getStyle(1)}">
                    {$o.state->getName()}
                </span>
            </td>
            <td>
                {if !empty($o.items)}
                    {foreach $o.items as $i}
                        {$i.name|escape} <span class="gray">x {$i.quantity}</span><br />
                    {/foreach}
                {/if}
            </td>
            <td>
                {if $o.shipping_name}
                    {$o.shipping_name|escape}
                {else}
                    &nbsp;
                {/if}
            </td>
            <td>
                {if $o.payment_name}
                    {$o.payment_name|escape}
                {else}
                    &nbsp;
                {/if}
            </td>
            <td>
                <span class="gray">{$o.create_datetime|wa_date:'humandate'}</span>
            </td>
        </tr>
    {foreachelse}
    	<tr class="no-border">
            <td>[`You have no order history yet.`]</td>
      	</tr>
    {/foreach}
    </table>
    
</div>
