<div class="sidebar left230px">
    {include file="sidebar.html"}
</div>
<div class="content left230px">

    <!-- navigation breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{$wa_app_url}">[`Home`]</a> » <a href="{$wa->myUrl()}">[`My Account`]</a> » <a href="{$wa->getUrl('/frontend/myOrders')}">[`My orders`]</a> » <span class="gray">{if !empty($pin_required)}[`Order`] {$encoded_order_id}{else}[`Order`] {$order.id_str}{/if}</span>
    </div>
    
    <div class="info-page menu">{$wa->myNav()}</div>

    {if !empty($pin_required)}
        <h1>
            [`Order`] {$encoded_order_id}
        </h1>
    
        <form action="" method="post">
            {if $wrong_pin}
                <p style="color:red">[`PIN is not valid`]</p>
            {/if}
            <p>[`Please enter a 4-digit PIN that you received with your order receipt by email.`]</p>
            <p>
                <input type="text" name="pin">
            </p>
            <p>
                <input type="submit" value="[`View order`]">
            </p>
        </form>
    {else}
        <h1>
            [`Order`] {$order.id_str}
        </h1>
        <p class="gray"><span class="order-status" style="{$order.state->getStyle(1)}">{$order.state->getName()}</span>&nbsp;&nbsp;&nbsp;{$order.create_datetime|wa_date:'humandatetime'}</p>
    
        <!-- shipping -->
        <h3 class="header-name">[`Shipping`]
            {if $order.shipping_name}
                &mdash; <strong>{$order.shipping_name}</strong>
            {/if}
        </h3>
    
        <!-- shipping plugin output -->
        {if !empty($order.params.tracking_number)}
            [`Shipment tracking number`]: {$order.params.tracking_number}
            <br />
        {/if}
        {if !empty($tracking) && $order.state->getId() != 'completed'}
            <div class="plugin">
                {$tracking}
            </div>
        {/if}
    
        <p>
            {$contact.name|escape}<br>
            {if $shipping_address}
                {$shipping_address}
            {/if}
        </p>
    
        <!-- billing -->
        <h3 class="header-name">[`Payment`]
            {if $order.payment_name}
                &mdash; <strong>{$order.payment_name}</strong>
            {/if}
        </h3>
        
        {*<!-- payment plugin output -->
        {if !empty($payment)}
            <div class="plugin">
                {$payment}
            </div>
        {/if}
        *}
       <!-- payment plugin output --><!-- блок дополнен 2-3-4-5 строчками -->
        {if !empty($payment)}
          {$temp = shopCheckpayPlugin::myOrder($order['id'])}
          {if $temp['result']}
            {$temp['message']}
          {else}
            <div class="plugin">
                {$payment}
            </div>
          {/if}
        {/if}

        
        <p>
            {$contact.name|escape}<br>
            {if $billing_address}
                {$billing_address}
            {/if}
        </p>
    
        {if !empty($order.comment)}
            <h3 class="header-name">[`Comment`]</h3>
            <p>
                {$order.comment|escape}<br>
            </p>
        {/if}
    
        <!-- order content and total -->
        <table class="table table-total">
            <tr class="coll-name ahover">
                <th>[`Description`]</th>
                <th class="align-right">[`Quantity`]</th>
                <th class="align-right">[`Total`]</th>
            </tr>
            {foreach $order.items as $item}
                <tr{if $item.type == 'service'} class="service"{/if}>
                    <td>{if $item.type == 'service'}+ {/if}{$item.name}
                        {if $item.type == 'product' && !empty($item.download_link)}<a href="{$item.download_link}"><strong>[`Download`]</strong></a>{/if}
                    </td>
                    <td class="align-right"><span class="gray">{wa_currency_html($item.price, $order.currency)} x</span> {$item.quantity}</td>
                    <td class="align-right">{wa_currency_html($item.price * $item.quantity, $order.currency)}</td>
                </tr>
            {/foreach}
            <tr class="no-border thin">
                <td colspan="2" class="align-right">[`Subtotal`]</td>
                <td class="align-right">{wa_currency_html($subtotal, $order.currency)}</td>
            </tr>
            <tr class="no-border thin">
                <td colspan="2" class="align-right">[`Discount`]</td>
                <td class="align-right">&minus; {wa_currency_html($order.discount, $order.currency)}</td>
            </tr>
            <tr class="no-border thin">
                <td colspan="2" class="align-right">
                    [`Shipping`]
                    {if !empty($order.params.shipping_name)}
                        (<strong>{$order.params.shipping_name}</strong>)
                    {/if}
                </td>
                <td class="align-right">{wa_currency_html($order.shipping, $order.currency)}</td>
            </tr>
            {if $order.tax > 0}
                <tr class="no-border thin">
                    <td colspan="2" class="align-right">[`Tax`]</td>
                    <td class="align-right">{wa_currency_html($order.tax, $order.currency)}</td>
                </tr>
            {/if}
            <tr class="no-border coll-name"><td colspan="3"></td></tr>
            <tr class="no-border thin large">
                <td colspan="2" class="align-right"><b>[`Total`]</b></td>
                <td class="align-right bold">{wa_currency_html($order.total, $order.currency)}</td>
            </tr>
        </table>
    {/if}

<!-- plugin hook: 'frontend_my_order' -->
{* @event frontend_my_order.%plugin_id% *}
{foreach $frontend_my_order as $_}{$_}{/foreach}

    
</div>
