{$_cart_count = $wa->shop->cart->count()}

{$wa->globals("hideCart", true)}

<style>
    #header-container { display: none; }
    .s-cart-empty-wrapper { margin: 100px 0; text-align: center; }
    .s-cart-empty-wrapper .s-image-wrapper { margin: 0 0 20px; }
    .s-cart-empty-wrapper .s-image-wrapper img { vertical-align: top; max-width: 100%; max-height: 160px; }
    .s-cart-empty-wrapper .s-description { margin: 20px 0 0; }
    .s-cart-empty-wrapper .s-actions-wrapper { margin: 30px 0 0; color: #006bd8; }
</style>
<link rel="stylesheet" href="{$wa_theme_url}/user.css?v={$wa_theme_version}">
<script type="text/javascript" src="{$wa_theme_url}js/order.js"></script>
<script type="text/javascript" src="https://btoys.ru/wa-apps/shop/js/frontend/order/form.js?v=8.4.11.20"></script>

{*EMPTY*}
{if empty($_cart_count)}
<link rel="stylesheet" href="{$wa_theme_url}css/order.css?v={$wa_theme_version}">
    <div class="s-cart-empty-wrapper">
        <div class="s-image-wrapper">
            <!--<img src="{$wa_theme_url}img/svg/order/cart_empty.svg" alt="[`Your shopping cart is empty.`]">-->
            <span class="s-cart-empty__header">[`Your shopping cart is empty.`]</span>
        </div>
        <p class="s-description">{$config.cart.empty_text|default:"[`Your shopping cart is empty.`]"|escape}</p>
        <p class="s-actions-wrapper">
            <a href="{$wa_app_url}">[`Go to home page`]</a>
        </p>
    </div>

{*ORDER*}
{else}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{$wa_theme_url}css/order.css?v={$wa_theme_version}">

    <div class="s-order-page" id="js-order-page">
        <div class="s-order-column">

            <section class="s-order-section" id="js-order-cart">
                <div class="s-section-header wa-flex-box full-line middle">
                    <h2 class="s-header">{$config.cart.block_name|default:"[`Shopping cart`]"|escape}</h2>
                    <a class="s-delete-button js-clear-cart" href="javascript:void(0);">
                        {*$_svg_icon = '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.9 9.9"><path d="M0,8.5l3.5-3.5L0,1.4L1.4,0l3.5,3.5L8.5,0l1.4,1.4L6.4,4.9l3.5,3.5L8.5,9.9L4.9,6.4L1.4,9.9L0,8.5z"/></svg>'*}
                        <!--<span class="s-delete-icon">{$_svg_icon}</span>[`Delete all products`]-->
                        <div class="close__icon"></div>[`Delete all products`]
                    </a>
                </div>
                <div class="s-section-body">
                    {$wa->shop->checkout()->cart([
                        "DEBUG" => true,
                        "wrapper" => "#js-order-cart"
                    ])}
                </div>
                <div class="s-section-footer">
                    <div class="s-back-link">
                        {$_url = $wa->getUrl('shop/frontend/')}
                        {$_refer_url = waRequest::server('HTTP_REFERER')}
                        {if !empty($_refer_url)}
                            {$_refer_host = $_refer_url|parse_url:$smarty.const.PHP_URL_HOST}
                            {$_current_url = $wa->currentUrl(true)}
                            {$_current_host = $_current_url|parse_url:$smarty.const.PHP_URL_HOST}

                            {if $_refer_host === $_current_host}
                                {$_url = $_refer_url}
                            {/if}
                        {/if}
                        <a href="{$_url|escape}">&larr; [`Back to shopping`]</a>
                    </div>
                </div>
            </section>

        </div>
        <div class="s-order-column">

            <section class="s-order-section" id="js-order-form">
                <div class="s-section-header">
                    <h2 class="s-header">{$config.order.block_name|default:"[`Checkout`]"|escape}</h2>
                </div>
                <div class="s-section-body">
                    {$wa->shop->checkout()->form([
                        "DEBUG" => true,
                        "wrapper" => "#js-order-form"
                    ])}
                </div>
            </section>

        </div>

        <script>
            $('input.wa-input.js-city-field.js-city-autocomplete.suggestions-input.ui-autocomplete-input').ready(function() {
                setTimeout(function () {
                    $('input.wa-input.js-city-field.js-city-autocomplete.suggestions-input.ui-autocomplete-input').trigger('change');
                }, 1000);
            });

            if (($('select[name="region[country]"]').val() == '' || $('select[name="region[country]"]').val() == undefined || $('select[name="region[country]"]').val() == null)
                && $.cookie('dp_plugin_country') != '' && $.cookie('dp_plugin_country') != undefined) {

                $('select[name="region[country]"]').val($.cookie('dp_plugin_country'));
            }
            if (($('select[name="region[country]"]').val() == '' || $('select[name="region[country]"]').val() == undefined || $('select[name="region[country]"]').val() == null)
                && $.cookie('dp_plugin_country') == undefined) {

                $('select[name="region[country]"]').val('rus');
            }

            if ($('select[name="region[region]"]').val() == '' || $('select[name="region[region]"]').val() == undefined || $('select[name="region[region]"]').val() == null) {

                var region = '';
                if($.cookie('dp_plugin_region') != '') { region = $.cookie('dp_plugin_region'); }
                if($.cookie('cityselect__region') != '') { region = $.cookie('cityselect__region'); }

                $('select[name="region[region]"]').val(region);
            }

            if ($('input[name="region[city]"]').val() == '') {

                var city = '';
                if($.cookie('dp_plugin_city') != '') { city = $.cookie('dp_plugin_city'); }
                if($.cookie('cityselect__city') != '') { city = $.cookie('cityselect__city'); }

                $('input[name="region[city]"]').val(city);
            }

            if ($('input[name="region[zip]"]').val() == '') {

                var zip = '';
                if($.cookie('dp_plugin_zip') != '') { zip = $.cookie('dp_plugin_zip'); }
                if($.cookie('cityselect__zip') != '') { zip = $.cookie('cityselect__zip'); }

                $('input[name="region[zip]"]').val(zip);
            }

            $( document ).ready(function() {
                setTimeout(function() {
                    if ($('select[name="region[country]"]').val() != '' &&
                        $('select[name="region[region]"]').val() != '' &&
                        $('input[name="region[city]"]').val() != '' &&
                        $('input[name="region[zip]"]').val() != '') {

                        $('input[name="region[city]"]').change();
                    }
                }, 1000);
                
                var newStr = $("#wa-cart-weight")[0].innerText.replace('с общим весом', 'общим весом');
                $("#wa-cart-weight")[0].innerText = newStr;
            });


            ( function($) {

                ( typeof window.ShopOrderPage === "function" ? init() : load().then(init) );

                function load() {
                    var deferred = $.Deferred();

                    $.getScript("{$wa_theme_url}js/order.js?v={$wa->version()}", function() {
                        deferred.resolve();
                    });

                    return deferred.promise();
                }

                function init() {
                    new window.ShopOrderPage({
                        $wrapper: $("#js-order-page"),
                        urls: {
                            "checkbox-icon": "{$wa_url}wa-apps/shop/img/frontend/order/svg/sprite.svg#checkbox-yes"
                        }
                    });
                }

            })(jQuery);

        </script>
    </div>
{/if}


<!-- plugin hook: 'frontend_order' -->
{* @event frontend_order.%plugin_id% *}
{foreach $frontend_order as $_}{$_}{/foreach}


<!--METRIKA2-->
{if $wa->scripts}{$wa->scripts->insert(2)}{/if}
<!--/ END OF METRIKA2-->
