<div class="sidebar left230px" style="display: none;">
    {include file="sidebar.html"}
</div>
<div class="content{* left230px*}">
    <div class="info-page menu" role="navigation">
        {if $page.parent_id}
            {$p_id = $page_parents[0].id}
        {else}
            {$p_id = $page.id}
        {/if}
        {wa_print_tree tree=$wa->shop->pages($p_id, false) elem ='<a class="type1" href=":url">:name</a>' selected=$wa->param('page_id')}
    </div>

    <h1>{$page.name}</h1>
    <div id="page" role="main">
        {$page.content}
    </div>
    <script type="text/javascript">$(function(){ $('#main .content').prepend($('#main .breadcrumbs').show()); });</script>
</div>