{strip}



{**

 *  Available params:

 *  @param array $products

 *  @param array $settings

 *}



<style type="text/css">

    .p-wmlvp {

        border: 1px solid #ccc;

        border-radius: 3px;

        margin-top:15px;

    }

    .p-wmlvp-caption {

        font-size: 1.2rem;

        line-height: normal;

        text-align: center;

        padding: 0.75rem 0.5rem;

    }

    .p-wmlvp-caption a:hover {

        text-decoration: none;

    }

    .p-wmlvp-signature {

        text-align: right;

		padding: 5px;

    }

    ul.p-wmlvp-products {

        margin: 10px 0;

        padding: 0;

        list-style: none;

    }

    ul.p-wmlvp-products li {

        vertical-align: top;

        display: inline-block;

        margin: 5px;

        /*-moz-box-shadow: 0 1px 0 rgba(255,255,255,.1);

        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);

        box-shadow: 0 1px 0 rgba(255,255,255,.1);*/

        border: 2px solid #b7b7b7;

    }

    ul.p-wmlvp-products li:hover {

        border-color: red;

    }

	.p-wmlvp-image img {

	    vertical-align: top;

	    max-width: 100%;

	    height: auto;

	}
	.shopWmlvpPlugin_wrapper {
	    margin: 25px 0;
        padding-left: 0;
        width: 100%;
	}
	.shopWmlvpPlugin_wrapper .p-wmlvp {
	    border: none;
	}
    .shopWmlvpPlugin_wrapper .p-wmlvp-caption{
        background: #3397db none repeat scroll 0 0;
        color: #fff;
        padding: 10px 21px;
        border-radius: 0;
        font-size: 16px;
        line-height: initial;
        padding-right: 5px;
        text-align: left;
    }
    .shopWmlvpPlugin_wrapper .p-wmlvp-caption a{
        color: #fff;
    }
    .shopWmlvpPlugin_wrapper .p-wmlvp-products {
        background: #f2f7fa none repeat scroll 0 0;
        border-left: 1px solid #dce0e3;
        border-radius: 0;
        border-right: 1px solid #dce0e3;
        border-bottom: 1px solid #dce0e3;
        margin: 0;
        padding: 10px;
    }
    .shopWmlvpPlugin_wrapper .noveltiesproducts_link {
        background: #f2f7fa none repeat scroll 0 0;
        border-color: currentcolor #dce0e3 #dce0e3;
        border-radius: 0 0 3px 3px;
        border-style: none solid solid;
        border-width: medium 1px 1px;
        padding: 0 0 1px;
    }
</style>



<div class="p-wmlvp">

    <div class="noveltiesproducts_title p-wmlvp-caption">

        <a href="{$wa->getUrl('shop/frontend/lastviewproducts')}">{$settings.caption}</a>

    </div>

	<ul class="p-wmlvp-products">

	    {foreach $products as $p}

		    <li>

				<div class="p-wmlvp-image">

					<a href="{$p.frontend_url}" title="{$p.name}{if $p.summary} &mdash; {strip_tags($p.summary)|escape}{/if}">

					    {$wa->shop->productImgHtml($p, '96x96', ['alt' => $p.name])}

					</a>

				</div>

		    </li>

		    {if $p@iteration == $settings.max_count_view}{break}{/if}

	    {/foreach}

    </ul>

    <div class="noveltiesproducts_link p-wmlvp-signature" style="text-align: center;">

        <a href="{$wa->getUrl('shop/frontend/lastviewproducts')}">[`view all`]</a>

    </div>

</div>



{/strip}