{*addition*}
{$compare_p = waRequest::cookie('shop_compare', array(), waRequest::TYPE_ARRAY_INT)}
{$favorite_p = waRequest::cookie('shop_favorite', array(), waRequest::TYPE_ARRAY_INT)}
{*/ addition*}
<ul class="products-slider-{$sliderId}">
{foreach $s_products as $p}
    <li>
        <div class="product-block">
            <div class="image">
                {if !empty($p.autobadge)}{$p.autobadge}{/if} {*код плагина "Наклейки"*}   
                <a href="{$p.frontend_url}" title="{$p.name|escape}{if $p.summary} &mdash; {strip_tags($p.summary)|escape}{/if}">
                    {$badge_html = $wa->shop->badgeHtml($p.badge)}
                    {if $badge_html}
                        <div class="corner bottom left">{$badge_html}</div>
                    {/if}
                    {$wa->shop->productImgHtml($p, '200', ['alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
                    {*if $p.rating > 0}
                        <span class="rating nowrap">{$wa->shop->ratingHtml($p.rating)}</span>
                    {/if*}
                </a>
            </div>
            
            <div class="name">
{if 0&&!$wa->isMobile()}
<div class="ProductpreviewPlugin">
{shopProductpreviewPlugin::display($p.id)}
</div>
{/if}
            
{*<a href="{$p.frontend_url}" title="{$p.name|escape}{if $p.summary} &mdash; {strip_tags($p.summary)|escape}{/if}" ><h5 itemprop="name">{$p.name|truncate:60}</h5></a></div>*}

            <a href="{$p.frontend_url}" title="{$p.name|escape}{if $p.summary} &mdash; {strip_tags($p.summary)|escape}{/if}"><h5>{$p.name|truncate:90}</h5></a></div>
            <div class="offers">
                <div class="product-price">
                    {if $p.compare_price > 0}<span class="compare-at-price nowrap">{if empty($theme_settings.sumbolRUB)}{if $wa->shop->currency() == 'RUB'}{shop_currency($p.compare_price, null, null, false)}{else}{shop_currency($p.compare_price)}{/if}{else}{shop_currency_html($p.compare_price)}{/if}</span>{/if}
                    <span class="price nowrap{if $p.compare_price > 0} red{/if}">{if empty($theme_settings.sumbolRUB)}{shop_currency($p.price)}{else}{shop_currency_html($p.price)}{/if}</span>
                </div>
                {if 1 || !isset($no_submit)}
                    {if $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
                        <form class="addtocart" method="post" action="{$wa->getUrl('/frontendCart/add')}"{if $p.sku_count > 1} data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if}>
                            <input type="hidden" name="product_id" value="{$p.id}">
                            <input type="submit" value="[`Add to cart`]">
                        </form>
                    {else}
                        <form class="addtocart" method="post" action="{$wa->getUrl('/frontendCart/add')}">
                            <input type="hidden" name="product_id" value="{$p.id}">
                            <input type="submit" value="[`Add to cart`]" disabled="disabled" title="[`Not available`]">
                        </form>
                    {/if}
                {else}
                    <a class="button" href="{$p.frontend_url}">[`More`]</a>
                {/if}
                {*addition*}
                <div class="prd_addition">
                    <span class="favorite-add cb-addition-add{if in_array($p.id, $favorite_p)} active{/if}" data-product="{$p.id}" {if in_array($p.id, $favorite_p)}title="[`Remove from favorites`]" data-title="[`Add to favorites`]"{else}title="[`Add to favorites`]" data-title="[`Remove from favorites`]"{/if}>
                        <i class="icon-heart"></i>
                    </span><span class="compare-add cb-addition-add{if in_array($p.id, $compare_p)} active{/if}" data-product="{$p.id}" {if in_array($p.id, $compare_p)}title="[`Remove from comparison`]" data-title="[`Add to compare`]"{else}title="[`Add to compare`]" data-title="[`Remove from comparison`]"{/if}>
                        <i class="icon-bar-chart"></i>
                    </span>
                </div>
                {*/addition*}
            </div>
            {if !empty($theme_settings.soaringItem) && $p.sku_count < 2}
            <input type="hidden" class="soaring-cart-data"
                data-url = "{$p.frontend_url}"
                data-img_url = "{$wa->shop->productImgUrl($p, '96x96')}"
                data-name = "{$p.name|escape}"
                data-price = "{shop_currency($p.price, null, null, false)}"
            >
            {/if}
        </div>
    </li>
{/foreach}
</ul>