{* one review output *}

{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}

<div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="summary">
        <div class="credential">
            <meta itemprop="itemReviewed" content="{$product.name|escape}">
            <meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
            <span class="date" title="{$review.datetime|wa_datetime}"><i class="icon-time"></i>{$review.datetime|wa_datetime:"humandatetime"}</span>
            [`By`]
            {if empty($review.site)}
                <span class="username" itemprop="author"><i class="icon-user"></i>{$review.author.name}</span>
            {else}
                <a href="{$review.site}" class="username type2" itemprop="author"><i class="icon-user"></i>{$review.author.name}</a>
            {/if}
        </div>
        <h6>
            {if !$review.parent_id && !empty($review.rate)}
            <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="review-rating">
                {$rate = round($review.rate)}
                <meta itemprop="worstRating" content = "1">
                <meta itemprop="ratingValue" content="{$rate}">
                <meta itemprop="bestRating" content = "5">
                {$wa->shop->ratingHtml($rate, 12)}
            </span>
            {/if}
            <span itemprop="name" class="review-name">{if $review.title}{$review.title}{/if}
            {if !$review.title} Администратор магазина Bondage Toys  {/if}    
            </span>
        </h6>
    </div>
    {if $review.text}
        <p itemprop="description">{$review.text}</p>
    {/if}
    
    {if $reply_allowed}
        <div class="actions">
            <a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="review-reply type2"><i>[`reply`]</i></a>
        </div>
    {/if}
</div>

{if !empty($ajax_append)}<ul class="menu-v with-icons reviews-branch"></ul></li>{/if}