{$addition = $wa->get('addition')}
<div class="sidebar left230px{if $addition} hide-for-desktop{/if}">
    {include file="sidebar.html"}
</div>

<div class="content{if !$addition} left230px{/if}">

    <h1 class="category-name">
        {if $addition}
            {$title_addition = ["favorite" => "[`Favorites`]", "lastview" => "[`Viewed products`]"]}
            {$wa->title($title_addition[$addition])}
            {$title_addition[$addition]}
            <a href="{$wa_url}" id="addition-all-delete" data-addition="{$addition}">[`Clear list`] "{$title_addition[$addition]}"</a>
        {else}
            {$title}
        {/if}
    </h1>

    <!-- plugin hook: 'frontend_search' -->
    {* @event frontend_search.%plugin_id% *}
    {foreach $frontend_search as $_}{$_}{/foreach}

    {if $addition}
        {$sorting=null}
        {$pages_count = 1}
        
        {$addition_p = waRequest::cookie("shop_`$addition`", '', waRequest::TYPE_STRING)}
        {$products_ = $wa->shop->products('id/'|cat:$addition_p)}
        {$products = []}
        {if $addition == 'lastview'}
            {foreach explode(',', $addition_p) as $p_q}{$products[] = $products_[$p_q]}{/foreach}
        {else}
            {$products = $products_}
            <style type="text/css"> .bg-bottom-line { height: 0; overflow: hidden; } </style>
        {/if}
    {/if}

    {if !$products}
        [`No products were found.`]
    {else}
        <div id="product-list"{if $addition} class="{$addition}"{/if}>
            {include file='products.list.html'}
        </div>
        {if $addition}<script type="text/javascript">$(function(){ $("#{$addition}-link").parent().addClass('selected'); });</script>{/if}
    {/if}
    {shopTageditorPlugin::seoTextExtra()}
</div>