{if 1}
    <style>
        .ssearch-wrapper {
            z-index:1002!important;
        }
    </style>
    {if class_exists('shopSearchsmartPlugin')}{shopSearchsmartPlugin::display()}{/if}
{else}
<form method="get" action="{$wa->getUrl('shop/frontend')}search/"{if !empty($_mobile)} class="align-right"{/if}>
    <div class="search-input">
        <input class="search-old" id="search{*if !empty($theme_settings.search)}-m{/if*}" type="search" name="query" placeholder="[`Find products`]"{if !empty($query)} value="{$query}"{/if}{*if !empty($theme_settings.autofitItem)} class="autofit"{/if*}><button type="submit" class="search-button icon-search"></button>
    </div>
</form>
{/if}