{$_index = ($wa_url == $wa->currentUrl(false,true))}
<p class="align-right hide-for-desktop" id="mobile-close"><a class="type5" href="#" rel="nofollow">[`Close`]</a></p>
{include file="`$wa_parent_theme_path`/top.apps.html" mobile=1}

{if !empty($filters)}<!-- filtering by product features -->
{$shop_filters = waRequest::cookie('shop_filters', '', waRequest::TYPE_STRING)}
<div class="filters{if !empty($theme_settings.filterAjax)} ajax{/if}">
        
        
<div class="caption acapitalize">[`Filter`] <a href="#" onclick="$('#filter-form').slideToggle(); return false;">
<b class="delete" href="#" title="свернуть"><i class="icon-remove"><span>показать фильтр</span></i></b>
</a></div>
<form method="get" id="filter-form" action="{$wa->currentUrl(0,1)}">

    {foreach $filters as $fid => $filter}

<div{if !empty($filter.collapsed) and !empty($filter.code) and !$wa->get($filter.code)} class="collapsed"{/if}>


        {if $fid == 'price'}
            {$c = $wa->shop->currency(true)}
            <b data-feature="{$fid}" style="cursor: default;">[`Price`]{*<i class="{if in_array($fid, explode(',', $shop_filters))}icon-angle-up{else}icon-angle-down{/if}"></i>*}</b>
            <p class="fslider">
            [`from`] <input type="text" class="min" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}">
            [`to`] <input type="text" class="max" name="price_max" {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}"> <span class="filter-price">{if $wa->shop->currency() == 'RUB' && !empty($theme_settings.sumbolRUB)}<span class="ruble">Р</span>{else}{$c.sign}{/if}</span>
            </p>
        {else}
{*
<b data-feature="{$fid}"><span class="fiwex-feat" data-feat_id="{$filter.id}">{$filter.name|escape}</span><i class="{if in_array($fid, explode(',', $shop_filters))}icon-angle-up{else}icon-angle-down{/if}"></i></b>
<p class="{if isset($filter.min)}fslider{/if}{if in_array($fid, explode(',', $shop_filters))} active"{else}" style="display: none;"{/if}>
*}

<b data-feature="{$fid}">{$filter.name|escape}{if !empty($filter.description)} <span title="{$filter.name|escape}" data-feature-id="{$fid}" class="q"></span>{/if}<i class="{if in_array($fid, explode(',', $shop_filters))}icon-angle-up{else}icon-angle-down{/if}"></i></b>
<p class="{if isset($filter.min)}fslider{/if}{if in_array($fid, explode(',', $shop_filters))} active"{else}"{/if}>


            
            {if $filter.type == 'boolean'}
                <label>
                    <input type="radio" name="{$filter.code}"{if $wa->get($filter.code)} checked{/if} value="1">
                    {if !$is_seofilter_exists}
                    &nbsp;  [`Yes`]
                    {else}
                        {$radio_filter_url = shopSeofilterViewHelper::getFilterUrl($filter.id, "1", $filter.code)}
                        {if $radio_filter_url}
                            <a class="filter-link" href="{$radio_filter_url}">[`Yes`]</a>
                        {else}
                            [`Yes`]
                        {/if}
                    {/if}
                </label><br>
                <label>
                    <input type="radio" name="{$filter.code}"{if $wa->get($filter.code) === '0'} checked{/if} value="0">
                    {if !$is_seofilter_exists}
                    &nbsp;  [`No`]
                    {else}
                        {$radio_filter_url = shopSeofilterViewHelper::getFilterUrl($filter.id, "0", $filter.code)}
                        {if $radio_filter_url}
                            <a class="filter-link" href="{$radio_filter_url}">[`No`]</a>
                        {else}
                            [`No`]
                        {/if}
                    {/if}
                </label><br>
                <label>
                    <input type="radio" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value="">
                    [`Any`]
                </label><br>
            {elseif isset($filter.min)}
                {$_v = $wa->get($filter.code)}
                [`from`] <input type="text" class="min" name="{$filter.code}[min]" placeholder="{$filter.min}" {if !empty($_v.min)}value="{$_v.min}"{/if}>
                [`to`] <input type="text" class="max" name="{$filter.code}[max]" placeholder="{$filter.max}" {if !empty($_v.max)}value="{$_v.max}"{/if}>
                {if !empty($filter.unit)}
                    {$filter.unit.title}
                    {if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
                {/if}
            {else}
            {foreach $filter.values as $v_id => $v}
    <label>
        <span class="fiwex-feat-val" data-feat_val_id="{$v_id}" data-fiwex-parent_id="{$filter.id}">
        <input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}">
            {if !$is_seofilter_exists}
                {$v}
            {else}
                {$filter_url = shopSeofilterViewHelper::getFilterUrl($filter.id, $v_id, $filter.code)}
                {if $filter_url}
                    <a class="filter-link" href="{$filter_url}">{$v}</a>
                {else}
                    {$v}
                {/if}
            {/if}
        </span>
    </label>
            {/foreach}
            {/if}
            </p>
        {/if}
        </div>
    {/foreach}
        {if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
        {if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
        {if empty($theme_settings.filterAjax)}<input type="submit" value="&raquo;  [`Apply filter`]">{/if}
    </form>
{*
<script type="text/javascript">
    $('.filters b').unbind('click');
    $('.filters b').not('[data-feature="price"]').click(function(){
        var p = $(this).next('p');
        if(p.hasClass('active')){
            p.removeClass('active').slideUp('slow');
            $(this).find('i').removeClass('icon-angle-up').addClass('icon-angle-down');
        }else{
            p.addClass('active').slideDown('slow');
            $(this).find('i').removeClass('icon-angle-down').addClass('icon-angle-up');
        }
        
        var filters = $.cookie('shop_filters');
        if (filters) { filters = filters.split(','); } else { filters = []; }
        
        var i = $.inArray($(this).data('feature') + '', filters);
        if (i != -1) { filters.splice(i, 1) } else { filters[filters.length] = $(this).data('feature'); }
        
        if(filters.length){ $.cookie('shop_filters', filters.join(','), { expires: 30, path: '/'}); } else { $.cookie('shop_filters', null, { expires: 0, path: '/'}); }
    });
    
    $(function(){
        $('.filters .fslider').each(function () {
            if (!$(this).find('.filter-slider').length) {
                $(this).append('<span class="filter-slider"></span>');
            } else {
                return;
            }
            var min = $(this).find('.min');
            var max = $(this).find('.max');
            var slider = $(this).find('.filter-slider');
            slider.slider({
                range: true,
                min: parseFloat(min.attr('placeholder')),
                max: parseFloat(max.attr('placeholder')),
                step: (parseFloat(max.attr('placeholder')) - parseFloat(min.attr('placeholder'))) <= 5 ? 0.1 : 1,
                values: [parseFloat(min.val().length ? min.val() : min.attr('placeholder')),
                    parseFloat(max.val().length ? max.val() : max.attr('placeholder'))],
                slide: function( event, ui ) {
                    var v = ui.values[0] == $(this).slider('option', 'min') ? '' : ui.values[0];
                    min.val(v ? v : '');
                    v = ui.values[1] == $(this).slider('option', 'max') ? '' : ui.values[1];
                    max.val(v ? v : '');
                },
                stop: function (event, ui) {
                    min.change();
                }
            });
            min.add(max).change(function () {
                var v_min = parseFloat(min.val()) || slider.slider('option', 'min');
                var v_max = parseFloat(max.val()) || slider.slider('option', 'max');
                if (v_max >= v_min) {
                    slider.slider('option', 'values', [v_min, v_max]);
                }
            });
        });
    });
    
</script>
*}
</div>
{/if}

{include file="`$wa_parent_theme_path`/vertical.tree.html"}

<div class="information block">
    <span class="caption acapitalize">[`Brands`]</span>
    <ul class="brands-list">
        {$brands = shopProductbrandsPlugin::getBrands()}
        {foreach $brands as $b}
            <li {if $b.name == $wa->param('brand')}class="selected"{/if}>
                <a href="{$b.url}" title="{$b.name|escape}">{if 0 && $b.image}<img src="{$wa_url}wa-data/public/shop/brands/{$b.id}/{$b.id}{$b.image}">{else}{$b.name|escape}{/if}</a>
            </li>
        {/foreach}
    </ul>
</div>

{*{if class_exists(shopAgamaya_bannersPlugin)}{shopAgamaya_bannersPlugin::getBannersByGroupName('PV1')}<br>{/if}*}
{$wa->banner->getBanner(2)}


{if isset($frontend_nav)}
    {foreach $frontend_nav as $plugin => $_}
        {if $plugin == 'brands-plugin' && !empty($_)}
        <div class="information block">
            <span class="caption acapitalize">[`Brands`]</span>
            {$_}
        </div>
        {/if}
    {/foreach}
{/if}



<!--noindex-->


{if isset($frontend_nav)}
    <!-- plugin hook: 'frontend_nav' -->
    {* @event frontend_nav.%plugin_id% *}
    {foreach $frontend_nav as $plugin => $_}{if $plugin != 'brands-plugin'}{$_}{/if}{/foreach}
{/if}

{*if class_exists(shopAgamaya_bannersPlugin)}<center>{shopAgamaya_bannersPlugin::getBannersByGroupName('sbar')}</center><br>{/if*} {*Баннер*}{*{literal}...{/literal}*}


<!-- plugin hook: 'frontend_nav_aux' -->
{* @event frontend_nav.%plugin_id% *}
{foreach $frontend_nav_aux as $plugin => $_}
    {$_}
{/foreach}


{if !empty($theme_settings.shopInfo)}
    {if $theme_settings.appsPages == 'shop'}
        {$site_pages = $wa->site->pages()}
        {$active_page = null}
    {else}
        {$site_pages = $wa->shop->pages()}
        {$active_page = $wa->param('page_id')}
    {/if}
    {if $site_pages}
        <div class="information block">
            <span class="caption acapitalize">[`Information`]</span>
            <ul>
            {foreach $site_pages as $pageML}
                {if !isset($pageML.menu_left)}
                <li{if $pageML.id == $active_page} class="selected"{/if}>
                    <a href="{$pageML.url}" title="{$pageML.title}"><i class="icon-circle"></i>{$pageML.name}</a>
                    {if !empty($pageML.childs)}<ul>{foreach $pageML.childs as $_pageML}
                        <li{if $_pageML.id == $active_page} class="selected"{/if}>
                            <a href="{$_pageML.url}" title="{$_pageML.title}">{$_pageML.name}</a>
                            {if !empty($_pageML.childs)}<ul>{foreach $_pageML.childs as $__pageML}
                                <li{if $__pageML.id == $active_page} class="selected"{/if}>
                                    <a href="{$__pageML.url}" title="{$__pageML.title}"><i class="cb-minus">–</i>{$__pageML.name}</a>
                                </li>
                            {/foreach}</ul>{/if}
                        </li>
                    {/foreach}</ul>{/if}
                </li>
                {/if}
            {/foreach}
            </ul>
        </div>
    {/if}
{/if}

<!--/noindex-->

{* {$wa->mailer->form(1)} *}


{if !empty($theme_settings.shopTags)}
    {if $cloud = $wa->shop->tags()}
        <div class="tags block{if !empty($theme_settings.tagsCloud)} hide-for-desktop{/if}"{if !empty($theme_settings.tagsCloud)} id="tagsCanvasContent"{/if}>
            <span class="caption acapitalize">[`Tags`]</span>
            {foreach $cloud as $tag}
            {if $tag.name|escape != ''}
                <a href="{$wa_app_url}tag/{$tag.uri_name}/" style="font-size: {$tag.size}%;">{$tag.name|escape}</a>{if !$tag@last}, {/if}
            {/if}    
            {/foreach}
        </div>
        {if !empty($theme_settings.tagsCloud)}
        <div class="tags block hide-for-mobile">
            <span class="caption acapitalize">[`Tags`]</span>
            <canvas width="200" height="200" id="tagsCanvas"></canvas>
        </div>
        {/if}
    {/if}
{/if}

{if !empty($theme_settings.communityVKid)}{include file="`$wa_parent_theme_path`/community.vk.html" place="place-sidebar"}{/if}
{if !empty($theme_settings.communityFBhref)}{include file="`$wa_parent_theme_path`/community.fb.html" place="place-sidebar"}{/if}
{if !empty($theme_settings.shopLastPhotos)}{include file="`$wa_parent_theme_path`/last.photos.html" sidebar=1 _index=$_index}{/if}
{if !empty($theme_settings.shopLastPosts)}{include file="`$wa_parent_theme_path`/last.posts.html" sidebar=1 _index=$_index}{/if}


<br>{$wa->voting->block('comfort', '215px')}<br> {*Голосование*}
