.header_city {
 text-align: center;
}

.body-inner {
   padding-top: 80px;
}

.wa-order-layout > .wa-order-header > .container {
 display: flex;
 justify-content: space-between;
}

.wa-order-layout > .wa-order-header > .container:before,
.wa-order-layout > .wa-order-header > .container:after {
 content: unset;
}

.wa-order-layout > .wa-order-header .wa-logo-section .wa-logo img {
   max-width: 266px;
   max-height: 120px
}



@media screen and (min-width: 768px) {
	.ig-dialog-wrap > .w-dialog-wrapper > .w-dialog-block{
		max-width: 750px;
	}

	.ig-dialog-wrap > .w-dialog-wrapper > .w-dialog-block > .quickorder-form{
		width: 750px;
	}
}

@media screen and (max-width: 767px) {
    .wa-order-layout > .wa-order-header > .container {
         display: block;
    }
}

a[href$="liveinternet.ru/click"] { display:none; }