h1 { color: #134578; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #0c3762; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #113254; background: #114171; background: linear-gradient(to bottom,  #25598e 0%,#114171 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #25598e; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #114171; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #225890; background: linear-gradient(to bottom,  #225890 0%,#134578 100%); }

#header { background-color: #E3F0F4; }
#header .phone { color: #134578; }
#header .pages_list_button.active { background: #134578; }

.pages_list { background-color: #134578; border-top: 2px solid #DEE9FC; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #134578; }
.pages_list:after { border-bottom: 12px solid #DEE9FC; }
.pages_list li { border-bottom: 1px solid #134578; }
.pages_list li:not(:first-child) { border-top: 1px solid #DEE9FC; }

#search_block { background-color: #DEE9FC; }

.main_title { color: #134578; border-bottom: 2px solid #DEE9FC; background-color: #E1F3FF; }

#brand-page .sub-categories { border-top: 2px solid #DEE9FC; }

#catalog > div a,
.fast_cat_list > div a { color: #134578; }
#catalog > div i,
.fast_cat_list > div i { color: #114171; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#E1F3FF 100%); border-bottom: 2px solid #DEE9FC; }
#catalog .category:first-of-type { border-top: 2px solid #DEE9FC; }
#catalog .subcategory { background-color: #E1F3FF; border-bottom: 2px solid #DEE9FC; }

.fast_select_cat { background: #225890; background: linear-gradient(to bottom,  #225890 0%,#134578 100%); border: 1px solid #0c3762; }
.fast_cat_list { border: 1px solid #0c3762; background-color: #DEE9FC; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #0c3762; }

.sort_view_wrap .view > div { background: #225890; background: linear-gradient(to bottom,  #225890 0%,#134578 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #225890; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #0c3762; }

.product-list .price { background-color: #DEE9FC; }

.paging-nav li.selected a { background-color: #134578; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#E1F3FF 100%); border-top: 2px solid #DEE9FC; border-bottom: 2px solid #DEE9FC; }

.features p:nth-child(2n+1) { background-color: #E1F3FF; }

.price,
.cart .item-total,
.cart .cart-discount { color: #134578; }

.cart_item .price > span { background-color: #DEE9FC; }
.cart_item .recalc { background-color: #DEE9FC; border: 2px solid #0c3762; }

#contact_block { background-color: #134578; }
#contact_block .number { background: #CEE0EC; background: linear-gradient(to bottom,  #CEE0EC 0%,#A0C9E5 100%); border: 1px solid #113254; }

#footer { background-color: #134578; }
#footer .copyright { border-bottom: 2px solid #DEE9FC; }
#footer .social { border-top: 1px solid #002242; }