h1 { color: #717171; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #999797; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #717171; background: #919191; background: linear-gradient(to bottom,  #abaaaa 0%,#919191 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #abaaaa; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #919191; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #abaaaa; background: linear-gradient(to bottom,  #abaaaa 0%,#919191 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #717171; }
#header .pages_list_button.active { background: #919191; }

.pages_list { background-color: #919191; border-top: 2px solid #e9e9e9; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #919191; }
.pages_list:after { border-bottom: 12px solid #e9e9e9; }
.pages_list li { border-bottom: 1px solid #717171; }
.pages_list li:not(:first-child) { border-top: 1px solid #e9e9e9; }

#search_block { background-color: #e9e9e9; }

.main_title { color: #717171; border-bottom: 2px solid #e9e9e9; background-color: #F3F3F3; }

#brand-page .sub-categories { border-top: 2px solid #e9e9e9; }

#catalog > div a,
.fast_cat_list > div a { color: #717171; }
#catalog > div i,
.fast_cat_list > div i { color: #919191; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F3F3F3 100%); border-bottom: 2px solid #e9e9e9; }
#catalog .category:first-of-type { border-top: 2px solid #e9e9e9; }
#catalog .subcategory { background-color: #F3F3F3; border-bottom: 2px solid #e9e9e9; }

.fast_select_cat { background: #abaaaa; background: linear-gradient(to bottom,  #abaaaa 0%,#919191 100%); border: 1px solid #999797; }
.fast_cat_list { border: 1px solid #999797; background-color: #e9e9e9; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #999797; }

.sort_view_wrap .view > div { background: #abaaaa; background: linear-gradient(to bottom,  #abaaaa 0%,#919191 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #abaaaa; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #999797; }

.product-list .price { background-color: #e9e9e9; }

.paging-nav li.selected a { background-color: #919191; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F3F3F3 100%); border-top: 2px solid #e9e9e9; border-bottom: 2px solid #e9e9e9; }

.features p:nth-child(2n+1) { background-color: #F3F3F3; }

.price,
.cart .item-total,
.cart .cart-discount { color: #717171; }

.cart_item .price > span { background-color: #e9e9e9; }
.cart_item .recalc { background-color: #e9e9e9; border: 2px solid #999797; }

#contact_block { background-color: #717171; }
#contact_block .number { background: #DEDEDE; background: linear-gradient(to bottom,  #DEDEDE 0%,#CACACA 100%); border: 1px solid #717171; }

#footer { background-color: #717171; }
#footer .copyright { border-bottom: 2px solid #e9e9e9; }
#footer .social { border-top: 1px solid #002242; }