@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sf/SFUIText-Regular.woff') format('woff');
}
@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sf/SFUIText-Light.woff') format('woff');
}
@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sf/SFUIText-Medium.woff') format('woff');
}
@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sf/SFUIText-Semibold.woff') format('woff');
}
.display_table {
  display: table;
  width: 100%;
}
.display_table > * {
  display: table-cell;
}
.display_inline-block > * {
  display: inline-block;
}
.vertical_middle > * {
  vertical-align: middle;
}
.vertical_top > * {
  vertical-align: top;
}
.reset-wrapper {
  margin-left: -30px;
  margin-right: -30px;
}
.reset-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.reset-vertical-top-wrapper {
  margin-top: -20px !important;
}
.reset-vertical-bottom-wrapper {
  margin-bottom: -20px !important;
}
.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
/* Reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
credentials,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
credentials,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Common elems */
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
iframe {
  max-width: 100%;
}
ymaps {
  max-width: 100% !important;
}
ymaps ymaps {
  max-width: none !important;
}
a {
  text-decoration: none;
}
blockquote {
  padding: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 400;
}
h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  margin-bottom: 15px;
}
.header-nav h1 {
  margin: 0;
}
h2 {
  font-size: 17px;
  line-height: 20px;
}
h3 {
  font-size: 16px;
  line-height: 1.1875;
}
h4 {
  font-size: 15px;
  line-height: 18px;
}
::-webkit-input-placeholder {
  color: #BDBDBD;
}
::-moz-placeholder {
  color: #BDBDBD;
}
:-moz-placeholder {
  color: #BDBDBD;
}
:-ms-input-placeholder {
  color: #BDBDBD;
}
script {
  display: none !important;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="phone"],
input[type="number"],
input[type="search"],
input[type="url"] {
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
#add-topic-tags_tagsinput {
  padding-left: 15px;
  padding-right: 15px;
}
textarea {
  border: 1px solid;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.1875;
  resize: none;
  padding: 10px 15px;
  -webkit-appearance: none;
  appearance: none;
}
.error,
.errormsg,
.wa-error-msg {
  display: block;
  color: #EB5757;
  margin: 5px 0;
}
.icon16.color {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.btn {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 9.5px 10px;
  text-align: center;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
}
.btn[disabled="disabled"] {
  background: #BDBDBD;
  color: #fff;
  cursor: pointer;
}
.btn.btn_loading {
  color: transparent;
}
.btn.btn_loading:after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/loading.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: loading .6s linear infinite;
}
.btn-lg,
.wa-form input[type="submit"],
.checkout-step-wrapper .auth .wa-submit [type="submit"],
.plugin-block [type="submit"],
.plugin-block [type="button"],
#paymentFormSubmit {
  border: none;
  border-radius: 5px;
  padding: 9.5px 10px;
  text-align: center;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 38px;
  font-weight: 500;
}
.btn-lg[disabled="disabled"],
.wa-form input[type="submit"][disabled="disabled"],
.checkout-step-wrapper .auth .wa-submit [type="submit"][disabled="disabled"],
.plugin-block [type="submit"][disabled="disabled"],
.plugin-block [type="button"][disabled="disabled"],
#paymentFormSubmit[disabled="disabled"] {
  background: #BDBDBD;
  color: #fff;
  cursor: pointer;
}
.btn-lg.btn_loading,
.wa-form input[type="submit"].btn_loading,
.checkout-step-wrapper .auth .wa-submit [type="submit"].btn_loading,
.plugin-block [type="submit"].btn_loading,
.plugin-block [type="button"].btn_loading,
#paymentFormSubmit.btn_loading {
  color: transparent;
}
.btn-lg.btn_loading:after,
.wa-form input[type="submit"].btn_loading:after,
.checkout-step-wrapper .auth .wa-submit [type="submit"].btn_loading:after,
.plugin-block [type="submit"].btn_loading:after,
.plugin-block [type="button"].btn_loading:after,
#paymentFormSubmit.btn_loading:after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/loading.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: loading .6s linear infinite;
}
.plugin-block [type="submit"],
.plugin-block [type="button"] {
  white-space: normal;
}
.btn-md,
.plugin_arrived-button a,
.storequickorder-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 9.5px 10px;
  text-align: center;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.1875;
}
.btn-md[disabled="disabled"],
.plugin_arrived-button a[disabled="disabled"],
.storequickorder-button[disabled="disabled"] {
  background: #BDBDBD;
  color: #fff;
  cursor: pointer;
}
.btn-md.btn_loading,
.plugin_arrived-button a.btn_loading,
.storequickorder-button.btn_loading {
  color: transparent;
}
.btn-md.btn_loading:after,
.plugin_arrived-button a.btn_loading:after,
.storequickorder-button.btn_loading:after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/loading.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: loading .6s linear infinite;
}
.btn-list,
.checkout-result__plugins input[type="submit"],
.checkout-result__plugins input[type="button"],
.checkout-result__plugins button,
.wa-order-dialog .wa-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 9.5px 10px;
  text-align: center;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  padding: 8px 17px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  white-space: nowrap;
}
.btn-list[disabled="disabled"],
.checkout-result__plugins input[type="submit"][disabled="disabled"],
.checkout-result__plugins input[type="button"][disabled="disabled"],
.checkout-result__plugins button[disabled="disabled"],
.wa-order-dialog .wa-button[disabled="disabled"] {
  background: #BDBDBD;
  color: #fff;
  cursor: pointer;
}
.btn-list.btn_loading,
.checkout-result__plugins input[type="submit"].btn_loading,
.checkout-result__plugins input[type="button"].btn_loading,
.checkout-result__plugins button.btn_loading,
.wa-order-dialog .wa-button.btn_loading {
  color: transparent;
}
.btn-list.btn_loading:after,
.checkout-result__plugins input[type="submit"].btn_loading:after,
.checkout-result__plugins input[type="button"].btn_loading:after,
.checkout-result__plugins button.btn_loading:after,
.wa-order-dialog .wa-button.btn_loading:after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/loading.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: loading .6s linear infinite;
}
.btn-alt {
  display: block;
  font-size: 18px;
  line-height: 1.16666667;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  border-radius: 5px;
}
.rating .rating__stars {
  white-space: nowrap;
}
.rating .rating__desc {
  font-size: 12px;
  color: #828282;
  position: relative;
  top: 1px;
}
.rating .icon18 {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 19px;
  margin-right: 2px;
}
.rating .icon18.star,
.rating .icon18.star-hover {
  background: url(../img/icons/star.svg) no-repeat center;
  background-size: contain;
}
.rating .icon18.star-empty {
  background: url(../img/icons/star-empty.svg) no-repeat center;
  background-size: contain;
}
.rating .icon18.star-half {
  background: url(../img/icons/star-half.svg) no-repeat center;
  background-size: contain;
}
.wa-form .wa-field,
.wa-form .wa-value > p,
.wa-form .wa-value .field,
.wa-form .wa-field-birthday .wa-value > * {
  margin-top: 10px;
}
.wa-form .wa-field:first-child,
.wa-form .wa-value > p:first-child,
.wa-form .wa-value .field:first-child,
.wa-form .wa-field-birthday .wa-value > *:first-child {
  margin-top: 0;
}
.wa-form .service-agreement-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wa-form .wa-name {
  display: none;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
}
.wa-form .wa-field.wa-required .wa-name:after {
  content: ' *';
  color: #bdbdbd;
}
.wa-form .wa-value .field {
  display: block;
}
.wa-form .wa-value .field > span {
  display: none !important;
}
.wa-form .wa-value label {
  display: block;
  margin-top: 15px;
}
.wa-form .wa-value label:first-child {
  margin-top: 0;
}
.wa-form .wa-value > p > span {
  display: block;
  margin-bottom: 15px;
}
.wa-form .wa-value > p > span:last-child {
  margin-bottom: 0;
}
.wa-form .wa-value > p .hint {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
}
.wa-form input[type="text"],
.wa-form input[type="password"],
.wa-form input[type="email"],
.wa-form input[type="tel"],
.wa-form input[type="phone"],
.wa-form input[type="number"] {
  width: 100% !important;
  padding-right: 45px !important;
  background-repeat: no-repeat;
  background-position: right 20px center;
}
.wa-form textarea,
.wa-form select,
.wa-form .jq-selectbox {
  width: 100%;
}
.wa-form .wa-field-address .field > span {
  display: block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}
.wa-captcha p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wa-captcha p strong {
  display: none;
}
.wa-captcha-input {
  width: auto;
  min-width: inherit;
  flex-grow: 1;
  margin-left: 15px;
}
.wa-captcha .errormsg,
.wa-captcha p .errormsg {
  display: block;
}
@media all and (max-width: 400px) {
  .wa-captcha p {
    flex-direction: column;
  }
  .wa-captcha p > * {
    margin-top: 10px;
    margin-left: 0;
  }
  .wa-captcha p > *:first-child {
    margin-top: 0;
  }
}
.consent-field {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14285714;
}
.subscribe-block__form .consent-field {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.loading:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.load-more,
.show-more {
  display: block;
  border: 1px solid;
  line-height: 1.16666667;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 8.5px 30px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.reviews input[type="text"],
.reviews input[type="password"],
.reviews input[type="email"],
.reviews input[type="tel"],
.reviews input[type="number"] {
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-right: 45px !important;
}
.reviews input[name="captcha"] {
  background-image: none;
}
.wa-auth-adapters {
  margin-top: 15px;
  margin-bottom: 5px;
}
.wa-auth-adapters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wa-auth-adapters ul li {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.wa-auth-adapters ul a {
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 15px;
  margin-right: 5px;
  white-space: nowrap;
}
.wa-auth-adapters ul a img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
}
.wa-auth-adapters ul a > * {
  display: inline-block;
  vertical-align: middle;
}
.nowrap {
  white-space: nowrap;
}
.slick-dots {
  padding: 0;
  font-size: 0;
  list-style: none;
  position: absolute;
  bottom: 17.5px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 2.5px;
  background: #E0E0E0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.slick-dots li button {
  border: none;
  font-size: 0;
  background: none;
}
.jq-selectbox {
  font-size: 16px;
  line-height: 1.19;
  color: #333;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  max-width: 100%;
}
.jq-selectbox .jq-selectbox__select {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 32px;
  position: relative;
}
.jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  width: auto !important;
  line-height: 38px;
  font-size: 16px;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 12px;
  height: 8px;
  background: url(../img/icons/select-arrow.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.wa-form .jq-selectbox .jq-selectbox__trigger-arrow {
  right: 20px;
}
.jq-selectbox .jq-selectbox__dropdown {
  background: #fff;
  min-width: 100%;
  text-align: center;
  margin-top: 1px;
  border-radius: 5px;
  border: 1px solid;
  max-width: 100%;
}
.jq-selectbox .jq-selectbox__dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 80vh;
}
.jq-selectbox .jq-selectbox__dropdown ul li {
  padding: 10px 20px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.jq-selectbox.disabled {
  color: #E0E0E0 !important;
  border-color: #E0E0E0 !important;
}
.jq-selectbox.disabled .jq-selectbox__dropdown {
  border-color: #E0E0E0 !important;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  background: url(../img/icons/select-arrow_disabled.svg) no-repeat;
}
.s-styled-select {
  position: relative;
}
.s-styled-select .s-icon {
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 12px;
  height: 8px;
  background: url(../img/icons/select-arrow.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.s-styled-select select {
  font-size: 16px;
  line-height: 1.19;
  color: #333;
  height: 40px;
  border: 1px solid;
  max-width: 100%;
  background: #fff;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 32px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.s-styled-select select .jq-selectbox__select-text {
  width: auto !important;
  line-height: 38px;
  font-size: 16px;
}
.s-styled-select select[disabled="disabled"],
.s-styled-select select[disabled] {
  color: #E0E0E0 !important;
  border-color: #E0E0E0 !important;
}
.s-styled-select select[disabled="disabled"] + .s-icon,
.s-styled-select select[disabled] + .s-icon {
  background: url(../img/icons/select-arrow_disabled.svg) no-repeat;
}
.jq-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  vertical-align: middle;
}
.jq-checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.jq-checkbox .jq-checkbox__div {
  display: none;
  background: url(../img/icons/checked-icon.svg) center no-repeat !important;
}
.jq-checkbox.checked .jq-checkbox__div {
  display: block;
  width: 12px;
  height: 9px;
  background-size: contain !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.jq-checkbox.disabled {
  opacity: .5;
}
.s-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
  margin-top: -2px;
}
.s-checkbox input {
  display: none;
}
.s-checkbox input + span .s-icon {
  display: none;
  background: url(../img/icons/checked-icon.svg) center no-repeat !important;
}
.s-checkbox input:checked + span .s-icon {
  display: block;
  width: 12px;
  height: 9px;
  background-size: contain !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.jq-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  vertical-align: middle;
  margin-right: 8px;
}
.jq-radio .jq-radio__div {
  display: none;
}
.jq-radio.checked .jq-radio__div {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.jq-radio.disabled {
  opacity: .5;
}
.s-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  position: relative;
}
.s-radio input {
  display: none;
}
.s-radio input + span {
  display: none;
}
.s-radio input:checked + span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
}
.table-custom {
  width: 100%;
}
.table-custom tr,
.table-custom td {
  display: block;
}
.table-custom th {
  display: none;
}
.table-custom tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid;
}
.table-custom tr.first {
  margin-top: 20px;
}
.table-custom tr td {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px !important;
  line-height: 1.14285714 !important;
}
.table-custom tr:first-child {
  border-top: none;
  padding-top: 0;
}
.table-custom td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.table {
  width: 100%;
}
.table tr,
.table td {
  display: block;
}
.table th {
  display: none;
}
.table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid;
}
.table tr:first-child {
  border-top: none;
  padding-top: 0;
}
.table td {
  margin-top: 10px;
}
.table td:first-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  margin-bottom: 10px;
  margin-top: 0;
}
.table .table__title {
  margin-right: 10px;
}
.table .table__subtotal {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
}
.table .table__subtotal .ruble {
  font-weight: 600;
}
.table .table__qty-title,
.table .table__subtotal-title {
  margin-right: 10px;
}
.table .table-total {
  display: table;
  width: 100%;
  border-top: none;
}
.table .table-total.first {
  margin-top: 20px;
}
.table .table-total:nth-child(2n) {
  padding-top: 12px;
  padding-bottom: 12px;
}
.table .table-total td {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
  font-size: 14px !important;
  line-height: 1.14285714 !important;
  text-align: right;
}
.table .table-total td:first-child {
  padding-left: 15px;
  padding-right: 0;
  width: 38%;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.table .table__date {
  color: #828282;
}
.empty-description {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 140px;
}
.shadowed-frame {
  padding: 15px;
  margin: 15px -15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.4);
}
.shadowed-frame > *:first-child,
.shadowed-frame .checkout-step-content > *:first-child {
  margin-top: 0;
}
.blocks {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blocks-title {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 500;
}
.tabs-menu {
  margin-left: -30px;
  margin-right: -30px;
}
.action-home .tabs-menu {
  margin-bottom: 20px;
}
.action-home .tabs-menu:last-child {
  margin-bottom: -20px;
}
.app-site:not(.action-home) .tabs-menu:first-child {
  margin-top: -20px !important;
}
.tabs-menu__main {
  flex-grow: 1;
}
.tabs-menu__link {
  border-top: 1px solid;
  position: relative;
}
.tabs-menu__link:first-child,
.tabs-menu__link:first-child:last-child {
  border-color: transparent;
}
.checkout-step .tabs-menu__link:first-child,
.checkout-step .tabs-menu__link:first-child:last-child,
.product-tabs .product-tabs__item:last-child .tabs-menu__link {
  border-bottom: 1px solid;
}
.tabs-menu__link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding-right: 90px;
  position: relative;
}
.tabs-menu__link a:after {
  content: attr(data-count);
  display: inline-block;
  position: absolute;
  font-weight: 500;
  min-width: 7px;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  color: #4F4F4F;
  padding-left: 9px;
  padding-right: 9px;
  right: 43px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.tabs-menu__link a:before {
  content: '';
  display: block !important;
  opacity: 1;
  z-index: 1;
  position: absolute;
  width: 7.5px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  bottom: 0;
  right: 22.5px;
  margin: auto;
}
.tabs-menu__link a.disable_count:after {
  display: none;
}
.tabs-menu__link.catalog-nav__item_hidden,
.tabs-menu__link.brands-nav__item_hidden {
  display: none;
}
.tabs-menu__link.catalog-nav__item_hidden.open,
.tabs-menu__link.brands-nav__item_hidden.open {
  display: block;
}
.active .tabs-menu__link a:before {
  width: 12px;
  height: 7.5px;
}
.tabs-menu__logo {
  display: inline-block;
  width: 78px;
  min-width: 78px;
  max-width: 78px;
  padding-right: 20px;
  text-align: center;
}
.tabs-menu__logo img {
  max-height: 40px;
}
.tabs-menu__name {
  padding-top: 21px;
  padding-bottom: 21px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub-links {
  margin-bottom: 25px;
}
.sub-links .tabs-menu__link:first-child {
  border-top: 1px solid;
}
.app-site .sub-links .tabs-menu__link:first-child {
  border-top-color: transparent !important;
}
.sub-links .tabs-menu__link:last-child {
  border-bottom: 1px solid;
}
.app-site .main .tabs-menu__link a {
  padding-right: 60px;
}
.share-block .ya-share2__list {
  margin-bottom: -15px;
  margin-left: -7px;
  margin-right: -7px;
}
.share-block .ya-share2__item {
  margin-left: 7px !important;
  margin-right: 7px !important;
  margin-bottom: 15px !important;
}
.share-block .ya-share2__badge {
  border-radius: 50% !important;
  background: none !important;
}
.share-block .ya-share2__icon {
  width: 40px !important;
  height: 40px !important;
}
.share-block .ya-share2__item_service_facebook .ya-share2__icon {
  background: url(../img/icons/facebook.svg) no-repeat !important;
  background-size: contain !important;
}
.share-block .ya-share2__item_service_vkontakte .ya-share2__icon {
  background: url(../img/icons/vkontakte.svg) no-repeat !important;
  background-size: contain !important;
}
.share-block .ya-share2__item_service_twitter .ya-share2__icon {
  background: url(../img/icons/twitter.svg) no-repeat !important;
  background-size: contain !important;
}
.share-block .ya-share2__item_service_gplus .ya-share2__icon {
  background: url(../img/icons/google.svg) no-repeat !important;
  background-size: contain !important;
}
.share-block .ya-share2__item_service_viber .ya-share2__icon,
.share-block .ya-share2__item_service_whatsapp .ya-share2__icon,
.share-block .ya-share2__item_service_telegram .ya-share2__icon {
  background-repeat: no-repeat;
  background-position: center;
}
.share-block .ya-share2__item_service_viber .ya-share2__icon {
  background-color: #7b519d;
  background-size: 32px;
}
.share-block .ya-share2__item_service_whatsapp .ya-share2__icon {
  background-color: #65bc54;
  background-size: 36px;
}
.share-block .ya-share2__item_service_telegram .ya-share2__icon {
  background-color: #64a9dc;
  background-size: 36px;
  background-position: left 1px top 1px;
}
/* General elems */
html,
body {
  font-size: 14px;
  color: #333;
  line-height: 1.14285714;
}
body.overlay {
  overflow: hidden;
  position: fixed;
  /* hack for iOS*/
  width: 100%;
  /* hack for iOS*/
  height: 100%;
  /* hack for iOS*/
}
body.overlay:after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
body.is-scroll-locked {
  overflow: hidden;
}
.body-inner {
  padding-top: 60px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.global-wrapper {
  flex-grow: 1;
}
/* Header-nav */
.header-nav-wrapper {
  position: relative;
}
.header-nav {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16666667;
  color: #fff;
  text-align: center;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 50px;
  padding-right: 50px;
  background: #333;
  position: relative;
}
.header-nav,
.header-nav h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-nav:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/icons/back-icon.svg) center no-repeat;
  background-size: contain;
  left: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* Info-content */
.info-content {
  line-height: 20px;
}
.info-content h1,
.info-content h2,
.info-content h3,
.info-content h4,
.info-content h5,
.info-content h6,
.info-content strong {
  font-weight: 600;
}
.info-content h1,
.info-content h2,
.info-content h3,
.info-content h4,
.info-content h5,
.info-content h6,
.info-content p,
.info-content ul,
.info-content ol,
.info-content blockquote,
.info-content iframe {
  margin-bottom: 15px;
}
.info-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
.info-content tr td,
.info-content tr th {
  padding: 10px;
  border: 1px solid;
}
.info-content tr th {
  text-align: left;
  font-weight: 400;
  font-weight: 600;
}
.info-content .wa-form {
  float: none;
}
.info-content .wa-form .wa-field .wa-value {
  margin-left: 0;
}
.info-content .wa-form textarea {
  min-width: auto !important;
}
.info-content .wa-form .wa-captcha img {
  margin-top: 0;
}
/* Welcome */
.welcome {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.welcome:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/welcome.svg) no-repeat;
  background-size: contain;
  margin: 0 auto 20px;
}
.welcome h1 {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
}
/* Error page */
.error-page {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.error-page:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/error-page.svg) no-repeat;
  background-size: contain;
  margin: 0 auto 20px;
}
.error-page .error-page__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  font-weight: 700;
}
.error-page .error-page__description {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
}
.error-page__additional {
  margin-top: 15px;
}
.error-page__additional > * {
  margin-top: 30px;
}
.error-page__additional > *:first-child {
  margin-top: 0;
}
.error-page__additional .search-block__inner {
  padding: 0;
}
.error-page__additional .search-block {
  z-index: 1 !important;
}
/* Header */
.header-menu {
  padding-right: 15px;
  width: 18px;
  max-width: 18px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.header-logo a {
  display: table;
  color: #333;
  white-space: nowrap;
}
.header-logo__image {
  display: inline-block;
  vertical-align: middle;
  max-height: 40px;
}
.header-logo_with-text .header-logo__image {
  margin-right: 7px;
}
.header-logo__text {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  background: #fff;
}
.header-top__inner {
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10000;
  background: #fff;
}
.information-window {
  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  position: relative;
}
.information-window__close {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/icons/close-icon.svg) no-repeat;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
}
.header-menu__switcher {
  width: 18px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.header-menu__switcher:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  margin: auto;
  background: none;
}
.header-buttons {
  text-align: right;
}
.header-buttons .header-buttons__wrapper {
  display: table;
  margin-left: auto;
  margin-right: 0;
}
.header-buttons .header-buttons__wrapper > * {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.header-buttons .header-buttons__wrapper > *:first-child {
  padding-left: 10px;
}
.header-buttons .header-buttons__item {
  cursor: pointer;
}
.header-buttons .header-buttons__item a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.header-buttons .header-buttons__item a:before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  margin: auto;
  background: none;
}
.header-buttons .header-buttons__item-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header-buttons__search a {
  width: 17.5px;
  height: 17.5px;
}
.header-buttons__phone a {
  width: 20px;
  height: 20px;
}
.header-buttons__cart {
  text-align: center;
}
.header-buttons__cart a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.informer-button__labeled a {
  position: relative;
}
.informer-button__labeled a:after {
  content: attr(data-count);
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  text-align: center;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  background: #EB5757;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 0 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.search-block {
  position: relative;
  background: #fff;
}
.search-block__dropdown-link {
  position: relative;
  display: block !important;
  height: 60px;
  line-height: 60px;
  color: #333;
  padding-left: 65px;
  padding-right: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-block_history .search-block__dropdown-link:before {
  content: '';
  position: absolute;
  display: block;
  width: 17.5px;
  height: 17.5px;
  background: url(../img/icons/search__history.svg) no-repeat;
  background-size: contain;
  left: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.search-block__select {
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  background: url(../img/icons/search__select.svg) no-repeat;
  background-size: contain;
  margin: auto;
}
.search-block__select:after {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  margin: auto;
}
.search-block__find {
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: url(../img/icons/search__find.svg) no-repeat;
  background-size: contain;
  margin: auto;
}
.search-block__dropdown-link-text {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search-block_ajax {
  overflow-y: visible !important;
}
.search-block_plugin .search-block__inner {
  min-height: 70px;
}
.overlay .search-block {
  z-index: 10000;
}
.search-block__dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0 !important;
  background: #fff;
  overflow-y: auto;
  z-index: 99999999 !important;
}
.search-block__dropdown .ui-corner-all {
  display: none;
}
.search-block__dropdown .ui-menu-item {
  border-top: 1px solid;
}
.search-block__dropdown_history {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.search-block__inner {
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown-window {
  display: none;
}
.dropdown-window.open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  max-height: 100vh;
  padding-top: 60px;
  margin-top: -60px;
  overflow-y: auto;
}
.dropdown-window.open.search-block_smartsearch,
.dropdown-window.open.search-block_plugin {
  overflow-y: visible;
}
.topmenu {
  display: none;
}
.topmenu_padding-bottom {
  padding-bottom: 80px;
}
.topmenu.open {
  display: block;
}
.topmenu .topmenu__link {
  padding-right: 40px;
  position: relative;
}
.topmenu .topmenu__link:after {
  content: '';
  display: block !important;
  opacity: 1;
  z-index: 1;
  position: absolute;
  width: 7.5px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  bottom: 0;
  right: 22.5px;
  margin: auto;
}
.topmenu .topmenu__link_labled {
  position: relative;
  padding-right: 80px;
}
.topmenu .topmenu__link_labled:before {
  content: attr(data-count);
  display: inline-block;
  text-align: center;
  min-width: 15px;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
  background: #EB5757;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 42px;
  margin: auto;
  font-size: 14px;
  padding: 0 5px;
}
.topmenu .topmenu__link_iconed {
  padding-left: 60px;
}
.topmenu__compare a {
  background-image: url(../img/icons/compare.svg);
}
.topmenu__compare_empty {
  display: none;
}
.topmenu__favorite a {
  background-image: url(../img/icons/favorite.svg);
}
.topmenu__favorite_empty {
  display: none;
}
.topmenu-menu li a,
.topmenu-menu li.topmenu__title {
  display: block;
  width: 100%;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topmenu-menu li a {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 30px center;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.topmenu-menu li a:after {
  background-image: url(../img/icons/catalog-arrow_white.svg) !important;
}
.topmenu-menu li:last-child a {
  border-bottom-color: transparent;
}
.topmenu .topmenu__link_regions {
  background: #fff;
}
.topmenu .topmenu__link_regions .shop-regions {
  display: block !important;
}
.topmenu .topmenu__link_regions .shop-regions-button {
  font-size: 0;
}
.topmenu .topmenu__link_regions .shop-regions-button a {
  font-size: 16px;
  color: #333;
  border-color: transparent;
}
.topmenu .topmenu__link_regions .shop-regions-button__link {
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  background: #fff;
  height: 60px;
  line-height: 60px;
}
.topmenu .topmenu__link_regions .shop-regions-button__link:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
}
.topmenu .topmenu__link_regions .clear_search {
  display: none !important;
}
.topmenu_loading:after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2280%22%20height%3D%2220%22%20viewBox%3D%220%200%20120%2030%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23828282%22%3E%0D%0A%09%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%3C%2Fcircle%3E%0D%0A%09%3Ccircle%20cx%3D%2260%22%20cy%3D%2215%22%20r%3D%229%22%20fill-opacity%3D%220.3%22%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22r%22%20from%3D%229%22%20to%3D%229%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%229%3B15%3B9%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%220.5%22%20to%3D%220.5%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%22.5%3B1%3B.5%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%3C%2Fcircle%3E%0D%0A%09%3Ccircle%20cx%3D%22105%22%20cy%3D%2215%22%20r%3D%2215%22%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%3C%2Fcircle%3E%0D%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
}
.topmenu-dropdown {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 80px;
  overflow-y: auto;
  z-index: 1;
}
.topmenu-dropdown .tabs-menu {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.topmenu-dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 22.5px;
  background: #f2f2f2;
  height: 60px;
  position: relative;
}
.topmenu-dropdown__header-title {
  flex-grow: 1;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: #828282;
}
.topmenu-dropdown__header-action {
  color: #828282;
}
.topmenu-dropdown__header-close {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.search-form {
  position: relative;
}
.search-form__query {
  padding-left: 18px !important;
  padding-right: 45px !important;
  width: 100%;
  background: none;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 40px;
}
.search-form__submit {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  top: 0;
  bottom: 0;
  right: 19.5px;
  margin: auto;
}
/* Main */
.main-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-inner > *:first-child {
  margin-top: 0;
}
/* Catalog-nav */
.catalog-nav__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.catalog-nav__item.catalog-nav__item_hidden {
  display: none;
}
.catalog-nav__item.catalog-nav__item_hidden.open {
  display: block;
}
.catalog-expand,
.brands-expand {
  background: #333;
}
.catalog-expand:before,
.brands-expand:before {
  display: inline-block;
  width: 19px;
  height: 16px;
  background: url(../img/icons/expand-icon.svg) no-repeat center;
  background-size: contain;
  position: relative;
  top: -2px;
}
.catalog-expand.open:before,
.brands-expand.open:before {
  background: url(../img/icons/down-icon.svg) no-repeat center;
  background-size: contain;
  top: 0;
}
.catalog-expand.open:after,
.brands-expand.open:after {
  content: attr(data-show);
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.16666667;
}
.catalog-expand.open,
.brands-expand.open {
  font-size: 0;
}
.button-expand {
  font-size: 18px;
  line-height: 1.16666667;
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px;
}
.button-expand:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.button-expand.open:after {
  content: attr(data-show);
  display: inline-block;
  vertical-align: middle;
}
.button-expand.open span {
  display: none;
}
/* Home-slider */
.home-slider .slick-dots {
  bottom: 18px;
}
.home-slider .product-list__item {
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}
.home-slider__title {
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.home-slider__wrapper {
  overflow: hidden;
}
.home-slider__wrapper_as-promo {
  padding-bottom: 0;
  margin-bottom: 45px;
  height: 220px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.home-slider__wrapper_as-promo.slick-slider {
  padding-bottom: 45px;
  margin-bottom: 0;
}
.home-slider__wrapper_as-photos {
  box-sizing: content-box;
}
.home-slider__wrapper_as-photos.slick-slider {
  padding-bottom: 45px;
}
.home-slider_single-slider .slick-slider {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.home-slider_single-slider .slick-slider .list-slider {
  padding-bottom: 0;
}
.home-slider__wrapper_as-products .slick-slider {
  margin-bottom: 0;
}
.home-slider__item {
  display: block;
  height: 220px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.home-slider__item-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 30px;
  overflow-y: auto;
}
.home-slider__item-content-wrapper {
  max-width: 100%;
  max-height: 100%;
}
.home-slider__item-title {
  font-size: 28px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.18;
}
.home-slider__item-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14285714;
  overflow: hidden;
  max-height: 50px;
}
.home-slider__item-countdown {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16666667;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
}
.home-slider__item-countdown:first-child {
  margin-top: 0;
}
.list-slider {
  padding-bottom: 45px;
}
/* Brands-block */
.brands-block .slick-track {
  margin-left: auto;
  margin-right: auto;
}
.brands-list__item .brands-image {
  height: 80px;
  position: relative;
}
.brands-list__item .brands-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.action-brand .brands-nav:first-child,
.action-brands .brands-nav:first-child {
  margin-top: -20px !important;
}
/* Contacts-block */
.contacts-block {
  text-align: center;
}
.contacts-block__item {
  margin-top: 20px;
}
.contacts-block__item:first-child {
  margin-top: 0;
}
.contacts-block__title {
  font-size: 18px;
  line-height: 1.15;
  margin-bottom: 15px;
  font-weight: 500;
}
.contacts-block__btn {
  margin-bottom: 15px;
}
.contacts-block__text {
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 5px;
}
.contacts-block__text:first-child {
  margin-top: 0;
}
.contacts-block__wh {
  font-size: 14px;
}
.contacts-block__navigator {
  margin-top: 15px;
  margin-bottom: 20px;
}
.contacts-block__navigator a {
  display: block;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 40px;
  line-height: 38px;
  white-space: nowrap;
  color: #333;
}
.contacts-block__navigator a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(../img/icons/navigator_icon.svg) no-repeat;
  margin-right: 15px;
}
.messengers__list a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}
/* Advantages-block */
.advantages-block > * {
  margin-top: 20px;
}
.advantages-block > *:first-child {
  margin-top: 0;
}
.advantages-block__image {
  width: 51px;
  max-width: 51px;
  max-height: 51px;
  padding-right: 19px;
  text-align: center;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.advantages-block__image img {
  display: inline;
}
.full-version {
  display: block;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
}
/* Subscribe-block */
.subscribe-block .wa-submit {
  display: block;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  background-image: url(../img/icons/subscribe-submit-icon.svg);
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 19px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 !important;
}
.subscribe-block .wa-name {
  display: none !important;
  float: none !important;
}
.subscribe-block .wa-value {
  margin-bottom: 0 !important;
  position: static !important;
}
.subscribe-block .wa-value-input {
  margin-left: 0 !important;
  margin-right: 55px;
}
.subscribe-block .wa-fill {
  display: block;
  width: 100% !important;
}
.subscribe-block .wa-captcha {
  margin-top: 10px;
}
.subscribe-block .wa-captcha > p {
  display: table;
  width: 100%;
}
.subscribe-block .wa-captcha > p > * {
  display: inline-block;
  vertical-align: middle;
  position: static !important;
  margin-right: 10px;
}
.subscribe-block .wa-captcha .wa-captcha-input {
  width: 90px !important;
}
.subscribe-block .wa-after-submit {
  font-size: 18px;
  line-height: 1.16666667;
  text-align: left !important;
  color: #27AE60;
}
.subscribe-block .wa-after-submit:before {
  display: none !important;
}
.subscribe-block .wa-error {
  border-color: #EB5757 !important;
}
.subscribe-block .wa-errormsg {
  color: #EB5757 !important;
}
.subscribe-block__title {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
  margin-bottom: 15px;
}
.subscribe-block__description {
  margin-bottom: 15px;
}
.subscribe-block__form {
  position: relative;
}
.subscribe-block__form > div {
  width: 100% !important;
  padding: 0 !important;
}
.subscribe-block__form .wa-subscribe-form > label {
  display: block;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 14px;
  line-height: 1.14285714;
}
/* Footer */
.footer-wrapper {
  flex-shrink: 0;
}
.footer {
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer > * {
  margin-top: 20px;
}
.footer > *:first-child {
  margin-top: 0;
}
.footer-consent {
  text-align: center;
}
.footer-consent a {
  text-decoration: underline;
}
.footer-consent a:hover {
  text-decoration: none;
}
.footer-top {
  text-align: center;
  line-height: 1.15;
}
.footer-top a {
  color: #fff;
}
.footer-top > * {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-currency {
  font-size: 16px;
}
.footer-currency .jq-selectbox {
  border: none;
  height: auto;
}
.footer-currency .jq-selectbox .jq-selectbox__select {
  height: 30px;
  background: #fff;
  padding-left: 10px;
  padding-right: 27px;
}
.footer-currency .jq-selectbox .jq-selectbox__select-text {
  line-height: 30px;
}
.footer-currency .jq-selectbox .jq-selectbox__dropdown {
  border-radius: 10px;
  border: none;
}
.footer-currency .jq-selectbox .jq-selectbox__dropdown ul li {
  padding: 5px 10px;
}
.footer-currency .jq-selectbox select {
  font-size: 16px;
}
.footer-currency .jq-selectbox__trigger-arrow {
  right: 10px;
}
.footer-socials {
  text-align: center;
}
.footer-socials__title {
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;
  font-weight: 500;
}
.footer-socials__items {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}
.footer-socials__item {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.footer-socials__item a {
  display: inline-block;
  vertical-align: middle;
}
.footer-socials__item a img {
  max-width: 100%;
  max-height: 100%;
}
.footer-socials__item:before {
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
}
.footer-consent a {
  text-decoration: none;
  opacity: .55;
}
.footer-sign {
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.bodysite-copyright {
  text-align: center;
}
.bodysite-copyright a {
  color: #fff;
  text-decoration: underline;
}
.bodysite-copyright a:hover {
  text-decoration: none;
}
.webasyst-copyright {
  text-align: center;
}
.webasyst-copyright .poweredby {
  margin-top: 15px;
  text-align: center;
}
.webasyst-copyright .poweredby img {
  display: block;
  max-height: 5px;
  margin: 0 auto;
}
/* Pagination */
.paging-nav {
  text-align: center;
  margin: 30px 0;
}
.paging-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.paging-nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 5px;
}
.paging-nav li a {
  font-size: 16px;
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: #4F4F4F;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}
.paging-nav li a.inline-link {
  background: none !important;
  padding: 0;
}
.paging-nav li.selected a {
  color: #fff;
}
/* Wa-auth-form */
.wa-auth-form .wa-submit {
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 20px;
}
.wa-auth-form .wa-auth-form__info {
  font-size: 16px;
  line-height: 1.1875;
}
.wa-signup-form input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wa-login-form .wa-submit a {
  display: table-cell;
  width: 100%;
  vertical-align: baseline;
  padding-top: 20px;
}
.wa-login-form .wa-submit a:last-child {
  text-align: right;
}
.wa-forgotpassword-form .wa-submit a {
  display: table;
  margin: 20px auto 0;
}
.wa-auth-adapters__guest a {
  color: #0C3C57 !important;
}
.wa-auth-adapters__guest a:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Profiles */
#wa-my-info-read-wrapper .wa-field {
  display: table;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
}
#wa-my-info-read-wrapper .wa-field > * {
  display: table-cell;
}
#wa-my-info-read-wrapper .wa-field > * {
  vertical-align: middle;
}
#wa-my-info-read-wrapper .wa-field:first-child {
  margin-top: 0;
}
#wa-my-info-read-wrapper .wa-field .wa-name {
  color: #BDBDBD;
  width: 110px;
  padding-right: 10px;
}
#wa-my-info-read-wrapper .wa-field img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#wa-my-info-edit {
  margin-top: 5px;
}
.wa-connect__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  margin-bottom: 15px;
}
#wa-my-info-cancel {
  margin-top: 10px;
}
.profile-header {
  margin-bottom: 15px;
}
.profile-updated {
  text-align: right;
  color: #27AE60;
}
#wa-my-info-edit-wrapper .wa-field-password {
  text-align: center;
}
#wa-my-info-edit-wrapper .wa-field-password .wa-value a {
  display: block;
  font-size: 18px;
  line-height: 1.16666667;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  border-radius: 5px;
}
#wa-my-info-edit-wrapper .wa-field-photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#wa-my-info-edit-wrapper .wa-field-photo .wa-value > span {
  display: block;
}
#wa-my-info-edit-wrapper .wa-field-photo .wa-value > span a {
  font-size: 0;
}
#wa-my-info-edit-wrapper .wa-field-photo .wa-value > span a:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/icons/close-icon_grey.svg) no-repeat center;
  background-size: contain;
  margin-top: 10px;
}
@media all and (min-width: 480px) {
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value img {
    margin-right: 20px;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value .jq-file {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value .jq-file .jq-file__browse {
    margin-right: 20px;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value .jq-file__browse {
    order: -1;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value p {
    margin: 0 !important;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value > span {
    order: 1;
    margin-left: 20px;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .wa-value > span a:before {
    margin-top: 4px;
  }
}
@media all and (max-width: 479px) {
  #wa-my-info-edit-wrapper .wa-field-photo {
    text-align: center;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .jq-file > * {
    margin-top: 10px;
  }
  #wa-my-info-edit-wrapper .wa-field-photo .jq-file > *:first-child {
    margin-top: 0;
  }
}
/** Стилизация плагинов **/
/* СЕО-регионы */
.shop-regions-window {
  text-align: center;
}
.shop-regions-window .selected_region .shop-regions__link {
  color: #333;
  text-decoration: none;
  font-weight: 400;
}
.shop-regions-window_show {
  background: rgba(0, 0, 0, 0.7) !important;
}
.shop-regions-window_show:after {
  content: '';
  height: 100%;
}
.shop-regions__button-close {
  position: absolute !important;
  top: 60px !important;
  left: 0 !important;
  right: 0 !important;
}
.shop-regions-window__wrapper {
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: auto !important;
  width: auto !important;
  margin: 0 !important;
  position: relative !important;
  max-height: 100% !important;
  overflow-y: auto;
  border-radius: 0 !important;
  padding: 125px 30px 15px !important;
}
.shop-regions-window__search {
  margin-bottom: 35px !important;
  padding: 0 !important;
}
.shop-regions-window__search .shop-regions-window__sub-header {
  display: none;
}
.shop-regions-window__search .shop-regions-window__sub-subheader {
  display: none;
}
.shop-regions-window__sub-header {
  font-size: 18px !important;
  color: #333 !important;
  margin-bottom: 10px;
  font-weight: 500;
}
.shop-regions__button-close-inner,
.shop-regions__button-close {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16666667;
  color: #fff;
  text-align: center;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 50px;
  padding-right: 50px;
  background: #333;
  position: relative;
  height: 50px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 50px !important;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shop-regions__button-close-inner,
.shop-regions__button-close,
.shop-regions__button-close-inner h1,
.shop-regions__button-close h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shop-regions__button-close-inner:before,
.shop-regions__button-close:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/icons/back-icon.svg) center no-repeat;
  background-size: contain;
  left: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.shop-regions__button-close {
  font-size: 0;
}
.shop-regions__button-close:after {
  content: 'Выбор города';
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shop-regions-window__sub-header {
  margin-bottom: 15px;
}
.shop-regions-window-search {
  position: relative;
  width: 100% !important;
}
.shop-regions-window-search #shop-regions-window-search-input {
  width: 100%;
  padding-right: 50px;
  background-position: center right 20px;
  background-size: 18px;
  background-repeat: no-repeat;
}
.shop-regions-window-search > * {
  display: inline-block !important;
}
.shop-regions-window-search .shop-regions-window-search__button {
  color: #fff !important;
  box-shadow: none !important;
  border: none !important;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  font-size: 0;
  width: 18px !important;
  height: 18px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: auto !important;
}
.shop-regions__window .shop-regions-window__regions {
  margin: 0;
  padding: 0 !important;
}
.shop-regions__window .shop-regions-window__regions.search_result {
  margin: 0 !important;
}
.shop-regions__window .shop-regions-window__regions .shop-regions__link {
  display: block;
  text-align: left;
  padding: 19px 30px !important;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0;
  margin-left: -30px;
  margin-right: -30px;
  font-size: 18px;
  text-decoration: none;
}
.shop-regions__window .shop-regions-window__regions .shop-regions-window__region {
  margin-bottom: 0 !important;
}
.shop-regions__window .shop-regions-window__regions .shop-regions-window__region:after {
  display: none !important;
}
.shop-regions__window .shop-regions-window__regions-column {
  float: none !important;
  width: auto !important;
}
.shop-regions__window .shop-regions-window__regions-column:last-child .shop-regions-window__region:last-child .shop-regions__link {
  border-bottom-width: 1px;
}
.shop-regions__window .shop-regions-window__triggers {
  padding: 0 !important;
  margin-top: 20px;
}
.shop-regions__window .shop-regions__link_pseudo {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
}
.shop-regions__window .shop-regions__link_pseudo:first-letter {
  text-transform: capitalize;
}
.shop-regions__window .shop-regions-window__regions_all {
  margin-top: 20px;
}
.shop-regions__window .shop-regions-window__regions-letter {
  display: none !important;
}
.js-shop-region-window_regions_and_cities.without_regions {
  overflow: visible !important;
  max-height: inherit !important;
}
.shop-regions__ip-analyzer-variants {
  display: none !important;
}
@media all and (max-width: 479px) {
  .shop-regions-window-search > * {
    display: block !important;
    width: 100% !important;
  }
  .shop-regions-window-search__button {
    margin-top: 10px;
  }
}
/* Купить в 1 клик */
.plugin_arrived-value.submit input,
#storequickorder .submit-button,
.quickorder-wrap .quickorder-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 9.5px 10px;
  text-align: center;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.1875;
}
.plugin_arrived-value.submit input[disabled="disabled"],
#storequickorder .submit-button[disabled="disabled"],
.quickorder-wrap .quickorder-button[disabled="disabled"] {
  background: #BDBDBD;
  color: #fff;
  cursor: pointer;
}
.plugin_arrived-value.submit input.btn_loading,
#storequickorder .submit-button.btn_loading,
.quickorder-wrap .quickorder-button.btn_loading {
  color: transparent;
}
.plugin_arrived-value.submit input.btn_loading:after,
#storequickorder .submit-button.btn_loading:after,
.quickorder-wrap .quickorder-button.btn_loading:after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/loading.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: loading .6s linear infinite;
}
/* Наклейки */
.product-page .product-header,
.product-list-rows .product-list__item,
.product-list__image .product-list__image-container {
  position: relative;
}
/* Плашка smartbanner */
#smartbanner {
  position: fixed !important;
  top: 0 !important;
  z-index: 999999 !important;
}
@media all and (max-width: 399px) {
  .profile-header > * {
    display: block !important;
    text-align: left;
  }
  .profile-updated {
    margin: 10px 0;
  }
}
/* helpdesk temporary */
.app-helpdesk .faq-category .answer {
  margin-top: 0;
}
/* Searchsmart */
.ssearch-wrapper .ssearch-result-box {
  padding-bottom: 0 !important;
  overflow-x: visible !important;
  overflow-y: auto !important;
}
.ssearch-wrapper .ssearch-all-result {
  position: static !important;
}
.ssearch-wrapper .ssearch-box .ssearch-right {
  font-size: 0;
}
.ssearch-wrapper .ssearch-box .ssearch-right > * {
  font-size: 14px;
  line-height: 1.14285714;
}
.ssearch-wrapper .ssearch-key-box {
  margin: 0 !important;
}
.ssearch-wrapper .ssearch-key-box input {
  padding-left: 15px !important;
  padding-right: 80px !important;
}
/* SearchPro */
.search-block .searchpro__field {
  width: auto;
}
.search-block .searchpro__field .searchpro__field-container {
  height: 40px;
}
.search-block .searchpro__dropdown {
  max-height: 75vh;
}
.search-block .searchpro__dropdown .searchpro__dropdown-entity_name {
  white-space: normal;
}
.searchpro__page-mobile {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 15px;
}
.searchpro__page-mobile .searchpro__page-mobile-sort_select .jq-selectbox__select {
  border-radius: 5px !important;
  padding-left: 20px !important;
  padding-right: 32px !important;
  position: relative !important;
  border: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.searchpro__page-mobile .searchpro__page-mobile-sort_select .jq-selectbox__select .jq-selectbox__select-text {
  width: auto !important !important;
  line-height: 38px !important;
  font-size: 16px !important;
}
.searchpro__page-mobile .searchpro__page-mobile-sort_select .jq-selectbox__select:after {
  display: none !important;
}
.searchpro__page-mobile .searchpro__page-mobile-sort {
  flex-grow: 1;
}
.searchpro__page-mobile .searchpro__page-mobile-sort_item {
  color: #333 !important;
}
.searchpro__page-mobile .searchpro__page-mobile-sort .jq-selectbox {
  display: block;
}
.searchpro__page-mobile .jq-selectbox__select-text {
  margin-right: 10px;
}
.searchpro__page-empty_header,
.searchpro__page-empty_block-header {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 1.16666667 !important;
  margin-bottom: 15px !important;
  text-align: center;
}
.searchpro__page-empty .searchpro__page-empty_delimiter {
  margin-bottom: 35px !important;
}
.searchpro__page-sort {
  display: none !important;
}
.searchpro__page-filters .searchpro__page-filters_helper {
  display: none !important;
}
@media all and (min-width: 751px) {
  .searchpro__page-mobile .searchpro__page-mobile-filters {
    padding-left: 15px;
  }
  .searchpro__page-mobile .searchpro__page-mobile-filters_button {
    width: 38px;
    height: 38px;
    line-height: normal;
    background-color: #f2994a;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: none;
    outline: none;
  }
  .searchpro__page-mobile .searchpro__page-mobile-filters_button:before {
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20fill%3D%22%23fff%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M3.33333%208.16669C3.83333%208.16669%204.16667%207.83335%204.16667%207.33335V1.50002C4.16667%201.00002%203.83333%200.666687%203.33333%200.666687C2.83333%200.666687%202.5%201.00002%202.5%201.50002V7.33335C2.5%207.83335%202.83333%208.16669%203.33333%208.16669Z%22%20fill%3D%22%23fff%22%2F%3E%0A%3Cpath%20d%3D%22M10.0003%208.16669C9.50033%208.16669%209.16699%208.50002%209.16699%209.00002V16.5C9.16699%2017%209.50033%2017.3334%2010.0003%2017.3334C10.5003%2017.3334%2010.8337%2017%2010.8337%2016.5V9.00002C10.8337%208.50002%2010.5003%208.16669%2010.0003%208.16669Z%22%20fill%3D%22%23fff%22%2F%3E%0A%3Cpath%20d%3D%22M16.6663%209.83335C17.1663%209.83335%2017.4997%209.50002%2017.4997%209.00002V1.50002C17.4997%201.00002%2017.1663%200.666687%2016.6663%200.666687C16.1663%200.666687%2015.833%201.00002%2015.833%201.50002V9.00002C15.833%209.50002%2016.1663%209.83335%2016.6663%209.83335Z%22%20fill%3D%22%23fff%22%2F%3E%0A%3Cpath%20d%3D%22M5.83333%209.83336H0.833333C0.333333%209.83336%200%2010.1667%200%2010.6667C0%2011.1667%200.333333%2011.5%200.833333%2011.5H2.5V16.5C2.5%2017%202.83333%2017.3334%203.33333%2017.3334C3.83333%2017.3334%204.16667%2017%204.16667%2016.5V11.5H5.83333C6.33333%2011.5%206.66667%2011.1667%206.66667%2010.6667C6.66667%2010.1667%206.33333%209.83336%205.83333%209.83336Z%22%20fill%3D%22%23fff%22%2F%3E%0A%3Cpath%20d%3D%22M12.5003%204.83335H10.8337V1.50002C10.8337%201.00002%2010.5003%200.666687%2010.0003%200.666687C9.50033%200.666687%209.16699%201.00002%209.16699%201.50002V4.83335H7.50033C7.00033%204.83335%206.66699%205.16669%206.66699%205.66669C6.66699%206.16669%207.00033%206.50002%207.50033%206.50002H12.5003C13.0003%206.50002%2013.3337%206.16669%2013.3337%205.66669C13.3337%205.16669%2013.0003%204.83335%2012.5003%204.83335Z%22%20fill%3D%22%23fff%22%2F%3E%0A%3Cpath%20d%3D%22M19.1663%2011.5H14.1663C13.6663%2011.5%2013.333%2011.8333%2013.333%2012.3333C13.333%2012.8333%2013.6663%2013.1667%2014.1663%2013.1667H15.833V16.5C15.833%2017%2016.1663%2017.3333%2016.6663%2017.3333C17.1663%2017.3333%2017.4997%2017%2017.4997%2016.5V13.1667H19.1663C19.6663%2013.1667%2019.9997%2012.8333%2019.9997%2012.3333C19.9997%2011.8333%2019.6663%2011.5%2019.1663%2011.5Z%22%20fill%3D%22%23fff%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
  }
  .searchpro__page-sidebar {
    display: none !important;
  }
  .searchpro__page-content {
    width: auto !important;
    max-width: 100%;
  }
}
/* Новые формы */
.wa-captcha-section .wa-captcha-input {
  margin: 0;
}
.wa-captcha-section .wa-captcha-code {
  margin-top: 15px;
}
.wa-login-forgotpassword-url {
  display: inline-block;
  margin-top: 10px;
}
.wa-login-form-actions {
  margin-top: 15px;
}
.wa-login-form-actions .wa-signup-url {
  margin-top: 15px;
}
.wa-forgotpassword-button,
.wa-login-url {
  margin-top: 15px;
}
.wa-info-msg {
  font-size: 16px;
  line-height: 1.1875;
}
.wa-auth-adapter-twitter a:after {
  content: 'Twitter';
}
.wa-auth-adapter-mailru a:after {
  content: 'Mail.Ru';
}
.wa-auth-adapter-facebook a:after {
  content: 'Facebook';
}
.wa-auth-adapter-google a:after {
  content: 'Google';
}
.wa-auth-adapter-vkontakte a:after {
  content: 'ВКонтакте';
}
.wa-auth-adapter-yandex a:after {
  content: 'Яндекс';
}
/* wa-order-dialog */
.wa-order-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.wa-order-dialog .wa-dialog-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
}
.wa-order-dialog .wa-dialog-body {
  text-align: center;
  left: auto !important;
  top: auto !important;
  position: relative;
  padding: 15px;
  background: #fff;
}
.wa-order-dialog .wa-dialog-body > * {
  margin-bottom: 15px;
}
.wa-order-dialog .wa-dialog-body > *:last-child {
  margin-bottom: 0;
}
.wa-order-dialog .wa-dialog-body .wa-header {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
}
.wa-order-dialog .wa-dialog-body .wa-close-wrapper {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%3Ctitle%3Eclose_icon%3C%2Ftitle%3E%0A%3Cdesc%3ECreated%20using%20Figma%3C%2Fdesc%3E%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate(-2596%20-155)%22%3E%0A%3Cg%20id%3D%22close_icon%22%3E%0A%3Cuse%20xlink%3Ahref%3D%22%23path0_fill%22%20transform%3D%22translate(2596%20155)%22%20fill%3D%22%23fff%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cpath%20id%3D%22path0_fill%22%20d%3D%22M%2014%201.41L%2012.59%200L%207%205.59L%201.41%200L%200%201.41L%205.59%207L%200%2012.59L%201.41%2014L%207%208.41L%2012.59%2014L%2014%2012.59L%208.41%207L%2014%201.41Z%22%2F%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: -15px;
  right: -15px;
}
.wa-order-dialog .wa-dialog-body .wa-close-wrapper .wa-icon {
  display: none;
}
.wa-order-dialog .wa-dialog-footer {
  margin-top: -5px;
  margin-bottom: -5px;
}
.wa-order-dialog .wa-dialog-footer .wa-button {
  margin: 5px;
}
.wa-order-dialog .wa-dialog-footer .wa-button.gray {
  background: #EB5757;
}
.wa-order-dialog.wa-auth-dialog-wrapper {
  justify-content: stretch;
  align-items: stretch;
  padding: 0;
  height: 100vh;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-dialog-body {
  padding: 30px;
  text-align: left;
  height: 100%;
  overflow-y: auto;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-close-wrapper {
  top: 15px;
  right: 15px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%3Ctitle%3Eclose_icon%3C%2Ftitle%3E%0A%3Cdesc%3ECreated%20using%20Figma%3C%2Fdesc%3E%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate(-2596%20-155)%22%3E%0A%3Cg%20id%3D%22close_icon%22%3E%0A%3Cuse%20xlink%3Ahref%3D%22%23path0_fill%22%20transform%3D%22translate(2596%20155)%22%20fill%3D%22%23828282%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cpath%20id%3D%22path0_fill%22%20d%3D%22M%2014%201.41L%2012.59%200L%207%205.59L%201.41%200L%200%201.41L%205.59%207L%200%2012.59L%201.41%2014L%207%208.41L%2012.59%2014L%2014%2012.59L%208.41%207L%2014%201.41Z%22%2F%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-dialog-content {
  height: auto !important;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-adapters-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-adapters-list > li {
  margin-right: 10px;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-adapters-list > li:last-child {
  margin-right: 0;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-section-header,
.wa-order-dialog.wa-auth-dialog-wrapper .wa-section-divider {
  font-size: 16px;
  line-height: 1.1875;
  color: #828282;
  margin-bottom: 15px;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-section-divider {
  margin-top: 15px;
}
.wa-order-dialog.wa-auth-dialog-wrapper .wa-signup-form-actions {
  margin-top: 15px;
}
.wa-dropdown {
  position: relative;
}
.wa-dropdown.wa-error > .wa-dropdown-toggle {
  border-color: #EB5757;
}
.wa-dropdown-toggle {
  font-size: 16px;
  line-height: 1.19;
  color: #333;
  height: 40px;
  border: 1px solid;
  max-width: 100%;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 32px;
  position: relative;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wa-dropdown-toggle .jq-selectbox__select-text {
  width: auto !important;
  line-height: 38px;
  font-size: 16px;
}
.wa-dropdown-toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 12px;
  height: 8px;
  background: url(../img/icons/select-arrow.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.wa-dropdown-area {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  min-width: 100%;
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  margin-top: 3px;
}
.wa-dropdown-area.right {
  left: auto;
  right: 0;
}
.wa-dropdown-area > *:first-child {
  margin-top: 0;
}
.wa-dropdown-area > *:last-child {
  margin-bottom: 0;
}
.wa-dropdown-area > .wa-dropdown-item {
  display: block;
  padding: 10px 20px;
  margin: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 200ms linear;
  -moz-transition: 200ms linear;
  -o-transition: 200ms linear;
  -ms-transition: 200ms linear;
  transition: 200ms linear;
}
.wa-dropdown-area > .wa-dropdown-item:first-child {
  border-top: 0;
}
.wa-dropdown-area > .wa-dropdown-item.is-selected {
  cursor: default;
  font-weight: bold;
}
.wa-dropdown.is-opened:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
}
.wa-dropdown.is-opened > .wa-dropdown-area {
  display: block;
  z-index: 1000;
}
.order-page__checkout .wa-type-wrapper .s-radio {
  vertical-align: bottom;
}
.order-page__checkout .wa-type-wrapper.is-active .s-radio {
  vertical-align: bottom;
}
.order-page__checkout .wa-type-wrapper.is-active .s-radio > span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
