h1 { color: #864413; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #BF6B09; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #BB5912; background: #D74E00; background: linear-gradient(to bottom,  #E65C01 0%,#D74E00 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #E65C01; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #D74E00; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #E57625; background: linear-gradient(to bottom,  #E57625 0%,#CC6113 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #864413; }
#header .pages_list_button.active { background: #CC6113; }
#header .one_block span { background: #317d98 !important; background: linear-gradient(to bottom,  #317d98 0%,#226e89 100%) !important; }

.pages_list { background-color: #CC6113; border-top: 2px solid #FAE9DD; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #CC6113; }
.pages_list:after { border-bottom: 12px solid #FAE9DD; }
.pages_list li { border-bottom: 1px solid #864413; }
.pages_list li:not(:first-child) { border-top: 1px solid #FAE9DD; }

#search_block { background-color: #FAE9DD; }

.main_title { color: #864413; border-bottom: 2px solid #FAE9DD; background-color: #FFF7F0; }

#brand-page .sub-categories { border-top: 2px solid #FAE9DD; }

#catalog > div a,
.fast_cat_list > div a { color: #864413; }
#catalog > div i,
.fast_cat_list > div i { color: #D74E00; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#FFF7F0 100%); border-bottom: 2px solid #FAE9DD; }
#catalog .category:first-of-type { border-top: 2px solid #FAE9DD; }
#catalog .subcategory { background-color: #FFF7F0; border-bottom: 2px solid #FAE9DD; }

.fast_select_cat { background: #E57625; background: linear-gradient(to bottom,  #E57625 0%,#CC6113 100%); border: 1px solid #BF6B09; }
.fast_cat_list { border: 1px solid #BF6B09; background-color: #FAE9DD; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #BF6B09; }

.sort_view_wrap .view > div { background: #E57625; background: linear-gradient(to bottom,  #E57625 0%,#CC6113 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #E57625; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #BF6B09; }

.product-list .price { background-color: #FAE9DD; }

.paging-nav li.selected a { background-color: #CC6113; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#FFF7F0 100%); border-top: 2px solid #FAE9DD; border-bottom: 2px solid #FAE9DD; }

.features p:nth-child(2n+1) { background-color: #FFF7F0; }

.price,
.cart .item-total,
.cart .cart-discount { color: #d9640e; }

.cart_item .price > span { background-color: #FAE9DD; }
.cart_item .recalc { background-color: #FAE9DD; border: 2px solid #BF6B09; }

#contact_block { background-color: #864413; }
#contact_block .number { background: #FFDCB5; background: linear-gradient(to bottom,  #FFDCB5 0%,#FF9035 100%); border: 1px solid #BB5912; }

#footer { background-color: #864413; }
#footer .copyright { border-bottom: 2px solid #FAE9DD; }
#footer .social { border-top: 1px solid #002242; }