h1 { color: #940f37; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #A13453; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #750C2B; background: #A72B50; background: linear-gradient(to bottom,  #981C41 0%,#A72B50 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #981C41; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #A72B50; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #AC3A5C; background: linear-gradient(to bottom,  #AC3A5C 0%,#942043 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #940f37; }
#header .pages_list_button.active { background: #942043; }

.pages_list { background-color: #942043; border-top: 2px solid #FBD2DE; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #942043; }
.pages_list:after { border-bottom: 12px solid #FBD2DE; }
.pages_list li { border-bottom: 1px solid #940f37; }
.pages_list li:not(:first-child) { border-top: 1px solid #FBD2DE; }

#search_block { background-color: #FBD2DE; }

.main_title { color: #940f37; border-bottom: 2px solid #FBD2DE; background-color: #FFF6FF; }

#brand-page .sub-categories { border-top: 2px solid #FBD2DE; }

#catalog > div a,
.fast_cat_list > div a { color: #940f37; }
#catalog > div i,
.fast_cat_list > div i { color: #A72B50; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#FFF6FF 100%); border-bottom: 2px solid #FBD2DE; }
#catalog .category:first-of-type { border-top: 2px solid #FBD2DE; }
#catalog .subcategory { background-color: #FFF6FF; border-bottom: 2px solid #FBD2DE; }

.fast_select_cat { background: #AC3A5C; background: linear-gradient(to bottom,  #AC3A5C 0%,#942043 100%); border: 1px solid #A13453; }
.fast_cat_list { border: 1px solid #A13453; background-color: #FBD2DE; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #A13453; }

.sort_view_wrap .view > div { background: #AC3A5C; background: linear-gradient(to bottom,  #AC3A5C 0%,#942043 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #AC3A5C; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #A13453; }

.product-list .price { background-color: #FBD2DE; }

.paging-nav li.selected a { background-color: #942043; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#FFF6FF 100%); border-top: 2px solid #FBD2DE; border-bottom: 2px solid #FBD2DE; }

.features p:nth-child(2n+1) { background-color: #FFF6FF; }

.price,
.cart .item-total,
.cart .cart-discount { color: #a22047; }

.cart_item .price > span { background-color: #FBD2DE; }
.cart_item .recalc { background-color: #FBD2DE; border: 2px solid #A13453; }

#contact_block { background-color: #940f37; }
#contact_block .number { background: #FFDEE9; background: linear-gradient(to bottom,  #FFDEE9 0%,#FF9ABC 100%); border: 1px solid #750C2B; }

#footer { background-color: #940f37; }
#footer .copyright { border-bottom: 2px solid #FBD2DE; }
#footer .social { border-top: 1px solid #002242; }