h1 { color: #e0b20d; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #e0b20d; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #b99204; background: #e0b20d; background: linear-gradient(to bottom,  #ffcc14 0%,#e0b20d 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #ffcc14; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #e0b20d; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #ffcc14; background: linear-gradient(to bottom,  #ffcc14 0%,#e0b20d 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #e0b20d; }
#header .pages_list_button.active { background: #e0b20d; }

.pages_list { background-color: #e0b20d; border-top: 2px solid #000000; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #e0b20d; }
.pages_list:after { border-bottom: 12px solid #000000; }
.pages_list li { border-bottom: 1px solid #e0b20d; }
.pages_list li:not(:first-child) { border-top: 1px solid #000000; }

#search_block { background-color: #000000; }

.main_title { color: #e0b20d; border-bottom: 2px solid #e0b20d; background-color: #F3EEDC; }

#brand-page .sub-categories { border-top: 2px solid #e0b20d; }

#catalog > div a,
.fast_cat_list > div a { color: #e0b20d; }
#catalog > div i,
.fast_cat_list > div i { color: #e0b20d; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F3EEDC 100%); border-bottom: 2px solid #e0b20d; }
#catalog .category:first-of-type { border-top: 2px solid #e0b20d; }
#catalog .subcategory { background-color: #F3EEDC; border-bottom: 2px solid #e0b20d; }

.fast_select_cat { background: #ffcc14; background: linear-gradient(to bottom,  #ffcc14 0%,#e0b20d 100%); border: 1px solid #e0b20d; }
.fast_cat_list { border: 1px solid #e0b20d; background-color: #F3E8BF; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #e0b20d; }

.sort_view_wrap .view > div { background: #ffcc14; background: linear-gradient(to bottom,  #ffcc14 0%,#e0b20d 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #ffcc14; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #e0b20d; }

.product-list .price { background-color: #F3E8BF; }

.paging-nav li.selected a { background-color: #e0b20d; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F3E8BF 100%); border-top: 2px solid #000000; border-bottom: 2px solid #000000; }

.features p:nth-child(2n+1) { background-color: #F3E8BF; }

.price,
.cart .item-total,
.cart .cart-discount { color: #000000; }

.cart_item .price > span { background-color: #F3E8BF; }
.cart_item .recalc { background-color: #F3E8BF; border: 2px solid #e0b20d; }

#contact_block { background-color: #e0b20d; }
#contact_block .number { background: #F3E8BF; background: linear-gradient(to bottom,  #F3E8BF 0%,#FFE26E 100%); border: 1px solid #b99204; }

#footer { background-color: #e0b20d; }
#footer .copyright { border-bottom: 2px solid #000000; }
#footer .social { border-top: 1px solid #002242; }