.box-modal {
	position: relative;
	width: 500px;
	padding: 16px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px;
}
.box-modal_close { position: absolute; right: 30px; top: 23px; font-size: 11px; line-height: 15px; color: #fff; cursor: pointer; }
.box-modal_close:hover { color: #666; }

.shop-preorder-plugin-form-wr b	{
background: #3397db;
display: inline-block;
width: 100%;
padding: 5px;
color: #fff;
}