#theme-settings {
  margin-right: 15px;
}
.custom-theme-contents {
  padding: 30px 10px 0;
}
.custom-theme-contents__item {
  display: none;
}
.custom-theme-contents__item_active {
  display: block;
  margin-bottom: 30px;
}
.custom-theme-settings .heading {
  color:#333;
  text-transform: none;
}
.custom-theme-settings .heading br {
  display: none;
}
.field__header {
  margin-bottom: 25px;
  font-size: 32px;
}
.field__header-description, .field__sub-group-divider  {
  font-size: 24px;
  color: #999999;
  margin-top: 30px;
}
.field__sub-group-divider {
  font-weight: 700;
  margin-bottom: 30px;
}
.custom-theme-settings {
  margin-top: 20px;
}
.custom-theme-settings img {
  max-width: 100%;
  max-height: 100%;
}
.custom-theme-settings .image img {
  max-height: 200px;
}
.custom-theme-settings .field {
  margin-top: 15px;
  position: relative;
}
.custom-theme-settings .field > * {
  display: block;
  float: none;
  margin: 0;
  width: auto;
}
.custom-theme-settings .name {
  color:#333;
  padding: 0;
  font-size: 14px;
}
.custom-theme-settings .value label:first-child {
  display: table;
}
.custom-theme-settings .value label:after {
  content: '';
  display: block;
  margin-bottom: 10px;
}
.custom-theme-settings .value input[type="text"],
.custom-theme-settings .value textarea,
.custom-theme-settings .value select {
  width: auto;
  min-width: 435px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-theme-settings .value input[type="text"],
.custom-theme-settings .value select {
  height: 24px;
}
.field__sub-group-title {
  font-weight: 700;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.field__sub-group-info {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Стилизация пунктов настроек */
.custom-theme-contents .value .hint,
.custom-theme-contents .value .hint__description {
  max-width: 435px;
  font-size: 11px;
  color: #333;
  margin-top: 5px;
}
.field__seo_metrika_code .value .hint {
  margin-left: 250px;
}
.custom-theme-contents .field {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.custom-theme-contents .name, .field__sub-group-name {
  width: 210px;
  margin-right: 40px;
}
.field__sub-group-name {
  margin-bottom: 10px;
  font-size: 14px;
  float: left;
}

/* Частные случаи */
.field__color_scheme .field__sub-group-name {
  position: relative;
  top:15px;
}
.field__custom_color_scheme_enable .value {
  display: flex;
  align-items: center;
}
.field__subscribe_visibility .value,
.field__home_brands_visibility .value,
.field__home_slider_source .value
{
  display: flex;
  flex-wrap: wrap;
  max-width: 435px;
}

/* Сброс настроек для элементов */
.field__logo,
.field__color_scheme,
.field__custom_fillets,
.field__custom_font,
.field__contacts_display,
.field__advantages_display,
.field__full_version_on,
.field__vk_link,
.field__elements_search,
.field__menu_regions_enable,
.field__home_slider_source,
.field__catalog_title,
.field__home_brands_visibility,
.field__enable_home_product_set,
.field__subscribe_visibility,
.field__category_description_position,
.field__category_view_rows_enable,
.field__default_filter_view,
.field__selectable_features_control,
.field__product_tab_enable_1,
.field__seo_metrika_code,
.field__long_lists,
.field__seo_metrika_code,
.field__header_phone
{
  display: block !important;
}
.field__logo .name,
.field__color_scheme .name,
.field__custom_fillets .name,
.field__custom_font .name,
.field__contacts_display .name,
.field__advantages_display .name,
.field__full_version_on .name,
.field__vk_link .name,
.field__elements_search .name,
.field__menu_regions_enable .name,
.field__home_slider_source .name,
.field__catalog_title .name,
.field__home_brands_visibility .name,
.field__enable_home_product_set .name,
.field__subscribe_visibility .name,
.field__category_description_position .name,
.field__category_view_rows_enable .name,
.field__default_filter_view .name,
.field__selectable_features_control .name,
.field__product_tab_enable_1 .name,
.field__seo_metrika_code .name,
.field__long_lists .name,
.field__seo_metrika_code .name,
.field__header_phone .name
{
  width: auto !important;
}
.field__custom_color_scheme_enable .value .hint,
.field__full_version_on .value .hint,
.field__webasyst_copy_on .value .hint,
.field__bodysite_copy_on .value .hint,
.field__currency_selector_on .value .hint,
.field__elements_search .value .hint,
.field__smart_search_enable .value .hint,
.field__menu_regions_enable .value .hint,
.field__elements_compare .value .hint,
.field__elements_favorites .value .hint,
.field__elements_show_if_is_not_empty .value .hint,
.field__topmenu_catalog_enable .value .hint,
.field__topmenu_menu_enable .value .hint,
.field__menu_profile_enable .value .hint,
.field__catalog_logo_enable .value .hint,
.field__catalog_lables_enable .value .hint,
.field__shop_lazyloading .value .hint,
.field__category_view_rows_enable .value .hint,
.field__category_view_thumbs_enable .value .hint,
.field__category_show_buy_btn .value .hint,
.field__category_show_product_stock .value .hint,
.field__category_show_reviews_count .value .hint,
.field__sort_by_name_enable .value .hint,
.field__sort_by_low_price_enable .value .hint,
.field__sort_by_hight_price_enable .value .hint,
.field__sort_by_hight_rating_enable .value .hint,
.field__sort_by_low_rating_enable .value .hint,
.field__sort_by_low_selling_enable .value .hint,
.field__sort_by_hight_selling_enable .value .hint,
.field__sort_by_stock_enable .value .hint,
.field__sort_by_date_enable .value .hint,
.field__product_show_categories .value .hint,
.field__product_show_tags .value .hint,
.field__product_show_share .value .hint,
.field__product_show_stock .value .hint,
.field__product_tab_enable_1 .value .hint,
.field__product_tab_enable_2 .value .hint,
.field__product_tab_enable_3 .value .hint,
.field__search_suggestions_enable .value .hint,
.field__search_history_enable .value .hint,
.field__enable_home_product_set .value .hint,
.field__category_show_brands .value .hint,
.field__home_catalog_lables_enable .value .hint,
.field__product_hide_summary .value .hint,
.field__category_show_compare .value .hint,
.field__category_show_favorite .value .hint,
.field__product_show_sku .value .hint,
.field__category_show_sku .value .hint,
.field__catalog_plugin_arrived_enable .value .hint
{
  margin: 0 0 0 5px;
  font-size: 14px;
}
.field__full_version_on .value,
.field__webasyst_copy_on .value,
.field__bodysite_copy_on .value,
.field__currency_selector_on .value,
.field__elements_search .value,
.field__smart_search_enable .value,
.field__menu_regions_enable .value,
.field__elements_compare .value,
.field__elements_favorites .value,
.field__elements_show_if_is_not_empty .value,
.field__topmenu_catalog_enable .value,
.field__topmenu_menu_enable .value,
.field__menu_profile_enable .value,
.field__catalog_logo_enable .value,
.field__catalog_lables_enable .value,
.field__shop_lazyloading .value,
.field__category_view_rows_enable .value,
.field__category_view_thumbs_enable .value,
.field__category_show_buy_btn .value,
.field__category_show_product_stock .value,
.field__category_show_reviews_count .value,
.field__sort_by_name_enable .value,
.field__sort_by_low_price_enable .value,
.field__sort_by_hight_price_enable .value,
.field__sort_by_hight_rating_enable .value,
.field__sort_by_low_rating_enable .value,
.field__sort_by_low_selling_enable .value,
.field__sort_by_hight_selling_enable .value,
.field__sort_by_stock_enable .value,
.field__sort_by_date_enable .value,
.field__product_show_categories .value,
.field__product_show_tags .value,
.field__product_show_share .value,
.field__product_show_stock .value,
.field__product_tab_enable_1 .value,
.field__product_tab_enable_2 .value,
.field__product_tab_enable_3 .value,
.field__search_suggestions_enable .value,
.field__search_history_enable .value,
.field__enable_home_product_set .value,
.field__category_show_brands .value,
.field__home_catalog_lables_enable .value,
.field__product_hide_summary .value,
.field__category_show_compare .value,
.field__category_show_favorite .value,
.field__product_show_sku .value,
.field__category_show_sku .value,
.field__catalog_plugin_arrived_enable .value
{
  display: flex;
  align-items: flex-start ;
  width: 435px;
}
.field__logo .field__sub-group-title,
.field__elements_search .field__sub-group-title,
.field__category_description_position .field__sub-group-title,
.field__seo_metrika_code .field__sub-group-title {
  margin-top: 0;
}
.field__product_tab_content_1,
.field__product_tab_content_2,
.field__product_tab_content_3 {
  align-items: flex-start !important;
}