{strip}

{$wa->globals("showWidgets", true)}

{function name="_renderSlider" promocards=[] products=[] type=""}
    {include file="home.slider.html" promocards=$promocards products=$products type=$type inline}
{/function}

{$wa->globals("isShopHome", true)}
{$wa->globals("showBottomBanner", true)}
{$_promocards = $wa->shop->promos('link', '900')}

{$_show_product_actions = false}
{if !empty($theme_settings.show_product_actions_on_main_page)}
    {$_show_product_actions = true}
{/if}

<div class="s-home-wrapper">

    {* SLIDER *}
    {if $theme_settings.slider_mode === "promos"}
        {if !empty($_promocards)}
            {_renderSlider promocards=$_promocards type="wide"}
        {/if}

    {elseif $theme_settings.slider_mode === "promos_without_mask"}
        {if !empty($_promocards)}
            {_renderSlider promocards=$_promocards type="wide" hide_mask=true}
        {/if}

    {elseif $theme_settings.slider_mode === "products"}
        {$_list_id = "bestsellers"}
        {if !empty($theme_settings.slider_product_list_id)}
            {$_list_id = $theme_settings.slider_product_list_id}
        {/if}
        {$_slider_products = $wa->shop->productSet($_list_id)}

        {if !empty($_slider_products)}
            {_renderSlider products=$_slider_products}
        {/if}

    {elseif $theme_settings.slider_mode === "products_wide"}
        {$_list_id = "bestsellers"}
        {if !empty($theme_settings.slider_product_list_id)}
            {$_list_id = $theme_settings.slider_product_list_id}
        {/if}
        {$_slider_products = $wa->shop->productSet($_list_id)}

        {if !empty($_slider_products)}
            {_renderSlider products=$_slider_products type="wide"}
        {/if}
    {/if}

    {* PROMOCARDS *}
    {if !empty($_promocards) && $theme_settings.show_promos_below_slider !== "hide"}
        <section class="s-promos-wrapper">
            <ul class="s-promos-list">
                {foreach $_promocards as $promo}
                    <li class="s-item-wrapper {if $theme_settings.show_promos_below_slider === "show_with_mask"}with-mask{/if}" id="s-promo-{$promo.id}">
                        <div class="s-item-block">
                            <div class="s-background" style="background-color: {$promo.background_color|default:"#fff"};"></div>

                            {if !empty($promo.image)}<div class="s-image" style="background-image: url('{$promo.image}');"></div>{/if}

                            <div class="s-text-wrapper" {if !empty($promo.color)}style="color: {$promo.color}"{/if}>
                                <div class="s-text-block">
                                    {if !empty($promo.title)}<h5>{$promo.title|escape}</h5>{/if}
                                    {if !empty($promo.body)}<p>{$promo.body|escape}</p>{/if}
                                </div>
                            </div>

                            <a class="s-link" href="{$promo.link|escape}"></a>
                        </div>
                    </li>
                {/foreach}
            </ul>
        </section>
    {/if}

    {* @event frontend_homepage.%plugin_id% *}
    {foreach $frontend_homepage as $_}{$_}{/foreach}

    {* NOVELTIES *}
    {if !empty($theme_settings.homepage_novelties_list_id)}
        {$_products = $wa->shop->productSet($theme_settings.homepage_novelties_list_id)}
        {if !empty($_products)}
            {$_title = ""}
            {if $theme_settings.homepage_novelties_title}{$_title = $theme_settings.homepage_novelties_title}{/if}

            {include file="./products.html" products=$_products short=true hide_buttons=!$_show_product_actions section_title=$_title inline}
        {/if}
    {/if}

    {* BESTSELLERS *}
    {if !empty($theme_settings.homepage_bestsellers_list_id)}
        {$_products = $wa->shop->productSet($theme_settings.homepage_bestsellers_list_id)}
        {if !empty($_products)}
            {$_title = ""}
            {if $theme_settings.homepage_bestsellers_title}{$_title = $theme_settings.homepage_bestsellers_title}{/if}

            {include file="./products.html" products=$_products short=true hide_buttons=!$_show_product_actions section_title=$_title inline}
        {/if}
    {/if}

    {* ONSALES *}
    {if !empty($theme_settings.homepage_onsale_list_id)}
        {$_products = $wa->shop->productSet($theme_settings.homepage_onsale_list_id)}
        {if !empty($_products)}
            {$_title = ""}
            {if $theme_settings.homepage_onsale_title}{$_title = $theme_settings.homepage_onsale_title}{/if}

            {include file="./products.html" products=$_products short=true hide_buttons=!$_show_product_actions section_title=$_title inline}
        {/if}
    {/if}

</div>

{/strip}