html,
body,
.content,
main.maincontent {
  /*background: #e3e3e3;*/
}

html, body {
  background: unset;
}

button{
    color: #000;
    padding: 5px 10px 6px;
    font-size: 1.1em;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.3);
}
button.blue {
    background: #73b9ff linear-gradient(to bottom, #73b9ff 0%, #0d86ff 100%);
    border-color: rgba(0,0,0,.2);
    color: #fff;
    text-shadow: none;
}
button.gray{
    background: #ededed linear-gradient(to bottom, #ededed 0%,#d1d1d1 100%);
    color: #000;
}

.call-back__icon{
    width: 15px;
}

.close__icon{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    background: url("/wa-data/public/shop/storefronts/logos/closegrey.png");
    display: inline-block;
    background-size: contain;
}

.s-delete-button:hover .close__icon {
    background: url("/wa-data/public/shop/storefronts/logos/close.png");
    background-size: contain;
}

@media screen and (max-width: 760px) {
  .globalheader #globalnav {
    z-index: 999;
  }
}
.container {
  min-width: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 1301px) {
  .container {
    width: 1300px;
  }
}
@media screen and (min-width: 761px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1101px) {
  .container {
    padding: 0 40px;
  }
}
.s-checkbox {
  display: inline-block;
  font-size: 0.857142857142857rem;
  cursor: pointer;
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  transform: translate(0, 1px);
  line-height: 0;
}
.s-checkbox input {
  display: none;
}
.s-checkbox input + span {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-checkbox input + span:hover {
  border-color: rgba(0,0,0,0.6);
}
.s-checkbox input + span .s-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: top;
  visibility: hidden;
  color: #fff;
  line-height: 0;
}
.s-checkbox input + span .s-icon svg {
  width: 100%;
  height: 100%;
}
.s-checkbox input:checked + span {
  border: 0;
  background: #3389e0;
}
.s-checkbox input:checked + span .s-icon {
  visibility: visible;
}
.s-checkbox input:disabled + span {
  background: #e0e0e0;
  cursor: default;
}
.s-checkbox input.wa-error + span {
  border-color: #f00;
  background: transparent;
}
.s-radio {
  display: inline-block;
  font-size: 1.142857142857143rem;
  line-height: 1em;
  cursor: pointer;
}
.s-radio input {
  display: none;
}
.s-radio input + span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s-radio input + span:hover {
  border-color: rgba(0,0,0,0.6);
}
.s-radio input:checked + span {
  border-color: #39f;
  border-width: 0.3125em;
}
.s-radio input:disabled + span {
  background: #e0e0e0;
  cursor: default;
}
.s-radio input.wa-error + span {
  border-color: #f00;
}
.wa-field-wrapper .s-styled-select {
  display: block;
}
.wa-field-wrapper .s-styled-select select {
  width: 100%;
}
.s-styled-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  min-width: 250px;
  max-width: 100%;
}
.s-styled-select:last-child {
  margin-right: 0;
}
.s-styled-select select {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  padding-left: 0.25em;
  margin: 0 !important;
  border: 1px solid #cfcfcf;
  border-radius: 0;
  font-size: inherit;
  line-height: 1.5em;
  color: #1f2d3d;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: border-color 200ms linear;
  -moz-transition: border-color 200ms linear;
  -o-transition: border-color 200ms linear;
  -ms-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}
.s-styled-select select.wa-error {
  border-color: #f00;
  color: #f00;
}
.s-styled-select select.wa-error + .s-icon {
  border-color: #f00;
}
.s-styled-select select:not(:disabled):not(.wa-error):hover {
  z-index: 1;
  border-color: #888;
}
.s-styled-select select:not(:disabled):not(.wa-error):hover + .s-icon {
  border-color: #888;
}
.s-styled-select select:not(:disabled):not(.wa-error):focus {
  z-index: 1;
  border-color: #006bd8;
}
.s-styled-select select:not(:disabled):not(.wa-error):focus + .s-icon {
  border-color: #006bd8;
}
.s-styled-select select:disabled {
  cursor: default;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.s-styled-select select option {
  color: #333;
}
.s-styled-select select option:disabled {
  color: #888;
}
.s-styled-select select option.selected {
  font-weight: bold;
}
.s-styled-select .s-icon {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.428571428571429rem;
  height: 0.428571428571429rem;
  -webkit-transform: translate(50%, -75%) rotate(45deg);
  -moz-transform: translate(50%, -75%) rotate(45deg);
  -o-transform: translate(50%, -75%) rotate(45deg);
  -ms-transform: translate(50%, -75%) rotate(45deg);
  transform: translate(50%, -75%) rotate(45deg);
  border: solid #aaa;
  border-width: 0 1px 1px 0;
  -webkit-transition: border-color 200ms linear;
  -moz-transition: border-color 200ms linear;
  -o-transition: border-color 200ms linear;
  -ms-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}
a.js-show-variants-list{
    text-decoration: none;
}
button.js-use-variant{
    background: #73b9ff linear-gradient(to bottom, #73b9ff 0%, #0d86ff 100%);
    border-color: rgba(0,0,0,.2);
    color: #fff;
    text-shadow: none;
    padding: 5px 10px 6px;
    font-size: 1.1em;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.3);
}
@media screen and (max-width: 760px) {
  .s-styled-select {
    display: block;
  }
  .s-styled-select select {
    width: 100%;
  }
  .wa-signup-form-wrapper .wa-field.wa-field-birthday .wa-value {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .wa-signup-form-wrapper .wa-field.wa-field-birthday .wa-value .s-styled-select {
    display: inline-block;
    margin-right: 0;
  }
  .wa-signup-form-wrapper .wa-field.wa-field-birthday .wa-value .s-styled-select select {
    margin-right: 0;
  }
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color {
  padding-bottom: 20px;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant {
  overflow: visible;
  min-width: auto;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant.selected {
  position: relative;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant.selected:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66%;
  height: 66%;
  display: block;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  background-image: url("../img/svg/icon-yes.svg");
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.wa-product-edit-dialog .wa-cart-section .wa-features-wrapper .wa-feature-wrapper.color .wa-variants-list .wa-variant .wa-variant-name {
  display: inline-block;
  color: #000;
  font-size: 8px;
  font-weight: 400;
  -webkit-transform: translate(0, 28px);
  -moz-transform: translate(0, 28px);
  -o-transform: translate(0, 28px);
  -ms-transform: translate(0, 28px);
  transform: translate(0, 28px);
}
.s-order-page {
  padding: 20px 0 80px;
}
.s-order-page .s-back-link {
  text-align: right;
}

.s-order-section {
  border: 1px solid #f2f2f2;
  padding: 19px;
  border-radius: 5px;
}

.s-order-section:hover {
  box-shadow: 0 10px 50px rgba(0,0,0,.07);
}

.s-order-page .s-order-section > .s-section-header {
  padding: 18px 20px 30px 20px;
  /*background: #f3f3f3;*/
}
.s-order-page .s-order-section > .s-section-header > .s-header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
}
.s-order-page .s-order-section > .s-section-header .s-delete-button {
  display: inline-block;
  color: #888;
  line-height: 17px;
  text-decoration: none;
}

.s-back-link a{
    color: #888;
    text-decoration: none;
}

.s-back-link a:hover {
    color: #333;
}

.s-order-page .s-order-section > .s-section-header .s-delete-button:hover {
  color: #333;
}
.s-order-page .s-order-section > .s-section-header .s-delete-button:hover .s-delete-icon {
  fill: #333;
}
.s-order-page .s-order-section > .s-section-header .s-delete-button .s-delete-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px 0 0;
  fill: #b8b8b8;
}
.s-order-page .s-order-section > .s-section-footer {
  padding: 18px 20px 17px 20px;
}
.s-order-page .wa-order-cart-wrapper p:first-child,
.s-order-page .wa-order-form-wrapper p:first-child {
  margin-top: 0;
}
.s-order-page .wa-order-cart-wrapper p:last-child,
.s-order-page .wa-order-form-wrapper p:last-child {
  margin-bottom: 0;
}
.s-order-page .wa-order-cart-wrapper > .wa-cart-body,
.s-order-page .wa-order-form-wrapper > .wa-cart-body,
.s-order-page .wa-order-cart-wrapper > .wa-form-body,
.s-order-page .wa-order-form-wrapper > .wa-form-body {
  background: #fff;
  padding: 20px 20px 40px;
}
.s-order-page .wa-order-cart-wrapper > .wa-cart-footer,
.s-order-page .wa-order-form-wrapper > .wa-cart-footer,
.s-order-page .wa-order-cart-wrapper > .wa-form-footer,
.s-order-page .wa-order-form-wrapper > .wa-form-footer {
  padding: 15px 20px;
  color: #aaa;
}
.s-order-page .wa-order-cart-wrapper > .wa-cart-footer a,
.s-order-page .wa-order-form-wrapper > .wa-cart-footer a,
.s-order-page .wa-order-cart-wrapper > .wa-form-footer a,
.s-order-page .wa-order-form-wrapper > .wa-form-footer a {
  color: #999;
}
.s-order-page .wa-order-form-wrapper .wa-field-wrapper:not(.is-agreement-field) .s-checkbox {
  font-size: 1.142857142857143rem;
  -webkit-transform: translate(0, 0.15em);
  -moz-transform: translate(0, 0.15em);
  -o-transform: translate(0, 0.15em);
  -ms-transform: translate(0, 0.15em);
  transform: translate(0, 0.15em);
}
.s-order-page .wa-order-form-wrapper .wa-field-wrapper.is-agreement-field .s-checkbox input:checked + span {
  background: #949494;
}
@media screen and (min-width: 841px) {
  .s-order-page {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .s-order-page > .s-order-column {
    display: table-cell;
    vertical-align: top;
    padding: 0 20px;
  }
  .s-order-page > .s-order-column:first-of-type {
    padding-left: 0;
  }
  .s-order-page > .s-order-column:last-of-type {
    padding-right: 0;
  }
  .wa-order-form-wrapper .wa-form-footer {
    font-size: 14px;
    line-height: 1.214285714285714em;
    text-align: right;
  }
}
@media screen and (max-width: 840px) {
  .s-order-page > .s-order-column {
    margin-top: 40px;
  }
  .s-order-page > .s-order-column:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .s-order-section > .s-section-header .s-delete-button {
    width: 43%;
    line-height: 14px;
    text-align: right;
  }
}

/*ORDER HEADER*/

/*for temporary header*/
.wa-order-header .container {
    display: flex;
    justify-content: space-between;
}

.wa-order-layout > .wa-order-header > .container:before,
.wa-order-layout > .wa-order-header > .container:after {
    content: unset;
}
/* end for temporary header*/

.font_family_google_fira,
.font_family_google_fira * {
  font-family: 'Fira Sans', sans-serif;
}

.order-header {
  background-color: #fff;
  padding:2.142857142857143em 0;
  border-bottom: 1px solid #f2f2f2;
}

.order-header__wrapper{
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.order-header__logo img {
  max-width: 266px;
  max-height: 120px;
}

.order-header__phones{
  vertical-align: middle;
  text-align: right;
  font-weight: bolder;
}

.wa-order-layout > .wa-order-header .wa-phone-section .wa-phone {
  position: relative;
  padding-left: 19px;
  font-size: 2.6em;
  line-height: 1.2em;
  font-weight: 500;
}

.order-header__phones a{
  text-decoration: none;
}

.order-header__phones .wa-phone a{
    font-size: 28px;
}

.order-header__phones a:hover {
  color: #473b39;
}

.wa-order-layout > .wa-order-header .wa-phone-section .wa-phone .wa-icon.phone {
  color: #888;
}

.call-back{
  margin: 1em 0 0;
  padding-left: 19px;
  color: #aaa;
  font-size: 1.4em;
}

/*END OF ORDER HEADER*/

/*ORDER NEW CART*/

.quickorder-cell{
    max-width: 300px;
}

.wa-service .s-styled-select select{
    max-width: 300px;
    width: 100%;
}

.wa-service .wa-label{
    width: 300px;
}

.wa-section-body .wa-delivery-types-section .wa-types-list .wa-type-wrapper {
    margin: 0px 20px;
    border-radius: 5px !important;
}

.wa-order-form-wrapper .wa-field-wrapper .wa-radio-wrapper{
    float: left;
    margin: unset;
    margin-top: 3px;
    margin-right: 15px;
}

.wa-order-cart-wrapper .wa-cart-details .wa-affiliate-section .wa-bonus-details .wa-details{
    position: relative;
    top: 10px;
    margin: unset;
}

.wa-quantity-box .wa-button > * {
    color: #949494;
}

.wa-quantity-box .wa-button > * :hover{
    color: #427cd4;
}

.wa-order-cart-wrapper .wa-cart-details .wa-affiliate-section .wa-button{
    position: relative;
    top: 43px;
    display: inline-block;
    padding: 8px 14px 9px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    color: #949494;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #dedede;
    font-weight: 500;
    user-select: none;
    text-shadow: none;
    outline: 0;
}

.wa-column-content .wa-inactive-state button.wa-button.gray.js-use-bonus {
    padding: 7px 14px 6px 14px;
}

.wa-order-cart-wrapper .wa-cart-details .wa-affiliate-section .wa-button:hover{
    color: #dedede;
    background-color: #949494;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-details-section .wa-details .wa-name{
    font-weight: 700;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-details-section .wa-details .wa-name:hover {
    color: #2d9cdb;
}

.wa-name, .wa-name:hover, .wa-name:active {
  text-decoration: none;
}

.wa-name:hover{
  color: inherit;
}

.s-order-page .s-section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.js-product-quantity {
  width: 40px;
  border: 1px solid #e0e0e0;
  padding: 3px 3px 4px;
  text-align: center;
}

.wa-quantity-box .wa-button {
  flex: none;
  width: 15px;
    /* border: 1px solid #e0e0e0; */
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  padding: 0 10px;
}

.wa-quantity-box .wa-button:hover {
  background-color: #e0e0e0;
}

.wa-quantity-box .wa-button:before {
    background: #e0e0e0;
}

.wa-quantity-box .wa-button:before {
    left: 45%;
}

.wa-quantity-box .wa-button:first-child {
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-name a{
    color: #2d9cdb;
    text-decoration: none;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item{
    justify-content: space-between;
    -webkit-transform: translate(0,.14285714285714285em);
    -moz-transform: translate(0,.14285714285714285em);
    -o-transform: translate(0,.14285714285714285em);
    -ms-transform: translate(0,.14285714285714285em);
    transform: translate(0,.14285714285714285em);
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item:nth-child(2){
    margin-top: 20px !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-name{
    -webkit-box-flex: unset !important;
    -moz-box-flex: unset !important;
    -o-box-flex: unset !important;
    box-flex: unset !important;
    -webkit-flex: unset !important;
    -ms-flex: unset !important;
    flex: unset !important;
    margin-right: unset !important;
    background: white;
    padding: 0 5px;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-name:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px dotted #e0e0e0;
    z-index: -1;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item-total .wa-name:before{
    content: none !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-value{
    -webkit-box-flex: unset !important;
    -moz-box-flex: unset !important;
    -o-box-flex: unset !important;
    box-flex: unset !important;
    -webkit-flex: unset !important;
    -ms-flex: unset !important;
    flex: unset !important;
    background: white;
    padding: 0 5px;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item.wa-item-total{
    margin-top: 30px !important;
}

.s-order-column .wa-form-content .wa-total-section {
    width: 100%;
    -webkit-box-flex: unset !important;
    -moz-box-flex: unset !important;
    -o-box-flex: unset !important;
    box-flex: unset !important;
    -webkit-flex: unset !important;
    -ms-flex: unset !important;
    flex: unset !important;
    margin-right: unset !important;
}

.s-order-column .wa-form-content .wa-actions-section .wa-submit-button {
    margin-top: 20px;
    background: #2d9cdb;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-shadow: none;
}

.wa-quantity-box .wa-input {
  width: 45px;
  border: 1px solid #e0e0e0;
  padding: 4px 0px 4px;
  text-align: center;
}

.wa-quantity-box .wa-input:hover {
  border: 1px solid #e0e0e0;
}

.wa-quantity-box .wa-button:last-child {
  border-left: 0;
  border-radius: 0 5px 5px 0;
}

.wa-quantity-box .wa-button:before {
    width: 14px;
    height: 20px;
}

.wa-tooltip.is-inline::after {
  white-space: nowrap;
  width: auto;
}

.wa-tooltip.bottom::after {
  bottom: auto;
  margin-bottom: 0;
  top: 100%;
  margin-top: 8px;
  transform: translateY(10px);
}

.wa-tooltip:hover::after {
  display: block;
  transform: none;
  opacity: 1;
}

.wa-tooltip::after {
  content: attr(data-title);
  display: block;
  line-height: 1.2;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  width: 200px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: -16px;
  pointer-events: none;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 15px rgba(0,0,0,.05);
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #fff;
  user-select: none;
  transform: translateY(-10px);
  opacity: 0;
  transition: opacity .2s ease-in-out,transform .2s ease-in-out;
}

.wa-quantity-box .wa-button .wa-tooltip .wa-icon svg, .c-products-view-type:hover .c-products-view-type__icon, .c-products-view-type_active .c-products-view-type__icon {
  fill: #828282;
}

.wa-order-form-wrapper .wa-step-auth-section > .wa-section-header a.wa-tooltip{
    color: #2d9cdb;
    text-decoration: none;
}

.wa-icon {
  display: inline-block;
  vertical-align: baseline;
  background: 50% no-repeat;
  background-size: auto;
  background-size: contain;
  width: 1em;
  height: 1em;
  line-height: 0;
}

.wa-icon.size-12 {
  width: 12px;
  height: 12px;
}

.wa-quantity-box .wa-button .wa-tooltip .wa-icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 12px;
}

.wa-quantity-box .wa-button:not(.is-disabled) {
    color: #000;
}

html:not(.with-touch) .wa-quantity-box .wa-button:not(.is-disabled):hover {
  color: #000;
  font-size: 14px;
}

html:not(.with-touch) .wa-tooltip:not(.custom):not(.css-hover-disabled):hover::before {
  display: none;
}


html:not(.with-touch) .wa-tooltip:not(.custom):not(.css-hover-disabled):hover::after{
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 15px rgba(0,0,0,.05);
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #fff;
  transition: opacity .2s ease-in-out,transform .2s ease-in-out;
  color: #333;
}

.wa-order-cart-wrapper .wa-cart-details{
    margin-top: 30px;
    display: flex;
}

.wa-cart-details .wa-coupon-section .wa-inactive-state {
    display: flex;
}

.wa-cart-details .wa-coupon-section .wa-inactive-state .wa-input {
    flex: auto;
    width: 1px;
}

.wa-order-cart-wrapper .wa-cart-details .wa-coupon-section .js-coupon-code {
    width: 136px;
    max-width: 100%;
    line-height: 1.2;
    padding: 8px 14px 9px;
    font-size: 14px;
    vertical-align: top;
    border: 1px solid #ededed;
    border-radius: 4px;
    outline: 0;
    
    background: #fff;
    color: #333;
    transition: border-color .2s ease-in-out;
}

.wa-cart-details .wa-coupon-section .wa-inactive-state .wa-button {
    margin-left: 10px;
    flex: none;
    display: inline-block;
    line-height: 1.2;
    vertical-align: top;
    padding: 8px 14px 9px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: #949494;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #dedede;
    font-weight: 500;
    user-select: none;
    text-shadow: none;
    outline: 0;
}

.wa-cart-details .wa-coupon-section .wa-inactive-state .wa-button:hover {
    background-color: #949494;
    color: #dedede;
}

.wa-order-cart-wrapper .wa-cart-details .wa-price-section .wa-price-total {
    margin-top: 8px;
    font-size: 1.1em;
    font-weight: 300;
}

.wa-order-cart-wrapper .wa-cart-details .wa-price-section .wa-price-total .wa-price {
    font-size: 1.285714285714286em;
    font-weight: 700;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper{
    margin: 15px 0px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:first-child {
    border-radius: 5px;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:last-child {
    border-radius: 5px;
}

/*.wa-cart-details .wa-column-content::after {
    content: '';
    display: block;
}*/

/*.wa-cart-details .wa-column-content::before {
    content: '';
    display: table;
    margin-bottom: -30px;
}
*/

.quickorder-button-cart{
    background: #2d9cdb;
    color: #fff;
    border: none;
    padding: 8px 25px;
    text-shadow: none;
    box-shadow: none;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-details-section .wa-details .wa-actions {
    display: block;
    margin-top: 10px;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-actions .wa-action:hover {
    color: #0c3c57;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-actions .wa-action:hover .wa-icon {
    background: #fff;
}

::selection,
::-moz-selection {
    background: #fff;
    background-color: #fff;
}

.wa-cart-details .wa-column-price {
    flex: none;
    width: 208px;
    margin-left: 10px;
    text-align: right;
}

/*END OF ORDER NEW CART*/

/*ORDER FOOTER*/
.wa-order-footer {
  background: #fff;
  padding: 2.142857142857143em 0;
}
/*END OF ORDER FOOTER*/

/*Empty basket*/
.s-cart-empty-wrapper {
    margin: 30px 0;
    padding: 50px 0;
    border: 1px solid #eee;
    border-radius: 5px;
}
.s-cart-empty__header{
    font-size: 24px;
}
/*end of Empty basket*/