{$show_advantages = false}
{if $theme_settings.advantages_display == "everywhere" || ($theme_settings.advantages_display == "home" && $is_home)}
    {$show_advantages = true}
{/if}
{if $show_advantages}
    {$adv_limit = 5}
    {$adv_count = 1}
    {$advs = array()}
    {while $adv_count <= $adv_limit}
        {$adv_img_id = 'adv_img_'|cat:$adv_count}
        {$adv_svg_id = 'adv_svg_'|cat:$adv_count}
        {$adv_img = $theme_settings[$adv_img_id]|default:$theme_settings[$adv_svg_id]|default:''}
        {$adv_text_id = 'adv_text_'|cat:$adv_count}
        {if $adv_img || !empty($theme_settings[$adv_text_id])}
            {$advs[$adv_count] = ['img' => $adv_img, 'text' => $theme_settings[$adv_text_id]|default:'']}
        {/if}
        {$adv_count = $adv_count + 1}
    {/while}
    {if !empty($advs)}
        <div class="blocks wrapper advantages-block">
            {foreach $advs as $adv}
                <div class="advantages-block__item display_table vertical_middle">
                    {if $adv['img']}
                        <div class="advantages-block__image">
                            <img src="{$wa_parent_theme_url|default:$wa_theme_url}{$adv['img']}" alt="" />
                        </div>
                    {/if}
                    {if $adv['text']}
                        <div class="advantages-block__text info-content">{$adv['text']}</div>
                    {/if}
                </div>
            {/foreach}
        </div>
    {/if}
{/if}