{$is_slider = $is_slider|default:false}
{$brands = $brands|default:[]}
{$brands_title = $brands_title|default:false}
{$brands_limit = $brands_limit|default:false}
{$brands_plugin_id = $brands_plugin_id|default:''}

{if $brands && $brands_limit !== 0}
    {$isset_image_brands = false}
    {foreach $brands as $b}
        {if $b.image}
            {$isset_image_brands = true}
            {break}
        {/if}
    {/foreach}
    {if $isset_image_brands}
        <div class="brands-block">
            {if $brands_title}
                <div class="blocks-title brands-title">{$brands_title}</div>
            {/if}
            <div class="brands-list{if $is_slider} list-slider{/if}">
                {$brands_iteration = 1}
                {foreach $brands as $b}
                    {if $brands_plugin_id == 'brand'}
                        {$image_url = $b.image_url|default:''}
                        {$brand_url = $b.frontend_url|default:''}
                    {elseif $brands_plugin_id == 'productbrands'}
                        {$image_url = $wa_static_url|cat:'wa-data/public/shop/brands/'|cat:$b.id|cat:'/'|cat:$b.id|cat:$b.image}
                        {$brand_url = $b.url|default:''}
                    {/if}
                    {if ($brands_plugin_id == 'brand' && $image_url) || ($brands_plugin_id == 'productbrands' && $b.image)}
                        <div class="brands-list__item">
                            <a title="{$b.name}" href="{$brand_url}">
                                <div class="brands-image">
                                    <img src="#" data-lazy="{$image_url}?v{$wa_theme_version}" title="{$b.name}" alt="">
                                </div>
                            </a>
                        </div>
                        {if $brands_limit && ($brands_iteration >= $brands_limit)}
                            {break}
                        {/if}
                        {$brands_iteration = $brands_iteration + 1}
                    {/if}
                {/foreach}
            </div>
        </div>
    {/if}
{/if}