{$brands = $brands|default:array()}
{$brands_limit = $brands_limit|default:false}
{$brands_count = count($brands)|default:0}
{$brands_title = $brands_title|default:false}
{$disable_logos = $disable_logos|default:false}
{$brands_plugin_id = $brands_plugin_id|default:''}
{include file="`$wa_parent_theme_path`/get-brands-plugin-id.html" inline}
{$brands_plugin_id = $wa->globals('brands_plugin_id')}

{if !empty($brands) && $brands_limit !== 0}
    <div class="reset-vertical-bottom-wrapper tabs-menu brands-nav js-expand-wrapper">
        {if $brands_title}
            <div class="wrapper blocks-title">{$brands_title}</div>
        {/if}
        <ul class="reset-ul">
            {foreach $brands as $b}
                <li class="tabs-menu__link{if $b@last} tabs-menu__link_border_bottom{/if}{if $brands_limit && $b@iteration > $brands_limit} brands-nav__item_hidden js-hidden{/if}">
                    <a href="{$b.url}" class="wrapper disable_count">
                        {if !$disable_logos}
                            {if $brands_plugin_id == 'brand'}
                                {$image_url = $b.image_url|default:''}
                            {elseif $brands_plugin_id == 'productbrands'}
                                {$image_url = $wa_static_url|cat:'wa-data/public/shop/brands/'|cat:$b.id|cat:'/'|cat:$b.id|cat:$b.image}
                            {/if}
                            <div class="tabs-menu__logo">
                                {if $b.image}
                                    <img src="{$image_url}" alt="{$b.name}" />
                                {else}
                                    <img src="{$wa_theme_url}img/dummy.svg" alt="" />
                                {/if}
                            </div>
                        {/if}
                        <div class="tabs-menu__name">{$b.name}</div>
                    </a>
                </li>
            {/foreach}
        </ul>
        {if $brands_limit && $brands_count > $brands_limit}{strip}
            <a class="button-expand js-button-expand brands-expand" href="javascript:void(0);" data-show="[`Collapse list`]">
                <span>[`Show all`]</span>
            </a>
        {/strip}{/if}
    </div>
{/if}
