{$show_contact_block = false}
{$isset_regions_plugin = class_exists('shopRegionsViewHelper')}

{if $theme_settings.contacts_display == "everywhere" || ($theme_settings.contacts_display == "home" && $is_home)}
    {$show_contact_block = true}
{/if}

{include file="function.filter-region-variable.html" scope='parent' inline}

{if $show_contact_block}
    <div class="blocks wrapper contacts-block">
        {$contacts_phone = $theme_settings.contacts_phone}
        {if $isset_regions_plugin}
            {call name="filter_region_variable" assign="contacts_phone" setting_value=$contacts_phone}
        {/if}
        {if $wa->shop && !$contacts_phone}
            {$contacts_phone = $wa->shop->settings('phone')}
        {/if}
        {$contacts_phone_additional = $theme_settings.contacts_phone_additional|default:''}
        {if $isset_regions_plugin}
            {call name="filter_region_variable" assign="contacts_phone_additional" setting_value=$contacts_phone_additional}
        {/if}
        {if $theme_settings.contacts_title || $contacts_phone || $theme_settings.contacts_address || $theme_settings.ya_navigator_address}
            <div class="contacts-block__item">
                {if $theme_settings.contacts_title}
                    <div class="contacts-block__title">{$theme_settings.contacts_title}</div>
                {/if}
                {$replace_phone_pattern = array('(', ')', '-', ' ')}
                {if $contacts_phone}
                    <a href="tel:{str_replace($replace_phone_pattern, '', $contacts_phone)}" class="btn-lg contacts-block__btn">{$contacts_phone}</a>
                {/if}
                {if $contacts_phone_additional}
                    <a href="tel:{str_replace($replace_phone_pattern, '', $contacts_phone_additional)}" class="btn-lg contacts-block__btn">{$contacts_phone_additional}</a>
                {/if}
                {if $theme_settings.contacts_address}
                    {$contacts_address = $theme_settings.contacts_address}
                    {if $isset_regions_plugin}
                        {call name="filter_region_variable" assign="contacts_address" setting_value=$contacts_address}
                    {/if}
                    <div class="contacts-block__text contacts-block__address">
                        {$contacts_address}
                    </div>
                {/if}
                {if $theme_settings.ya_navigator_address}
                    {$ya_navigator_address = $theme_settings.ya_navigator_address}
                    {if $isset_regions_plugin}
                        {call name="filter_region_variable" assign="ya_navigator_address" setting_value=$ya_navigator_address}
                    {/if}

                    {$navigator_vendor = $theme_settings.navigator_vendor|default:'yandex'}
                    {$is_found_coordinates = preg_match_all("/\[\s?\d+\.?(\d+)?\s?,\s?\d+\.?(\d+)?\s?\]/", $ya_navigator_address, $custom_coordinates)}
                    {if $is_found_coordinates}
                        {$custom_coordinates = explode(',', str_replace(['[',']',' '], '', reset(reset($custom_coordinates))))}
                    {else}
                        {$custom_coordinates = ''}
                    {/if}
                    {$navigator_url = 'javascript:void(0);'}
                    {if $navigator_vendor == 'google'}
                        {$navigator_url = 'https://www.google.com/maps/dir/?api=1&dir_action=navigate&travelmode=driving&destination='|cat:str_replace(['[', ']'], '', $theme_settings.ya_navigator_address|replace:' ':'%20')}
                    {/if}
                    <div class="contacts-block__text contacts-block__navigator">
                        <a href="{$navigator_url}">Проложить маршрут</a>
                    </div>
                    {if $navigator_vendor == 'yandex'}
                        <script src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>
                        <script>
                            $(document).ready(function () {
                                mobisite_site.navigator = {
                                    init: function () {
                                        var self = this;
                                        this.custom_coordinates = {json_encode($custom_coordinates)};
                                        this.$navigator_link = $(".contacts-block__navigator a");
                                        this.updateNavigatorLink = function (lat, lon) {
                                            var navigator_href = "yandexnavi://build_route_on_map?lat_to=" + lat + "&lon_to=" + lon;
                                            self.$navigator_link.attr("href", navigator_href);
                                        };
                                        if (this.custom_coordinates) {
                                            self.updateNavigatorLink(self.custom_coordinates[0], self.custom_coordinates[1]);
                                        } else {
                                            this.address = {json_encode($ya_navigator_address)};
                                            this.ya_coordinates;
                                            ymaps.ready(init);
                                            function init(){
                                                var geocoder = new ymaps.geocode(self.address, { results: 1 });
                                                geocoder.then(
                                                    function (res) {
                                                        if (res.geoObjects.get(0) !== null) {
                                                            self.ya_coordinates = res.geoObjects.get(0).geometry.getCoordinates();
                                                        }
                                                        if (self.ya_coordinates) {
                                                            self.updateNavigatorLink(self.ya_coordinates[0], self.ya_coordinates[1]);
                                                        }
                                                    }
                                                );
                                            };
                                        }
                                    }
                                };
                                mobisite_site.navigator.init();
                            });
                        </script>
                    {/if}
                {/if}

                {$wh_text = $theme_settings.contacts_wh}
                {if !$wh_text}
                    {if $wa->shop}
                        {$wh = $wa->shop->settings('workhours')}
                    {/if}
                    {if isset($wh) && $wh}
                        {$wh_text = $wh.days_from_to|cat:'. '|cat:$wh.hours_from|cat:'-'|cat:$wh.hours_to}
                    {/if}
                {elseif $isset_regions_plugin}
                    {call name="filter_region_variable" assign="wh_text" setting_value=$wh_text}
                {/if}
                {if $wh_text}
                    <div class="contacts-block__text contacts-block__wh">
                        [`Work time`]: {$wh_text}
                    </div>
                {/if}

            </div>
        {/if}
        {if $theme_settings.telegram || $theme_settings.whatsapp || $theme_settings.viber}
            {$replace_pattern = array('(', ')', '-', '+', ' ')}
            {strip}
                <div class="contacts-block__item messengers">
                    <div class="contacts-block__title">[`Write to Messengers`]</div>
                    <div class="messengers__list">
                        {if $theme_settings.telegram}
                            {$telegram_phone = $theme_settings.telegram}
                            {if $isset_regions_plugin}
                                {call name="filter_region_variable" assign="telegram_phone" setting_value=$telegram_phone}
                            {/if}
                            <a href="//tele.click/{$telegram_phone}">
                                <img src="{$wa_theme_url}img/icons/telegram-icon.svg" alt="">
                            </a>
                        {/if}
                        {if $theme_settings.whatsapp}
                            {$whatsapp_phone = $theme_settings.whatsapp}
                            {if $isset_regions_plugin}
                                {call name="filter_region_variable" assign="whatsapp_phone" setting_value=$whatsapp_phone}
                            {/if}
                            <a href="whatsapp://send?phone={str_replace($replace_pattern, '', $whatsapp_phone)}">
                                <img src="{$wa_theme_url}img/icons/whatsapp-icon.svg" alt="">
                            </a>
                        {/if}
                        {if $theme_settings.viber}
                            {$viber_phone = $theme_settings.viber}
                            {if $isset_regions_plugin}
                                {call name="filter_region_variable" assign="viber_phone" setting_value=$viber_phone}
                            {/if}
                            <a href="viber://add?number={str_replace($replace_pattern, '', $viber_phone)}">
                                <img src="{$wa_theme_url}img/icons/viber-icon.svg" alt="">
                            </a>
                        {/if}
                    </div>
                </div>
            {/strip}
        {/if}
    </div>
{/if}