<div class="error-page">
    <div class="error-page__title">{$error_code}</div>
    <div class="error-page__description">[`Error! Page not found.`]</div>
    <div class="error-page__additional">
        <div class="error-page__additional-link"><a href="{$wa_url}">[`Go to home page`]</a></div>
        <div class="error-page__additional-search">
            {include file="search-block.html" is_popup=false disable_suggestions=true}
        </div>
    </div>
</div>