{$wa_shop = $wa_shop|default:$wa->shop}

{include file="function.filter-region-variable.html" scope='parent' inline}

<div class="footer-wrapper">
    {if $theme_settings.full_version_on}
        <a class="full-version wrapper" href="?nomobile=1">[`Switch to full version`]</a>
    {/if}
    <div class="blocks wrapper footer">
        {strip}
            <div class="footer-top">
                {if $theme_settings.currency_selector_on && $wa_shop}
                    {if $wa_app == 'shop' && count($currencies) > 1}
                        <div class="footer-currency">
                            <select>
                                {$currency = $wa_shop->currency()}
                                {foreach $currencies as $c_code => $c}
                                    <option value="{$c_code}" {if $c_code == $currency} selected{/if}>{$c.code}</option>
                                {/foreach}
                            </select>
                        </div>
                    {/if}
                {/if}
                <div class="footer-copyright">
                    &copy;&nbsp;{if $theme_settings.footer_year}{$theme_settings.footer_year}-{/if}{time()|wa_datetime:"Y"}&nbsp;
                    {if $wa_shop}
                        <a href="{$wa_url}">{$wa_shop->settings('name')}</a>
                    {/if}
                </div>
            </div>
        {/strip}

        {$isset_footer_socials = false}
        {$footer_socials = [
            "facebook" => [
            "img" => "facebook.svg",
            "link" => $theme_settings.fb_link
        ],
            "twitter" => [
            "img" => "twitter.svg",
            "link" => $theme_settings.tw_link
        ],
            "vkontakte" => [
            "img" => "vkontakte.svg",
            "link" => $theme_settings.vk_link
        ],
            "igrm" => [
            "img" => "igrm.svg",
            "link" => $theme_settings.igrm_link
        ],
            "ytb" => [
            "img" => "ytb.svg",
            "link" => $theme_settings.ytb_link
        ],
            "pinterest" => [
            "img" => "pinterest.svg",
            "link" => $theme_settings.pinterest_link
        ],
            "google" => [
            "img" => "google.svg",
            "link" => $theme_settings.google_link
        ]
        ]}
        {foreach $footer_socials as $fs}
            {if $fs['link']}
                {$isset_footer_socials = true}
                {break}
            {/if}
        {/foreach}
        {if $isset_footer_socials}
            <div class="footer-socials">
                <div class="footer-socials__title">[`We are in social networks`]</div>
                <div class="footer-socials__items display_inline-block">
                    {strip}
                        {foreach $footer_socials as $fs}
                            {if $fs['link']}
                                <div class="footer-socials__item">
                                    <a href="{$fs['link']}" target="_blank">
                                        <img src="{$wa_theme_url}img/icons/{$fs['img']}" alt="" />
                                    </a>
                                </div>
                            {/if}
                        {/foreach}
                    {/strip}
                </div>
            </div>
        {/if}
        {if $theme_settings.footer_sign}
            {$footer_sign = $theme_settings.footer_sign}
            {call name="filter_region_variable" assign="footer_sign" setting_value=$footer_sign}
            <div class="footer-sign footer_colored">{$footer_sign}</div>
        {/if}
        {if $theme_settings.bodysite_copy_on}
            <div class="bodysite-copyright">
                <a href="//bodysite.ru" target="_blank">[`Project bodysite.ru`]</a>
            </div>
        {/if}
        {if $theme_settings.footer_consent}
            <div class="footer-consent footer_colored">{$theme_settings.footer_consent}</div>
        {/if}
        {if $theme_settings.webasyst_copy_on}
            <div class="webasyst-copyright footer_colored">
                [`Made on the basis of Webasyst`]
                <div class="poweredby">
                    <a href="http://www.shop-script.ru" target="_blank">
                        <img src="{$wa_theme_url}img/icons/webasyst-icon.svg" alt="">
                    </a>
                </div>
            </div>
        {/if}
    </div>
</div>