<div id="page" role="main" class="wa-auth-form wa-forgotpassword-form">
    {if !empty($set_password)}
        <h1>[s`Recover password for`] {$login}</h1>
        {$wa->setPasswordForm($error)}
    {else}
        <h1>[s`Password recovery`]</h1>
        {if !empty($sent)}
            <div class="wa-auth-form__info">[s`Password recovery instructions have been sent to your email address.`]</div>
            <br /><br />
            <a href="{$wa->loginUrl()}">[s`Back to login page`]</a>
        {else}
            <div class="wa-form">
                {$wa->forgotPasswordForm($error, ['include_css' => false])|replace:'&nbsp;':''}
            </div>
        {/if}
    {/if}
</div>
