{strip}
    {$dropdown_parent_category = $dropdown_parent_category|default:[]}
    {$dropdown_categories = $dropdown_categories|default:[]}
    {if $dropdown_categories}
        <div class="topmenu-dropdown js-topmenu-dropdown reset-ul">
            <div class="topmenu-dropdown__header">
                <a href="javascript://" class="topmenu-dropdown__header-action topmenu-dropdown__header-back js-topmenu-dropdown__header-back"{if $dropdown_parent_category|default:null} data-parent-id="{$dropdown_parent_category.parent_id|default:0}"{/if}>
                    <svg viewBox="0 0 6 10" width="10" height="14" fill="currentColor">
                        <path d="M6 1.175L2.288 5 6 8.825 4.852 10 0 5l4.852-5L6 1.175z" fill="currentColor"></path>
                    </svg>
                </a>
                {if $dropdown_parent_category.name|default:''}
                    <div class="topmenu-dropdown__header-title">
                        {$dropdown_parent_category.name|default:''}
                    </div>
                {/if}
                <a href="javascript://" class="topmenu-dropdown__header-action topmenu-dropdown__header-close js-topmenu-dropdown__header-close">
                    <svg width="12" height="12" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
                        <path id="close_icon_fill" d="M 14 1.41L 12.59 0L 7 5.59L 1.41 0L 0 1.41L 5.59 7L 0 12.59L 1.41 14L 7 8.41L 12.59 14L 14 12.59L 8.41 7L 14 1.41Z"/>
                    </svg>
                </a>
            </div>

            <div class="topmenu-dropdown__main">
                {include file="`$wa_parent_theme_path|default:$wa_active_theme_path`/catalog.html"
                    catalog=$dropdown_categories
                    catalog_counts_enable=$theme_settings.catalog_lables_enable|default:false
                    allow_catalog_logos=$theme_settings.catalog_logo_enable|default:false
                    is_dynamic_catalog=1
                    link_classes="js-dynamic-catalog__link"}
            </div>
        </div>
    {/if}
{/strip}