{$wa_shop = $wa_shop|default:$wa->shop}
{if $wa_shop || $wa->photos}
    {$home_slider = array()}
    {if $theme_settings.home_slider_source == 'promo' && $wa_shop}
        {$home_slider = $wa_shop->promos()}
    {elseif $theme_settings.home_slider_source == 'products' && $theme_settings.home_slider_set_id && $wa_shop}
        {$home_slider = $wa->shop->productSet($theme_settings.home_slider_set_id)}
    {elseif $theme_settings.home_slider_source == 'photos' && $theme_settings.home_slider_album_id && $wa->photos}
        {$home_slider = $wa->photos->photos("album/{$theme_settings.home_slider_album_id}")}
    {/if}
    {if !empty($home_slider) && !($wa_app == 'site' && $theme_settings.home_slider_source == 'products')}
        <div class="home-slider{if count($home_slider) == 1} home-slider_single-slider{/if}">
            {if $theme_settings.home_slider_source == 'products' && $theme_settings.home_slider_title}
                <div class="wrapper home-slider__title">{$theme_settings.home_slider_title}</div>
            {/if}
            <div class="{if $theme_settings.home_slider_source == 'products'}wrapper {/if}home-slider__wrapper home-slider__wrapper_{if $theme_settings.home_slider_source == 'promo'}as-promo{elseif $theme_settings.home_slider_source == 'products' && $theme_settings.home_slider_set_id}as-products{elseif $theme_settings.home_slider_source == 'photos' && $theme_settings.home_slider_album_id}as-photos{/if}">
                {if $theme_settings.home_slider_source == 'promo'}
                    {foreach $home_slider as $hs}
                        <a href="{if $hs.link}{$hs.link}{else}javascript:void(0);{/if}" class="home-slider__item" style="{if !empty($hs.background_color)}background-color: {$hs.background_color};{/if} background-image: url('{$hs.image}');">
                            {if !empty($hs.title) || !empty($hs.body)}
                                <div class="home-slider__item-content">
                                    <div class="home-slider__item-content-wrapper">
                                        {if !empty($hs.title)}
                                            <div class="home-slider__item-title" style="color: {$hs.color};">{$hs.title}</div>
                                        {/if}
                                        {if !empty($hs.body)}
                                            <div class="home-slider__item-description" style="color: {$hs.color};">{$hs.body}</div>
                                        {/if}
                                        {if !empty($hs.countdown_datetime) && time() <= strtotime($hs.countdown_datetime)}
                                            <div class="home-slider__item-countdown">
                                                <span class="js-promo-countdown"
                                                      data-start="{date('Y-m-d H:i:s')}"
                                                      data-end="{$hs.countdown_datetime}">
                                                </span>
                                            </div>
                                        {/if}
                                    </div>
                                </div>
                            {/if}
                        </a>
                    {/foreach}
                {elseif $theme_settings.home_slider_source == 'products' && $theme_settings.home_slider_set_id}
                    {include file="`$wa_active_theme_path`/product-list.html" products=$home_slider list_view='thumbs' is_slider=true}
                {elseif $theme_settings.home_slider_source == 'photos'}
                    {foreach $home_slider as $hs}
                        {$hs_image = photosPhoto::getPhotoUrl($hs, null, false)}
                        <a href="javascript:void(0);" class="home-slider__item" style="background-image: url('{$hs_image}?v{$wa_theme_version}');"></a>
                    {/foreach}
                {/if}
            </div>
        </div>
    {/if}
{/if}