/* ------------------------------------ BEGIN MIXINS ------------------------------------ */
a {
  color: #0072bb;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
}
input[type="button"],
input[type="submit"],
button,
.button {
  font: 24px Arial, sans-serif;
  color: #fff;
  padding: 5px 15px 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="button"]:disabled,
input[type="submit"]:disabled,
button:disabled,
.button:disabled {
  color: #999;
  background: #eee;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  padding: 7px 10px;
  font: 24px Arial, sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-sizing: border-box;
  -webkit-appearance: none;
}
input[type="radio"],
input[type="checkbox"] {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
}
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.center_image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* ------------------------------------ END MIXINS ------------------------------------ */
html,
body {
  font: 24px Arial, sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  width: 640px;
}
/* *********************************** BEGIN HEADER *********************************** */
.full_version {
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 26px;
}
.full_version a {
  color: #fff;
  display: block;
  padding: 20px 4% 22px;
}
.full_version.top .close {
  position: absolute;
  right: 0;
  top: 17px;
  width: 69px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.full_version.top .close .fa {
  font-size: 1.4em;
}
.main_title {
  font-size: 36px;
  padding: 20px 4% 23px;
  margin-top: 0px;
}
#header {
  padding: 30px 4%;
}
#header > div {
  display: inline-block;
  vertical-align: top;
}
#header .phone {
  display: block;
  text-decoration: none;
  font: 36px Arial, sans-serif;
  width: 100%;
  margin-bottom: 15px;
}
#header #logo {
  width: 48%;
}
#header #logo img {
  max-width: 100%;
}
#header .header_info {
  width: 50%;
  text-align: right;
}
#header .header_info .one_block {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  text-align: center;
}
#header .header_info .one_block a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 77px;
}
#header .header_info .one_block a .fa {
  font-size: 1.7em;
}
#header .header_info .one_block span {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  width: 27px;
  height: 27px;
  line-height: 27px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f38129;
  background: -moz-linear-gradient(top, #f38129 0%, #de3611 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f38129), color-stop(100%, #de3611));
  background: -webkit-linear-gradient(top, #f38129 0%, #de3611 100%);
  background: -o-linear-gradient(top, #f38129 0%, #de3611 100%);
  background: -ms-linear-gradient(top, #f38129 0%, #de3611 100%);
  background: linear-gradient(to bottom, #f38129 0%, #de3611 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color_1', endColorstr='@color_2', GradientType=0);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
}
#header .header_info .one_block.empty span {
  display: none;
}
#header .header_info .pages_list_button.active {
  box-shadow: inset -2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
#header .header_info .pages_list_button.active::before,
#header .header_info .pages_list_button.active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -45px;
  left: 29%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#header .header_info .pages_list_button.active::before {
  z-index: 2;
}
#header .header_info .pages_list_button.active::after {
  z-index: 1;
  bottom: -43px;
}
.pages_list {
  padding: 0;
  margin: 0;
  display: none;
  list-style: none;
  width: 100%;
  position: relative;
}
.pages_list li {
  position: relative;
}
.pages_list li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 22px 13% 22px 4%;
}
.pages_list li .fa {
  color: #fff;
  position: absolute;
  top: 18%;
  right: 5%;
  font-size: 1.5em;
}
.pages_list li:not(:first-child) {
  margin-top: 1px;
}
/* *********************************** END HEADER *********************************** */
#search_block {
  padding: 21px 4% 18px;
}
#search_block #search {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 36px;
  height: 70px;
  padding: 0 3%;
  margin-right: 2.7%;
  width: 83%;
}
#search_block .search-wrapper button {
  display: inline-block;
  vertical-align: top;
  width: 12%;
  height: 69px;
  padding: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}
#search_block .search-wrapper button i {
  position: absolute;
  left: 50%;
  top: 12%;
  margin-left: -22px;
  color: #fff;
}
/* ----------------------------------- BEGIN MAIN ----------------------------------- */
#main_content {
  position: relative;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}
#catalog {
  position: relative;
}
#catalog .title {
  color: #000000;
  font-size: 40px;
  margin: 0;
  padding: 27px 4% 29px;
}
#catalog > div a {
  font-size: 36px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 32px 4% 34px;
  width: 84%;
}
#catalog > div i {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 2em;
}
.category.breadcrumb i {
  margin-left: 4%;
}
.subcategory.breadcrumb,
h1.breadcrumb {
  font-size: 36px;
  padding: 27px 4% 29px;
}
h1.breadcrumb {
  margin: 0px;
  font-weight: normal;
}
h1.breadcrumb.category-name,
h1.breadcrumb.product-name,
h1.breadcrumb.main_title {
  box-shadow: inset 0 7px 13px -4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 7px 13px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 7px 13px -4px rgba(0, 0, 0, 0.3);
}
.paging-nav {
  text-align: center;
  margin: 10px 0 15px;
  font-size: 40px;
}
.paging-nav ul {
  padding: 0px;
  margin: 0px;
}
.paging-nav ul li {
  display: inline-block;
  margin: 0px 5px;
}
.paging-nav ul li a {
  padding: 0 13px;
}
.paging-nav ul li.selected a {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  color: #FFFFFF;
  box-shadow: inset 3px 4px 4px -2px rgba(0, 0, 0, 0.4);
  margin: 0 3px;
  padding: 5px 16px;
  display: block;
  text-decoration: none;
}
.paging-nav ul .inline-link {
  text-decoration: none;
}
.wa-signup-form a:first-of-type {
  margin-left: 0 !important;
}
#user-auth-provider ul,
.wa-auth-adapters ul {
  padding: 0px;
}
#user-auth-provider li,
.wa-auth-adapters li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px 7px;
  margin: 0 3px 10px 0;
}
#user-auth-provider li a,
.wa-auth-adapters li a {
  color: #fff;
  text-decoration: none;
}
#user-auth-provider li a img,
.wa-auth-adapters li a img {
  margin-right: 6px;
  position: relative;
}
#user-auth-provider .wa-connect,
.wa-auth-adapters .wa-connect {
  margin-top: 20px;
}
#page {
  padding: 20px 4%;
}
#page .wa-submit a {
  display: inline-block;
  margin-top: 10px;
}
#page .wa-submit a:first-of-type {
  margin-left: -13px;
}
#page .wa-submit input[type="submit"] {
  display: block;
}
.info_page img {
    max-width: 100%;
}
.my_account {
  padding: 20px 4%;
}
.my_account .my_account_nav {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.my_account .my_account_nav li {
  margin-bottom: 10px;
}
.my_account input[name="pin"] {
    margin-bottom: 20px;
}
.my_account .order-content .price {
    width: 130px;
}
/* ----------------------------------- END MAIN ----------------------------------- */
/* *********************************** BEGIN FOOTER *********************************** */
#contact_block {
  color: #fff;
  text-align: center;
  padding: 16px 0;
}
#contact_block .text {
  font-size: 48px;
  margin: 0 0 20px;
}
#contact_block .number {
  display: block;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 0 #145046;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  width: 75%;
  margin: 0 auto 16px;
  padding: 8px 0 10px;
}
#contact_block .time {
  text-shadow: -2px 1px 0 #163e3e;
  font: 24px Arial, sans-serif;
}
#promo_info {
  font: 26px Arial, sans-serif;
  padding: 25px 9%;
}
#promo_info .promo_block {
  padding: 19px 0;
}
#promo_info .promo_block img {
  max-width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}
#promo_info .promo_block span {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
#promo_info .promo_block:not(:last-child) {
  margin-bottom: 23px;
}
.promos {
    padding: 20px 4%;
}
.promos ul {
    padding: 0;
    margin: 0;
}
.promos ul li {
    list-style: none;
    display: block;
    width: 100%;
}
.promos ul li:not(:last-child) {
    margin-bottom: 15px;
}
.promos ul li a {
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    color: #000;
    background-color: rgba(0,0,0,0.05);
    text-decoration: none;
    text-align: center;
    position: relative;
}
.promos ul li a h5 {
    font-size: 1.3em;
    text-shadow: 0 1px 2px #000;
    position: relative;
    z-index: 2;
    margin: 20px 0px;
}
.promos ul li a p {
    font-size: 0.9em;
    text-shadow: 0 1px 1px #000;
    position: relative;
    z-index: 2;
}
.full_version.bottom {
    margin-top: 30px;
}
.full_version.bottom a {
  font-size: 30px;
  text-decoration: none;
}
.full_version.bottom i {
  font-size: 1.7em;
  color: #fff;
  position: absolute;
  top: 19%;
  right: 5%;
}
#footer {
  padding: 35px 100px;
}
#footer .copyright {
  color: #dfdfdf;
  font: 18px Arial, sans-serif;
  text-align: center;
  padding-bottom: 25px;
}
#footer .social {
  padding-top: 25px;
  text-align: center;
}
#footer .social h4 {
  margin-top: 0px;
  color: #fff;
}
#footer .sign {
  color: #6d7680;
  font: 18px Arial, sans-serif;
  text-align: center;
  padding-top: 25px;
}
#footer .sign a {
  color: #6d7680;
}
#webasyst_copyright {
    margin: 20px 0 10px;
    color: #7B8591;
    font-size: 18px;
    text-align: center;
}
#webasyst_copyright a {
    color: #7B8591;
}