{$is_home = $page.url === ''}
{$wa->globals('isHome', $is_home)}

{$_subpages = $wa->site->pages($page.id, true)}
{$subpages = array()}
{foreach $_subpages as $_sp}
    {if ($is_home && $_sp.id == $page.id) || (isset($_sp.mobisite_hide) && $_sp.mobisite_hide == '1')}{continue}{/if}
    {$subpages[$_sp.id] = $_sp}
{/foreach}

{if $is_home}
    {$catalog = array()}
    {$allow_catalog_logos = 0}
    {if $theme_settings.catalog_source == 'apps'}
        {$catalog = $wa->apps()}
    {elseif $wa->shop && $theme_settings.catalog_source == 'catalog'}
        {$catalog = $wa->shop->categories(0, 1, true, true)}
        {$allow_catalog_logos = $theme_settings.catalog_logo_enable|default:1}
    {elseif $theme_settings.catalog_source == 'site_pages'}
        {$catalog = $wa->site->pages()}
    {elseif $wa->shop && $theme_settings.catalog_source == 'shop_pages'}
        {$catalog = $wa->shop->pages()}
    {/if}

    {include file="`$wa_active_theme_path`/catalog.html" catalog=$catalog|default:[] catalog_title=$theme_settings.catalog_title catalog_limit=$theme_settings.catalog_limit catalog_counts_enable=$theme_settings.home_catalog_lables_enable reset_wrapper_if_no_title=1 allow_catalog_logos=$allow_catalog_logos}

    {include file="`$wa_active_theme_path`/get-brands-plugin-id.html" app_id='site' inline}
    {$brands_plugin_id = $wa->globals('brands_plugin_id')}

    {if $wa->shop && $theme_settings.home_brands_visibility == 'display' && $brands_plugin_id}

        {if $brands_plugin_id == 'brand'}
            {$home_brands = shopBrandViewHelper::getAllBrands()}
        {elseif $brands_plugin_id == 'productbrands'}
            {$home_brands = shopProductbrandsPlugin::getBrands()}
        {/if}
        {if $theme_settings.home_brands_type == 'slider_logo'}
            {include file="`$wa_active_theme_path`/brands-list.html" brands=$home_brands brands_title=$theme_settings.home_brands_title brands_limit=$theme_settings.home_brands_limit is_slider=1 inline}
        {elseif $theme_settings.home_brands_type == 'list_logo'}
            {include file="`$wa_active_theme_path`/brands.home.html" brands=$home_brands brands_title=$theme_settings.home_brands_title brands_limit=$theme_settings.home_brands_limit inline}
        {elseif $theme_settings.home_brands_type == 'list'}
            {include file="`$wa_active_theme_path`/brands.home.html" brands=$home_brands brands_title=$theme_settings.home_brands_title brands_limit=$theme_settings.home_brands_limit disable_logos=1 inline}
        {/if}
    {/if}

{else}
    {if $subpages}
        <div class="tabs-menu sub-links">
            {foreach $subpages as $p}
                <div class="tabs-menu__link">
                    <a href="{$p.url}" class="wrapper disable_count">
                        <div class="tabs-menu__name">{$p.name}</div>
                    </a>
                </div>
            {/foreach}
        </div>
    {/if}

    <div id="page" class="info-content" role="main">
        {$page.content}
    </div>
{/if}