<!-- product search -->
{$is_popup = $is_popup|default:false}
{$disable_suggestions = $disable_suggestions|default:false}
{if isset($wa_parent_theme_path) && $wa_parent_theme_path}
    {$wa_parent_theme_path = $wa_parent_theme_path|cat:'/'}
{else}
    {$wa_parent_theme_path = ''}
{/if}
{$theme_settings.search_plugin_enable = $theme_settings.search_plugin_enable|default:'no'}
{$is_search_plugin_enable = $theme_settings.search_plugin_enable != 'no'}
{$search_plugin_html = ''}
{if $is_search_plugin_enable}
    {if $theme_settings.search_plugin_enable == 'searchpro' && class_exists('shopSearchproPluginViewHelper')}
        {$search_plugin_html = shopSearchproPluginViewHelper::field()}
    {elseif $theme_settings.search_plugin_enable == 'searchsmart' && class_exists('shopSearchsmartPlugin')}
        {$search_plugin_html = shopSearchsmartPlugin::display()|default:''}
    {/if}
{/if}

{include file="`$wa_parent_theme_path`search-ajax_tpl.html" is_history=1 assign="history_search_tpl"}
<div class="{if $is_popup}dropdown-window js-dropdown-window {/if}search-block{if $theme_settings.search_suggestions_enable && !$disable_suggestions} search-block_ajax{/if} search-block_{if ($theme_settings.search_history_enable && $theme_settings.search_suggestions_enable) && !$disable_suggestions}history{else}without-history{/if} search-block_{if $is_popup}popup{else}static{/if}{if $search_plugin_html} search-block_plugin{/if}">
    <div class="wrapper search-block__inner">
        {if $search_plugin_html}
            {$search_plugin_html}
        {else}
            <form method="get" action="{$wa->getUrl('shop/frontend/search')}" class="search-form" data-history_tpl='<ul class="search-block__dropdown search-block__dropdown_history"></ul>' data-history_tpl_item="{'<li class="ui-menu-item">'|cat:$history_search_tpl|escape|cat:'</li>'}">
                <input class="search-form__query" type="text" name="query" {if !empty($query)}value="{$query}"{/if} placeholder="[s`Find products`]" autocomplete="off">
                <button type="submit" class="search-form__submit"></button>
            </form>
        {/if}
    </div>
</div>