{strip}
    {$url = $url|default:''}
    {$name = $name|default:''}
    {$is_history = $is_history|default:false}
    {if $is_history}
        {'<a class="search-block__dropdown-link" href="'|cat:$url|cat:'"><span class="search-block__dropdown-link-text">'|cat:$name|cat:'</span><div class="search-block__select"></div></a>'}
    {else}
        {'<a class="search-block__dropdown-link" href="'|cat:$url|cat:'"><div class="search-block__find"></div><span class="search-block__dropdown-link-text">'|cat:$name|cat:'</span><div class="search-block__select"></div></a>'}
    {/if}
{/strip}