{if $wa->mailer}
    {$subscribe_enable = false}
    {if $theme_settings.subscribe_visibility == "everywhere" || ($theme_settings.subscribe_visibility == "home" && $is_home)}
        {$subscribe_enable = true}
    {/if}
    {if $subscribe_enable && $theme_settings.subscribe_form_id}
        {$subscribe_form = $wa->mailer->form($theme_settings.subscribe_form_id)}
        {if !empty($subscribe_form)}
            <div class="blocks wrapper subscribe-block">
                {if $theme_settings.subscribe_form_title}
                    <div class="subscribe-block__title">{$theme_settings.subscribe_form_title}</div>
                {/if}
                {if $theme_settings.subscribe_form_desc}
                    <div class="subscribe-block__description">{$theme_settings.subscribe_form_desc}</div>
                {/if}
                <div class="subscribe-block__form">{$subscribe_form}</div>
            </div>
        {/if}
    {/if}
{/if}