{capture assign="_product_loader_template"}
    {strip}
        <div class="i-loading-wrapper js-loading-wrapper pulsed">
        {for $_index = 1 to 3}
            <div class="i-product-review-block loader-pulse">
                <span class="i-product-review-icon"></span>
                <span class="i-product-review-title "></span>
                <div class="i-rates-list ">
                    <span class="i-rate">
                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </span>
                    <span class="i-rate">
                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </span>
                    <span class="i-rate">
                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </span>
                    <span class="i-rate">
                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </span>
                    <span class="i-rate">
                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                        </svg>
                    </span>
                </div>
                <span class="i-product-review-support"></span>
            </div>
        {/for}
        </div>
    {/strip}
{/capture}

<section class="i-reviews js-reviews">
    <h1>[`Reviews`]</h1>
    <div class="i-reviews-filter js-reviews-filter">
        {$_page_section = $wa->get('section')}
        {$_is_rate_section = false}
        {if isset($_page_section) && $_page_section === 'rated'}
            {$_is_rate_section = true}
        {/if}
        <button class="{if !$_is_rate_section}active {/if}js-unrated-button" {if !$_is_rate_section}disabled{/if} type="button">[`Unrated products`]</button>
        <button class="{if $_is_rate_section}active {/if}js-rated-button" {if $_is_rate_section}disabled{/if} type="button">[`Rated products`]</button>
    </div>
    <div class="i-reviews-list js-reviews-list">
        {$_product_loader_template}
    </div>
</section>

{if !empty($store_review_core_url)}

    {capture assign="_product_review_template"}
        {strip}
            <div class="i-product-review-block">
                <div class="i-product-review-icon js-product-review-icon"></div>
                <div class="i-product-review-desc js-product-review-desc">
                    <a class="i-product-review-title js-product-review-title" target="_blank" href="#"></a>
                    <div class="i-rates-list js-rates-list">
                        {for $_index = 1 to 5}
                        <span class="i-rate js-set-rate">
                            <i class="fas fa-star"></i>
                        </span>
                        {/for}
                    </div>
                </div>
            </div>
        {/strip}
    {/capture}

    {capture assign="_product_review_dialog_template"}
        <div class="wa-dialog i-product-review-dialog">
            <div class="wa-dialog-background"></div>
            <div class="wa-dialog-body">
                <div class="wa-dialog-header"><h1 class="js-content-title">[`Your review`]</h1></div>
                <div class="wa-dialog-content">

                    <div class="i-comment-section">
                        {strip}
                            <div class="i-rates-list js-rates-list">
                                {for $_index = 1 to 5}
                                    <span class="i-rate js-set-rate"><i class="fas fa-star"></i></span>
                                {/for}
                            </div>
                        {/strip}

                        <div class="i-description">[`What you like or dislike about this product`] <span class="gray">([`optional`])</span>:</div>

                        <textarea class="i-comment-field js-comment-field"></textarea>

                    </div>

                    <div class="i-comment-user js-comment-user assets" style="display: none;">
                        <i class="userpic20 icon16"></i>
                        <strong class="user"></strong>
                        <span class="hint">{wa_date('humandate')}</span>
                    </div>

                    <div class="i-errors-place js-errors-place" style="display: none;"></div>

                </div>

                <div class="wa-dialog-footer">

                    <div class="hint js-dialog-signup-user-info" style="display: none;">
                        <p>
                            [`You are currently signed into Webasyst as <span class="js-customer-center-user-name"></span>`]<br>
                            [`If you want to add a review as another customer, please <a class="js-customer-center-logout-link">sign out</a>.`]
                        </p>
                    </div>

                    <button class="button2 large blue js-send-comment">[`Add a review`]</button>
                </div>
                <span class="wa-close-icon js-close-dialog">
            <i class="far fa-times-circle"></i>
        </span>
            </div>
        </div>
    {/capture}

    {capture assign="_confirm_text_template"}
        <div class="i-confirm-text">[`Your review has been added, thank you!`]</div>
    {/capture}

    {$_locale = [
        'your_rates'            => _w('Your rates'),
        'button_default'        => _w("Add a rate"),
        'button_active'         => _w("Add a rate and a review"),
        'button_edit_default'   => _w("Change rate"),
        'button_edit_active'    => _w("Change rate and review"),
        'for_plugin'            => _w("for plugin"),
        'for_widget'            => _w("for widget"),
        'for_theme'             => _w("for theme"),
        'for_app'               => _w("for app"),
        'support'               => _w("Contact the developer"),
        'rate_added'            => _w("Your rate has been added, thank you!")
    ]}

    <script src="{$wa_app_static_url}js/store_review.js?v={$wa->version()}"></script>
    <script>
        document.title = {$title|json_encode};
        (function ($) {
            new InstallerStoreReview({
                $wrapper: $(".js-reviews"),
                store_review_core_url: {$store_review_core_url|json_encode},
                store_review_core_params: {$store_review_core_params|json_encode},
                app_url: {$wa_app_url|json_encode},
                locale: {$_locale|json_encode},
                templates: {
                    product_review: {$_product_review_template|json_encode},
                    review_dialog: {$_product_review_dialog_template|json_encode},
                    loader: {$_product_loader_template|json_encode},
                    confirm: {$_confirm_text_template|json_encode}
                }
            });
        })(jQuery);
    </script>
{/if}