{$__contact = $wa->globals("_contact")}
{if $wa->shop}{$phone = $wa->shop->settings('phone')}{$email = $wa->shop->settings('email')}{else}{$phone=''}{$email=''}{/if}
<ul>
{if $__contact}
    <!--contact in header-->
    {if $phone}<li class="top-contact phone">{$phone}</li>{else}
        <li class="top-contact phone">+7 (917) 57-07-507</li>
    {/if}
    
    {* ссылка в шапке "заказаьть обратный звонок" при включенном плагине "Перезвонить Вам?"
    <li class="top-contact"><a href="javascript: void(0);" class="wm-recallback-plugin-button" rel="nofollow">Перезвонить Вам?</a></li>
    *}
    
    <li class="top-contact hint">
        {if $wh = $wa->shop->settings('workhours')}
            {*
            {foreach $wh.days as $d}{$d}{if !$d@last}, {/if}{/foreach}
            *}
            {$wh.days_from_to}
            {if $wh.hours_from && $wh.hours_to} {$wh.hours_from}—{$wh.hours_to}{/if}
        {else}
            Ежедневно с 9:00 до 21:00
        {/if}
    </li>
{else}    
    <!--contact in footer-->
    <li class="bottom-contact adress"><i class="icon-map-marker"></i>Коломна, ул. Зайцева, 38</li>
    {if $phone}<li class="bottom-contact phone"><i class="icon-phone"></i>{$phone}</li>{else}
        <li class="bottom-contact phone"><i class="icon-phone"></i>+7 (917) 57-07-507</li>
    {/if}
    {* ссылка в подвале "заказаьть обратный звонок" при включенном плагине "Перезвонить Вам?"
    <li class="bottom-contact phone"><i class="icon-phone-sign"></i><a href="javascript: void(0);" class="wm-recallback-plugin-button" rel="nofollow">Заказать обратный звонок</a></li>
    *}
    {if $email}<li class="bottom-contact email"><i class="icon-envelope"></i><a href="mailto:{$email}">{$email}</a></li>{else}
        <li class="bottom-contact email"><i class="icon-envelope"></i><a href="mailto:kolmakov.igor@gmail.com">kolmakov.igor@gmail.com</a></li>
    {/if}
{/if}
</ul>