{if $wa->photos}
    {$lphotos = $wa->photos->photos('', null, 8)}
    {if count($lphotos)>0}
    <!--last photos-->
    <div class="last-photos">
        <div class="caption home"><span>[`Last`]</span>[`photo`]</div>
        <ul class="{if isset($sidebar) && $sidebar}s{/if}lphotos">
        {if isset($sidebar) && $sidebar}{$_wh = '230x170'}{else}{$_wh = '320x170'}{/if}
        {foreach from=$lphotos item=photo}
          <li{if $photo.stack_count > 0} class="stacked"{/if}>
            <div class="image_">
            {if empty($photo.frontend_link)}
                {$wa->photos->getImgHtml($photo, $_wh)}
            {else}
                <a href="{$photo.frontend_link|default:'#'}"{if !$_index} rel="nofollow"{/if}>{$wa->photos->getImgHtml($photo, $_wh)}</a>
            {/if}
            </div>
            {*<h5>{$photo.name}</h5>
            {if $photo.description}
              <p>{$photo.description}</p>
            {/if}*}
          </li>
        {/foreach}
        </ul>
    </div>
    {/if}
{/if}