<p class="align-right hide-for-desktop" id="mobile-close"><a class="type5" href="#" rel="nofollow">[`Close`]</a></p>
{include file="top.apps.html" mobile=1}
{include file="vertical.tree.html"}

{if !empty($theme_settings.siteInfo)}
    {if $wa->shop && $theme_settings.appsPages == 'site'}
        {$site_pages = $wa->shop->pages()}
        {$active_page = null}
    {else}
        {$site_pages = $wa->site->pages()}
        {if isset($page.id)}{$active_page = $page.id}{else}{$active_page = null}{/if}
    {/if}
    {if $site_pages}<!-- info pages site -->
        <div class="information block">
            <span class="caption acapitalize">[`Information`]</span>
            <ul>
            {foreach $site_pages as $pageML}
            {if !isset($pageML.menu_left)}
                <li{if $pageML.id == $active_page} class="selected"{/if}>
                    <a href="{$pageML.url}" title="{$pageML.title}"><i class="icon-circle"></i>{$pageML.name}</a>
                    {if !empty($pageML.childs)}<ul>{foreach $pageML.childs as $_pageML}
                        <li{if $_pageML.id == $active_page} class="selected"{/if}>
                            <a href="{$_pageML.url}" title="{$_pageML.title}">{$_pageML.name}</a>
                            {if !empty($_pageML.childs)}<ul>{foreach $_pageML.childs as $__pageML}
                                <li{if $__pageML.id == $active_page} class="selected"{/if}>
                                    <a href="{$__pageML.url}" title="{$__pageML.title}"><i class="cb-minus">–</i>{$__pageML.name}</a>
                                </li>
                            {/foreach}</ul>{/if}
                        </li>
                    {/foreach}</ul>{/if}
                </li>
            {/if}
            {/foreach}
            </ul>
        </div>
    {/if}
{/if}

{if !empty($theme_settings.communityVKid)}{include file="community.vk.html" place="place-sidebar"}{/if}
{if !empty($theme_settings.communityFBhref)}{include file="community.fb.html" place="place-sidebar"}{/if}
{if !empty($theme_settings.siteLastPhotos)}{include file="last.photos.html" sidebar=1 _index=false}{/if}
{if !empty($theme_settings.siteLastPosts)}{include file="last.posts.html" sidebar=1 _index=false}{/if}