{$user_app_url.site = $wa->getUrl('site/frontend')}
{$user_app_url.shop = $wa->getUrl('shop/frontend')}
{$user_app_url.blog = $wa->getUrl('blog/frontend')}
{$user_app_url.photos = $wa->getUrl('photos/frontend')}
{$user_app_url.helpdesk = $wa->getUrl('helpdesk/frontend')}
{$user_app_url.hub = $wa->getUrl('hub/frontend')}
<ul class="wa-apps{if isset($mobile) && $mobile} hide-for-desktop{else} hide-for-mobile{/if}">
{foreach $wa->apps() as $a}
    {if $a.url==$user_app_url.shop}{$user_app_url_icon='icon-tag'}
    {elseif $a.url==$user_app_url.blog}{$user_app_url_icon='icon-edit'}
    {elseif $a.url==$user_app_url.photos}{$user_app_url_icon='icon-camera'}
    {elseif $a.url==$user_app_url.helpdesk}{$user_app_url_icon='icon-question-sign'}
    {elseif $a.url==$user_app_url.hub}{$user_app_url_icon='icon-comments-alt'}
    {elseif strpos($user_app_url.site, $a.url) !== false}{$user_app_url_icon='icon-home'}
    {else}{$user_app_url_icon='icon-globe'}{/if}
	<li{if $a.url==$wa_app_url} class="selected"{/if}><a href="{$a.url}"{if isset($mobile) && $mobile} class="type5"{/if}><i class="{$user_app_url_icon}"></i><span>{$a.name}</span></a></li>
{/foreach}
</ul>