<script src="{$wa_theme_url}js/cart.js"></script>
{if !$cart.count}
    
    <div class="cart empty-description">[`Your shopping cart is empty.`]</div>
{else}
    <form method="post">
    
        <div class="cart cart-summary-page">
            
            <div class="cart-items">
                {foreach $cart.items as $item}
                
                    <!-- cart item -->
                    <div class="row cart-item wrapper" data-id="{$item.id}">
                        <div class="cart-item__inner display_table vertical_top">
                            <div class="cart-item__image" style="display: block;">
                                <a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">
                                    {$wa->shop->productImgHtml($item.product, '200', ['default' => "`$wa_theme_url`img/dummy.svg"])}
                                </a>
                            </div>
                            <div class="cart-item__content">
                                <div class="cart-item__name">
                                    <a href="{$wa->shop->productUrl($item.product)}">{$item.product.name|escape}</a>
                                    {if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}
                                </div>
                                {*if !empty($item.services)}
                                    <!-- services -->
                                    <div class="services">
                                        {foreach $item.services as $service_id => $s}
                                            <!-- one option -->
                                            <div class="services__item" {if !empty($s.id)}data-id="{$s.id}"{/if}>
                                                <label>
                                                    <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}">
                                                    <span>{$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}</span>
                                                </label>
                                                {if isset($s.variants)}
                                                    <div class="services__variants">
                                                        <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                                            {foreach $s.variants as $variant_id => $v}
                                                            <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                {else}
                                                    <input type="hidden" name="service_variant[{$item.id}][{$service_id}]" value="{$s.variant_id}">
                                                {/if}
                                            </div>
                                        {/foreach}
                                    </div>
                                {/if*}
                                {strip}
                                    <div class="qty cart-item__qty">
                                        <span class="qty-btn qty-minus"></span>
                                        <input type="number" name="quantity[{$item.id}]" value="{$item.quantity}"{if !empty($item.error)} class="error"{/if}>
                                        <span class="qty-btn qty-plus"></span>
                                    </div>
                                {/strip}
                                <div class="cart-item__bottom display_table vertical_middle">
                                    <div class="item-total cart-item__total align-center nowrap">{shop_currency_html($item.full_price, true)}</div>
                                    <div class="cart-item__remove">
                                        <a class="delete" href="#" title="[`Remove from cart`]"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                {if !empty($item.services)}
								{literal}
								<style>
								.jq-selectbox .jq-selectbox__dropdown ul li {
									    white-space: inherit !important;
								}
								</style>
								{/literal}
                                    <!-- services -->
                                    <div class="services">
                                        {foreach $item.services as $service_id => $s}
                                            <!-- one option -->
                                            <div class="services__item" {if !empty($s.id)}data-id="{$s.id}"{/if}>
                                                <label>
                                                    <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}">
                                                    <span>{$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}</span>
                                                </label>
                                                {if isset($s.variants)}
                                                    <div class="services__variants">
                                                        <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                                            {foreach $s.variants as $variant_id => $v}
                                                            <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                {else}
                                                    <input type="hidden" name="service_variant[{$item.id}][{$service_id}]" value="{$s.variant_id}">
                                                {/if}
                                            </div>
                                        {/foreach}
                                    </div>
                                {/if}
                        {if $theme_settings.cart_recommended_list_type == 'personal'}
                            {if $item@index < 3}
                                {$_exclude_ids = []}
                                {foreach $cart.items as $item}{$_exclude_ids[] = $item.product.id}{/foreach}
                                {$related = $wa->shop->crossSelling($item.product.id, 5, true, $_exclude_ids)}
                                {if $related}
                                    <div class="reset-wrapper cart-relateds product-relateds">
                                        <div class="product-relateds__item">
                                            <div class="product-relateds__title">
                                                [`Recommended!`] {sprintf('[`Customers who bought %s also bought`]', $item.product.name|escape)}:
                                            </div>
                                            {include file="product-list.html" products=$related list_view="rows" limit=3 without_form=1}
                                        </div>
                                    </div>
                                {/if}
                            {/if}
                        {/if}
                    </div>
                    {if !empty($item.error)}<script>alert({json_encode($item.error)});</script>{/if}
                {/foreach}
            </div>
            
            <div class="cart-summary__result">
                {if shopDiscounts::isEnabled('coupons')}
                    <div class="coupon-code">
                        <div class="coupon-code__title">[`I have a coupon!`]</div>
                        <div id="apply-coupon-code" class="display_table vertical_middle">
                            <div class="coupon-code__text{if $coupon_code && empty($coupon_discount) && empty($coupon_free_shipping)} coupon-code__text_error{/if}">
                                <input type="text" name="coupon_code" value="{$coupon_code|escape}" placeholder="[`Coupon code`]">
                            </div>
                            <div class="coupon-code__submit">
                                <button type="submit" class="btn">[`Apply`]</button>
                            </div>
                        </div>
                    </div>
                {/if}
                {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
                    <!-- affiliate bonus -->
                    <div class="affiliate-bonus">
                        {sprintf('[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]', $affiliate_bonus, "<span class=\"affiliate-discount-available\">{shop_currency_html($affiliate_discount)}</span>")}
                        {if $use_affiliate}
                            <a id="cancel-affiliate" href="#">[`Don’t use bonus discount`]</a>
                        {else}
                            <button type="submit" name="use_affiliate" value="[`Use bonus`]" class="btn">[`Use bonus`]</button>
                        {/if}
                    </div>
                {/if}
                <!-- discount -->
                <div class="cart-discount-block">
                    {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
                        <div class="cart-discount-block__item display_table vertical_middle">
                            <div class="cart-discount-block__title nowrap">[`Bonuses`]</div>
                            <div class="cart-discount-block__discount affiliate-discount"{if $use_affiliate} data-use="1"{/if}>&minus; {if $use_affiliate}{shop_currency_html(shopAffiliate::convertBonus($used_affiliate_bonus))}{else}0{/if}</div>
                        </div>
                    {/if}
                    {if $discount}
                        <div class="cart-discount-block__item display_table vertical_middle">
                            <div class="cart-discount-block__title nowrap">[`Discount`]</div>
                            <div class="cart-discount-block__discount cart-discount nowrap">&minus; {shop_currency_html($discount, true)}</div>
                        </div>
                    {/if}
                </div>

                <!-- TOTAL -->
                <div class="cart-total-block">
                    <div class="cart-total-block__title">
                        [`Total`]:
                    </div>
                    <div class="cart-total-block__total cart-total total nowrap">
                        {shop_currency_html($cart.total, true)}
                    </div>
                </div>
                
                {if shopAffiliate::isEnabled() && !empty($add_affiliate_bonus)}
                    <div class="affiliate-info">
                        {sprintf("[`This order will add <strong>+%s bonuses</strong> to  your account, which you will be able to spend on getting additional discounts later.`]", $add_affiliate_bonus)}
                    </div>
                {/if}
            
                <!-- CHECKOUT -->
                <!-- Скрываем иконки методов оплаты -->
                {*{strip}
                    <div class="cart-payment-methods">
                        {$availabe_options = $wa->shop->payment()}
                        {$_cnt = 0}
                        {foreach $availabe_options as $option}
                            {if $_cnt == 6}{break}{/if}
                            {if $option.logo}
                                <div class="cart-payment-methods__item">
                                    <img src="{$option.logo}" alt="{$option.name}">
                                </div>
                                {$_cnt = $_cnt + 1}
                            {/if}
                        {/foreach}
                    </div>
                {/strip}*}
            </div>
            <div class="cart-checkout">
                <button name="checkout" type="submit" class="btn-lg" value="[`Proceed to checkout`]">[`Proceed to checkout`]</button>
                <div class="sp"> -или- </div>
{shopQuickorderPlugin::submitCart()}
                {if class_exists('shopBuy1clickViewHelper')}
                    {$buy1click_btn = shopBuy1clickViewHelper::getCartButton()}
                {/if}
                {if isset($frontend_cart['buy1click-plugin']) && isset($buy1click_btn) && !empty($buy1click_btn)}
                    <div class="cart__quickorder">
                        {if !empty($frontend_cart['buy1click-plugin'])}
                            {$frontend_cart['buy1click-plugin']}
                        {else}
                            {$buy1click_btn}
                        {/if}
                    </div>
                {elseif isset($frontend_cart['quickorder-plugin'])}
                    <div class="cart__quickorder">
                        {$frontend_cart['quickorder-plugin']}
                    </div>
                {elseif isset($frontend_cart['storequickorder-plugin'])}
                    <div class="cart__quickorder">
                        {$frontend_cart['storequickorder-plugin']}
                    </div>
                {/if}
            </div>
            
        </div>
        <!-- plugin hook: 'frontend_cart' -->
        {* @event frontend_cart.%plugin_id% *}
        {$exclude_keys = ['storequickorder-plugin', 'quickorder-plugin', 'buy1click-plugin']}
        {foreach $frontend_cart as $_key => $_}
            {if in_array($_key, $exclude_keys)}{continue}{/if}
            {$_}
        {/foreach}                    
    </form>
    {if $theme_settings.cart_recommended_list_type == 'common'}
        {$related = $wa->shop->crossSelling($cart.items, 'product_id')}
        {if $related}
            <div class="cart-relateds product-relateds">
                <div class="product-relateds__item">
                    <div class="product-relateds__title">
                        [`Recommended!`] {sprintf('[`Customers who bought %s also bought`]', $item.product.name|escape)}:
                    </div>
                    {include file="product-list.html" products=$related list_view="rows" limit=3}
                </div>
            </div>
        {/if}
    {/if}
{/if}