{$catalog = $catalog|default:array()}
{$allow_catalog_logos = $allow_catalog_logos|default:$theme_settings.catalog_logo_enable|default:0}
{$collapse_button_name = $collapse_button_name|default:'[`Collapse catalog`]'}

{if !empty($catalog)}
    {$catalog_title = $catalog_title|default:false}
    {$catalog_limit = $catalog_limit|default:0}
    {$reset_wrapper_if_no_title = $reset_wrapper_if_no_title|default:0}
    {$catalog_counts_enable = $catalog_counts_enable|default:$theme_settings.catalog_lables_enable}
    {$catalog_counts = $catalog_counts|default:[]}

    {if $theme_settings.catalog_source == 'catalog' && $catalog_counts_enable && !$catalog_counts}
        {include file="`$wa_active_theme_path`/categories-array.html"}
        {$catalog_counts = $wa->globals('categoriesCount')}
    {/if}

    <div class="tabs-menu catalog-nav js-expand-wrapper{if $reset_wrapper_if_no_title && !$catalog_title} reset-vertical-top-wrapper{/if}">
        {if $catalog_title}
            <div class="catalog-nav__title wrapper">
                {$catalog_title}
            </div>
        {/if}
        {$categories_count = count($catalog)}
        <ul class="reset-ul">
            {$catalog_count = 0}
            {foreach $catalog as $c_key => $c}
                {if (isset($c.params.mobisite_hide) && $c.params.mobisite_hide == '1') || (isset($c.mobisite_hide) && $c.mobisite_hide == '1')}{continue}{/if}
                {if !isset($c.id)}
                    {$c.id = $c_key}
                {/if}
                {if $allow_catalog_logos}
                    {if isset($c.catalog_logo_url)}
                        {$c_img = $c.catalog_logo_url}
                    {elseif class_exists('shopCategoryImagesPlugin')}
                        {$c_img = shopCategoryImagesPlugin::getCategoryImageUrl($c.id)}
                    {elseif class_exists('shopWmimageincatPlugin')}
                        {$c_img = shopWmimageincatPlugin::getCategoryImage($c.id, 'icon')}
                    {/if}
                {/if}
                {$c_count = $catalog_counts[$c.id]|default:false}
                {$c_url = $c.catalog_frontent_url|default:$c.url}
                <li class="item-total tabs-menu__link catalog-nav__item{if $catalog_limit && $catalog_count >= $catalog_limit} catalog-nav__item_hidden js-hidden{/if}">
                    <a href="{$c_url}" class="wrapper{if $c_count === false} disable_count{/if}"{if $c_count !== false} data-count="{$c_count}"{/if}>
                        {if $allow_catalog_logos}
                            <div class="tabs-menu__logo">
                                {if isset($c_img) && !empty($c_img)}
                                    <img src="{$c_img}" alt="{$c.name}" />
                                {else}
                                    <img src="{$wa_theme_url}img/dummy.svg" alt="" />
                                {/if}
                            </div>
                        {/if}
                        <div class="tabs-menu__name">
                            {$c.name}
                        </div>
                    </a>
                </li>
                {$catalog_count = $catalog_count + 1}
            {/foreach}
        </ul>
        {if $catalog_limit && $categories_count > $catalog_limit}
            {strip}
                <a class="button-expand js-button-expand catalog-expand" href="javascript:void(0);" data-show="{$collapse_button_name}">
                    <span>[`Show all`]</span>
                </a>
            {/strip}
        {/if}
    </div>
{/if}