{$sub_categories = $wa->shop->categories($category.id, 1, true, true)}
{function name="category_description"}
    <!-- description -->
    {if $category.description|default:''}
        <div class="info-content category-desc">{$category.description}</div>
    {/if}
    {if $category.additional_description|default:''}
        <div class="info-content plugin-seo__category-description filter-additional-desc">
            {$category.additional_description}
        </div>
    {/if}
{/function}
{include file="`$wa_active_theme_path`/catalog.html" catalog=$sub_categories catalog_limit=$theme_settings.category_catalog_limit inline}
<!-- filtering by product features -->
{if !empty($filters)}
    {include file="filters.html" inline}
{/if}
<!-- plugin hook: 'frontend_category' -->
{* @event frontend_category.%plugin_id% *}
{foreach $frontend_category as $_key => $_}
    {if $_key == 'categoryimages-plugin'}{continue}{/if}
    {$_}
{/foreach}
{if $theme_settings.category_description_position == 'top'}
    {category_description}
{/if}
<div id="product-list">
    {if !$products}
        {if !empty($filters)}
            <div class="wrapper product-list__empty">
                [`No products were found.`]
            </div>
        {else}
            [`This category does not contain any products.`]
        {/if}
    {else}
        {include file='product-list.html' sorting=!empty($category.params.enable_sorting) views=true}
    {/if}
</div>
{if $theme_settings.category_description_position == 'bottom'}
    {category_description}
{/if}
{$parent_category_url = $wa_url}
{if $category.parent_id != 0}
    {$parent_category = $wa->shop->category($category.parent_id)}
    {$parent_category_url = $wa->shop->categoryUrl($parent_category)}
{/if}
{$wa->globals('currentCategory', ["name" => $category.name, "url" => $parent_category_url])}