<div class="checkout-content" data-step-id="payment">
    {strip}
        <ul class="checkout-options payment reset-ul">
            {if class_exists('shopDelpayfilterPlugin')}
                {$checkout_payment_methods = shopDelpayfilterPlugin::filterPaymentMethods($checkout_payment_methods)}
            {/if}
            {foreach $checkout_payment_methods as $m}
                <li {if !empty($m.error)}class="gray"{/if}>
                    <h3>
                        <label>
                            {if !empty($m.logo)}
                                <div class="method-logo-wrapper">
                                    <img src="{$m.logo}" class="method-logo">
                                </div>
                            {/if}
                            <input {if !empty($m.error)}disabled="disabled"{/if} type="radio" name="payment_id" value="{$m.id}" {if $m.id == $payment_id}checked{/if}>
                            <span class="method-name">{$m.name|escape}</span>
                        </label>
                    </h3>
                    {if $m.description}<p class="checkout-options__description">{$m.description}</p>{/if}
                    {if !empty($m.error)}<p class="error"><em>{$m.error}</em></p>{/if}
                    {if !empty($m.custom_html)}<div class="wa-form" {if $m.id != $payment_id}style="display:none"{/if}>{$m.custom_html}</div>{/if}
                </li>
            {foreachelse}
                <li>
                    <em class="error">[`Oops! We are sorry, but <strong>we can not offer any payment option for your order</strong>. Checkout can not be completed.`]</em>
                </li>
            {/foreach}
        </ul>
    {/strip}
    <script>
        $(".checkout-options.payment input:radio").change(function () {
            if ($(this).is(':checked')) {
                $(".checkout-options.payment .wa-form").hide();
                $(this).closest('li').find('.wa-form').show();
            }
        });
    </script>
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
    {if !empty($error)}
    <div class="checkout-result error">{$error}</div>
    {/if}
</div>
