<div class="checkout-result checkout-success success wrapper">
    <div class="welcome">
        <h1>[`Thank you!`]</h1>
        <p>[`We successfully accepted your order, and will contact you asap.`]<br />
        [`Your order number is `] <strong>{$order.id}</strong>.</p>
    </div>
    
    {if !empty($payment)}
        <div class="plugin plugin-block">
            {$payment}
        </div>
    {/if}
    {if !empty($payment_success)}
        <span class="highlighted">[`Your payment has been successfully accepted. We will process your order and contact you shortly.`]</span>
    {/if}
    
    <div class="checkout-success__back">
        <a href="{$wa_app_url}" class="btn-lg">[`Back to the store`]</a>
    </div>
    
     {if !empty($frontend_checkout)}
     <div class="checkout-result__plugins">
        <!-- plugin hook: 'frontend_checkout' -->
       {* @event frontend_checkout.%plugin_id% *}
        {foreach $frontend_checkout as $_}{$_}{/foreach}
    </div>
    {/if}
    
</div>
{$counter_cookie = $wa->cookie('counter_checkout', '')}
{if $counter_cookie != $order.id}
    <script>
        $(window).load(function () {
            var order = {json_encode($order)} ;
            {literal}
                window.mobisite_site.reachGoal(window.mobisite_site.yaCounterGoals.checkout);
            {/literal}
            if (window.$.cookie) {
                $.cookie('counter_checkout', order.id, { path: '/' });
            }
        });
    </script>
{/if}