<div class="checkout-content" data-step-id="confirmation">
    {if !empty($error)}
        <div class="checkout-result error">
            {$error}
            <br><br>
            <a href="{$wa->getUrl('/frontend/checkout')}">[`Restart checkout`]</a>
        </div>
    {else}
    
        <div class="step-confirmation-contact">
            <div class="step-confirmation-contact__item">
                <h3>[`Ship to`]</h3>
                <p>{$contact.name|escape}<br>
                {$shipping_address.value}</p>
            </div>
            {if $billing_address}
                <div class="step-confirmation-contact__item">
                    <h3>[`Bill to`]</h3>
                    <p>{$contact.name|escape}<br>
                    {$billing_address.value}</p>
                </div>
            {/if}
        </div>
    
        <table class="table step-confirmation__summary">
            {foreach $items as $item}
                <tr class="no_background{if $item.type == 'service'} service{/if}">
                    <td class="step-confirmation-order__name">{if $item.type == 'service'}+ {/if}{$item.name|escape}</td>
                    <td class="table__qty step-confirmation-order__qty nowrap"><span class="table__qty-title step-confirmation-order__title">[`Quantity`]:</span><span>{shop_currency_html($item.price, $item.currency)} &times;</span> {$item.quantity}</td>
                    {if $tax > 0} 
                        <td class="step-confirmation-order__tax nowrap"><span class="table__subtotal-title step-confirmation-order__title">[`Tax`]:</span>{if isset($item.tax)}{shop_currency_html($item.tax, true)}{else}&ndash;{/if}</td>
                    {/if}
                    <td class="table__subtotal step-confirmation-order__subtotal nowrap"><span class="table__subtotal-title step-confirmation-order__title">[`Total`]:</span>{shop_currency_html($item.price * $item.quantity, $item.currency)}</td>
                </tr>
            {/foreach}
            <tr class="table-total step-confirmation-total step-confirmation-total__subtotal first">
                <td>[`Subtotal`]</td>
                <td class="nowrap">{shop_currency_html($subtotal, true)}</td>
            </tr>
            <tr class="table-total step-confirmation-total step-confirmation-total__discount">
                <td>[`Discount`]</td>
                <td class="nowrap">&minus; {shop_currency_html($discount, true)}</td>
            </tr>
            <tr class="table-total step-confirmation-total step-confirmation-total__shipping">
                <td>[`Shipping`]{if !empty($params.shipping_name)} &mdash; <strong>{$params.shipping_name}</strong>{/if}</td>
                <td class="nowrap">{shop_currency_html($shipping, true)}</td>
            </tr>
            {if $tax > 0}
                <tr class="table-total step-confirmation-total step-confirmation-total__tax">
                    <td>[`Tax`]</td>
                    <td class="nowrap">{shop_currency_html($tax, true)}</td>
                </tr>
            {/if}
            <tr class="table-total step-confirmation-total step-confirmation-total__total">
                <td>[`Total`]</td>
                <td class="nowrap"><strong class="large">{shop_currency_html($total, true)}</strong></td>
            </tr>
        </table>
        
        <textarea class="comment" name="comment" placeholder="[`Comment`]">{waRequest::post('comment', '', 'string')|escape}</textarea>
    
        {if !empty($terms)}
            <div class="checkout-terms">
                {if waRequest::method() == 'post' && !$wa->post('terms')}
                    <p class="error">[`You must read and agree to the Terms of service to place an order.`]</p>
                {/if}
                <label><input type="checkbox" name="terms" value="1"> {sprintf('[`I have read and agree to the <a href="%s" target="_blank">Terms of service</a>`]', $wa->getUrl('/frontend/checkout', ['step' => 'confirmation'])|cat:'?terms=1')}</label>
            </div>
        {/if}
    
    {/if}
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
</div>