<div class="checkout{if $checkout_current_step != "error"} reset-vertical-top-wrapper{/if}">
    {$cart_total = $wa->shop->cart()->total()}
    {if isset($checkout_steps)}
        {$current_step_index = array_search($checkout_current_step, array_keys($checkout_steps)) + 1}
    <!-- checkout step content -->
    {foreach $checkout_steps as $step_id => $s}
        <div class="checkout-step step-{$step_id} {if $current_step_index > 0 && $current_step_index > $s@iteration}is-done{/if}" data-step-index="{$s@iteration}">
            {$lang_variables = [
                'Requared' => [
                    'ru' => 'Это поле обязательное'
                ]
            ]}
            <form class="checkout-form {if $s@last}last{/if}" method="post" action="" data-lang-variables="{json_encode($lang_variables)|escape}">
                <div class="tabs-menu">
                    <h2 class="tabs-menu__link step-header {if isset($_upcoming_flag)}upcoming{/if}{if $step_id == $checkout_current_step}{$_upcoming_flag = 1}{/if}"{if $s@first} style="border-top: none;"{/if}>
                        <a class="wrapper disable_count" href="#">
                            <div class="tabs-menu__name"><span>{$s@iteration}.</span> {$s.name}</div>
                        </a>
                    </h2>
                </div>

                <div class="shadowed-frame checkout-step-wrapper"{if $checkout_current_step != $step_id} style="display:none"{/if}>
                    {strip}
                        <div class="checkout-summary display_inline-block vertical_middle">
                            <div class="checkout-summary__name nowrap">[`Order price`]:</div>
                            <div class="checkout-summary__value nowrap">{shop_currency_html($cart_total, true)}</div>
                        </div>
                    {/strip}
                    {if $s@first && $wa->isAuthEnabled()}
                        <div class="checkout-step-content auth">
                            {if !$wa->user()->isAuth()}
                                <!-- authorized / not authorized selector -->
                                <ul class="reset-ul auth-switch">
                                    <li class="auth-switch__item"><label><input name="user_type" type="radio" {if !$wa->post('wa_auth_login')}checked{/if} value="0"> <span>[`I’m a new customer`]</span></label></li>
                                    <li class="auth-switch__item"></li><label><input name="user_type" type="radio" {if $wa->post('wa_auth_login')}checked{/if} value="1"> <span>[`I already have an account`]</span></label></li>
                                </ul>
                                <div id="login-form"{if !$wa->post('wa_auth_login')} style="display:none"{/if}>
                                    {include file="`$wa_parent_theme_path`/login.html" without_form=true}
                                </div>
                                <script>
                                    $(function () {
                                        $("#login-form input").attr('disabled', 'disabled').trigger("refresh");
                                        $("input[name='user_type']").change(function () {
                                            if ($("input[name='user_type']:checked").val() == '1') {
                                                $("#login-form input").removeAttr('disabled').trigger("refresh");
                                                $(this).closest('div.auth').next(".checkout-step-content").hide();
                                                $("[type=submit]:last").hide();
                                                $("#login-form").show();
                                            } else {
                                                $("#login-form input").attr('disabled', 'disabled').trigger("refresh");
                                                $("#login-form").hide();
                                                $(this).closest('div.auth').next(".checkout-step-content").show();
                                                $("[type=submit]:last").show();
                                            }
                                        });
                                        {if $checkout_current_step == $step_id}
                                            $("input[name='user_type']").change().trigger("refresh");
                                        {/if}
                                    });
                                </script>
                            {else}
                            <!-- authorized -->
                                <blockquote class="auth-info display_table vertical_top">
                                    <div class="auth-info__img">
                                        <img src="{$wa->user()->getPhoto(50)}">
                                    </div>
                                    <div class="auth-info__desc">
                                        <div>{sprintf("[`You are currently authorized as <strong>%s</strong>. Please verify or update your contact information using the form below. Your existing contact info will be automatically updated.`]", $wa->user('name'))}</div>
                                        <div>[`If you want to place an order on behalf of another customer, <a href="?logout">log out</a> from your current profile and proceed to checkout again.`]</div>
                                    </div>
                                </blockquote>
                            {/if}
                        </div>
                    {/if}

                    <div class="checkout-step-content">
                        {if $checkout_current_step == $step_id}
                            {if in_array($step_id,['contactinfo', 'shipping', 'payment', 'confirmation'])}
                                {include file="checkout.`$step_id`.html"}
                            {else}
                                {$s.content}
                            {/if}
                        {else}
                            <div class="checkout-content" data-step-id="{$step_id}"></div>
                        {/if}
                        <input type="hidden" name="step" value="{$step_id}">
                        {if $s@last}
                            <div class="checkout-submit">
                                <button type="submit" class="btn-lg" value="[`Place order`]">[`Place order`]</button>
                            </div>
                        {else}
                            <button type="submit" class="btn-lg checkout-next" value="[`Next`]" data-error_tpl="{('<div class="checkout-next-error">[`Not all required fields are filled`]</div>')|escape}">[`Next`]</button>
                        {/if}
                    </div>
                </div>
            </form>
        </div>
    {/foreach}
    {else}
        <div class="checkout-step">
            {include file="checkout.`$checkout_current_step`.html"}
        </div>
    {/if}

</div>

<script>
( function($) {
    var checkout = {
        setNexStepError: function (f) {
            checkout.removeNexStepError();
            var $checkout_next = f.find(".checkout-next");
            $checkout_next.after($($checkout_next.data("error_tpl")));

        },
        removeNexStepError: function () {
            $(".checkout-next-error").remove();
        },
        checkoutStepRestyler: function ($section) {
            $section = $section || $(".checkout-step");
            if (typeof mobisite_site != "undefined") {
                mobisite_site.styler($section.find("input, select").not(
                    "[id*='np2_'],"+
                    "[class*='np2_']"
                ));
                mobisite_site.initPlaceholders();
            }
        }
    };
    if (window.mobisite_shop) {
        mobisite_shop.checkout = checkout;
    }
    $(document).ajaxSuccess(function (event, xhr, settings) {
        if (settings.url == '/wholesale/shipping/') {
            checkout.checkoutStepRestyler();
            $(".checkout-step").find("input, select").trigger('refresh');
        }
    });
    $(document).ready( function() {
        var $steps = $(".checkout-step");
        function setStepOrnament( $step ) {
            var step_index = $step.data("step-index"),
                done_class = "is-done",
                upcoming_class = "upcoming";

            if (step_index > 0) {
                $steps.each( function(index) {
                    var $step = $(this),
                        $header = $step.find(".step-header");

                    if (index + 1 >= step_index) {
                        $step.removeClass(done_class);

                        if (index + 1 === step_index) {
                            $header.removeClass(upcoming_class);
                        }

                        if (index + 1 > step_index) {
                            $header.addClass(upcoming_class);
                        }

                    } else {
                        $header.removeClass(upcoming_class);
                        $step.addClass(done_class);
                    }
                })
            }
        }
        function checkoutStep(step_id) {
            $.get("{$wa->getUrl('/frontend/checkout')}" + step_id + '/', function (response) {
                var current = $(".checkout-step .checkout-step-content:visible").closest(".checkout-step-wrapper");
                var current_step_id =  current.find(".checkout-content").data('step-id');
                if (current_step_id != step_id) {
                    current.hide();
                }
                $(".checkout-step.step-" + step_id + " .checkout-content").replaceWith(response);
                if (current_step_id != step_id) {
                    $(".checkout-step.step-" + step_id + " .checkout-step-wrapper").show(0);
                }
                if ($(".checkout-step.step-" + step_id + ' .auth').length) {
                    $("input[name='user_type']").change().trigger("refresh");
                }

                var $step = $(".checkout-step.step-" + step_id);
                setStepOrnament( $step );
                checkout.checkoutStepRestyler();
            });
        }
        $(".checkout h2 a").click(function () {
            if ($(this).closest('h2').hasClass('upcoming')) {
                return false;
            }
            checkoutStep($(this).closest('.checkout-step').find('.checkout-content').data('step-id'));
            return false;
        });
        $("form.checkout-form").on('submit', function (e) {
            var f = $(this);
            var $wa_auth_login = f.find("[name=wa_auth_login]");
            if (!$wa_auth_login.length || ($wa_auth_login.length && $wa_auth_login.is(":disabled"))) {
                var step = f.find('.checkout-content').data('step-id');
                if (step == 'payment' || step == 'shipping') {
                    if (!f.find('input[name="' + step + '_id"]:checked').not(':disabled').length) {
                        if (!f.find('em.errormsg').length) {
                        $('<em class="errormsg inline">' + (step == 'payment' ? '[`Please select payment option`]' :
                                '[`Please select shipping option`]') + '</em>').insertAfter(f.find('[type=submit]:last'));
                        }
                        return false;
                    } else {
                        f.find('em.errormsg').remove();
                        checkout.removeNexStepError();
                    }
                }
                if (f.hasClass('last') || ($("#login-form").length && $("#login-form").is(":visible") && !$("#login-form [type=submit]").is(':disabled'))) {
                    f.find('[type=submit]:last').addClass("btn_loading");
                    return true;
                }
                f.find('[type=submit]:last').attr('disabled', 'disabled').trigger("refresh").addClass("btn_loading");

                if (step == 'contactinfo') {
                    var $contactinfo_form = $("#checkout-contact-form");
                    var contactinfo_name = $contactinfo_form.find("[name='customer[name]']");
                    if (contactinfo_name.length) {
                        var contactinfo_firstname = $contactinfo_form.find("[name='customer[firstname]']");
                        var contactinfo_lastname = $contactinfo_form.find("[name='customer[lastname]']");
                        if (contactinfo_firstname.length || contactinfo_lastname.length) {
                            contactinfo_name.val(contactinfo_firstname.val() + " " + contactinfo_lastname.val());
                        }
                    }
                }
                $.post(f.attr('action') || window.location, f.serialize(), function (response) {
                    var content = $(response);
                    var step_id = content.data('step-id');
                    if (!step_id) {
                        step_id = content.filter('.checkout-content').data('step-id');
                    }
                    var current = $(".checkout-step .checkout-step-content:visible").closest(".checkout-step-wrapper");
                    var current_step_id =  current.find(".checkout-content").data('step-id');
                    if (current_step_id != step_id) {
                            current.hide();
                        checkout.removeNexStepError();
                        $(".checkout-step.step-" + step_id + " .checkout-step-wrapper").show(200, function () {
                            $("html, body").scrollTop($(".checkout-step.step-" + step_id).offset().top);
                        });
                    } else {
                        checkout.setNexStepError(f);
                    }

                    var lang_variables = f.data('lang-variables');
                    if (lang_variables) {
                        content.find('.errormsg').filter(function () {
                            return $(this).text() == 'Required';
                        }).text(lang_variables.Requared.ru);
                    }

                    $(".checkout-step.step-" + step_id + " .checkout-content").replaceWith(content);
                    $(".checkout-step.step-" + step_id + " [type=submit]:last").show();
                    if (current_step_id != step_id) {
                        $(".checkout-step.step-" + step_id + " .checkout-step-wrapper").show(0);
                    }

                    var $step = $(".checkout-step.step-" + step_id);
                    setStepOrnament( $step );
                    if (typeof mobisite_site != "undefined") {
                        mobisite_site.styler($step.find("input, select").not(
                            "[id*='np2_'],"+
                            "[class*='np2_']"
                        ));
                        mobisite_site.initPlaceholders();
                    }
                    $step.find("input, select").trigger('refresh');
                    if (f.find(".errormsg").length) {
                        $("html, body").animate({ scrollTop: f.find(".errormsg").eq(0).closest(".wa-field").offset().top - $(".header-top").height() }, 200);
                        checkout.setNexStepError(f);
                    }
                    f.find('[type=submit]').removeAttr('disabled').trigger("refresh").removeClass("btn_loading");
                }).always(function () {
                    f.find('[type=submit]').removeAttr('disabled').trigger("refresh").removeClass("btn_loading");
                });

                return false;
            }
        });
    });
})(jQuery);
</script>