{if isset($action)}
    {$og = $wa->meta('og')}
    {if $action == 'category'}
        {$og['og:image'] = $og['og:image']|default:''}
    {elseif $action == 'productReviews'}
        {$og['og:type'] = $og['og:type']|default:'product'}
        {$og['og:url'] = $og['og:url']|default:$wa->currentUrl()}
        {$og['og:image'] = $og['og:image']|default:''}
    {/if}
    {$wa->meta('og', $og)}
{/if}
<script src="https://api-maps.yandex.ru/2.1/?apikey=ebbd30e1-5346-4f35-add6-ed6f2546d451&lang=ru_RU" type="text/javascript"></script>
<!-- shop app css -->
<link href="{$wa_active_theme_url}css/mobisite.shop.min.css?v{$wa_theme_version}" rel="stylesheet">
{include file="`$wa_active_theme_path`/theme.shop.html" inline}
<!-- js -->
<script src="{$wa_active_theme_url}js/vendors.shop.min.js?v{$wa_theme_version}"></script>
<script src="{$wa_active_theme_url}js/mobisite.shop.js?v{$wa_theme_version}"></script>
{$product_actions = array('product', 'productReviews', 'productPage')}
{if isset($action) && in_array($action, $product_actions)}
    <script src="{$wa_active_theme_url}js/product.main.js?v{$wa_theme_version}" defer></script>
{/if}
{if !empty($nofollow)}
    <!-- "nofollow" for pages not to be indexed, e.g. customer account -->
    <meta name="robots" content="noindex,nofollow" />
{/if}
<!-- plugin hook: 'frontend_head' -->
{* @event frontend_head.%plugin_id% *}
{foreach $frontend_head as $_key => $_}
    {if $_key == 'smartsearch-plugin' && $theme_settings.search_suggestions_enable}{continue}{/if}
    {$_}
{/foreach}
<link href="{$wa_active_theme_url}css/user.shop.css?v{$wa_theme_version}" rel="stylesheet"/>
