{$shop_pages = $wa->shop->pages()}
{if $theme_settings.shop_menu}
    {$shop_pages_ids = explode(',', $theme_settings.shop_menu)}
{/if}
{if $shop_pages && isset($shop_pages_ids)}
    {* PAGES *}
    {foreach $shop_pages as $page}
        {if in_array($page.id, $shop_pages_ids)}
        <li{if strlen($page.url)>1 && $wa->currentUrl()|strstr:$page.url} class="selected"{/if}><a href="{$page.url}">{$page.name}</a><i class="fa fa-angle-right"></i></li>
        {/if}
    {/foreach}
<div>