{$is_home = $is_home|default:$wa->globals('isHome')|default:false}
{if !$is_home}
    {$action = $action|default:$wa->globals('action')}
    {$product = $product|default:["name" => "", "url" => ""]}
    {if $wa->globals('is_compare_home')}
        {$action = 'compare_home'}
    {/if}
    {if $action}
        {if $action == 'page' && isset($page)}
            {$page_back_url = $wa_app_url}
            {if !empty($page.parent_id)}
                {$parent_page = $wa->shop->page($page.parent_id)}
                {$page_back_url = $wa_app_url|cat:$parent_page.full_url}
            {/if}
        {/if}
        {$current_category = $wa->globals('currentCategory')|default:array()}
        {$action_rules = [
            "category" => [
                "name" => $current_category.name|default:'',
                "url" => $current_category.url|default:'',
                "is_h1" => true,
                "h1_class" => "category-name"
            ],
            "product" => [
                "name" => $current_category.name|default:'',
                "url" => $current_category.url|default:''
            ],
            "cart" => [
                "name" => "[`Cart`]",
                "url" => $wa_url
            ],
            "order" => [
                "name" => $config.cart.block_name|default:"[`Shopping cart`]"|escape,
                "url" => $wa_url
            ],
            "checkout" => [
                "name" => "[`Checkout`]",
                "url" => $wa->getUrl('shop/frontend/cart')|default:''
            ],
            "myOrder" => [
                "name" => "[`Order`] "|cat:{$wa->globals('order_number')},
                "url" => $wa->getUrl('/frontend/myOrders')|default:''
            ],
            "productPage" => [
                "name" => $page.name|default:'',
                "url" => $wa->shop->productUrl($product)|default:'',
                "is_h1" => true
            ],
            "productReviews" => [
                "name" => $product.name,
                "url" => $wa->shop->productUrl($product)|default:''
            ],
            "compare" => [
                "name" => "[`Compare`]",
                "url" => $compare_page_url|default:$wa->getUrl('shop/frontend/compare')
            ],
            "compare_home" => [
                "name" => $wa->globals('compare_home_title'),
                "url" => $wa_url
            ],
            "search" => [
                "name" => $wa->globals("search_title"),
                "url" => $wa_url
            ],
            "brand" => [
                "name" => $brand.name|default:'',
                "url" => $wa_url|cat:'brands/',
                "is_h1" => true
            ],
            "brandPage" => [
                "name" => $wa->globals("brands_title"),
                "url" => $wa_url|cat:'brands/',
                "is_h1" => true
            ],
            "brands" => [
                "name" => $wa->globals("brands_title"),
                "url" => $wa_url,
                "is_h1" => true
            ],
            "page" => [
                "name" => $page.name|default:'',
                "url" => $page_back_url|default:'',
                "is_h1" => true
            ]
        ]}
        {if isset($action_rules[$action]) && !empty($action_rules[$action].name)}
            <div class="header-nav-wrapper">
                {strip}
                    <a href="{$action_rules[$action].url}" class="header-nav">
                        {if isset($action_rules[$action]["is_h1"]) && $action_rules[$action]["is_h1"]}
                            <h1{if isset($action_rules[$action]["h1_class"]) && $action_rules[$action]["h1_class"]} class="{$action_rules[$action]["h1_class"]}"{/if}>
                        {/if}
                            {$action_rules[$action].name}
                        {if isset($action_rules[$action]["is_h1"]) && $action_rules[$action]["is_h1"]}</h1>{/if}
                    </a>
                {/strip}
                {if $action == "compare"}
                    <a href="javascript:void(0);" id="compare-clear"></a>
                {/if}
            </div>
        {/if}
    {/if}
{/if}