{$catalog = array()}
{$allow_catalog_logos = 0}
{if $theme_settings.catalog_source == 'apps'}
    {$catalog = $wa->apps()}
{elseif $theme_settings.catalog_source == 'catalog'}
    {$catalog = $wa->shop->categories(0, 1, true, true)}
    {$allow_catalog_logos = $theme_settings.catalog_logo_enable|default:0}
{elseif $theme_settings.catalog_source == 'site_pages'}
    {$catalog = $wa->site->pages()}
{elseif $theme_settings.catalog_source == 'shop_pages'}
    {$catalog = $wa->shop->pages()}
{/if}
{include file="`$wa_active_theme_path`/catalog.html" catalog=$catalog catalog_title=$theme_settings.catalog_title catalog_limit=$theme_settings.catalog_limit catalog_counts_enable=$theme_settings.home_catalog_lables_enable|default:false reset_wrapper_if_no_title=1 allow_catalog_logos=$allow_catalog_logos}


{***********************************************************************************************}
{if isset($smarty.get.test_echo)}
{if $wa->shop}

{$is_slider = false}
{if $theme_settings.home_product_set_type == 'slider'}
	{$is_slider = true}
{/if}

<style>
.products_block .product-list__item {
  display: none;
}
button.btn-show-more {
	width: 60%;
    margin: auto;
    height: 33px;
    margin-bottom: 40px;
    background: #ffffff;
    border: solid 1px #333333;
    color: #333333;
    font-size: 16px;
    display: block;
}
</style>
<script>
function _load_products(id){
    var per_load = 8; //is PC ver
    if($(window).width() <= 767){
        per_load = 4; //is Mob ver
    }
    var count = 0;
    var count2 = 0;
    $('#'+id+' .product-list__item').each(function(i1, obj) {
       if($(this).css('display') == 'none' && count < per_load){
          count++;
          $(this).css('display', 'flex');
       }
     });
    $('#'+id+' .product-list__item').each(function(i1, obj) {
       if($(this).css('display') == 'none'){
          count2++;
       }
     });
    if(count2 <= 0){
        $('button.btn-'+id).css('display','none');
    }
}
</script>


{* Начало: Хиты *}
{$products_block_thebest = $wa->shop->productSet("thebest")}
{if $products_block_thebest}
<div class="product-sets product-sets{if $is_slider}_as-slider{else}_as-list{/if}">
	<div class="blocks-title product-sets__title">Новинки</div>
	<div id="products_block_thebest" class="products_block product-sets__products">
		{include file="`$wa_active_theme_path`/product-list.html" products=$products_block_thebest list_view=$theme_settings.home_product_set_view is_slider=$is_slider}
	</div>
</div>
<button onclick="_load_products('products_block_thebest')" class="btn-show-more btn-products_block_thebest">Показать еще</button>
<script>
_load_products('products_block_thebest');
</script>
{/if}
{* Конец: Хиты *}

{* Начало: Новинки *}
{$products_block_newprod = $wa->shop->productSet("newprod")}
{if $products_block_newprod}
<div class="product-sets product-sets{if $is_slider}_as-slider{else}_as-list{/if}">
	<div class="blocks-title product-sets__title">Новинки</div>
	<div id="products_block_newprod" class="products_block product-sets__products">
		{include file="`$wa_active_theme_path`/product-list.html" products=$products_block_newprod list_view=$theme_settings.home_product_set_view is_slider=$is_slider}
	</div>
</div>
<button onclick="_load_products('products_block_newprod')" class="btn-show-more btn-products_block_newprod">Показать еще</button>
<script>
_load_products('products_block_newprod');
</script>
{/if}
{* Конец: Новинки *}

{* Начало: Снова в наличии *}
{$products_block_re = shopLastPlugin::products(12)}
{if $products_block_re}
<div class="product-sets product-sets{if $is_slider}_as-slider{else}_as-list{/if}">
	<div class="blocks-title product-sets__title">Снова в наличии</div>
	<div id="products_block_re" class="products_block product-sets__products">
		{include file="`$wa_active_theme_path`/product-list.html" products=$products_block_re list_view=$theme_settings.home_product_set_view is_slider=$is_slider}
	</div>
</div>
<button onclick="_load_products('products_block_re')" class="btn-show-more btn-products_block_re">Показать еще</button>
<script>
_load_products('products_block_re');
</script>
{/if}
{* Конец: Снова в наличии *}

{/if}
{/if}
{***********************************************************************************************}


{include file="`$wa_active_theme_path`/home-product-sets.html"}

{if $theme_settings.home_brands_visibility == 'display'}
    {$_wa_parent_theme_path = $wa_parent_theme_path|default:$wa_active_theme_path}

    {include file="`$_wa_parent_theme_path`/get-brands-plugin-id.html" inline}
    {$brands_plugin_id = $wa->globals('brands_plugin_id')}

    {if $brands_plugin_id == 'brand'}
        {$home_brands = shopBrandViewHelper::getAllBrands()}
    {elseif $brands_plugin_id == 'productbrands'}
        {$home_brands = shopProductbrandsPlugin::getBrands()}
    {/if}

    {if $theme_settings.home_brands_type == 'slider_logo'}
        {include file="`$_wa_parent_theme_path`/brands-list.html" brands=$home_brands brands_title=$theme_settings.home_brands_title brands_limit=$theme_settings.home_brands_limit is_slider=1 inline}
    {elseif $theme_settings.home_brands_type == 'list_logo'}
        {include file="`$_wa_parent_theme_path`/brands.home.html" brands=$home_brands brands_title=$theme_settings.home_brands_title brands_limit=$theme_settings.home_brands_limit inline}
    {elseif $theme_settings.home_brands_type == 'list'}
        {include file="`$_wa_parent_theme_path`/brands.home.html" brands=$home_brands brands_title=$theme_settings.home_brands_title brands_limit=$theme_settings.home_brands_limit disable_logos=1 inline}
    {/if}
{/if}

<!-- plugin hook: 'frontend_homepage' -->
{* @event frontend_homepage.%plugin_id% *}
{foreach $frontend_homepage as $_}{$_}{/foreach}

{$wa->globals('isHome', true)}
