<!-- products thumbnail list view -->
{$lazy = $wa->cookie("lazy_pag", false)}
{if !isset($one_view)}
{$view = $wa->cookie("product_list_view_mobile", $theme_settings.catalog_view)}
<div class="sort_view_wrap">
    <div class="view">
        {if $theme_settings.show_two_blocks}
        <div class="two_blocks{if !empty($view) && $view=='two_blocks'} active{/if}" data-view="two_blocks"><i class="fa fa-th-large"></i></div>
        {/if}
        {if $theme_settings.show_list}
        <div class="list{if !empty($view) && $view=='list'} active{/if}" data-view="list"><i class="fa fa-th-list"></i></div>
        {/if}
        {if $theme_settings.show_one_block}
        <div class="one_block{if !empty($view) && $view=='one_block'} active{/if}" data-view="one_block"><i class="fa fa-square"></i></div>
        {/if}
    </div>
    {if !empty($sorting)}
        <!-- sorting -->
        {$sort_fields = [
            'name' => '[`Name`]',
            'price' => '[`Price`]',
            'total_sales' => '[`Bestsellers`]',
            'rating' => '[`Customer rating`]',
            'create_datetime'=>'[`Date added`]',
            'stock' => '[`In stock`]']}
        {if !isset($active_sort)}
            {$active_sort = $wa->get('sort', 'create_datetime')}
        {/if}
        <div id="cat_product_sort">
            <div class="sorting_active">
                {if !$active_sort}
                    <span>[`New & Popular`]</span>
                {else}
                    {foreach $sort_fields as $sort => $name}
                        {if $active_sort == $sort}
                            <span>{$name}</span>
                            {break}
                        {/if}
                    {/foreach}
                {/if}
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="clear"></div>
            <ul class="sorting_list">
                {if !empty($category) && !$category.sort_products}
                    <li{if !$active_sort} class="selected"{/if}><a href="{$wa->currentUrl(0, 1)}">[`New & Popular`]</a></li>
                {/if}
                {foreach $sort_fields as $sort => $name}
                    <li{if $active_sort == $sort} class="selected"{/if}>{if !$is_seofilter_exists}{$wa->shop->sortUrl($sort, $name, $active_sort)}{else}{shopSeofilterViewHelper::sortUrl($sort, $name, $active_sort)}{/if}</li>
                    {if $wa->get('sort') == $sort}{$wa->title( $wa->title()|cat:' — '|cat:$name)}{/if}
                {/foreach}
            </ul>
        </div>
    {/if}
</div>
{/if}

<div class="product-list {if !empty($view)}{$view}{else}list{/if}" data-default-view="{$theme_settings.catalog_view}">
{foreach $products as $p}
    {$available = $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
    <div class="one" itemscope itemtype ="http://schema.org/Product">
        <a class="link_product" href="{$p.frontend_url}" title="{$p.name}">
            {$badge_html = $wa->shop->badgeHtml($p.badge)}
            {if $badge_html}
                <div class="corner top right">{$badge_html}</div>
            {/if}
            {$wa->shop->productImgHtml($p, '300', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy200.png"])}
        </a>
        <div class="prod_info">
            <a class="all" href="{$p.frontend_url}" title="{$p.name}">
                <span itemprop="name">{$p.name}</span>
            </a>
            <div>
                <p class="price">{shop_currency_html($p.price)}</p>
                {if $p.compare_price > 0}
                <p class="sprice"><strike>{shop_currency_html($p.compare_price)}</strike></p>
                {/if}
                <div itemprop="offers" class="offers" itemscope itemtype="http://schema.org/Offer">
                    {if $available}
                        <form class="purchase addtocart" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}">
                            <meta itemprop="price" content="{$p.price}">
                            <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                            <input type="hidden" name="product_id" value="{$p.id}">
                            <button class="to_cart_button" type="submit">
                                <i class="fa fa-shopping-cart"></i>
                                <span>[`Add to cart`]</span>
                            </button>
                            <i class="adding2cart"></i>
                            <span class="added2cart to_cart_button" style="display: none;">
                                <i class="fa fa-shopping-cart"></i>
                                <a href="{$wa->getUrl('shop/frontend/cart')}">В корзине</a>
                            </span>
                        </form>
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    {else}
                        <meta itemprop="price" content="{$p.price}">
                        <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                        <div class="out-of-stock"><strong>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong></div>
                        <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {/if}
                </div>
            </div>
        </div>
    </div>
{/foreach}
</div>
{if isset($pages_count) && $pages_count > 1}
<div class="block {if $theme_settings.pagination == 'lazyloading' && $lazy}lazyloading-paging{else}paging-nav{/if}"  data-times="2" data-link-text="[`Load more`]" data-loading-str="[`Loading...`]">
    {capture assign=pagination}
        {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
    {/capture}
    {shopSeofilterViewHelper::paginationDecorate($pagination)}
</div>
{/if}
