/* ------------------------------------ BEGIN MIXINS ------------------------------------ */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.center_image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* ------------------------------------ END MIXINS ------------------------------------ */
.homeslider { padding: 0; overflow: hidden; }
.homeslider-item { padding: 30px 60px 60px; }
.homeslider-item-image { float: left; position: relative; width: 35%; text-align: center; }
.homeslider-item-image-in { margin: 0 20px 0 0; }
.homeslider .bx-wrapper { border: 3px solid #e0e0e0; margin: 0 auto; direction: ltr; }
.homeslider .bx-wrapper img { max-width: 100%; max-height: 230px; display: inline-block; vertical-align: middle; }
.homeslider-item-image .corner.left { left: 17px; }
.homeslider-item-image .corner.top { top: 10px; }
.homeslider-item-info { width: 65%; float: right; padding-bottom: 15px; }
.homeslider h2 { font-size: 30px; font-weight: normal; color: #000; line-height: 1.2em; margin: 0 0 15px; }
.homeslider .info { padding: 10px 0 15px; z-index: 183; }
.homeslider p { color: #555; margin: 0; padding: 0 0 15px; }
.homeslider .compare-at-price { font-size: 20px; margin: 0 15px 0 0; text-decoration: line-through; color: #8f8f8f; }
.homeslider .price { font-size: 30px; font-weight: 600; }

.fast_catalog {
  padding: 30px 4%;
  position: relative;
}
.fast_catalog .fast_select_cat {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  text-shadow: 1px 1px 0 #145A4F;
  cursor: pointer;
  padding: 16px 7% 20px;
  position: relative;
  z-index: 10;
}
.fast_catalog .fast_select_cat span {
  font-size: 32px;
  width: 92%;
  margin-right: 4%;
  color: #fff;
}
.fast_catalog .fast_select_cat span,
.fast_catalog .fast_select_cat i {
  display: inline-block;
  vertical-align: middle;
}
.fast_catalog .fast_cat_list {
  display: none;
  position: relative;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  padding-top: 12px;
  top: -10px;
}
.fast_catalog .fast_cat_list .level_0 {
  font-size: 32px;
  padding: 16px 7% 20px;
}
.fast_catalog .fast_cat_list .level_1 a {
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  width: 76%;
  padding: 16px 7% 18px;
  text-decoration: none;
}
.fast_catalog .fast_cat_list .level_1 i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: 700;
}
#brands_block {
    padding: 20px 4%;
    position: relative;
}
#brands_block h1 {
    font-size: 40px;
    margin: 0px 0px 20px;
}
#brands_block .see_all {
    position: absolute;
    right: 20px;
    top: 33px;
    font-size: 18px;
    font-weight: normal;
}
.brands_list a {
    display: inline-block;
    vertical-align: bottom;
    width: 48%;
    margin-bottom: 15px;
    text-decoration: none;
}
.brands_list a:nth-child(2n+1) {
    margin-right: 2%;
}
.brands_list .img {
    position: relative;
    height: 90px;
    margin-bottom: 4px;
}
.brands_list img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: inline;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.brands_list span {
    display: block;
    text-align: center;
    color: #777;
}
.tags {
  text-align: center;
  padding: 20px 4% 35px;
}
.currency-toggle {
  text-align: center;
  margin-bottom: 25px;
}
.currency-toggle select {
  font-size: 24px;
}
#filter_block .filters_title {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color_1', endColorstr='@color_2', GradientType=0);
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
  font-size: 32px;
  padding: 22px 4% 25px;
  margin-top: 25px;
  position: relative;
}
#filter_block .filters_title .fa {
    position: absolute;
    right: 4%;
    top: 27px;
}
.filters {
  display: none;
  background-color: #efefef;
  padding: 20px 4%;
}
.filters .filter-param label {
  display: block;
  margin-bottom: 13px;
  font-size: 28px;
}
.filters .filter-param label span {
  display: inline-block;
  vertical-align: middle;
}
.filters .slider input[type="text"] {
  width: 190px;
  margin: 0px 15px;
}
.filters input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    top: 0px;
}
.filters .icon16.color {
    width: 27px;
    height: 27px;
}
.filters input[type="submit"] {
  margin-top: 30px;
  padding: 12px 27px 13px;
  font-size: 28px;
}
#product-list {
  padding: 20px 4%;
}
#product-list .sort_view_wrap {
  margin: 20px 0 30px;
}
#product-list .sort_view_wrap .view {
  display: inline-block;
  vertical-align: top;
  width: 43%;
}
#product-list .sort_view_wrap .view > div {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 51px;
  padding-top: 9px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
#product-list .sort_view_wrap .view > div .fa {
  font-size: 1.9em;
}
#product-list .sort_view_wrap .view > div:not(:last-child) {
  margin-right: 4%;
}
#product-list .sort_view_wrap .view > div.active {
  box-shadow: inset -2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
#product-list .sort_view_wrap .view .one_block {
  height: 52px;
  padding-top: 8px;
}
#product-list .sort_view_wrap #cat_product_sort {
  display: inline-block;
  vertical-align: top;
  width: 54%;
  position: relative;
}
#product-list .sort_view_wrap #cat_product_sort .sorting_active {
  height: 55px;
  line-height: 55px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  float: right;
  padding: 0 15px;
}
#product-list .sort_view_wrap #cat_product_sort .sorting_active .fa {
  margin-left: 15px;
}
#product-list .sort_view_wrap #cat_product_sort .sorting_list {
  display: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 20;
  background-color: #fff;
  width: 100%;
}
#product-list .sort_view_wrap #cat_product_sort .sorting_list li {
  list-style-type: none;
}
#product-list .sort_view_wrap #cat_product_sort .sorting_list li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 7px 0 7px 13px;
}
#product-list .sort_view_wrap #cat_product_sort .sorting_list li.selected,
#product-list .sort_view_wrap #cat_product_sort .sorting_list li:hover {
  background-color: #EFEFEF;
}
.product-list .one {
  position: relative;
  border: 1px solid #D5D5D5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
}
.product-list .one a {
  color: #000;
}
.product-list .one .link_product {
  text-decoration: none;
}
.product-list .one .prod_info .all {
  overflow: hidden;
}
.product-list .one .prod_info p {
  margin: 0;
}
.product-list .one .addtocart {
  margin: 0;
  display: inline-block;
}
.product-list .one .addtocart .to_cart_button {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 7px 17px 9px;
  display: inline-block;
  font-size: 24px;
  margin-top: 15px;
}
.product-list .one .addtocart .to_cart_button i {
  margin-right: 6px;
}
.product-list .one .addtocart button {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.product-list .one .addtocart .adding2cart {
  display: inline-block;
}
.product-list .one .addtocart .added2cart {
  color: #595959;
  text-shadow: 1px 1px 1px #fff;
  background-color: #e7e7e7;
}
.product-list .one .addtocart .added2cart a {
  color: #595959;
}
.product-list .one .price {
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px 12px;
  display: inline-block;
}
.product-list.two_blocks .one {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  margin-bottom: 20px;
}
.product-list.two_blocks .one .link_product {
  height: 160px;
  position: relative;
  display: block;
}
.product-list.two_blocks .one .link_product img {
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.product-list.two_blocks .one .prod_info {
  padding: 10px 18px;
  background-color: #F6FAF9;
  border-top: 1px solid #D5D5D5;
  border-radius: 0 0 12px 12px;
}
.product-list.two_blocks .one .prod_info .all {
  font-size: 20px;
  display: block;
  margin-bottom: 13px;
}
.product-list.two_blocks .one .prod_info .price {
  margin-bottom: 5px;
}
.product-list.two_blocks .one .prod_info .sprice {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
}
.product-list.two_blocks .one:nth-child(2n+1) {
  margin-right: 2%;
}
.product-list.list .one {
  margin-bottom: 20px;
}
.product-list.list .one .link_product {
  width: 34%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  margin-top: 10px;
}
.product-list.list .one .link_product img {
  max-width: 95%;
  max-height: 95%;
}
.product-list.list .one .prod_info {
  padding: 10px 3%;
  width: 58%;
  display: inline-block;
  vertical-align: top;
}
.product-list.list .one .prod_info .all {
  font-size: 20px;
  display: block;
  margin-bottom: 13px;
}
.product-list.list .one .prod_info .price {
  font-size: 30px;
  margin-bottom: 5px;
}
.product-list.list .one .prod_info .sprice {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
}
.product-list.one_block .one {
  margin-bottom: 20px;
}
.product-list.one_block .one .link_product {
  height: 580px;
  display: block;
  position: relative;
}
.product-list.one_block .one .link_product img {
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.product-list.one_block .one .prod_info {
  padding: 10px 5% 15px;
  background-color: #F6FAF9;
  border-top: 1px solid #D5D5D5;
  border-radius: 0 0 12px 12px;
  position: relative;
}
.product-list.one_block .one .prod_info .all {
  display: block;
  margin-bottom: 13px;
  text-align: center;
}
.product-list.one_block .one .prod_info > div {
  position: relative;
}
.product-list.one_block .one .prod_info .price {
  font-size: 30px;
}
.product-list.one_block .one .prod_info .sprice {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
}
.product-list.one_block .one .prod_info .offers {
  position: absolute;
  right: 0;
  top: 0;
}
.product-list.one_block .one .prod_info .offers .to_cart_button {
  margin-top: 0px;
}
.cat-description {
  padding: 20px 4%;
}
#product_detailed ul.product-nav,
#product_detailed .description,
#product_detailed .categories,
#product_detailed .reviews {
  padding: 20px 4%;
}
#product_detailed ul.product-nav li {
  padding-right: 20px;
  display: inline-block;
}
#product_detailed ul.product-nav li a {
  padding: 2px 5px;
}
#product_detailed ul.product-nav li.selected a {
  background: #eed;
}
#product_detailed .product-gallery {
  position: relative;
  border: 1px solid #D5D5D5;
  width: 91%;
  height: 560px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 20px auto;
}
#product_detailed .product-gallery img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#product_detailed .wishlist {
  padding: 20px 4%;
  text-align: center;
}
#product_detailed .wishlist a {
  color: #595959;
}
#product_detailed .wishlist .fa {
  margin-right: 13px;
}
#product_detailed h2 {
  font-size: 32px;
  color: #162f2b;
  margin: 0 0 15px;
}
#product_detailed .features h2 {
  padding: 0 4%;
}
#product_detailed .features p {
  margin: 0;
  padding: 8px 0;
  font-size: 22px;
  display: table;
  width: 100%;
}
#product_detailed .features p .name {
  font-weight: normal;
  float: left;
  margin-left: 4%;
}
#product_detailed .features p .value {
  float: right;
  margin-right: 4%;
  text-align: right;
}
#product_detailed .features .divider {
  border-bottom: 1px solid #ccc;
  padding: 15px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
}
#product_detailed .categories {
  list-style: none;
}
#cart-form .skus_block,
#cart-form-dialog .skus_block,
#cart-form .stocks,
#cart-form-dialog .stocks,
#cart-form .services,
#cart-form-dialog .services {
  padding: 20px 4%;
}
#cart-form .skus_block .sku,
#cart-form-dialog .skus_block .sku {
  font-size: 18px;
  color: #747373;
  margin-bottom: 8px;
}
#cart-form .skus_block .skus .price,
#cart-form-dialog .skus_block .skus .price {
  float: right;
}
#cart-form .options .option_name,
#cart-form-dialog .options .option_name {
  line-height: 1;
}
#cart-form .stocks,
#cart-form-dialog .stocks {
  color: #4f4f4f;
}
#cart-form .stocks .one-stock,
#cart-form-dialog .stocks .one-stock {
  margin-bottom: 10px;
}
#cart-form .stocks strong,
#cart-form-dialog .stocks strong {
  padding: 9px 20px;
  display: inline-block;
}
#cart-form .stocks .stock-critical,
#cart-form-dialog .stocks .stock-critical {
  background-color: #FFD5D5;
}
#cart-form .stocks .stock-low,
#cart-form-dialog .stocks .stock-low {
  background-color: #FFF29A;
}
#cart-form .stocks .stock-high,
#cart-form-dialog .stocks .stock-high {
  background-color: #eaf5ef;
}
#cart-form .stocks .stock-none,
#cart-form-dialog .stocks .stock-none {
  background-color: #EDEDED;
}
#cart-form .stocks .one-of-stocks,
#cart-form-dialog .stocks .one-of-stocks {
  display: block;
  margin-bottom: 10px;
}
#cart-form .stocks .one-of-stocks strong,
#cart-form-dialog .stocks .one-of-stocks strong {
  margin-left: 10px;
}
#cart-form .add2cart,
#cart-form-dialog .add2cart {
  text-align: center;
  padding: 16px 0 30px;
}
#cart-form .compare-at-price,
#cart-form-dialog .compare-at-price {
  font-weight: bold;
  color: #4c4c4c;
  text-decoration: line-through;
  display: block;
  margin-top: 10px;
}
#cart-form .price,
#cart-form-dialog .price {
  font-weight: bold;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
}
#cart-form input[type="submit"],
#cart-form-dialog input[type="submit"] {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 32px;
  text-shadow: 1px 1px 1px #9D3510;
  display: inline-block;
  padding: 11px 40px 15px;
  margin-top: 20px;
}
#cart-form .added2cart,
#cart-form-dialog .added2cart {
  color: #595959;
  background-color: #E7E7E7;
  text-shadow: 1px 1px 1px #fff;
  padding: 11px 40px 15px 70px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-block;
  margin-top: 20px;
}
#cart-form .added2cart a,
#cart-form-dialog .added2cart a {
  color: #595959;
}
.services .one-service input[type='checkbox'] {
  margin-bottom: 20px;
}
.services select {
  font-size: 24px;
  margin-left: 5px;
}
.recommendations {
  padding: 20px 4%;
}
#shopping_cart .cart_item .item-thumb {
  width: 28%;
  height: 170px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  margin: 18px 0 18px 10px;
}
#shopping_cart .cart_item .item-thumb img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#shopping_cart .cart_item .info {
  padding: 18px 3%;
  width: 58%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
#shopping_cart .cart_item .info .name {
  font-size: 20px;
  display: block;
  height: 53px;
  width: 95%;
}
#shopping_cart .cart_item .info .product_code {
  font-size: 18px;
  color: #747373;
  display: block;
  margin-top: 10px;
}
#shopping_cart .cart_item .info .services {
  margin-top: 20px;
}
#shopping_cart .cart_item .info .price {
  font-size: 18px;
  margin-top: 20px;
}
#shopping_cart .cart_item .info .price > span {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 3px 12px 5px;
  display: inline-block;
  margin-left: 10px;
}
#shopping_cart .cart_item .info .item-remove {
  position: absolute;
  top: 5px;
  right: -10px;
}
#shopping_cart .cart_item .info .item-remove a {
  color: #929292;
}
#shopping_cart .cart_item .info .item-remove .fa {
    font-size: 1.5em;
}
#shopping_cart .cart_item .quantity {
  background-color: #F6F6F6;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  padding: 20px 4%;
}
#shopping_cart .cart_item .quantity .recalc {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
#shopping_cart .cart_item .quantity input.qty {
  text-align: center;
  background: none;
  border: 0;
  height: 40px;
  width: 85px;
}
#shopping_cart .cart_item .quantity .cost {
  font-size: 32px;
  font-weight: bold;
  margin-left: 30px;
}
#shopping_cart .cart_extra {
  padding: 20px 4%;
}
#shopping_cart .cart_extra .col-right {
  color: #787878;
  display: inline-block;
  width: 260px;
}
#shopping_cart #discount-row {
  margin: 15px 0px;
}
#shopping_cart #discount-row .cart-coupon {
  margin-bottom: 10px;
}
#shopping_cart #discount-row .cart-coupon input[type='text'] {
  width: 200px;
  margin: 0px 10px;
}
#shopping_cart #discount-row .cart-coupon input[type='submit'] {
  padding: 8px 13px;
}
#shopping_cart #discount-row .cart-discount {
  display: inline-block;
}
#shopping_cart .total_cart {
  position: relative;
}
#shopping_cart .total_cart .cart-total {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
}
#shopping_cart .cart-checkout {
  text-align: center;
  padding: 20px 0 40px;
}
#shopping_cart .cart-checkout .button {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 34px;
  text-shadow: 1px 1px 1px #9D3510;
  padding: 15px 40px 17px;
}
#shopping_cart .your-cart-is-empty {
  text-align: center;
  margin: 0;
  padding: 20px 4%;
}
.checkout select {
  width: 100%;
  height: 40px;
}
.checkout #confirmation_list {
  width: 100%;
  padding: 20px 4%;
}
.checkout #confirmation_list td {
  padding: 0;
}
.checkout .table {
  margin-bottom: 20px;
}
.checkout .table td.item_name {
  width: 300px;
}
.checkout .table tr.large {
  font-size: 30px;
}
.checkout .chc_button.next {
  padding: 3px 10px 5px;
}
.checkout .chc_button.place_order {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  width: 330px;
  font-size: 36px;
  display: block;
  padding: 10px 0 12px;
  margin: 15px auto 10px;
}
.checkout-result.success {
  padding: 20px 4%;
}

.empty-product-list {
  padding: 20px 4%;
  text-align: center;
}

/* Brands
------------------- */

#page.info_page .brand { display: inline-block; vertical-align: top; width: 44%; margin: 0 2% 30px; text-align: center; }
#page.info_page .brand a { display: block; position: relative; height: 90px; }
#page.info_page .brand img { max-width: 100%; max-height: 100%; position: absolute; display: inline; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
#page.info_page .brand + br { display: none; }

#brand-page .brand { padding: 20px 4%; }
#brand-page .brand img { max-width: 300px; margin: 0 15px 15px 0; }
#brand-page .sub-categories a { display: block; }
#brand-page .sub-categories a + br { display: none; }