<div class="my-affiliate">
    <h1>[`Affiliate program`]</h1>
    {$balance = round($customer.affiliate_bonus, 2)|wa_format_number:false}
    {if $customer.affiliate_bonus >= 0}{$balance = '+'|cat:$balance}{/if}
    <div class="my-affiliate__info">{sprintf('[`Your current affiliate bonus: <strong class="bonus">%s</strong>`]', $balance)}</strong></div>
    {$_aff_plugins_active = 0}
    <!-- plugin hook: 'frontend_my_affiliate' -->
    {* @event frontend_my_affiliate.%plugin_id% *}
    {foreach $frontend_my_affiliate as $_}{$_}{$_aff_plugins_active = 1}{/foreach}
    {if $_aff_plugins_active}<br><br><h2>[`Bonus activity log`]</h2>{/if}
    <table class="table">
        {if !empty($affiliate_history)}
            {foreach $affiliate_history as $h}
                <tr>
                    <td>
                        {if $h.comment}
                            <div class="my-affiliate__comment">
                                {$h.comment|escape}
                            </div>
                        {/if}
                        {if $h.order_id && !empty($h.order_url)}
                            <div class="my-affiliate__order-title">
                                <a href="{$h.order_url}">[`Order`] {$wa->shop->orderId($h.order_id)}</a>
                            </div>
                        {/if}
                    </td>
                    <td class="table__date">{$h.create_datetime|wa_date:'humandatetime'}</td>
                    {if $h.amount > 0}
                        <td>
                            [`Credit`]:
                            {round($h.amount,2)|wa_format_number:false}
                        </td>
                    {/if}
                    {if $h.amount < 0}
                        <td>
                            [`Debit`]:
                            {round(abs($h.amount),2)|wa_format_number:false}
                        </td>
                    {/if}
                    <td class="table__subtotal">
                        [`Balance`]:
                        {round($h.balance,2)|wa_format_number:false}
                    </td>
                </tr>
            {/foreach}
        {else}
            <tr>
                <td>[`You have no affiliate history yet.`]</td>
            </tr>
        {/if}
    </table>
    {$wa->globals('isMyAccount', true)}
</div>