<h1>[`My orders`]</h1><!--57575858-->
<div class="my-orders reset-wrapper">
    <table>
        {foreach $orders as $o}
            <tr id="order-{$o.id}" class="my-orders__item">
                <td class="nowrap my-orders__status-td">
                    <div class="nowrap order-status" style="{$o.state->getStyle(1)}"></div>
                </td>
                <td>
                    <div class="my-orders__number">
                        <a href="{$o.url}">
                            {$o.id_str}
                        </a>
                    </div>
                    <div class="my-orders__date">{waDateTime::date('j.m.Y H:i', $o.create_datetime)}</div>
                </td>
                <td>
                    <div class="my-orders__total nowrap">
                        {shop_currency_html($o.total)}
                    </div>
                    {if $o.payment_name}
                        <div class="my-orders__payment">
                            {$o.payment_name|escape}
                        </div>
                    {/if}
                </td>
            </tr>
        {foreachelse}
            <tr class="no-border">
                <td>[`You have no order history yet.`]</td>
            </tr>
        {/foreach}
    </table>
</div>
{$wa->globals('isMyAccount', true)}
<!-- plugin hook: 'frontend_my_orders' -->
{* @event frontend_my_orders.%plugin_id% *}
{foreach $frontend_my_orders as $_}{$_}{/foreach}