<div class="shadowed-frame my-order">
    {if !empty($pin_required)}
        <h1>
            [`Order`] {$encoded_order_id}
        </h1>

        <form action="" method="post">
            {if $wrong_pin}
                <p style="color:red">[`PIN is not valid`]</p>
            {/if}
            <p>[`Please enter a 4-digit PIN that you received with your order receipt by email.`]</p>
            <div>
                <input type="text" name="pin">
            </div>
            <div>
                <input type="submit" value="[`View order`]">
            </div>
        </form>
    {else}
        <h1>
            [`Order`] {$order.id_str}

        </h1>
        <div class="my-orders__info">
            <div class="my-order-header">
                <div class="my-order-header__top display_inline-block vertical_middle">
                    <div class="my-order-header__status order-status" style="{$order.state->getStyle(1)}"></div>
                    <div class="my-order-header__name">{$order.state->getName()}</div>
                </div>
                <div class="my-order-header__date">{$order.create_datetime|wa_date:'humandatetime'}</div>
            </div>

            <!-- shipping -->
            <div class="my-order-method-header">
                <div class="my-order-method-header__title">[`Shipping`]</div>
                {if $order.shipping_name}
                    <div class="my-order-method-header__name">{$order.shipping_name}</div>
                {/if}
            </div>

            <!-- shipping plugin output -->
            {if !empty($order.params.tracking_number)}
                <div class="my-order__track">
                    [`Shipment tracking number`]: {$order.params.tracking_number}
                </div>
            {/if}
            {if !empty($tracking) && $order.state->getId() != 'completed'}
                <div class="plugin plugin-block">
                    {$tracking}
                </div>
            {/if}

            <!-- billing -->
            <div class="my-order-method-header no_margin">
                <div class="my-order-method-header__title">
                    [`Payment`]
                </div>
                {if $order.payment_name}
                    <div class="my-order-method-header__name">{$order.payment_name}</div>
                {/if}
            </div>

            <!-- payment plugin output -->
            <!-- Вставляем код плагина CheckPay -->
            {if !empty($payment)}
                {$temp = shopCheckpayPlugin::myOrder($order['id'])}
                {if $temp['result']}
                {$temp['message']}
            {else}
                <div class="plugin plugin-block">
                    {$payment}
                </div>
                {/if}
            {/if}
            
            <!-- Скрываем базовый блок вывода ссылки на оплату -->
            {*{if !empty($payment)}
                <div class="plugin plugin-block">
                    {$payment}
                </div>
            {/if}*}

            {if !empty($order.comment)}
                <h3>[`Comment`]</h3>
                <p>
                    {$order.comment|escape}<br>
                </p>
            {/if}

        </div>

        <!-- order content and total -->
        <table class="table">
            {foreach $order.items as $item}
                <tr class="no_background{if $item.type == 'service'} service{/if}">
                    <td class="table__title">{if $item.type == 'service'}+ {/if}{$item.name}
                        {if $item.type == 'product' && !empty($item.download_link)}<a href="{$item.download_link}"><strong>[`Download`]</strong></a>{/if}</td>
                    <td class="table__qty"><span class="table__qty-title">[`Quantity`]:</span><span>{wa_currency_html($item.price, $order.currency)} x</span> {$item.quantity}</td>
                    <td class="table__subtotal"><span class="table__subtotal-title">[`Total`]:</span>{wa_currency_html($item.price * $item.quantity, $order.currency)}</td>
                </tr>
            {/foreach}
            <tr class="table-total">
                <td>[`Subtotal`]</td>
                <td>{wa_currency_html($subtotal, $order.currency)}</td>
            </tr>
            <tr class="table-total">
                <td>[`Discount`]</td>
                <td>&minus; {wa_currency_html($order.discount, $order.currency)}</td>
            </tr>
            <tr class="table-total">
                <td>
                    [`Shipping`]
                    {if !empty($order.params.shipping_name)}
                        (<strong>{$order.params.shipping_name}</strong>)
                    {/if}
                </td>
                <td>{wa_currency_html($order.shipping, $order.currency)}</td>
            </tr>
            {if $order.tax > 0}
                <tr class="table-total">
                    <td>[`Tax`]</td>
                    <td>{wa_currency_html($order.tax, $order.currency)}</td>
                </tr>
            {/if}
            <tr class="table-total">
                <td>[`Total`]</td>
                <td>{wa_currency_html($order.total, $order.currency)}</td>
            </tr>
        </table>
        {$wa->globals('action', 'myOrder')}
        {$wa->globals('order_number', $order.id_str)}
    {/if}

    {$wa->globals('isMyAccount', true)}

    <!-- plugin hook: 'frontend_my_order' -->
    {* @event frontend_my_order.%plugin_id% *}
    {foreach $frontend_my_order as $_}{$_}{/foreach}
</div>