{$cart_obj = $wa->shop->cart}
{$_cart_count = $cart_obj->count()}
{$cart_items = $cart_obj->items()}
{$wa->globals("hideCart", true)}
{*if ($wa->shop and class_exists('shopCityselectPlugin'))}{shopCityselectPlugin::showCity('8f3a96018597c1e27e863df6a2956ce4')}{/if*}
{if ($wa->shop and class_exists('shopCityselectPlugin'))}{shopCityselectPlugin::showCity('6dfcf8a9c2a202a65c2bed54c7f29b2b')}{/if}
{if empty($_cart_count)}
<link href="{$wa_active_theme_url}css/order.css?v{$wa_theme_version}" rel="stylesheet"/>

    <!--<div class="empty-description">{$config.cart.empty_text|default:"[`Your shopping cart is empty.`]"|escape}</div>-->
    <div class="s-cart-empty-wrapper">
        <div class="s-image-wrapper">
            <!--<img src="{$wa_theme_url}img/svg/order/cart_empty.svg" alt="[`Your shopping cart is empty.`]">-->
            <span class="s-cart-empty__header">[`Your shopping cart is empty.`]</span>
        </div>
        <p class="s-description">{$config.cart.empty_text|default:"[`Your shopping cart is empty.`]"|escape}</p>
        <p class="s-actions-wrapper">
            <a href="{$wa_app_url}">[`Go to home page`]</a>
        </p>
    </div>

{else}
<style>
    .action-order .body-inner {
        padding-top: 30px;
    }
    .main-inner.wrapper {
        overflow-x: hidden;
    }
    .b-cityselect__wrapper{
        display:none;
    }
    .contacts-block{
        display:none;
    }
    .advantages-block{
        display:none;
    }
    
    .lang-ru .order-page__checkout .wa-type-wrapper .wa-price::before{
        display: none;
    }
</style>
<link href="{$wa_active_theme_url}css/order.css?v{$wa_theme_version}" rel="stylesheet"/>
    <div class="order-page" id="js-order-page">
        <div class="order-page__cart">
            <div class="order-page__section" id="js-order-cart">
                <div class="order-page__section-body">
                    {$cart_form = $wa->shop->checkout()->cart([
                        "DEBUG" => true,
                        "wrapper" => "#js-order-cart"
                    ])}
                    {* Замена размеров превью изображений *}
                    {$is_found_products_images = preg_match_all("/<img[^>]+>/", $cart_form, $products_images)}
                    {if $is_found_products_images}
                        {foreach $products_images as $product_image_html}
                            {$cart_form = $cart_form|replace:$product_image_html:($product_image_html|replace:'96x96':'200x0')}
                        {/foreach}
                    {/if}
                    {$cart_form_replacements = [
                        'wa-quantity-box ' => 'wa-quantity-box qty',
                        'js-decrease' => 'js-decrease qty-btn qty-minus',
                        'js-increase' => 'js-increase qty-btn qty-plus',
                        'wa-button' => 'wa-button btn',
                        '/wa-apps/shop/css/frontend/order/ui.css' => $wa_active_theme_url|cat:'css/order_ui.css',
                        '/wa-apps/shop/css/frontend/order/cart.css' => $wa_active_theme_url|cat:'css/order_cart.css'
                    ]}
                    {if $cart_form_replacements|default:null}
                        {foreach $cart_form_replacements as $cart_form_replaceable => $cart_form_substitute}
                            {$cart_form = $cart_form|replace:$cart_form_replaceable:$cart_form_substitute}
                        {/foreach}
                    {/if}
                    {$cart_form}
                </div>
            </div>
        </div>

        <div class="order-page__checkout">
            <div class="order-page__section" id="js-order-form">
                <div class="order-page__section-header">
                    <div class="order-page__section-title">{$config.order.block_name|default:"[`Checkout`]"|escape}</div>
                </div>
                <div class="s-section-body">
                    {$wa->shop->checkout()->form([
                        "DEBUG" => true,
                        "wrapper" => "#js-order-form"
                    ])}
                </div>
            </div>
        </div>

<script>
            if (($('select[name="region[country]"]').val() == '' || $('select[name="region[country]"]').val() == undefined || $('select[name="region[country]"]').val() == null)
                && $.cookie('dp_plugin_country') != '' && $.cookie('dp_plugin_country') != undefined) {

                $('select[name="region[country]"]').val($.cookie('dp_plugin_country'));
            }
            if (($('select[name="region[country]"]').val() == '' || $('select[name="region[country]"]').val() == undefined || $('select[name="region[country]"]').val() == null)
                && $.cookie('dp_plugin_country') == undefined) {

                $('select[name="region[country]"]').val('rus');
            }

            if ($('select[name="region[region]"]').val() == '' || $('select[name="region[region]"]').val() == undefined || $('select[name="region[region]"]').val() == null) {

                var region = '';
                if($.cookie('dp_plugin_region') != '') { region = $.cookie('dp_plugin_region'); }
                if($.cookie('cityselect__region') != '') { region = $.cookie('cityselect__region'); }

                $('select[name="region[region]"]').val(region);
            }

            if ($('input[name="region[city]"]').val() == '') {

                var city = '';
                if($.cookie('dp_plugin_city') != '') { city = $.cookie('dp_plugin_city'); }
                if($.cookie('cityselect__city') != '') { city = $.cookie('cityselect__city'); }

                $('input[name="region[city]"]').val(city);
            }

            if ($('input[name="region[zip]"]').val() == '') {

                var zip = '';
                if($.cookie('dp_plugin_zip') != '') { zip = $.cookie('dp_plugin_zip'); }
                if($.cookie('cityselect__zip') != '') { zip = $.cookie('cityselect__zip'); }

                $('input[name="region[zip]"]').val(zip);
            }

            $( document ).ready(function() {
                setTimeout(function() {
                    if ($('select[name="region[country]"]').val() != '' &&
                        $('select[name="region[region]"]').val() != '' &&
                        $('input[name="region[city]"]').val() != '' &&
                        $('input[name="region[zip]"]').val() != '') {

                        $('input[name="region[city]"]').change();
                    }
                }, 1000);
            });


            ( function($) {

                ( typeof window.ShopOrderPage === "function" ? init() : load().then(init) );

                function load() {
                    var deferred = $.Deferred();

                    $.getScript("{$wa_theme_url}js/order.js?v={$wa->version()}", function() {
                        deferred.resolve();
                    });

                    return deferred.promise();
                }

                function init() {
                    new window.ShopOrderPage({
                        $wrapper: $("#js-order-page"),
                        urls: {
                            "checkbox-icon": "{$wa_url}wa-apps/shop/img/frontend/order/svg/sprite.svg#checkbox-yes"
                        }
                    });
                }

            })(jQuery);

        </script>
        
        <script>  
    if (!$('input[name="auth[data][predpochti4]"]:checked').length)
   {
                $('input[name="auth[data][predpochti4]"][value="Любой"]').closest('div').addClass('checked');
                $('input[name="auth[data][predpochti4]"][value="Любой"]').attr('checked','checked');
   }
</script>
    </div>
{/if}

<!-- Begin Me-Talk -->
<script type='text/javascript'>
	(function(d, w, m) {
		window.supportAPIMethod = m;
		var s = d.createElement('script');
		s.type ='text/javascript'; s.id = 'supportScript'; s.charset = 'utf-8';
		s.async = true;
		var id = 'a4924c9e591fb395828aebe216f437ee';
		s.src = '//me-talk.ru/support/support.js?h='+id;
		var sc = d.getElementsByTagName('script')[0];
		w[m] = w[m] || function() { (w[m].q = w[m].q || []).push(arguments); };
		if (sc) sc.parentNode.insertBefore(s, sc); 
		else d.documentElement.firstChild.appendChild(s);
	})(document, window, 'MeTalk');
	$(".header-nav-wrapper").remove();
	$(".search-block").remove();
	$(".order-page__cart").prepend("<h1 class='title_cart'>Корзина</h1><a class='s-delete-button js-clear-cart' href='javascript:void(0);'><div class='close__icon'></div>Удалить все товары</a>");
	
	$(document).on('click', 'a[href="/test2/login/"]', function() {
	  function sayHi() {
	    $(".wa-login-forgotpassword-url").appendTo(".wa-signup-url");
	    $('a[data-type="signup"]').before($('<br>'));
	    $('.wa-signup-url>a').addClass('wa-signup-url_mega');
	  }
	  setTimeout(sayHi, 600);
	});

</script>
<!-- End Me-Talk -->

<!-- plugin hook: 'frontend_order' -->
{* @event frontend_order.%plugin_id% *}
{foreach $frontend_order as $_}{$_}{/foreach}