{if $page.id != "brands"}
    <h1>{$page.name}</h1>
{else}
    {$wa->globals('action', 'brands')}
    {$wa->globals("brands_title", $page.name)}
{/if}
{$_subpages = $wa->shop->pages($page.id)}
{$subpages = array()}
{foreach $_subpages as $_sp}
    {if isset($_sp.mobisite_hide) && $_sp.mobisite_hide == '1'}{continue}{/if}
    {$subpages[$_sp.id] = $_sp}
{/foreach}
{if $subpages}
    <div class="tabs-menu sub-links">
        {foreach $subpages as $p}
            <div class="tabs-menu__link">
                <a href="{$p.url}" class="wrapper disable_count">
                    <div class="tabs-menu__name">{$p.name}</div>
                </a>
            </div>
        {/foreach}
    </div>
{/if}
<div id="page" role="main" class="{if $page.id != "brands"}info-content{/if}">
    {if $page.id != "brands"}
        {if class_exists('shopRegionsViewHelper')}
            {shopRegionsViewHelper::getContentPage()}
        {else}
            {$page.content}
        {/if}
    {else}
        {include file="`$wa_parent_theme_path`/brands.home.html" inline}
    {/if}
</div>