{$list_view = $list_view|default:$wa->cookie("product_list_view", $theme_settings.default_list_view)}
{$limit = $limit|default:false}
{$is_slider = $is_slider|default:false}
{$views = $views|default:false}
{$without_form = $without_form|default:false}
{$is_seofilter_exists = class_exists('shopSeofilterViewHelper')}

{$is_favorites_enable = $theme_settings.elements_favorites && $theme_settings.category_show_favorite}
{$is_compare_enable = $theme_settings.elements_compare && $theme_settings.category_show_compare}
{$is_searchpro_page = $wa->param('plugin') == 'searchpro'}


{if !$is_searchpro_page && (!empty($sorting) || $views)}
    <div class="product-list-toolbar display_table vertical_middle">
        {if !empty($sorting)}
            <!-- sorting -->
            {$sort_fields = [
                'create_datetime' => [
                    'desc' => [
                        'name' => '[`Date added: descending`]',
                        'enable' => $theme_settings.sort_by_date_enable
                    ],
                    'asc' => [
                        'name' => '[`Date added: ascending`]',
                        'enable' => $theme_settings.sort_by_date_enable
                    ]
                ],
                'name' => [
                    'asc' => [
                        'name' => '[`By name: A-Z`]',
                        'enable' => $theme_settings.sort_by_name_enable
                    ],
                    'desc' => [
                        'name' => '[`By name: Z-A`]',
                        'enable' => $theme_settings.sort_by_name_enable
                    ]
                ],
                'price' => [
                    'asc' => [
                        'name' => '[`Price: low to hight`]',
                        'enable' => $theme_settings.sort_by_low_price_enable
                    ],
                    'desc' => [
                        'name' => '[`Price: hight to low`]',
                        'enable' => $theme_settings.sort_by_hight_price_enable
                    ]
                ],
                'rating' => [
                    'desc' => [
                        'name' => '[`Hight rating`]',
                        'enable' => $theme_settings.sort_by_hight_rating_enable
                    ],
                    'asc' => [
                        'name' => '[`Low rating`]',
                        'enable' => $theme_settings.sort_by_low_rating_enable
                    ]
                ],
                'total_sales' => [
                    'asc' => [
                        'name' => '[`Low sales`]',
                        'enable' => $theme_settings.sort_by_low_selling_enable
                    ],
                    'desc' => [
                        'name' => '[`Bestsellers`]',
                        'enable' => $theme_settings.sort_by_hight_selling_enable
                    ]
                ],
                'stock' => [
                    'desc' => [
                        'name' => '[`In stock: descending`]',
                        'enable' => $theme_settings.sort_by_stock_enable
                    ],
                    'asc' => [
                        'name' => '[`In stock: ascending`]',
                        'enable' => $theme_settings.sort_by_stock_enable
                    ]
                ]
            ]}
            {$is_sort_fields_empty = true}
            {foreach $sort_fields as $sort_field}
                {foreach $sort_field as $sf}
                    {if $sf.enable}
                        {$is_sort_fields_empty = false}
                        {break}
                    {/if}
                {/foreach}
            {/foreach}
            {if !$is_sort_fields_empty}
                {if !isset($active_sort)}
                    {$active_sort = $wa->get('sort', 'create_datetime')}
                {/if}
                <div class="list-sorting">
                    <select>
                        {*if !empty($category) && !$category.sort_products*}
                        {if !empty($category)}
                        
                            <option{if !$active_sort} selected="selected"{/if} data-url="{$wa->currentUrl(0, 1)}">[`New & Popular`]</option>
                        {/if}
                        {foreach $sort_fields as $sort_field_key => $sort_field}
                            {$current_sort_name = $wa->get('sort')}
                            {$current_sort_order = $wa->get('order')}
                            {if !$is_seofilter_exists}
                                {$sort_url = $wa->shop->sortUrl($sort_field_key, $sort_field[$current_sort_order]['name']|default:'', $active_sort)}
                            {else}
                                {$sort_url = shopSeofilterViewHelper::sortUrl($sort_field_key, $sort_field[$current_sort_order]['name']|default:'', $active_sort)}
                            {/if}

                            {$is_found_sort_href = preg_match('/\?[^\"\']+/', $sort_url, $sort_href)}
                            {$sort_href = $sort_href[0]}
                            {foreach $sort_field as $sf_direction => $sf}
                                {$current_link = str_replace(['order=asc', 'order=desc'], 'order='|cat:$sf_direction, $sort_href)}
                                {$is_selected = ($active_sort == $sort_field_key) && strpos($current_link, 'order='|cat:$current_sort_order)}
                                {if $sf['enable']}
                                    <option{if $is_selected} selected="selected"{/if} data-url="{$current_link}">{$sf.name}</option>
                                    {if $is_selected}
                                        {$wa->title( $wa->title()|cat:' — '|cat:$sf.name )}
                                    {/if}
                                {/if}
                            {/foreach}
                        {/foreach}
                    </select>
                </div>
            {/if}
        {/if}
        {if $views}
            {$list_views = array('thumbs', 'rows')}
            {if !$theme_settings.category_view_thumbs_enable && !$theme_settings.category_view_rows_enable}
                {$list_view = $theme_settings.default_list_view}
            {elseif !$theme_settings.category_view_thumbs_enable || !$theme_settings.category_view_rows_enable}
                {if !$theme_settings.category_view_thumbs_enable}
                    {$list_view = 'rows'}
                {elseif !$theme_settings.category_view_rows_enable}
                    {$list_view = 'thumbs'}
                {/if}
            {/if}
            {if $theme_settings.category_view_thumbs_enable && $theme_settings.category_view_rows_enable}
                <div class="list-views">
                    {foreach $list_views as $lw}
                        <a href="javascript:void(0);" class="list-view list-view-{$lw}{if $list_view != $lw} active{/if}" data-action="{$lw}"></a>
                    {/foreach}
                </div>
            {/if}
        {/if}
    </div>
{/if}

{$add2cart_label = "[`Add to cart`]"}

{if !isset($favorite_ids)}
    {include file="{$wa_parent_theme_path}/get-favorites.html"}
{/if}
{$cart_url = $wa->getUrl('shop/frontend/order')}

{$sussess_url = $wa->getUrl('shop/frontend/cart')}
{if method_exists($wa->shop, 'checkout')}
    {$sussess_url = $wa->shop->checkout()->cartUrl()}
{/if}
{include file="{$wa_parent_theme_path}/success_tpl.html" sussess_url=$sussess_url success_title='[`Product added to cart`]'}

{if !isset($product_cart_tpl)}
    {include file="`$wa_active_theme_path`/product.cart.tpl.html" inline}
{/if}

{strip}
    <div class="product-list product-list-{$list_view}{if $is_slider} list-slider{/if}">
        {$is_brands_allowed = $theme_settings.category_show_brands && class_exists('shopProductbrandsPlugin')}
        {if $is_brands_allowed}
            {$products = shopProductbrandsPlugin::prepareProducts($products)}
        {/if}
        {$products_skus = array()}
        {if $theme_settings.category_show_sku}
            {$products_skus = $wa->shop->skus(array_keys($products))}
        {/if}
        {foreach $products as $p}
            {$available = $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
            <div class="product-list__item{if $limit && $p@iteration > $limit} product-list__item_hidden{/if}">
                <div class="product-list__image-wrapper">
                    <div class="product-list__image{if !$p.image_id} product-list__image_dummy{/if}">
                        <a href="{$p.frontend_url}" title="{$p.name}">
                            <div class="product-list__image-container">
                                {* Интеграция плагина "Наклейки" *}
                                {if !empty($p.autobadge)}{$p.autobadge}{/if}

                                {$p_image_size = 200}
                                {if $theme_settings.category_image_height}
                                    {if preg_match("/\d+/", $theme_settings.category_image_height, $p_image_height) && $p_image_height[0] > $p_image_size}
                                        {$p_image_size = $p_image_height[0]}
                                    {/if}
                                {/if}
                                {if $p.image_id}
                                    {$p_image_url = $wa->shop->productImgUrl($p, $p_image_size)}
                                    {$p_image_name = $p.name}
                                {else}
                                    {$p_image_url = "`$wa_active_theme_url`img/dummy.svg"}
                                {/if}
                                <img{if !$is_slider || ($is_slider && $p@first)} src="{$p_image_url}"{else} src="#" data-lazy="{$p_image_url}"{/if} alt="{$p_image_name|default:''}">
                            </div>
                            {$badge_html = $wa->shop->badgeHtml($p.badge)}
                            {if $badge_html}
                                <div class="product-list__badge">{$badge_html}</div>
                            {/if}
                        </a>
                    </div>
                </div>
                <div class="product-list__content">
                    <a href="{$p.frontend_url}" title="{$p.name}" class="product-list__name">{$p.name}</a>
                    {if $theme_settings.category_show_sku && $products_skus}
                        {foreach $products_skus[$p.id] as $p_sku}
                            {if $p_sku.id == $p.sku_id}
                                {if !empty($p_sku.sku)}
                                    <div class="product-list__vendor">[`Vendor code`]:&nbsp;{$p_sku.sku}</div>
                                {/if}
                                {break}
                            {/if}
                        {/foreach}
                    {/if}
                    {if $is_brands_allowed && !empty($p.brand)}
                        <div class="product-list__item-brand">
                            <span class="product-list__item-brand-title">[`Brand`]:</span> <a href="{$p.brand.url}">{$p.brand.name}</a>
                        </div>
                    {/if}
                    {if $theme_settings.category_show_reviews_count}
                        <div class="rating">
                            
                            <div class="rating__stars nowrap">
                                {if $p.rating > 0}
                                    {$wa->shop->ratingHtml($p.rating, 18)}
                                {else}
                                    {for $i = 1 to 5}<i class="icon18 star-empty"></i>{/for}
                                {/if}
                            </div>
                            <div class="rating__desc">{_w('%d review', '%d reviews', $p.rating_count)}</div>
                        </div>
                    {/if}
                    <div class="product-list__offers">
                        <{if !$without_form}form{else}div{/if} class="purchase addtocart addtocart_{if !$without_form}as-form{else}as-not-form{/if}" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if} method="post" action="{$wa->getUrl('/frontendCart/add')}"{if $p.sku_count > 1} data-product_tpl="{$product_cart_tpl|escape}"{/if} data-success="{$success_tpl|escape}">
                            <div class="product-list__pricing">
                                <div class="product-list__price nowrap">{shop_currency_html($p.price)}</div>
                                <div class="compare-at-price nowrap product-list__compare-price">
                                    {if $p.compare_price > 0}
                                        <span class="compare-at-price__val">{shop_currency_html($p.compare_price)}</span>
                                    {/if}
                                </div>
                            </div>
                            <div class="product-kod-wr">Код товара: {shopKodPlugin::kod($p.sku_id)}</div>
                            {if $theme_settings.category_show_product_stock}
                                {$is_pre_order = $wa->shop->settings('ignore_stock_count') && (!$p.count && $p.count !== null)}
                                <div class="product-list__availability{if $is_pre_order} product-list__availability_pre-order{/if} {if $available}stock-yes{else}stock-no{/if}">
                                    {if $available}
                                        {if $is_pre_order}
                                            [`Pre-order only`]
                                        {else}
                                            [`In stock`]
                                        {/if}
                                    {else}
                                        [`Out of stock`]
                                    {/if}
                                </div>
                            {/if}
                            {if $theme_settings.category_show_buy_btn || $is_favorites_enable || $is_compare_enable}
                                <div class="product-list__buttons">
                                    {if $theme_settings.category_show_buy_btn}
                                        <div class="product-list__submit">
                                            {if isset($product)}
                                                {$_product = $product}
                                            {else}
                                                {$_product = null}
                                            {/if}
                                            {if !$available && $theme_settings.catalog_plugin_arrived_enable && class_exists('shopArrivedPlugin')}
                                                {shopArrivedPlugin::getFormHtml($p)}
                                            {else}
                                                <{if !$without_form}button{else}div{/if} class="btn btn-list" type="submit"{if !$available} disabled="disabled"{/if}>{$add2cart_label}</{if !$without_form}button{else}div{/if}>
                                            {/if}
                                            {$product = $_product scope=global}
                                        </div>
                                    {/if}
                                    {if $is_favorites_enable || $is_compare_enable}
                                        <div class="product-controls product-listcontrols nowrap">
                                            {if $is_favorites_enable}
                                                <a data-product="{$p.id}" class="favorite product-list__favorite{if in_array($p.id, $favorite_ids)} active{/if}" href="javascript:void(0);"></a>
                                            {/if}
                                            {if $is_compare_enable}
                                                <a data-product="{$p.id}" class="compare product-list__compare{if $wa->shop->inComparison($p.id)} active{/if}" href="javascript:void(0);"></a>
                                            {/if}
                                        </div>
                                    {/if}
                                </div>
                                <input type="hidden" name="product_id" value="{$p.id}">
                            {/if}
                        </{if !$without_form}form{else}div{/if}>
                    </div>
                </div>
            </div>
        {/foreach}
        {if $limit && count($products) > $limit}
            <a href="javascript:void(0);" class="load-more">[`Show more`]</a>
        {/if}
    </div>
{/strip}

{if isset($pages_count) && $pages_count > 1}
    {strip}
        <div class="{if $theme_settings.shop_lazyloading}lazyloading-paging{else}paging-nav reset-ul{/if}"  data-times="2" data-link-text="[`Show more`]" data-loading-str="[`Loading...`]">
            {capture assign=pagination}
                {wa_pagination total=$pages_count nb=3 attrs=['class' => "menu-h"]}
            {/capture}
            {if !$is_seofilter_exists}
                {$pagination}
            {else}
                {shopSeofilterViewHelper::paginationDecorate($pagination)}
            {/if}
        </div>
    {/strip}
{/if}
