{capture "product_cart_tpl" assign='product_cart_tpl'}{strip}
    <div class="wrapper popup-wrapper js-popup product-list__popup open">
        <div class="wrapper popup-title header-nav">[`Select options`]<a href="javascript:void(0);" class="popup-close"></a></div>
        <div class="popup-content"></div>
    </div>
{/strip}{/capture}
{$product_cart_tpl = $product_cart_tpl scope="global"}