{literal}
<style>
.featurestips_wrapper .featurestips_view {
  // position: relative;
 }
 .featurestips_wrapper .tip_view_in {
    width: 250px;
    }
    .featurestips_wrapper .tip_view_arrow {
        margin: 0 0 0 -92px;
    }
</style>
{/literal}

<!-- product internal nav -->
{$reviews = $reviews|default:array()}
{$reviews_number = count($reviews)}
<div class="product-tabs">
    <div class="tabs-menu">
        {$additional_description = $product.additional_description|default:''}
        {if ($product.description && $product.description != ' ') || ($additional_description && $additional_description != ' ')}
            <div class="product-tabs__item{if $theme_settings.product_tabs_view == 'opened'} active{/if}">
                <div class="tabs-menu__link">
                    <a href="javascript:void(0);" class="wrapper disable_count product-tabs__tab">
                        <div class="tabs-menu__name">[`Description`]</div>
                    </a>
                </div>
                <div class="wrapper info-content product-tabs__content product-descriptions">
                    <div id="product-description" class="info-content">
                        {$product.description}
                    </div>
                    <div class="info-content plugin-seo__product-description">
                        {$additional_description}
                    </div>
                </div>
            </div>
        {/if}
        {include file="`$wa_active_theme_path`/get-product-meta-description.html" inline}
        {$video = $product->video}
        {if $video}
            <div class="product-tabs__item{if $theme_settings.product_tabs_view == 'opened'} active{/if}">
                <div class="tabs-menu__link">
                    <a href="javascript:void(0);" class="wrapper disable_count product-tabs__tab">
                        <div class="tabs-menu__name">{$theme_settings.product_video_tab_title|default:'[`Video`]'}</div>
                    </a>
                </div>
                <div class="wrapper product-tabs__content" itemprop="description">
                    <div class="product-video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                        <div class="product-video__frame" itemprop="embedHTML">
                            <iframe src="{$video.url}" width="{$video.width}" height="{$video.height}"></iframe>
                        </div>
                        <meta itemprop="width" content="{$video.width}">
                        <meta itemprop="height" content="{$video.height}">
                    </div>
                </div>
            </div>
        {/if}
        {$product_features = $product.features}
        {if class_exists('shopSeofilterViewHelper') && method_exists('shopSeofilterViewHelper', 'wrapFeatureValues')}
            {$product_features = shopSeofilterViewHelper::wrapFeatureValues($product.features)}
        {/if}
        {if $is_product_page && isset($product.features) && $product.features}
            <div class="product-tabs__item{if $theme_settings.product_tabs_view == 'opened'} active{/if}">
                <div class="tabs-menu__link">
                    <a href="javascript:void(0);" class="wrapper disable_count">
                        <div class="tabs-menu__name">[`Features`]</div>
                    </a>
                    <!-- product features -->
                </div>
                {if $product_features}
                    <div class="features wrapper product-tabs__content" id="product-features">
                        <table class="table-custom">
                            {foreach $product_features as $f_code => $f_value}
                                <tr{if $features[$f_code].type == 'divider'} class="divider"{/if}>
                                    <td class="features__name">
                                        {$features[$f_code].name|escape}
                                        {shopFeaturestipsPlugin::ShowFeatureTip($featurestips, $f_code)}
                                        
                                    </td>
                                    <td class="features__value{if $features[$f_code].type == 'color'} features__value_color{/if}">
                                        {if is_array($f_value)}
                                            {if $features[$f_code].type == 'color'}
                                                {implode('', $f_value)}
                                            {else}
                                                {implode(', ', $f_value)}
                                            {/if}
                                        {else}
                                            {$f_value}
                                        {/if}
                                    </td>
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                {/if}
            </div>
        {/if}
        
        <div class="add_info" style="padding-left: 20px; padding-right: 20px;">
        <!-- plugin hook: 'frontend_product.block' -->
        {* @event frontend_product.%plugin_id%.block *}
        {foreach $frontend_product as $_}{$_.block}{/foreach}
        </div>
        
        <!-- brands -->
        {*<style>
            .brend-text {
                padding-right: 37px;
                padding-left: 20px;
                margin-top: 5px;
                margin-bottom: 15px;
            }
            .brend-text__link{
                color: #94D1F2;
                font-size: 16px;
            }
            .brend-text__name{
                text-transform: uppercase;
            }
        </style>
                    {$_b = shopProductbrandsPlugin::productBrand($product.id)}
                    {if $_b}
                        <div class="product-categories">
                        <a href="{$_b.url}">{if $_b.image}<img width="150" src="{$wa_url}wa-data/public/shop/brands/{$_b.id}/{$_b.id}{$_b.image}">{else}{$_b.name}{/if}</a>
                        </div>
                        <div class="brend-text"><a href="{$_b.url}" class="brend-text__link">Все товары <span class="brend-text__name">{$_b.name}</span></a></div>
                    {/if}*}
        <!--end of brand image-->
        
    
        <style>
            .product-categories{
                margin-top: 10px;
            }
            .tags{
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .product-categories, .tags {
                padding-right: 37px;
                padding-left: 20px;
                font-weight: bold;
            }
            .product-categories a, .tags a {
                font-weight: normal;
            }
        </style>
        <!-- categories -->
        {if $theme_settings.product_show_categories && count($product.categories)}
            <div class="product-categories">
                [`Categories`]:
                {foreach $product.categories as $c}
                    {if $c.status}
                        <a href="{$wa->getUrl('/frontend/category', ['category_url' => $c.full_url])}">{$c.name|escape}{if !$c@last},&nbsp;{/if}</a>
                    {/if}
                {/foreach}
            </div>
        {/if}
        
        
        
        <!-- tags -->
        {if $theme_settings.product_show_tags && $product.tags}
            <div class="tags" id="product-tags">
                [`Tags`]:
                {foreach $product.tags as $t}
                    <a href="{$wa->getUrl('/frontend/tag', ['tag' => urlencode($t)])}">{$t}{if !$t@last},&nbsp;{/if}</a>
                {/foreach}
            </div>
        {/if}
        
        <!--Блок "Другие товары этой коллекции" из плагина stek37-->
        {shopStek37Plugin::display($product.id)}
        
        {if $is_product_page}
            <div class="product-tabs__item{if $theme_settings.product_tabs_view == 'opened'} active{/if}">
                <div class="tabs-menu__link">
                    <a href="javascript:void(0);" class="wrapper" data-count="{$reviews_number}">
                        <div class="tabs-menu__name">[`Reviews`]</div>
                    </a>
                </div>
                <!-- product reviews -->
                <div class="product-reviews wrapper product-tabs__content">
                    {include file="`$wa_active_theme_path`/reviews.html" is_product_page=true reply_allowed=true inline}
                </div>
            </div>
        {/if}
        {foreach $product.pages as $page}
            {if !empty($page.content)}
                <div class="product-tabs__item{if $theme_settings.product_tabs_view == 'opened'} active{/if}">
                    <div class="tabs-menu__link tabs-menu__link_revent-expand">
                        <a href="{$wa->shop->productUrl($product, 'page', ['page_url' => $page.url])}" class="wrapper disable_count">
                            <div class="tabs-menu__name">{$page.name}</div>
                        </a>
                    </div>
                </div>
            {/if}
        {/foreach}
        {$additional_tabs = array()}
        {function name='filter_variable'}{strip}
            {$block_pattern = '/\{\$wa->block\(.+\)}/'}
            {$is_found_block_variable = preg_match($block_pattern, $setting_value, $variable)}
            {if $is_found_block_variable}
                {$block_id = str_replace(['{$wa->block(', ')}', '"', "'"], '', $variable[0])}
                {$wa->block($block_id)}
            {else}
                {$setting_value}
            {/if}
        {/strip}{/function}
        {section name=additional_tabs start=1 loop=4 step=1}
            {$index = $smarty.section.additional_tabs.index}
            {$tab_enabled = 'product_tab_enable_'|cat:$index}
            {$tab_title_key = 'product_tab_title_'|cat:$index}
            {$tab_content_key = 'product_tab_content_'|cat:$index}
            {call name="filter_variable" assign="tab_content" setting_value=$theme_settings[$tab_content_key]}

            {if $theme_settings[$tab_enabled] && $theme_settings[$tab_title_key]}
                {$additional_tabs[] = [
                    'title' => $theme_settings[$tab_title_key],
                    'content' => $tab_content|default:''
                ]}
            {/if}
        {/section}
        {if $additional_tabs}
            {foreach $additional_tabs as $at}
                <div class="product-tabs__item{if $theme_settings.product_tabs_view == 'opened'} active{/if}">
                    <div class="tabs-menu__link">
                        <a href="javascript:void(0);" class="wrapper disable_count">
                            <div class="tabs-menu__name">{$at.title}</div>
                        </a>
                    </div>
                    <div class="wrapper product-tabs__content info-content">{$at.content}</div>
                </div>
            {/foreach}
        {/if}
    </div>
</div>