{literal}
<style>
.jq-selectbox__select-text {
    -webkit-user-select: unset !important;
    -moz-user-select: unset !important;
    -ms-user-select: unset !important;
    user-select: unset !important;
    //overflow: unset !important;
    font-size: unset !important;
}
</style>
{/literal}

{$is_dialog = $wa->get('cart')}

{$sussess_url = $wa->getUrl('shop/frontend/cart')}
{if method_exists($wa->shop, 'checkout')}
    {$sussess_url = $wa->shop->checkout()->cartUrl()}
{/if}
{include file="{$wa_parent_theme_path}/success_tpl.html" sussess_url=$sussess_url success_title='[`Product added to cart`]'}

<form id="cart-form{if $is_dialog}-dialog{/if}" class="cart-form{if count($product.skus) == 1} product-static{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}" data-success="{$success_tpl|escape}">

    {if !$is_dialog && $product.summary && !$theme_settings.product_hide_summary}
        <div class="info-content product-summary">{$product.summary|truncate:512}</div>
    {/if}


    {if $product.sku_type}

        <!-- SELECTABLE FEATURES selling mode -->
        {$default_sku_features = $product.sku_features}
        {$product_available = $product.status}

        <div class="options">
        {if $theme_settings.selectable_features_control == 'inline'}

            {foreach shopBtHelper::sortFeatures($features_selectable, $sku_features_selectable) as $f}
            <div class="inline-select{if $f.type == 'color'} color{/if}">
                <p class="option_name">{$f.name}:</p>

                {foreach $f.values as $v_id => $v}
                    {if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
                    <a data-value="{$v_id}" href="#" class="{if $v_id == ifset($default_sku_features[$f.id])}selected{/if} {if !empty($f.disabled[$v_id])}out_of_stock{/if}" {if $f.type == 'color'}style="{$v->style}; margin-bottom: 20px;"{/if} {if !empty($f.disabled[$v_id])}data-nal="net"{else}data-nal="est"{/if}>
                        {if $f.type == 'color'}&nbsp;<i class="icon16 checkmark color_checkmark"></i>{/if}
                        {if $f.type == 'color'}&nbsp;<span class="color_name">{strip_tags($v)}</span>{else}{$v}{/if}
                    </a>
                {/foreach}
                <input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
            </div>
            {/foreach}

        {else}

            {$featureButton = $wa->globals("featureButton")}

            {foreach shopBtHelper::sortFeatures($features_selectable, $sku_features_selectable) as $f}
                {$selectable_id = 0}
                {foreach $f.values as $v_id => $v}
                    {*$v_id = ifset($default_sku_features[$f.id])*}
                    {if empty($f.disabled[$v_id])}
                        {$selectable_id = $v_id}
                        {break}
                    {/if}
                {/foreach}
            {$f.name}:
            <select data-feature-id="{$f.id}" class="sku-feature{if strpos($featureButton, $f.code) !== false} invisible{/if}" name="features[{$f.id}]">
                {foreach $f.values as $v_id => $v}
                    {*$v_id == ifset($default_sku_features[$f.id])*}
                
                <option value="{$v_id}" {if $selectable_id == $v_id}selected{/if} {if !empty($f.disabled[$v_id])} style="color:#aaa" data-nal="net"{else}data-nal="est"{/if}>{$v} - {if !empty($f.disabled[$v_id])}нет в наличии{else}в наличии{/if}</option>
                
               {* <option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if} {if !empty($f.disabled[$v_id])} style="color:#aaa" data-nal="net"{else}data-nal="est"{/if}>{$v} - {if !empty($f.disabled[$v_id])}нет в наличии{else}в наличии{/if}</option>*}
                
                {/foreach}
            </select>
            <br>
            {/foreach}

        {/if}
        </div>

        <!-- list all SKUs for Schema.org markup -->
        {foreach $product.skus as $sku}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                <meta itemprop="price" content="{$sku.price}">
                <meta itemprop="priceCurrency" content="{$product.currency}">
                {if (!($sku.count === null) && $sku.count <= 0)}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {else}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
            </div>
        {/foreach}

    {else}

        <!-- FLAT SKU LIST selling mode -->
        {$product_available = false}
        {if count($product.skus) > 1}

            {* When there is more than one SKU, display selector *}
            <ul class="skus reset-ul">
                {foreach $product.skus as $sku}
                    {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                    <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <label{if !$sku.available} class="disabled"{/if}>
                            <input name="sku_id" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available} data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if} data-vendor="{$sku.sku|escape}" />
                            {if $sku.name}
                                <span itemprop="name">{$sku.name|escape}</span>&nbsp;
                            {/if}
                            <meta itemprop="price" content="{$sku.price}">
                            <meta itemprop="priceCurrency" content="{$product.currency}">
                            <span class="price tiny nowrap">{shop_currency_html($sku.price, $product.currency)}</span>
                            {if (!($sku.count === null) && $sku.count <= 0)}
                                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                            {else}
                                <link itemprop="availability" href="http://schema.org/InStock" />
                            {/if}
                        </label>
                    </li>
                    {$product_available = $product_available or $sku_available}
                {/foreach}
            </ul>

        {else}

            {* When there is only one SKU, don't display the selector *}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {$sku = $product.skus[$product.sku_id]}
                {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                <meta itemprop="price" content="{$sku.price}">
                <meta itemprop="priceCurrency" content="{$product.currency}">
                {if !$sku.available}
                    <link itemprop="availability" href="http://schema.org/Discontinued" />
                    <p><em class="bold error">[`This product is not available for purchase`]</em></p>
                {elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {else}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
                <input name="sku_id" type="hidden" value="{$product.sku_id}">
                {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
            </div>

        {/if}

    {/if}

    <!-- stock info -->
    {if $theme_settings.product_show_stock && ($product_available || count($product.skus) > 1)}
        <div class="stocks-wrapper">
            <div class="stocks-title">[`Availability in stock`]</div>
            <div class="stocks">
                {function name=in_stock n=0 low=5 critical=2}
                    {strip}
                        {*Убираем функционал отображения к-ва остатков*}
                        {* {if $n > $low or $n === null}
                            <span class="stock-status stock-high"><i></i><i></i><i></i><span class="stock-name">[`In stock`]</span></span>
                        {elseif $n > $critical}
                            <span class="stock-status stock-low"><i></i><i></i><i class="dot-empty"></i><span class="stock-name">{_w("Only a few items left")}</span></span>
                        {elseif $n > 0}
                            <span class="stock-status stock-critical"><i></i><i class="dot-empty"></i><i class="dot-empty"></i><span class="stock-name">{_w("Only %d left in stock", "Only %d left in stock", $n)}</span></span>
                        {else}
                            {if $wa->shop->settings('ignore_stock_count')}
                                <span class="stock-status stock-pre-order"><i></i><i></i><i></i><span class="stock-name">[`Pre-order only`]</span></span>
                            {else}
                                <span class="stock-status stock-none"><i></i><i></i><i></i><span class="stock-name">[`Out of stock`]</span></span>
                            {/if}
                        {/if}*}
                        {*Выводим только в наличии\не в наличии*}
                        {if $n > 0 or $n === null}
                            <span class="stock-status stock-high"><i></i><i></i><i></i><span class="stock-name">[`In stock`]</span></span>
                            {else}
                            <span class="stock-status stock-none"><i></i><i></i><i></i><span class="stock-name">[`Out of stock`]</span></span>
                            
                        {/if}
                    {/strip}
                {/function}
                {$skus_number = count($product.skus)}
                {foreach $product.skus as $sku}
                    <div {if $sku.id != $product.sku_id || $skus_number > 1}style="display:none"{/if} class="sku-{$sku.id}-stock">
                        {if $sku.stock}
                            <div class="sku-stock">
                                {foreach $stocks as $stock_id => $stock}
                                    {if isset($sku.stock[$stock_id])}
                                        {$stock_count = $sku.stock[$stock_id]}
                                    {else}
                                        {$stock_count = null}
                                    {/if}
                                    <div class="sku-stock__item">
                                        <span class="sku-stock__name">{$stock.name}:</span><span class="stock__value">{in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}</span>
                                    </div>
                                {/foreach}
                            </div>
                        {else}
                            {in_stock n=$sku.count}
                        {/if}
                    </div>
                {/foreach}
                {if $product.sku_type}
                    <div class="sku-no-stock"{if $skus_number > 1} style="display: none;"{/if}>
                        <strong class="stock-none">[`Product with the selected option combination is not available for purchase`]</strong>
                    </div>
                {/if}
            </div>
        </div>
    {/if}

    <div class="purchase">
        {if $services}
            <!-- services -->
            <div class="services">
                {foreach $services as $s}
                    <div class="services__item">
                        <div class="service-{$s.id}">
                            <label>
                                <input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
                            </label>
                            {if isset($s.variants)}
                                <div class="services__variants">
                                    <select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
                                        {foreach $s.variants as $v}
                                        <option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                        {/foreach}
                                    </select>
                                </div>
                            {else}
                                <input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
                            {/if}
                        </div>
                    </div>
                {/foreach}
            </div>
        {/if}

        <!-- price -->

        {function name="compare_tpl" val=''}{strip}
            <div class="compare-at-price nowrap">
                <div class="compare-at-price__val">
                    {$val}
                </div>
            </div>
        {/strip}{/function}
        {call name="compare_tpl" assign="compare_tpl"}

        {function name="available_tpl"}{strip}
            <div class="qty">
                <a href="#" class="qty-btn qty-minus"></a>
                <input type="text" name="quantity" value="1">
                <a href="#" class="qty-btn qty-plus"></a>
            </div>
            <div class="add2cart__pricing"{if $product.compare_price} data-compare_price="{$product.compare_price}"{/if}>
                <div data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap" data-compare_tpl="{$compare_tpl|escape}">{shop_currency_html($product.price)}</div>
                {if $product.compare_price > 0}
                    {compare_tpl val=shop_currency_html($product.compare_price)}
                {/if}
            </div>
            <button class="btn-lg add2cart__submit" type="submit" {if !$product_available}disabled="disabled"{/if}>[`Add to cart`]</button>
        {/strip}{/function}
        {call name="available_tpl" assign="available_tpl"}

        {function name="unavailable_tpl"}{strip}
            {if $theme_settings.product_show_stock}
                <div class="add2cart__stock-none">
                    {if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}
                </div>
            {/if}
        {/strip}{/function}
        {call name="unavailable_tpl" assign="unavailable_tpl"}

        {if $is_dialog}
            <div class="popup-bottom">
        {/if}
        {if ($product['count'] !='0')}
            <div class="add2cart add2cart_{if $product_available}available{else}unavailable{/if}" data-available="{$available_tpl|escape}" data-unavailable="{$unavailable_tpl|escape}">
                <div class="add2cart__main й">
                    {if $product_available}
                        {available_tpl}
                    {else}
                        {unavailable_tpl}
                    {/if}
                </div>

                <input type="hidden" name="product_id" value="{$product.id}">
                <div class="add2cart__plugin-arrived">
                    {if isset($frontend_product['arrived-plugin']['cart']) && !empty($frontend_product['arrived-plugin']['cart'])}
                        {$frontend_product['arrived-plugin']['cart']}
                    {/if}
                </div>
                {if !$is_dialog}
                    {if class_exists('shopBuy1clickViewHelper')}
                        {$buy1click_btn = shopBuy1clickViewHelper::getButton($product.id)}
                    {/if}
                    {$isset_buy1click_plugin_btn = isset($frontend_product['buy1click-plugin']['cart']) && isset($buy1click_btn) && !empty($buy1click_btn)}
                    {$isset_quickorder_plugin_btn = isset($frontend_product['quickorder-plugin']) && !empty($frontend_product['quickorder-plugin']['cart'])}
                    {$isset_storequickorder_plugin_btn = isset($frontend_product['storequickorder-plugin']) && !empty($frontend_product['storequickorder-plugin']['cart'])}

                    {$isset_quickorder = $isset_buy1click_plugin_btn || $isset_quickorder_plugin_btn || $isset_storequickorder_plugin_btn}
                    {$isset_controls = $theme_settings.elements_favorites || $theme_settings.elements_compare}
                    {strip}
                        <div class="display_inline-block vertical_middle cart-form__buttons">
                            {*if $isset_quickorder*}
                                <div class="cart-form__quickorder">
                                    {*if $isset_buy1click_plugin_btn}
                                        {if !empty($frontend_product['buy1click-plugin']['cart'])}
                                            {$frontend_product['buy1click-plugin']['cart']}
                                        {else}
                                            {$buy1click_btn}
                                        {/if}
                                    {elseif $isset_quickorder_plugin_btn}
                                        {$frontend_product['quickorder-plugin']['cart']}
                                    {elseif $isset_storequickorder_plugin_btn}
                                        {$frontend_product['storequickorder-plugin']['cart']}
                                    {/if*}
                                    {shopQuickorderPlugin::button()}
                                </div>
                            {*/if*}
                            {if $isset_controls}
                                <div class="product-controls cart-formcontrols">
                                    {if $theme_settings.elements_favorites}
                                        {if !isset($favorite_ids)}
                                            {include file="{$wa_parent_theme_path}/get-favorites.html"}
                                        {/if}
                                        <a data-product="{$product.id}" class="favorite cart-form__favorite{if in_array($product.id, $favorite_ids)} active{/if}" href="javascript:void(0);"></a>
                                    {/if}
                                    {if $theme_settings.elements_compare}
                                        <a data-product="{$product.id}" class="compare cart-form__compare{if $wa->shop->inComparison($product.id)} active{/if}" href="javascript:void(0);"></a>
                                    {/if}
                                </div>
                            {/if}
                        </div>
                    {/strip}
                {/if}
            </div>
            {/if}
        {if $is_dialog}
            </div>
        {/if}
    </div>
</form>
{if isset($sku_features_selectable)}
    {foreach $sku_features_selectable as $sfs_key => $sfs}
        {$sku_features_selectable[$sfs_key]['vendor'] = $product.skus[$sfs.id].sku|default:''}
    {/foreach}
{/if}
<script>
    ( function($) {
        $.getScript("{$wa_theme_url}js/product.js?v{$wa_theme_version}", function() {
            if (typeof Product === "function") {
                new Product('#cart-form{if $is_dialog}-dialog{/if}', {
                    currency: {json_encode($currency_info)}
                    {if count($product.skus) > 1 or $product.sku_type}
                        ,services: {json_encode($sku_services)}
                    {/if}
                    {if $product.sku_type}
                        ,features: {json_encode($sku_features_selectable)}
                    {/if}
                });
            }
        });
    })(jQuery);
</script>