<link href="{$wa_theme_url}vendor/photoswipe/photoswipe.css" rel="stylesheet">
<link href="{$wa_theme_url}vendor/photoswipe/default-skin/default-skin.css" rel="stylesheet">
<script src="{$wa_theme_url}vendor/photoswipe/photoswipe.js"></script>
<script src="{$wa_theme_url}vendor/photoswipe/photoswipe-ui-default.min.js"></script>
{literal}
<style>
.jq-selectbox .jq-selectbox__dropdown ul li {
	    white-space: inherit !important;
}
</style>
{/literal}
{$product_category = $wa->shop->category($product.category_id)}
{$wa->globals('currentCategory', ["name" => $product_category.name, "url" => $wa->shop->categoryUrl($product_category)])}
<div class="product-page" itemscope itemtype="http://schema.org/Product">
    <div class="product-header">
        <h1 class="product-name" itemprop="name">{$product.name|escape}</h1>
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="worstRating" content="{$product.rating}" />
            <meta itemprop="bestRating" content="{$product.rating}" />
            <meta itemprop="ratingValue" content="{$product.rating}" />
            <meta itemprop="reviewCount" content="{$reviews_total_count}" />
            <meta itemprop="itemReviewed" content="{$product.name|escape}" />
        </div>
        
        {if $theme_settings.product_show_sku}
            <div class="product-vendor"{if !$product.skus[$product.sku_id].sku} style="display:none;"{/if}>
                [`Vendor code`]:&nbsp;<span class="product-vendor__code">{$product.skus[$product.sku_id].sku}</span>
            </div>
        {/if}
        
        <div class="unique_code">
            Код товара:
            {foreach $product.skus as $s}
            <span class="product-kod product-kod-sku-id-{$s.id}"{if $s.id != $product.sku_id} style="display:none;"{/if}>{shopKodPlugin::kod($s.id,0,false)}</span>
            {/foreach}
        </div>
        
        {if class_exists('shopProductbrandsPlugin')}
            {$product_brand = shopProductbrandsPlugin::productBrand($product.id)}
            {if $product_brand}
                <div class="product-brand">
                    <span class="product-brand__title">[`Brand`]:</span> <a href="{$product_brand.url}">{$product_brand.name}</a>
                </div>
            {/if}
        {/if}
        {$isset_rating = !empty($product.rating) && $product.rating > 0}
        {$badge_html = $wa->shop->badgeHtml($product.badge)}
        {if $isset_rating || $badge_html}{strip}
            <div class="product-bar">
                {if $isset_rating}
                    <div class="rating nowrap" title="{sprintf('[`Average user rating: %s / 5`]', $product.rating)}">
                        <div class="rating__stars">
                            {if $product.rating > 0}
                                {$wa->shop->ratingHtml($product.rating, 18)}
                            {else}
                                {for $i = 1 to 5}<i class="icon18 star-empty"></i>{/for}
                            {/if}
                        </div>
                        <div class="rating__desc">{_w('%d review', '%d reviews', $product.rating_count)}</div>
                    </div>
                {/if}
                {if $badge_html}
                    <div class="product-badge">{$badge_html}</div>
                {/if}
            </div>
        {/strip}{/if}
    </div>
    <!-- product info & gallery -->
    <div class="product-info" id="overview">
        {function name="swiper_tpl" val=''}{strip}
            <div id="pswp" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>
                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
        {/strip}{/function}
        {call name="swiper_tpl" assign="swiper_tpl"}
        {$product_has_images = $product.images && count($product.images) >= 1}
        <div class="product-gallery-wrapper">
            {* Интеграция плагина "Наклейки" *}
            {if !empty($product.autobadge)}{$product.autobadge}{/if}
            <div id="product-gallery"{if $product_has_images} class="product-gallery-slider{if count($product.images) == 1} product-gallery-slider_empty{/if}"{/if} data-swiper="{$swiper_tpl|escape}">
                {if $product_has_images}
                    {foreach $product.images as $image}
                        <div class="image">
                            <a id="product-image-{$image.id}" href="{$wa->shop->imgUrl($image, '970')}">
                                {$wa->shop->imgHtml($image, '750', [ 'itemprop' => 'image' ])}
                            </a>
                        </div>
                    {/foreach}
                {else}
                    <div class="image image-dummy">
                        <img src="{$wa_theme_url}img/dummy.svg" alt="">
                    </div>
                {/if}
            </div>
        </div>

       {*здесь был хук frontend_product.block*}
   
        <!-- purchase -->
        

        
        <div class="product-cart">
            {include file="product.cart.html" inline}
            <!-- plugin hook: 'frontend_product.cart' -->
            {* @event frontend_product.%plugin_id%.cart *}
            {$exclude_keys = ['storequickorder-plugin', 'quickorder-plugin', 'buy1click-plugin', 'arrived-plugin']}
            {foreach $frontend_product as $_key => $_}
                {if in_array($_key, $exclude_keys)}{continue}{/if}
                {$_.cart}
            {/foreach}
            <!-- Delivery info -->
            {* shopDeliveryinfoPlugin::DeliveryHelper($product.id) *} 
            {*shopDpPluginHelper::product($product)*}
        </div>
                <div class="preorderWrapper">

        {foreach $frontend_product as $id => $_}<!-- {$id} -->{if $id != 'quickorder-plugin'}{$_.cart}{/if}<!-- end {$id} -->{/foreach}
        {*shopArrivedPlugin::getFormHtml($product)*}
        {*{shopQuickorderPlugin::quickorderForm($product)}*}
        {shopPreorderPlugin::form($product)}
        <style>
            .shop-preorder-plugin-form-wr{
                display:none;
            }
        </style>
        </div>
        {include file="product.tabs.html" is_product_page=true inline}
        {if $theme_settings.product_show_share}
            <div class="share-block product-share">
                {literal}
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="facebook,vkontakte,twitter,gplus,whatsapp,viber,telegram"></div>
                {/literal}
            </div>
        {/if}
        <!-- plugin hook: 'frontend_product.block_aux' -->
        {* @event frontend_product.%plugin_id%.block_aux *}
        {if !empty($frontend_product)}
            <div class="aux">
                {foreach $frontend_product as $_}{$_.block_aux}{/foreach}
            </div>
        {/if}
        <!-- categories -->
        {*if $theme_settings.product_show_categories && count($product.categories)}
            <div class="product-categories">
                [`Categories`]:
                {foreach $product.categories as $c}
                    {if $c.status}
                        <a href="{$wa->getUrl('/frontend/category', ['category_url' => $c.full_url])}">{$c.name|escape}{if !$c@last},&nbsp;{/if}</a>
                    {/if}
                {/foreach}
            </div>
        {/if}
        
        <!-- tags -->
        {if $theme_settings.product_show_tags && $product.tags}
            <div class="tags" id="product-tags">
                [`Tags`]:
                {foreach $product.tags as $t}
                    <a href="{$wa->getUrl('/frontend/tag', ['tag' => urlencode($t)])}">{$t}{if !$t@last},&nbsp;{/if}</a>
                {/foreach}
            </div>
        {/if*}
    </div>
    <!-- plugin hook: 'frontend_product.block' -->
    {* @event frontend_product.%plugin_id%.block *}
    {* foreach $frontend_product as $_}{$_.block}{/foreach *}

    <!-- RELATED PRODUCTS -->
    {$upselling = $product->upSelling($theme_settings.product_crosselling_limit|default:null)}
    {$crossselling = $product->crossSelling($theme_settings.product_crosselling_limit|default:null)}
    {if $upselling || $crossselling}
        <div class="product-relateds">
            {if $crossselling}
                <div class="product-relateds__item">
                    <div class="product-relateds__title">[`Together with this product are buying`]</div>
                    {include file="product-list.html" products=$crossselling list_view="rows" limit=3}
                </div>
            {/if}
            {if $upselling}
                <div class="product-relateds__item">
                    <div class="product-relateds__title">[`See also`]</div>
                    {include file="product-list.html" products=$upselling list_view="rows" limit=3}
                </div>
            {/if}
        </div>
    {/if}
</div>
