{* one review output *}
{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}
<figure class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="summary">
        {strip}
            <div class="review-header display_inline-block">
                {if !$review.parent_id && !empty($review.rate)}
                    <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        {$rate = round($review.rate)}
                        <meta itemprop="worstRating" content = "1">
                        <meta itemprop="ratingValue" content="{$rate}">
                        <meta itemprop="bestRating" content = "5">
                        {$wa->shop->ratingHtml($rate, 18)}
                    </div>
                {/if}
                <div class="review__name">
                    <span itemprop="name">{if $review.title}{$review.title}{/if}</span>
                </div>
            </div>
        {/strip}
        [`By`]
        {*Убираем вывод автора*}
        {*{if empty($review.site)}
            <span class="username" itemprop="author">{$review.author.name}</span>
        {else}
            <a href="{$review.site}" class="username" itemprop="author">{$review.author.name}</a>
        {/if}*}
        {if !$review.title} <p>Администратор "Bondage Toys"</p>  {/if}
        
        <meta itemprop="itemReviewed" content="{$product.name|escape}">
        <meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
        <span class="date" title="{$review.datetime|wa_datetime}">{$review.datetime|wa_datetime:"humandatetime"}</span>
    </div>
    {if $review.text}
        <div class="review__text" itemprop="description">{$review.text}</div>
    {/if}
    
    {*Убираем возможность ответить на отзыв*}
    {*{if $reply_allowed}
        <div class="actions">
            <a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="js-popup-toggle review-reply">[`reply`]</a>
        </div>
    {/if}*}
</figure>
{if !empty($ajax_append)}<ul class="reset-ul reviews-branch"></ul></li>{/if}