.bonus { background: #ceb; padding: 2px 4px 1px; }
.plugin { margin-bottom: 20px; } /* shipping and payment plugins ouput */

span.loading { position: relative; top: 4px; left: 10px; }
.checkout span.loading { position: relative; top: 4px; left: 10px; }



/* Product page
--------------- */

.purchase { margin-bottom: 20px; padding: 0; }

.options { line-height: 50px; }
.options .inline-select { margin-bottom: 15px; }
.options .inline-select a { border: 1px solid rgba(0,0,0,0.1); border-radius: 3px; margin: 0 5px 5px 0; display: inline-block; padding: 10px 17px; background: rgba(0,0,0,0.1); text-decoration: none; font-weight: bold; position: relative; min-width: 50px; text-align: center; }
.options .inline-select a:hover { background-color: rgba(0,0,0,0.2); }
.options .inline-select a .color_name { display: none; position: absolute; bottom: -43px; left: 50%; font-size: 0.8em; color: rgba(0,0,0,0.7); margin-left: -40px; width: 80px; }
.options .inline-select a .color_checkmark { display: none; position: absolute; top: 21px; left: 35px; }
.options .inline-select a.selected { border: 1px solid #000; box-shadow: 0 2px 4px -2px rgba(0,0,0,0.4); background: rgba(0,0,0,0.15) linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.0) 100%); color: #000 !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.options .inline-select a.selected .color_name { display: block; }
.options .inline-select a.selected .color_checkmark { display: block; }
.options .inline-select.color a { margin-bottom: 37px !important; }

.services { margin-bottom: 20px; }
.aux { padding: 15px; font-size: 0.9em; }

ul.skus { list-style: none; padding-left: 2px; }
ul.skus li { padding-bottom: 3px; }

i.sort-asc { height: 0; width: 0; border: 4px solid transparent; border-bottom-color: #000; margin-bottom: 0.2em; display: inline-block; }
i.sort-desc { height: 0; width: 0; border: 4px solid transparent; border-top-color: #000; margin-top: 0.1em; display: inline-block; }

.out-of-stock strong { color: #aaa; font-size: 0.9em; }
.disabled { color: #777; }
.description { margin-bottom: 20px; overflow-x: hidden; }
.error { color: red; }
.rating i.icon16 { margin-right: 0.13em; margin-top: 0em; }
span.rating { white-space: nowrap; }
h1 .rating i.icon16 { margin-top: 0.35em; }


/* Product reviews
------------------ */

table.rating-distribution td { padding: 2px 15px 2px 0; border: none; }
table.rating-distribution td .bar { background: #eee; width: 100px; height: 13px; }
table.rating-distribution td .bar .filling { background: #f7c854; height: 13px; }

.write-review { margin: 30px 0 40px; }

.review { margin-bottom: 30px; }
.review .summary { font-size: 0.9em; color: #777; }
.review .summary h6 { color: #000; font-size: 1.1em; margin-bottom: 0.3em; }
.review .summary a.username { color: #777; }
.review .summary a.username:hover { color: red; }
.review .summary a { display: inline; padding: 0; }
.review .summary .date { color:#aaa; }
.review p { margin-top: 5px; margin-bottom: 5px; line-height: 1.3em; }
.review .actions a { padding: 0 !important; }

.reviews { margin-bottom: 20px; }
.reviews ul { margin-left: 0; padding: 0; list-style: none; }
.reviews ul li ul { padding-left: 35px; }
.reviews ul li ul li .review h6 { color: #555; }
.reviews ul li .review-form { padding: 20px 0 0; }
.reviews ul li .review-form textarea { min-height: 100px; }
.reviews ul .in-reply-to { background: #eee; margin: -8px -8px 3px; padding: 8px 35px 0 8px; position: relative; }
.reviews ul .new { background: #ffc; margin: -8px -8px 22px; padding: 8px 35px 8px 8px; }
.reviews textarea { height: 100px; min-height: 100px; margin-top: 0; }

.review-form { padding: 0; margin-bottom: 30px; }
.review-form h4 { margin: 0 0 20px; font-weight: normal; }
.review-form-fields p { margin: 0 0 10px; }
.review-form-fields p.review-field a { display: inline; padding: 0; text-decoration: none; }
.review-form-fields label { display: block; margin: 0 10px 0 0; color: #aaa;}
.review-form-fields input { width: 80%; }
.review-form textarea { width: 90%; min-height: 160px; }
.review-form .review-submit { padding:0 0 20px 0;}
.review-form .userpic { width: 20px; height: 20px; float: left; margin-right: 5px; border-radius: 50%; }
.review-form label { display: block; margin: 0 10px 0 0; color: #AAA; }
.review-form .wa-captcha img { margin-bottom: 10px; }
.reviews span.rate { line-height: 1.3em; display: block; margin: 0.5em 0; }
.reviews span.rate a { text-decoration: none !important; }
.reviews span.rate .icon10 { background-repeat: no-repeat; background-image: url(../../../../wa-content/img/icon10.png); height: 10px; width: 10px; display: inline-block; text-indent: -9999px; }
.reviews span.rate .icon10.star { background-position: -60px -40px; }
.reviews span.rate .icon10.star-empty { background-position: -80px -40px; }

input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }

/* Product badges
----------------- */

.badge { background: #a1fcff; position: absolute; top: 0; left: 0; z-index: 20; }

.badge span { color: #000; font-weight: bold; z-index: 1983; font-size: 20px; text-align: center; overflow: visible; line-height: 1em; display: block; padding: 10px 15px; }

.badge.new { background: #ff4; color: #000; }
.badge.low-price { background: #ffc2e3; color: #300; }
.badge.bestseller { background: #74ff30; color: #030; }

.product-gallery .badge span { font-size: 32px; }

.bestsellers .badge span { font-size: 24px; }

/* Category
----------- */

.filters .ui-slider { margin: 10px 5px; display: block; }
.filters .ui-slider-horizontal { height: 2px; border: none; }
.filters .ui-slider-horizontal .ui-slider-handle,
.filters .ui-slider-horizontal .ui-slider-handle.ui-state-focus { top: -0.55em; margin-left: -0.4em; height: 1.1em; width: 1.1em; border: none; box-shadow: 0 1px 2px rgba(0,0,0,0.15); border-radius: 50%; z-index: 0; }
.filters .ui-slider-horizontal .ui-slider-handle.ui-state-hover { border-color: #999; box-shadow: 0 1px 4px rgba(0,0,0,0.35); }
.filters .ui-slider-horizontal.ui-widget-content { background: #bbb; }
.filters .ui-slider-horizontal .ui-widget-header { background: #0a0; height: 4px; position: relative; top: -1px; z-index: 0; }
.filters .ui-widget-content .ui-state-default { border: 1px solid #ccc; background: #f7f7f7; }


/* Checkout
----------- */

.checkout ul.checkout-options { padding-left: 25px; }
.checkout ul.checkout-options li { list-style: none; position: relative; margin-bottom: 50px; clear: both; }
.checkout ul.checkout-options li h3 { font-weight: bold; margin-bottom: 10px; }
.checkout ul.checkout-options li h3 label { margin: 0 33px; }
.checkout ul.checkout-options li .rate { float: right; text-align: center; width: 250px; }
.checkout ul.checkout-options li p { width: 70%; font-size: 0.85em; }
.checkout ul.checkout-options li input[type="radio"] { position: absolute; top: 4px; left: -25px; }
.checkout ul.checkout-options li label input[type="radio"] { top: -4px; }
.checkout ul.checkout-options li .wa-form { margin-top: 0px; margin-bottom: 30px; }
.checkout ul.checkout-options li .wa-form label input[type="radio"] { position: static; }

.checkout .checkout-result { padding: 60px 4% 20px; background: #fff; text-align: center; }
.checkout .checkout-result h1 { font-size: 4em; margin-bottom: 50px; font-weight: bold; }
.checkout .checkout-result.error h1 { color: red; }
.checkout .checkout-result .wa-form { margin: 10px auto 20px; width: 400px; float: none; text-align: left; }
.checkout .checkout-result .back { margin-top: 50px; }

.checkout h2 { padding: 15px 20px 18px; border-top: 1px solid rgba(0,0,0,0.15); font-weight: normal; margin: 0; background: #f3f3f3; }
.checkout .checkout-step-content { padding: 20px; background: #fff; }
.checkout ul { list-style: none; padding-left: 0; margin-top: 0; }
.checkout ul li { font-size: 1.1em; margin-bottom: 5px; }
.checkout ul li input[type="radio"] { margin-right: 3px; }
.checkout #login-form h1 { display: none; }
.checkout .comment { width: 550px; height: 100px; margin: 5px 0 20px; }
.checkout blockquote p { margin-bottom: 10px; margin-left: 70px; }
.checkout blockquote p span { color: #000; }

.checkout .errormsg.inline { display: inline; margin-left: 10px; }

.checkout table.table { width: 100%; }
.checkout table.table td { border: none; }

.checkout .last span.loading {left: -10px}

.checkout .wa-form .wa-field .wa-name { padding-top: 0.3em; }
.checkout .wa-form .wa-field.wa-field-birthday .wa-value select { margin-right: 5px;  }
.checkout .wa-form .wa-field.wa-field-address .wa-field-address-zip input { min-width: 100px; width: 20%; }


/* Dialogs
---------- */

.dialog { display: none; }
.dialog-background { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000; opacity: 0.8; filter: alpha(opacity=80); z-index: 99; }
.dialog-window .cart { position: fixed; top: 50px; left: 0; right: 0; opacity: 1; z-index: 1005020; overflow-x: hidden; box-shadow: 0 3px 15px #ddd; margin: 0 auto; text-align: left; width: 85%; bottom: 50px !important; background: #fff; }
.dialog-window .cart .added2cart { font-style: italic; }
.dialog-window .cart .purchase { display: block; }
.dialog-window .dialog-close { float: right; color: #bbb; text-decoration: none; font-size: 200%; margin: -3px 15px 0 0; }

/* Customer account
------------------- */

.order-status { padding: 2px 5px; color: #fff; }
h1 .order-status { font-size: 0.75em; margin-left: 10px; }



table.table th,
table.table td { font-size: 0.75em; }
table.table td.nowrap { white-space: normal; }
table.table td.nowrap.bold { white-space: nowrap; }

.dropdown ul.menu-h.aux { display: none; float: none; }