{$wa_shop = $wa_shop|default:$wa->shop}
{$wa_parent_theme_path = $wa_parent_theme_path|default:''}
{if $wa_parent_theme_path}
    {$wa_parent_theme_path = $wa_parent_theme_path|cat:'/'}
{/if}
{include file="function.filter-region-variable.html" scope='parent' inline}
<div class="header-top">
    <div class="wrapper display_table vertical_middle header-top__inner">
        {if true}
            <div class="header-menu">
                <div class="dropdown-window-toggle header-menu__switcher" data-target=".topmenu"></div>
            </div>
        {/if}
        <div class="header-logo{if $theme_settings.logo_as_text} header-logo_with-text{/if}">
            <a href="{$wa_url}">
                {if $theme_settings.logo_svg_url}
                    {$logo_url = $wa_parent_theme_url|default:$wa_theme_url|cat:($theme_settings.logo_svg_url|regex_replace:'/^\//':'')}
                    {$theme_color = $wa->globals('theme_color')}
                    {if $theme_color != 'blue'}
                        {$logo_url = $logo_url|replace:'/img/themes/blue/logo.svg':'/img/themes/'|cat:$theme_color|cat:'/logo.svg'}
                    {/if}
                {elseif $theme_settings.logo}
                    {$logo_url = $wa_theme_url|cat:$theme_settings.logo}
                {/if}
                {if isset($logo_url)}
                    <img class="header-logo__image" src="{$logo_url}" alt="" />
                {/if}
                {if $theme_settings.logo_as_text}
                    <span class="header-logo__text">{$theme_settings.logo_as_text}</span>
                {/if}
            </a>
            <!--<div class="header_city">{if ($wa->shop and class_exists('shopCityselectPlugin'))}{shopCityselectPlugin::showCity('6dfcf8a9c2a202a65c2bed54c7f29b2b')}{/if}</div>-->
        </div>
        {if $wa_shop || $theme_settings.header_phone}
            {if $wa_shop}
                {$inComparison = $wa->shop->inComparison()}
                {$inComparison_count = count($inComparison)}
                {$cart_count = $wa->shop->cart()->count()}
                {if !isset($favorite_ids)}
                    {include file="get-favorites.html"}
                {/if}
                {$favorite_count = count($favorite_ids)}
            {/if}
            <div class="header-buttons">
                <div class="header-buttons__item header-buttons__wrapper">
                    {if $wa_shop}
                        {$is_search_as_popup = $wa_shop && $theme_settings.elements_search && ($theme_settings.elements_search_position == "header" || ($theme_settings.elements_search_position == "home" && !$is_home))}
                        {if $is_search_as_popup}
                            <div class="header-buttons__item header-buttons__search">
                                <a href="javascript:void(0);" class="dropdown-window-toggle" data-target=".search-block">
                                    <svg class="header-buttons__item-image" width="19" height="18" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g transform="translate(-177 492)">
                                            <g id="search_icon">
                                                <use xlink:href="#search_icon_fill" transform="translate(177 -492)" fill="#2D9CDB"/>
                                            </g>
                                        </g>
                                        <defs>
                                            <path id="search_icon_fill" d="M 6.68571 0C 8.45888 1.82711e-15 10.1594 0.704385 11.4132 1.9582C 12.667 3.21201 13.3714 4.91255 13.3714 6.68571C 13.3714 8.34171 12.7646 9.864 11.7669 11.0366L 12.0446 11.3143L 12.8571 11.3143L 18 16.4571L 16.4571 18L 11.3143 12.8571L 11.3143 12.0446L 11.0366 11.7669C 9.864 12.7646 8.34171 13.3714 6.68571 13.3714C 4.91255 13.3714 3.21201 12.667 1.9582 11.4132C 0.704385 10.1594 4.56777e-16 8.45888 -9.13555e-16 6.68571C -4.56777e-16 4.91255 0.704385 3.21201 1.9582 1.9582C 3.21201 0.704385 4.91255 1.82711e-15 6.68571 0L 6.68571 0ZM 6.68571 2.05714C 4.11429 2.05714 2.05714 4.11429 2.05714 6.68571C 2.05714 9.25714 4.11429 11.3143 6.68571 11.3143C 9.25714 11.3143 11.3143 9.25714 11.3143 6.68571C 11.3143 4.11429 9.25714 2.05714 6.68571 2.05714Z"/>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                        {/if}
                    {/if}
                    {if $theme_settings.header_phone}
                        <div class="header-buttons__item header-buttons__phone">
                            {call name="filter_region_variable" assign="header_phone" setting_value=$theme_settings.header_phone}
                            <a href="tel:{str_replace(['(', ')', '-', ' '], '', $header_phone)}">
                                <svg class="header-buttons__item-image" style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#2D9CDB" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                                </svg>
                            </a>
                        </div>
                    {/if}
                    {if $wa_shop}
                        {$cart_url = $wa->getUrl('shop/frontend/cart')}
                        {if method_exists($wa->shop, 'checkout')}
                            {$cart_url = $wa->shop->checkout()->cartUrl()}
                        {/if}

                        <div class="header-buttons__item informer-button cart-informer header-buttons__cart{if $cart_count > 0} informer-button__labeled{/if}">
                            <a href="{$cart_url}" data-count="{$cart_count}">
                                <svg class="header-buttons__item-image" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g transform="translate(-3693 493)">
                                        <g id="cart_icon">
                                            <use xlink:href="#cart_icon_fill" transform="translate(3693 -493)" fill="#2D9CDB"/>
                                        </g>
                                    </g>
                                    <defs>
                                        <path id="cart_icon_fill" d="M 16 16C 14.89 16 14 16.89 14 18C 14 18.5304 14.2107 19.0391 14.5858 19.4142C 14.9609 19.7893 15.4696 20 16 20C 16.5304 20 17.0391 19.7893 17.4142 19.4142C 17.7893 19.0391 18 18.5304 18 18C 18 16.89 17.1 16 16 16ZM 0 0L 0 2L 2 2L 5.6 9.59L 4.24 12.04C 4.09 12.32 4 12.65 4 13C 4 13.5304 4.21071 14.0391 4.58579 14.4142C 4.96086 14.7893 5.46957 15 6 15L 18 15L 18 13L 6.42 13C 6.3537 13 6.29011 12.9737 6.24322 12.9268C 6.19634 12.8799 6.17 12.8163 6.17 12.75C 6.17 12.7 6.18 12.66 6.2 12.63L 7.1 11L 14.55 11C 15.3 11 15.96 10.58 16.3 9.97L 19.88 3.5C 19.95 3.34 20 3.17 20 3C 20 2.73478 19.8946 2.48043 19.7071 2.29289C 19.5196 2.10536 19.2652 2 19 2L 4.21 2L 3.27 0L 0 0ZM 6 16C 4.89 16 4 16.89 4 18C 4 18.5304 4.21071 19.0391 4.58579 19.4142C 4.96086 19.7893 5.46957 20 6 20C 6.53043 20 7.03914 19.7893 7.41421 19.4142C 7.78929 19.0391 8 18.5304 8 18C 8 16.89 7.1 16 6 16Z"/>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    {/if}
                </div>
            </div>
        {/if}
    </div>

    {$topmenu_category = array()}
    {if $theme_settings.topmenu_catalog_enable && $wa_shop}
        {$topmenu_category = $wa->shop->categories(0, 1, true, true)}
    {/if}

    {$topmenu_menu = array()}
    {if $theme_settings.topmenu_menu_enable}
        {if $theme_settings.topmenu_menu_source == 'apps'}
            {$topmenu_menu = $wa->apps()}
        {elseif $theme_settings.topmenu_menu_source == 'site_pages'}
            {$topmenu_menu = $wa->site->pages()}
        {elseif $theme_settings.topmenu_menu_source == 'shop_pages' && $wa_shop}
            {$topmenu_menu = $wa->shop->pages()}
        {/if}
    {/if}

    {$region_trigger = array()}
    {if $theme_settings.menu_regions_enable && class_exists('shopRegionsViewHelper')}
        {$region_trigger = shopRegionsViewHelper::getWindow()}
    {/if}

    {$isset_topmenu_regions = !empty($region_trigger)}
    {$isset_topmenu_auth = $theme_settings.menu_profile_enable && $wa->isAuthEnabled()}
    {$isset_tompemu_list_group = $theme_settings.elements_compare || $theme_settings.elements_favorites || $topmenu_category || $topmenu_menu}

    {if $isset_topmenu_regions || $isset_tompemu_list_group}
        {function name="topmenu_block" is_dynamic_catalog=0}
            {if $topmenu_title}
                <li class="wrapper topmenu__title">{$topmenu_title}</li>
            {/if}
            {foreach $topmenu as $tm}
                {if (isset($tm.params.mobisite_hide) && $tm.params.mobisite_hide == '1') || (isset($tm.mobisite_hide) && $tm.mobisite_hide == '1')}{continue}{/if}
                <li>
                    <a href="{$tm.url}" class="topmenu__link {if $is_dynamic_catalog}js-dynamic-catalog__link{/if}"{if $is_dynamic_catalog} data-category-id="{$tm.id|default:''}"{/if}{if $is_dynamic_catalog} data-subcategories-count="{count($tm.childs|default:[])}"{/if}>{$tm.name}</a>
                </li>
                {if $topmenu_limit !== null && $topmenu_limit == $tm@iteration}
                    {break}
                {/if}
            {/foreach}
        {/function}

        {$has_topmenu_padding = $topmenu_category || $topmenu_menu || $isset_topmenu_auth}
        <div class="topmenu js-topmenu dropdown-window js-dropdown-window{if $has_topmenu_padding} topmenu_padding-bottom{/if}">
            {if $isset_topmenu_regions}
                <div class="topmenu__link topmenu__link_regions">
                    {$region_trigger}
                </div>
            {/if}
            {if $isset_tompemu_list_group}
                <div class="topmenu-menu">
                    <ul class="reset-ul">

                        {if $theme_settings.elements_compare}
                            {$compare_url = $wa->getUrl('shop/frontend/compare')}
                            {include file="success_tpl.html" sussess_url=$compare_url success_title='[`The product successfully added to copmare list`]'}
                            <li id="compare-info" class="topmenu__compare{if $theme_settings.elements_show_if_is_not_empty} topmenu__compare_dynamic{if $favorite_count <= 0} topmenu__compare_empty{/if}{/if} informer-button" data-success="{$success_tpl|escape}">
                                <a href="{$compare_url}" class="topmenu__link topmenu__link_labled topmenu__link_iconed" data-count="{$inComparison_count}">[`Comparison`]</a>
                            </li>
                        {/if}

                        {if $theme_settings.elements_favorites}
                            {$favorite_url = $wa->getUrl('shop/frontend/search')|cat:'?list=favorites'}
                            {include file="success_tpl.html" sussess_url=$favorite_url success_title='[`The product successfully added to favorite list`]'}
                            <li id="favorite-info" class="topmenu__favorite{if $theme_settings.elements_show_if_is_not_empty} topmenu__favorite_dynamic{if $favorite_count <= 0} topmenu__favorite_empty{/if}{/if} informer-button" data-success="{$success_tpl|escape}">
                                <a href="{$favorite_url}" class="topmenu__link topmenu__link_labled topmenu__link_iconed" data-count="{$favorite_count}">[`Favorites`]</a>
                            </li>
                        {/if}

                        {if $topmenu_category}
                            {topmenu_block
                                topmenu=$topmenu_category
                                topmenu_title=$theme_settings.topmenu_catalog_title
                                topmenu_limit=$theme_settings.topmenu_catalog_limit|default:null
                                is_dynamic_catalog=1}
                        {/if}

                        {if $topmenu_menu}
                            {topmenu_block topmenu_title=$theme_settings.topmenu_menu_title topmenu_limit=null}
                            <li><a class="topmenu__link" href="/how_to_order/">Как заказать</a></li>
                            <li><a class="topmenu__link" href="/dostavka_i_oplata/">Доставка и оплата</a></li>
                            <li><a class="topmenu__link" href="/diskont/">Система скидок</a></li>
                            <li><a class="topmenu__link" href="/about-us/">О компании</a></li>
                            <li><a class="topmenu__link" href="/feedback/">Контакты</a></li>
                            {topmenu_block topmenu=$topmenu_menu topmenu_limit=$theme_settings.topmenu_menu_limit|default:null}
                        {/if}

                        {if $isset_topmenu_auth}
                            <!-- user auth -->
                            {if $theme_settings.menu_profile_title}
                                <li class="wrapper topmenu__title">{$theme_settings.menu_profile_title}</li>
                            {/if}
                            {if $wa->user()->isAuth()}
                                {$is_found_links = preg_match_all("/\<a.+\<\/a>/", $wa->myNav(), $plugin_links)}
                                {if $is_found_links}
                                    {foreach $plugin_links[0] as $plugin_link}
                        <!--{$plugin_link}-->
                                        <li class="without_arrow">{$plugin_link}</li>
                                    {/foreach}
                                {/if}
                                <li><a class="topmenu__link" href="?logout">[s`Log out`]</a></li>
                                <!-- plugin hook: 'frontend_my_nav' -->
                                {* @event frontend_my_nav.%plugin_id% *}
                                {if isset($frontend_my_nav) && !empty($frontend_my_nav)}
                                    {foreach $frontend_my_nav as $_plugin => $_}
                                        <li>{$_}</li>
                                    {/foreach}
                                {/if}
                            {else}
                                <li><a class="topmenu__link" href="{$wa->loginUrl()}">[s`Log in`]</a></li>
                                <li><a class="topmenu__link" href="{$wa->signupUrl()}">[s`Sign up`]</a></li>
                            {/if}
                        {/if}

                    </ul>
                </div>
            {/if}
        </div>
    {/if}
    {if $is_search_as_popup}
        {include file="`$wa_parent_theme_path`search-block.html" is_popup=true inline}
    {/if}
</div>
{if $wa_shop && $theme_settings.elements_search && $theme_settings.elements_search_position != "header"}
    {if $theme_settings.elements_search_position == "everywhere" || $theme_settings.elements_search_position == "home" && $is_home}
        {include file="`$wa_parent_theme_path`search-block.html" inline}
    {/if}
{/if}
<script>
    $('.without_arrow a').addClass("topmenu__link");
    $('.my-shop a').addClass("topmenu__link");
    $('.my-shop').next().find("a").addClass("topmenu__link");
</script>
