{$action = $action|default:$wa->globals('action')}
{if !$action && isset($page)}
    {$action = 'page'}
{/if}
{if $action}
    {if $action == 'page' && isset($page)}
        {$page_back_url = $wa_app_url}
        {if !empty($page.parent_id)}
            {$parent_page = $wa->site->page($page.parent_id)}
            {$page_back_url = $wa_app_url|cat:$parent_page.full_url|default:''}
        {/if}
    {/if}
    {$action_rules = [
        "page" => [
            "name" => $page.name|default:'',
            "url" => $page_back_url|default:'',
            "is_h1" => true,
            "itemprop" => "name"
        ]
    ]}
    {if isset($action_rules[$action]) && !empty($action_rules[$action].name)}
        <div class="header-nav-wrapper">{strip}
            <a href="/" class="header-nav">
                {if isset($action_rules[$action]["is_h1"]) && $action_rules[$action]["is_h1"]}
                    <h1{if isset($action_rules[$action]["h1_class"]) && $action_rules[$action]["h1_class"]} class="{$action_rules[$action]["h1_class"]}"{/if}{if isset($action_rules[$action]["itemprop"]) && $action_rules[$action]["itemprop"]} itemprop='{$action_rules[$action]["itemprop"]}'{/if}>
                {/if}
                {$action_rules[$action].name}
                {if isset($action_rules[$action]["is_h1"]) && $action_rules[$action]["is_h1"]}</h1>{/if}
            </a>
        {/strip}</div>
    {/if}
{/if}