{$without_form = $without_form|default:false}
<div id="page" role="main" class="wa-auth-form wa-login-form">
    {if !$without_form}
        <h1>[s`Login`]</h1>
    {/if}
    {$wa->authAdapters()|replace:'/wa-content/img/auth/':($wa_parent_theme_url|default:$wa_theme_url|cat:'img/icons/')|replace:'.png':'.svg'|replace:'-circle':''}
    <div class="wa-form">
        {$wa->loginForm($error, ['include_css' => false])|replace:'&nbsp;':''}
    </div>
</div>