<div itemscope itemtype="http://schema.org/WebPage">
    {if !$is_home}
        {include file="`$wa_active_theme_path`/header-nav.html"}
    {/if}
    <div class="main-inner wrapper">

{if empty($page.id)}
    {$page = $wa->site->page(1)}
    {$content = $page.content}
{/if}

        {if $wa->currentUrl() == $wa_app_url && (empty($page.id) && empty($page.content))}

            <div class="welcome">
                <h1>[`Welcome to your new site!`]</h1>
                <p>{sprintf('[`Start by <a href="%s">creating a page</a> in your site backend.`]', $wa_backend_url|cat:'site/#/pages/')}</p>
            </div>

        {else}

            {$content} {* see page.html *}

        {/if}
    </div>
</div>
