<div id="page" role="main" class="wa-auth-form wa-signup-form">
    {if !empty($confirmed_email)}
    
        <h1>[s`Thank you!`]</h1>
        <div class="wa-auth-form__info">[s`You have successfully confirmed your email.`]</div>
        
    {else if !empty($contact)}
    
        <h1>[s`Thank you!`]</h1>
        <div class="wa-auth-form__info">[s`You have successfully signed up.`]</div>
        {if !empty($email_confirmation_hash)}
            <div class="wa-auth-form__info"><em>[s`A confirmation link has been sent to you by email. Please click this link to confirm your signup and to sign in.`]</em></div>
        {/if}
        
    {else}
    
        <h1>[s`Sign up`]</h1>
        {$wa->authAdapters()|replace:'/wa-content/img/auth/':($wa_parent_theme_url|default:$wa_theme_url|cat:'img/icons/')|replace:'.png':'.svg'|replace:'-circle':''}
        <div class="wa-form">
            {$wa->signupForm($errors, ['include_css' => false])|replace:'Sign Up':'[`Sign Up`]'}
        </div>
        
    {/if}
    
</div>