h1 { color: #000000; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #000000; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #000000; background: #000000; background: linear-gradient(to bottom,  #171717 0%,#000000 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #171717; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #000000; background: linear-gradient(to bottom,  #171717 0%,#000000 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #000000; }
#header .pages_list_button.active { background: #000000; }

.pages_list { background-color: #000000; border-top: 2px solid #dbdbdb; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #000000; }
.pages_list:after { border-bottom: 12px solid #dbdbdb; }
.pages_list li { border-bottom: 1px solid #000000; }
.pages_list li:not(:first-child) { border-top: 1px solid #dbdbdb; }

#search_block { background-color: #dbdbdb; }

.main_title { color: #000000; border-bottom: 2px solid #dbdbdb; background-color: #EEEEEE; }

#brand-page .sub-categories { border-top: 2px solid #dbdbdb; }

#catalog > div a,
.fast_cat_list > div a { color: #000000; }
#catalog > div i,
.fast_cat_list > div i { color: #000000; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#EEEEEE 100%); border-bottom: 2px solid #dbdbdb; }
#catalog .category:first-of-type { border-top: 2px solid #dbdbdb; }
#catalog .subcategory { background-color: #EEEEEE; border-bottom: 2px solid #dbdbdb; }

.fast_select_cat { background: #171717; background: linear-gradient(to bottom,  #171717 0%,#000000 100%); border: 1px solid #000000; }
.fast_select_cat .fa { color: #fff; }
.fast_cat_list { border: 1px solid #000000; background-color: #dbdbdb; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #000000; }

.sort_view_wrap .view > div { background: #171717; background: linear-gradient(to bottom,  #171717 0%,#000000 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #171717; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #000000; }

.product-list .price { background-color: #dbdbdb; }

.paging-nav li.selected a { background-color: #000000; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#EEEEEE 100%); border-top: 2px solid #dbdbdb; border-bottom: 2px solid #dbdbdb; }

.features p:nth-child(2n+1) { background-color: #EEEEEE; }

.price,
.cart .item-total,
.cart .cart-discount { color: #000000; }

.cart_item .price > span { background-color: #dbdbdb; }
.cart_item .recalc { background-color: #dbdbdb; border: 2px solid #000000; }

#contact_block { background-color: #000000; }
#contact_block .number { background: #BEBEBE; background: linear-gradient(to bottom,  #BEBEBE 0%,#9A9A9A 100%); border: 1px solid #000000; }

#footer { background-color: #000000; }
#footer .copyright { border-bottom: 2px solid #dbdbdb; }
#footer .social { border-top: 1px solid #002242; }