h1 { color: #163e56; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #4f89b2; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #1d5f77; background: #226e89; background: linear-gradient(to bottom,  #317d98 0%,#226e89 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #317d98; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #226e89; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #5f9fb6; background: linear-gradient(to bottom,  #5f9fb6 0%,#46869d 100%); }

#header { background-color: #E3F0F4; }
#header .phone { color: #163e56; }
#header .pages_list_button.active { background: #46869d; }

.pages_list { background-color: #46869d; border-top: 2px solid #CFEBFF; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #46869d; }
.pages_list:after { border-bottom: 12px solid #CFEBFF; }
.pages_list li { border-bottom: 1px solid #163e56; }
.pages_list li:not(:first-child) { border-top: 1px solid #CFEBFF; }

#search_block { background-color: #CFEBFF; }

.main_title { color: #163e56; border-bottom: 2px solid #CFEBFF; background-color: #EDFBFF; }

#brand-page .sub-categories { border-top: 2px solid #CFEBFF; }

#catalog > div a,
.fast_cat_list > div a { color: #163e56; }
#catalog > div i,
.fast_cat_list > div i { color: #226E89; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#EDFBFF 100%); border-bottom: 2px solid #CFEBFF; }
#catalog .category:first-of-type { border-top: 2px solid #CFEBFF; }
#catalog .subcategory { background-color: #EDFBFF; border-bottom: 2px solid #CFEBFF; }

.fast_select_cat { background: #5f9fb6; background: linear-gradient(to bottom,  #5f9fb6 0%,#46869d 100%); border: 1px solid #4f89b2; }
.fast_cat_list { border: 1px solid #4f89b2; background-color: #CFEBFF; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #4f89b2; }

.sort_view_wrap .view > div { background: #5f9fb6; background: linear-gradient(to bottom,  #5f9fb6 0%,#46869d 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #5f9fb6; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #4f89b2; }

.product-list .price { background-color: #CFEBFF; }

.paging-nav li.selected a { background-color: #46869d; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#EDFBFF 100%); border-top: 2px solid #CFEBFF; border-bottom: 2px solid #CFEBFF; }

.features p:nth-child(2n+1) { background-color: #EDFBFF; }

.price,
.cart .item-total,
.cart .cart-discount { color: #0a4664; }

.cart_item .price > span { background-color: #CFEBFF; }
.cart_item .recalc { background-color: #CFEBFF; border: 2px solid #4f89b2; }

#contact_block { background-color: #163e56; }
#contact_block .number { background: #92C3D5; background: linear-gradient(to bottom,  #92C3D5 0%,#4f94ae 100%); border: 1px solid #1d5f77; }

#footer { background-color: #163e56; }
#footer .copyright { border-bottom: 2px solid #CFEBFF; }
#footer .social { border-top: 1px solid #002242; }