h1 { color: #64443e; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #4f332e; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #4e3935; background: #593b36; background: linear-gradient(to bottom,  #6d4f49 0%,#593b36 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #6d4f49; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #593b36; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #785852; background: linear-gradient(to bottom,  #785852 0%,#64443e 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #64443e; }
#header .pages_list_button.active { background: #64443e; }

.pages_list { background-color: #64443e; border-top: 2px solid #f4dfdb; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #64443e; }
.pages_list:after { border-bottom: 12px solid #f4dfdb; }
.pages_list li { border-bottom: 1px solid #64443e; }
.pages_list li:not(:first-child) { border-top: 1px solid #f4dfdb; }

#search_block { background-color: #f4dfdb; }

.main_title { color: #64443e; border-bottom: 2px solid #f4dfdb; background-color: #F4EAE9; }

#brand-page .sub-categories { border-top: 2px solid #f4dfdb; }

#catalog > div a,
.fast_cat_list > div a { color: #64443e; }
#catalog > div i,
.fast_cat_list > div i { color: #593b36; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F4EAE9 100%); border-bottom: 2px solid #f4dfdb; }
#catalog .category:first-of-type { border-top: 2px solid #f4dfdb; }
#catalog .subcategory { background-color: #F4EAE9; border-bottom: 2px solid #f4dfdb; }

.fast_select_cat { background: #785852; background: linear-gradient(to bottom,  #785852 0%,#64443e 100%); border: 1px solid #4f332e; }
.fast_cat_list { border: 1px solid #4f332e; background-color: #f4dfdb; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #4f332e; }

.sort_view_wrap .view > div { background: #785852; background: linear-gradient(to bottom,  #785852 0%,#64443e 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #785852; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #4f332e; }

.product-list .price { background-color: #f4dfdb; }

.paging-nav li.selected a { background-color: #64443e; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F4EAE9 100%); border-top: 2px solid #f4dfdb; border-bottom: 2px solid #f4dfdb; }

.features p:nth-child(2n+1) { background-color: #F4EAE9; }

.price,
.cart .item-total,
.cart .cart-discount { color: #64443e; }

.cart_item .price > span { background-color: #f4dfdb; }
.cart_item .recalc { background-color: #f4dfdb; border: 2px solid #4f332e; }

#contact_block { background-color: #64443e; }
#contact_block .number { background: #E1CAC7; background: linear-gradient(to bottom,  #E1CAC7 0%,#D2B0AB 100%); border: 1px solid #4e3935; }

#footer { background-color: #64443e; }
#footer .copyright { border-bottom: 2px solid #f4dfdb; }
#footer .social { border-top: 1px solid #002242; }