h1 { color: #41474d; }

input[type=button],
input[type=submit],
button,
.button { background: #41474d; background: linear-gradient(to bottom, #41474d, #1e2023); border: 1px solid #151515; }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #41474d; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #41474d; }

header .auth li a.auth-link_signup { color: #fff; background: #41474d; background: linear-gradient(to bottom, #555a5f, #41474d); }
header .auth li a.auth-link_signup:hover { text-decoration: none; }

.shopblock { border: 1px solid #1e2023; border-width: 1px 0; background: #41474d; background: linear-gradient(to bottom, #555a5f, #41474d); }

a.allcat-button { box-shadow: 0 0 0 1px #7b7f82, 0 0 0 2px #6a6f72; }

.all_catalog_open .with_children > a:hover,
.all_catalog_open a.no_parent:hover,
.all_catalog_open a.level_0.open { background: #41474d; }

.search_shop input[type="text"],
.search_shop input[type="search"] { border: 1px solid #1d1e1e; }

.breadcrumbs a { color: #41474d; }

.homeslider h2 a { color: #41474d; }
.homeslider .price { color: #41474d; }
.homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.homeslider .bx-wrapper .bx-pager.bx-default-pager a.active { background: #41474d; box-shadow: inset -1px -1px 3px 0 #882B48; }

.catlist-item-title a { color: #41474d; }

.bullet-title { color: #41474d; }
.ico_shipping { background-position: 0px -89px; }
.ico_payment { background-position: -21px -89px; }
.ico_discount { background-position: -52px -89px; }

.price,
.cart .col.item-total,
.cart .col.cart-discount { color: #41474d; }

.infoblock_infomenu h3 { color: #41474d; }

.mailer-subscribe { background: url('../img/bg_striped_dark_gray.png'); }

.product-view-btns button:hover,
.product-view-btns button.active { color: #555a5f; }

.wishlist-link { border: 2px solid #dadbdb; }
.wishlist-link:hover,
.wishlist-link.active { border-color: #555a5f; }
.wishlist-link:hover i,
.wishlist-link.active i { color: #555a5f !important; }

.in-lists.compare-link:hover i,
.in-lists.compare-link.active i { color: #555a5f !important; }

.add2cart input[type="submit"],
.cart .checkout-button-row input[type="submit"],
.checkout .checkout-send input[type="submit"] {
background: #555a5f; /* Old browsers */
background: -moz-linear-gradient(top,  #555a5f 0%, #41474d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555a5f), color-stop(100%,#41474d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #555a5f 0%,#41474d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #555a5f 0%,#41474d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #555a5f 0%,#41474d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #555a5f 0%,#41474d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555a5f', endColorstr='#41474d',GradientType=0 ); /* IE6-9 */}
.add2cart input[type="submit"]:hover,
.cart .checkout-button-row input[type="submit"]:hover,
.checkout .checkout-send input[type="submit"]:hover { background: #41474d; }

#brand-page .sub-categories { border-top: 2px solid #dbdbdb; }

.bottomblock-col-header { color: #41474d; }

#up_button { background-color: #41474d; }