h1 { color: #0b440b; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #0B6F0C; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #0E5A0F; background: #076107; background: linear-gradient(to bottom,  #167016 0%,#076107 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #167016; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #076107; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #3A863B; background: linear-gradient(to bottom,  #3A863B 0%,#216E20 100%); }

#header { background-color: #F5FFF8; }
#header .phone { color: #0b440b; }
#header .pages_list_button.active { background: #216E20; }

.pages_list { background-color: #216E20; border-top: 2px solid #C8EFC8; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #216E20; }
.pages_list:after { border-bottom: 12px solid #C8EFC8; }
.pages_list li { border-bottom: 1px solid #0b440b; }
.pages_list li:not(:first-child) { border-top: 1px solid #C8EFC8; }

#search_block { background-color: #C8EFC8; }

.main_title { color: #0b440b; border-bottom: 2px solid #C8EFC8; background-color: #F5FFF8; }

#brand-page .sub-categories { border-top: 2px solid #C8EFC8; }

#catalog > div a,
.fast_cat_list > div a { color: #0b440b; }
#catalog > div i,
.fast_cat_list > div i { color: #076107; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F5FFF8 100%); border-bottom: 2px solid #C8EFC8; }
#catalog .category:first-of-type { border-top: 2px solid #C8EFC8; }
#catalog .subcategory { background-color: #F5FFF8; border-bottom: 2px solid #C8EFC8; }

.fast_select_cat { background: #3A863B; background: linear-gradient(to bottom,  #3A863B 0%,#216E20 100%); border: 1px solid #0B6F0C; }
.fast_cat_list { border: 1px solid #0B6F0C; background-color: #C8EFC8; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #0B6F0C; }

.sort_view_wrap .view > div { background: #3A863B; background: linear-gradient(to bottom,  #3A863B 0%,#216E20 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #3A863B; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #0B6F0C; }

.product-list .price { background-color: #C8EFC8; }

.paging-nav li.selected a { background-color: #216E20; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#F5FFF8 100%); border-top: 2px solid #C8EFC8; border-bottom: 2px solid #C8EFC8; }

.features p:nth-child(2n+1) { background-color: #9EE59E; }

.price,
.cart .item-total,
.cart .cart-discount { color: #106610; }

.cart_item .price > span { background-color: #C8EFC8; }
.cart_item .recalc { background-color: #C8EFC8; border: 2px solid #0B6F0C; }

#contact_block { background-color: #0b440b; }
#contact_block .number { background: #9EE59E; background: linear-gradient(to bottom,  #9EE59E 0%,#51B351 100%); border: 1px solid #0E5A0F; }

#footer { background-color: #0b440b; }
#footer .copyright { border-bottom: 2px solid #C8EFC8; }
#footer .social { border-top: 1px solid #002242; }