h1 { color: #91b731; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #7b9e21; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #789d1b; background: #83a729; background: linear-gradient(to bottom,  #96bc37 0%,#83a729 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #96bc37; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #83a729; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #96bc37; background: linear-gradient(to bottom,  #96bc37 0%,#83a729 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #91b731; }
#header .pages_list_button.active { background: #83a729; }

.pages_list { background-color: #83a729; border-top: 2px solid #D7E6B4; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #83a729; }
.pages_list:after { border-bottom: 12px solid #D7E6B4; }
.pages_list li { border-bottom: 1px solid #91b731; }
.pages_list li:not(:first-child) { border-top: 1px solid #D7E6B4; }

#search_block { background-color: #D7E6B4; }

.main_title { color: #91b731; border-bottom: 2px solid #D7E6B4; background-color: #EFF8D7; }

#brand-page .sub-categories { border-top: 2px solid #D7E6B4; }

#catalog > div a,
.fast_cat_list > div a { color: #91b731; }
#catalog > div i,
.fast_cat_list > div i { color: #83a729; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#EFF8D7 100%); border-bottom: 2px solid #D7E6B4; }
#catalog .category:first-of-type { border-top: 2px solid #D7E6B4; }
#catalog .subcategory { background-color: #EFF8D7; border-bottom: 2px solid #D7E6B4; }

.fast_select_cat { background: #96bc37; background: linear-gradient(to bottom,  #96bc37 0%,#83a729 100%); border: 1px solid #7b9e21; }
.fast_cat_list { border: 1px solid #7b9e21; background-color: #D7E6B4; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #7b9e21; }

.sort_view_wrap .view > div { background: #96bc37; background: linear-gradient(to bottom,  #96bc37 0%,#83a729 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #96bc37; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #7b9e21; }

.product-list .price { background-color: #D7E6B4; }

.paging-nav li.selected a { background-color: #83a729; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#EFF8D7 100%); border-top: 2px solid #D7E6B4; border-bottom: 2px solid #D7E6B4; }

.features p:nth-child(2n+1) { background-color: #EFF8D7; }

.price,
.cart .item-total,
.cart .cart-discount { color: #82a626; }

.cart_item .price > span { background-color: #D7E6B4; }
.cart_item .recalc { background-color: #D7E6B4; border: 2px solid #7b9e21; }

#contact_block { background-color: #91b731; }
#contact_block .number { background: #D7E6B4; background: linear-gradient(to bottom,  #D7E6B4 0%,#D3EC94 100%); border: 1px solid #789d1b; }

#footer { background-color: #91b731; }
#footer .copyright { border-bottom: 2px solid #D7E6B4; }
#footer .social { border-top: 1px solid #002242; }