h1 { color: #cd2325; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea { border: 2px solid #cd2325; }

input[type=button],
input[type=submit],
button,
.button { border: 1px solid #750C2B; background: #cd2325; background: linear-gradient(to bottom,  #e33335 0%,#cd2325 100%); }
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover { background: #e33335; }
input[type=button]:active,
input[type=submit]:active,
button:active,
.button:active { background: #cd2325; }

.full_version,
.header_info .one_block,
#user-auth-provider li,
.wa-auth-adapters li { background: #EA5F62; background: linear-gradient(to bottom,  #EA5F62 0%,#9f0b0d 100%); }

#header { background-color: #ffffff; }
#header .phone { color: #cd2325; }
#header .pages_list_button.active { background: #9f0b0d; }
#header .one_block span { background: #317d98 !important; background: linear-gradient(to bottom,  #317d98 0%,#226e89 100%) !important; }

.pages_list { background-color: #9f0b0d; border-top: 2px solid #FFE7E8; }
.pages_list:before,
.pages_list:after { border-bottom: 12px solid #9f0b0d; }
.pages_list:after { border-bottom: 12px solid #FFE7E8; }
.pages_list li { border-bottom: 1px solid #cd2325; }
.pages_list li:not(:first-child) { border-top: 1px solid #FFE7E8; }

#search_block { background-color: #FFE7E8; }

.main_title { color: #cd2325; border-bottom: 2px solid #F3C6C8; background-color: #FFEDEE; }

#brand-page .sub-categories { border-top: 2px solid #F3C6C8; }

#catalog > div a,
.fast_cat_list > div a { color: #cd2325; }
#catalog > div i,
.fast_cat_list > div i { color: #cd2325; }
#catalog .category { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#FFEDEE 100%); border-bottom: 2px solid #F3C6C8; }
#catalog .category:first-of-type { border-top: 2px solid #F3C6C8; }
#catalog .subcategory { background-color: #FFEDEE; border-bottom: 2px solid #F3C6C8; }

.fast_select_cat { background: #EA5F62; background: linear-gradient(to bottom,  #EA5F62 0%,#9f0b0d 100%); border: 1px solid #cd2325; }
.fast_cat_list { border: 1px solid #cd2325; background-color: #FFE7E8; }
.fast_cat_list > div:not(:last-child) { border-bottom: 1px solid #cd2325; }

.sort_view_wrap .view > div { background: #EA5F62; background: linear-gradient(to bottom,  #EA5F62 0%,#9f0b0d 100%); }
.sort_view_wrap .view > div i { color: #fff; }
.sort_view_wrap .view > div.active { background: #EA5F62; }

.sort_view_wrap .sorting_active,
.sort_view_wrap .sorting_list { border: 2px solid #cd2325; }

.product-list .price { background-color: #FFE7E8; }

.paging-nav li.selected a { background-color: #9f0b0d; }

.add2cart { background: #fff; background: linear-gradient(to bottom,  #fff 0%,#FFEDEE 100%); border-top: 2px solid #FFE7E8; border-bottom: 2px solid #FFE7E8; }

.features p:nth-child(2n+1) { background-color: #FFEDEE; }

.price,
.cart .item-total,
.cart .cart-discount { color: #cd2325; }

.cart_item .price > span { background-color: #FFE7E8; }
.cart_item .recalc { background-color: #FFE7E8; border: 2px solid #cd2325; }

#contact_block { background-color: #cd2325; }
#contact_block .number { background: #FFE7E8; background: linear-gradient(to bottom,  #FFE7E8 0%,#FFA9AC 100%); border: 1px solid #750C2B; }

#footer { background-color: #cd2325; }
#footer .copyright { border-bottom: 2px solid #FFE7E8; }
#footer .social { border-top: 1px solid #002242; }