.var-font_size_12 {
  font-size: 12px;
  line-height: 1.16666667;
}
.var-font_size_14 {
  font-size: 14px;
  line-height: 1.14285714;
}
.var-font_size_16 {
  font-size: 16px;
  line-height: 1.1875;
}
.var-font_size_18 {
  font-size: 18px;
  line-height: 1.16666667;
}
.var-font_size_20 {
  font-size: 20px;
  line-height: 1.15;
}
.var-font_size_24 {
  font-size: 24px;
  line-height: 1.16666667;
}
.display_table {
  display: table;
  width: 100%;
}
.display_table > * {
  display: table-cell;
}
.display_inline-block > * {
  display: inline-block;
}
.vertical_middle > * {
  vertical-align: middle;
}
.vertical_top > * {
  vertical-align: top;
}
.reset-wrapper {
  margin-left: -30px;
  margin-right: -30px;
}
.var-content-box {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.var-inline-block__vertical_middle {
  display: inline-block;
  vertical-align: middle;
}
.var-absolute_alignment {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.var-content-box {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.var-quickorder-btn {
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  padding: 9.5px 22px;
  border: none;
}
/* Common styles */
.product-controls > * {
  margin-left: 20px;
}
.product-controls > *:first-child {
  margin-left: 0;
}
.compare {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 20px;
  background: url("../img/icons/compare.svg") no-repeat center;
  background-size: contain;
}
.compare.active {
  background: url("../img/icons/compare_active.svg") no-repeat center;
  background-size: contain;
}
.favorite {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 19px;
  background: url("../img/icons/favorite.svg") no-repeat center;
  background-size: contain;
}
.favorite.active {
  background: url("../img/icons/favorite_active.svg") no-repeat center;
  background-size: contain;
}
.compare-at-price {
  font-size: 14px;
  color: #BDBDBD;
  line-height: 1.14285714;
}
.compare-at-price__val {
  display: inline-block;
  position: relative;
}
.compare-at-price__val:after {
  content: '';
  position: absolute;
  width: 104%;
  height: 1px;
  left: -2%;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #BDBDBD;
}
.badge {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}
.badge.new {
  background: #F2994A;
}
.badge.low-price {
  background: #EB5757;
}
.badge.bestseller {
  background: #9B51E0;
}
.services .services__item,
.wa-services .services__item,
.services .wa-service,
.wa-services .wa-service {
  margin-top: 15px;
}
.services .services__item:first-child,
.wa-services .services__item:first-child,
.services .wa-service:first-child,
.wa-services .wa-service:first-child {
  margin-top: 0;
}
.services .services__item label,
.wa-services .services__item label,
.services .wa-service label,
.wa-services .wa-service label {
  font-size: 16px;
  line-height: 1.16666667;
}
.services .services__item label > *,
.wa-services .services__item label > *,
.services .wa-service label > *,
.wa-services .wa-service label > * {
  vertical-align: middle;
}
.services .services__item .jq-selectbox,
.wa-services .services__item .jq-selectbox,
.services .wa-service .jq-selectbox,
.wa-services .wa-service .jq-selectbox,
.services .services__item .service-variants,
.wa-services .services__item .service-variants,
.services .wa-service .service-variants,
.wa-services .wa-service .service-variants,
.services .services__item select,
.wa-services .services__item select,
.services .wa-service select,
.wa-services .wa-service select {
  width: 100%;
}
.services .services__item .services__variants,
.wa-services .services__item .services__variants,
.services .wa-service .services__variants,
.wa-services .wa-service .services__variants,
.services .services__item .wa-variant,
.wa-services .services__item .wa-variant,
.services .wa-service .wa-variant,
.wa-services .wa-service .wa-variant {
  width: 100%;
  margin-top: 10px;
}
.qty input {
  width: 50px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  padding: 0 6px;
  overflow: hidden;
}
.qty input.error,
.qty input.wa-error-field {
  border-color: #EB5757;
  color: #EB5757;
}
.qty > * {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.qty > *:first-child {
  margin-left: 0;
}
.qty-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  font-size: 0;
}
.qty-btn.qty-minus:before {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.qty-btn.qty-plus:before {
  content: '';
  width: 10px;
  height: 10px;
  background: url(../img/icons/plus-sign.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.qty-btn.qty-btn:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  margin: auto;
}
.main-inner > .tabs-menu:last-child {
  margin-bottom: -20px;
}
#paymentForm {
  text-align: center;
}
#paymentFormSubmit {
  white-space: normal;
}
/* Catalog-nav */
.action-category .main-inner {
  padding-top: 0;
}
.action-category .filters {
  margin-top: 0 !important;
}
/* Product-list */
#product-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
#product-list .product-list {
  margin-top: 20px;
}
#product-list .product-list__item {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  width: 100vw !important;
  left: -50vw;
  margin-left: 50%;
}
#product-list.hide {
  display: none;
}
#product-list .product-list__empty {
  font-size: 16px;
  line-height: 1.1875;
  color: #E0E0E0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.product-list__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid;
}
.product-list__item:first-child {
  border-color: transparent;
}
.product-list__item.product-list__item_hidden {
  display: none !important;
}
.product-list__item .product-list__item-brand {
  margin-bottom: 10px;
}
.product-list__item .product-list__item-brand-title {
  color: #828282;
}
.product-list__image {
  text-align: center;
}
.product-list__image .product-list__image-container {
  height: 100px;
  position: relative;
}
.product-list__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto !important;
  height: auto !important;
}
.product-list__name {
  display: block;
  line-height: 1.14285714;
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.product-list__loading {
  text-align: center;
  margin: 15px 0;
}
.product-list__price {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
}
.product-list__availability {
  font-size: 14px;
  line-height: 1.14285714;
}
.product-list__availability.stock-yes {
  color: #27AE60;
}
.product-list__availability.stock-no {
  color: #EB5757;
}
.product-list__availability_pre-order {
  color: #777 !important;
}
.product-list .rating > * {
  display: inline-block;
}
.product-list .rating > * {
  vertical-align: middle;
}
.product-list .rating__stars {
  margin-right: 10px;
}
.product-list .compare-at-price {
  font-weight: 500;
}
.product-list .product-list__submit.loading {
  width: 23px;
  height: 23px;
}
.product-list .plugin_arrived-button {
  display: block !important;
}
.product-list .product-list__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-list__vendor {
  margin-bottom: 10px;
  font-size: 12px;
}
.product-list-rows .product-list__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
}
.product-list-rows.list-slider .product-list__name {
  height: 32px;
}
.product-list-rows .product-list__image-wrapper {
  width: 32%;
  min-width: 32%;
  max-width: 32%;
  padding-right: 15px;
  text-align: center;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.product-list-rows .product-list__image-wrapper img {
  bottom: inherit;
}
.product-list-rows .product-list__badge {
  margin-top: 10px;
}
.product-list-rows .product-list__offers {
  margin-top: 15px;
}
.product-list-rows .product-list__offers .purchase > * {
  margin-top: 15px;
}
.product-list-rows .product-list__offers .purchase > *:first-child {
  margin-top: 0;
}
.product-list-rows .product-list__pricing > * {
  display: inline-block;
  vertical-align: middle;
}
.product-list-rows .product-list__price {
  margin-right: 10px;
}
.product-list-rows .product-list__content {
  flex-grow: 1;
}
.product-list-rows .product-list__buttons {
  justify-content: flex-start;
}
.product-list-rows .product-list__submit {
  margin-right: 20px;
}
.product-list-rows .product-listcontrols {
  text-align: right;
}
.product-list-rows .product-listcontrols > * {
  margin-left: 20px;
}
.product-list-rows .product-listcontrols > *:first-child {
  margin-left: 0;
}
@media all and (max-width: 379px) {
  .product-list-rows .product-listcontrols > * {
    margin-left: 10px;
  }
}
.product-list-thumbs .product-list__item {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.product-list-thumbs .product-list__image-container {
  height: 285px;
}
.product-list-thumbs .product-list__name {
  margin-bottom: 15px;
}
.product-list-thumbs .product-list__item-brand {
  margin-bottom: 15px;
}
.product-list-thumbs .product-list__image {
  position: relative;
  margin-bottom: 15px;
}
.product-list-thumbs .product-list__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto !important;
  height: auto !important;
}
.product-list-thumbs .product-list__image_dummy img {
  width: 80%;
  height: 80%;
}
.product-list-thumbs .product-list__badge {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}
.product-list-thumbs .product-list__offers {
  margin-top: 10px;
}
.product-list-thumbs .product-list__pricing {
  margin-bottom: 15px;
}
.product-list-thumbs .product-list__pricing > * {
  display: inline-block;
}
.product-list-thumbs .product-list__compare-price {
  height: 16px;
  margin-left: 10px;
}
.product-list-thumbs .product-list__availability {
  margin-bottom: 15px;
}
.product-list-thumbs .product-list__buttons > * {
  display: inline-block;
  vertical-align: middle;
}
.product-list-thumbs .product-list__submit {
  margin-right: 20px;
}
.product-list-thumbs .product-list__submit:last-child {
  margin-right: 0;
}
/* Product-sets */
.product-sets_as-slider .product-list__item {
  border: none;
}
.product-sets_as-list {
  margin-bottom: 20px;
}
.product-sets_as-list .product-list__item {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -30px;
  margin-right: -30px;
  width: auto;
}
.product-sets_as-list .product-list__name {
  height: 32px;
}
/* Category */
.action-category .main-inner > * {
  margin-top: 20px;
}
.action-category .main-inner > *:first-child {
  margin-top: 0;
}
.popup-wrapper {
  display: none;
}
.popup-wrapper .header-nav {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 20px;
}
.popup-wrapper .header-nav:before {
  display: none;
}
.popup-wrapper .header-nav .popup-close {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top: 0;
  right: 30px;
  bottom: 0;
  margin: auto;
  background: url(../img/icons/close-icon-white.svg) center no-repeat;
  background-size: contain;
}
.popup-wrapper .popup-content {
  padding-bottom: 15px;
}
.popup-wrapper.review-form {
  padding-bottom: 15px;
}
.popup-wrapper .popup-bottom {
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  table-layout: fixed;
  z-index: 11;
}
.popup-wrapper.open {
  display: block;
  position: fixed;
  padding-top: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
  background: #fff;
  overflow-y: auto;
  z-index: 10000;
  max-height: 100vh;
}
.filters .popup-wrapper.open {
  bottom: 0;
}
.action-category .tabs-menu {
  margin-top: -20px;
}
.filter-expand:before {
  width: 18px;
  height: 18px;
  background: url(../img/icons/filters-expand.svg) no-repeat;
  background-size: contain;
}
.filter-expand .filter__count {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  min-width: 25px;
  padding: 0 4px;
  border-radius: 25px;
  background: #fff;
  color: #4f4f4f;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filter-expand .filter__count_hidden {
  display: none;
}
.filter-expand.open {
  background: #BDBDBD;
}
.filter-expand.open:before {
  background: url(../img/icons/close-icon.svg) no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
}
.filter-expand .filter-expand__text {
  margin-right: 15px;
}
.filters {
  background: #f7f7f7;
}
.filters .header-nav {
  position: fixed;
  height: 50px;
  top: 60px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
}
.filters .popup-wrapper.open {
  padding-top: 130px;
}
.filter-param__title {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  margin-bottom: 10px;
}
.filter-param__title .filter-param__title-text:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 7.5px;
  background: url(../img/icons/filter-arrow.svg) no-repeat center;
  background-size: contain;
  margin-left: 10px;
  transition: transform .1s;
}
.filter-param {
  margin-top: 20px;
}
.filter-param:first-child {
  margin-top: 0;
}
.filter-param .jq-checkbox {
  display: inline-block;
  vertical-align: middle;
}
.filter-param .icon16.color {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.filter-param .filter-param__value {
  vertical-align: middle;
}
.filter-param .filter-param__value > span {
  white-space: normal !important;
}
.filter-param_closed .filter-param__fields {
  display: none;
}
.filter-param_closed .filter-param__title-text:after {
  transform: rotate(-90deg);
}
.filter-param__range label {
  font-size: 16px;
  padding-left: 7.5px;
  position: relative;
}
.filter-param__range label:first-child {
  padding-left: 0;
  padding-right: 7.5px;
}
.filter-param__range label:before {
  content: attr(data-label);
  position: absolute;
  line-height: 40px;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
}
.filter-param__range input {
  width: 100%;
  height: 40px;
  padding-left: 54px;
}
.locale__ru_RU .filter-param__range input {
  padding-left: 36px;
}
.filter-param__items {
  font-size: 16px;
  line-height: 1.1875;
}
.filter-param__items .filter-param__item {
  margin-top: 15px;
}
.filter-param__items .filter-param__item:first-child {
  margin-top: 0;
}
.filter-btns__item {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.filter-btns__item:first-child {
  padding-left: 0;
}
.filter-btns__item:last-child {
  padding-right: 0;
}
.filter-submit.disabled {
  background: #BDBDBD;
  font-size: 0;
}
.filter-submit.disabled:after {
  content: attr(data-disabled);
  font-size: 16px;
}
.filter-reset {
  background: #F2F2F2;
  color: #828282;
}
.product-list-toolbar {
  table-layout: fixed;
}
.list-sorting .jq-selectbox,
.list-sorting select {
  width: 100%;
}
.list-views {
  text-align: right;
  width: 48px;
}
.list-view {
  width: 18px;
  height: 18px;
  display: none;
  position: relative;
}
.list-view.active {
  display: inline-block;
}
.list-view.active:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  margin: auto;
  background: none;
}
.list-view-thumbs {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.list-view-rows {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Product-page */
.product-page .product-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.16666667;
  margin-bottom: 15px;
}
.product-page .product-header .rating > * {
  display: inline-block;
}
.product-page .product-header .rating .rating__desc {
  margin-left: 10px;
}
.product-page .product-header > * {
  margin-bottom: 15px;
}
.product-page .product-header > *:last-child {
  margin-bottom: 0;
}
.product-page .tabs-menu {
  margin-left: -30px;
  margin-right: -30px;
}
.product-page .product-info > * {
  margin-top: 30px;
}
.product-page .product-info > *:first-child {
  margin-top: 0;
}
.product-page .product-brand__title {
  color: #828282;
}
.product-badge .badge {
  display: block;
}
.product-bar {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-bar > * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
}
.product-bar > *:last-child {
  text-align: right;
}
.product-bar > *:first-child {
  text-align: left;
}
.product-gallery-wrapper {
  position: relative;
}
#product-gallery {
  margin-top: 20px;
  height: 285px;
  overflow: hidden;
}
#product-gallery.product-gallery-slider {
  height: 285px;
  padding-bottom: 45px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#product-gallery.product-gallery-slider.product-gallery-slider_empty {
  padding-bottom: 0;
  height: 285px;
}
#product-gallery.product-gallery-slider .image {
  opacity: 0;
}
#product-gallery.product-gallery-slider.slick-slider .image {
  opacity: 1;
}
#product-gallery .image {
  height: 285px;
  position: relative;
}
#product-gallery .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#product-gallery .image.image-dummy img {
  width: 80%;
}
#pswp {
  z-index: 99999 !important;
}
#pswp .pswp__img {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#cart-form .add2cart {
  padding-top: 30px;
}
#cart-form .add2cart:before {
  content: '';
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
.cart-form > * {
  margin-top: 30px;
}
.cart-form > *:first-child {
  margin-top: 0;
}
.cart-form.product-static .stocks-wrapper {
  margin-top: 0;
}
.cart-form .purchase > * {
  margin-top: 30px;
}
.cart-form .purchase > *:first-child {
  margin-top: 0;
}
.cart-form .add2cart {
  text-align: center;
  position: relative;
}
.cart-form .add2cart .price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
}
.cart-form .add2cart .price .ruble {
  font-weight: 600;
}
.cart-form .skus .hint {
  color: #828282;
  margin-right: 5px;
}
.cart-form .skus .price {
  font-weight: 700;
}
.cart-form .skus > * {
  margin-top: 10px;
}
.cart-form .skus > *:first-child {
  margin-top: 0;
}
.cart-form .qty {
  margin-bottom: 20px;
}
.cart-form .add2cart__pricing {
  margin-bottom: 20px;
}
.cart-form .add2cart__pricing > * {
  display: inline-block;
  vertical-align: middle;
}
.cart-form .add2cart__stock-none {
  font-size: 16px;
  line-height: 1.1875;
  color: #EB5757;
  margin-bottom: 30px;
}
.cart-form .compare-at-price {
  font-size: 20px;
  line-height: 1.15;
  margin-left: 12px;
}
.cart-form .add2cart__submit.loading:after {
  width: 26px;
  height: 26px;
}
.cart-form .cart-form__buttons {
  margin-top: 10px;
  display: table;
  width: 100%;
  text-align: right;
}
.cart-form .cart-form__buttons > *:first-child {
  float: left;
}
.cart-form .cart-form__buttons > *:first-child:last-child {
  float: none;
  display: block;
  text-align: center;
}
.cart-form .cart-form__buttons:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.cart-form .cart-form__favorite {
  width: 25px;
  height: 24px;
}
.cart-form .cart-form__compare {
  width: 22.5px;
  height: 25px;
}
.cart-form .cart-form__quickorder {
  border: none;
  background: none;
  padding: 0;
  margin-right: 10px;
}
.cart-form .cart-form__quickorder input,
.cart-form .cart-form__quickorder .button,
.cart-form .cart-form__quickorder .quickorder-button {
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  padding: 9.5px 22px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
.cart-form .cart-form__quickorder input[disabled="disabled"],
.cart-form .cart-form__quickorder .button[disabled="disabled"],
.cart-form .cart-form__quickorder .quickorder-button[disabled="disabled"] {
  background: #BDBDBD !important;
  color: #fff !important;
}
.cart-form .add2cart__plugin-arrived {
  display: none;
  margin-top: 30px;
}
.cart-form .add2cart_unavailable .cart-form__quickorder {
  display: none;
}
.cart-form .add2cart_unavailable .cart-form__buttons {
  text-align: center;
}
.cart-form .add2cart_unavailable .add2cart__plugin-arrived {
  display: block;
}
.cart-form .add2cart_unavailable .plugin_arrived-button {
  display: block !important;
}
.cart-form .cart-formcontrols {
  margin-top: 6px;
}
.cart-form .options .options__item {
  margin-top: 30px;
}
.cart-form .options .options__item:first-child {
  margin-top: 0 !important;
}
.cart-form .options.options-select .options__item {
  margin-top: 20px;
}
.cart-form .options.options-select .sku-feature {
  width: 100%;
}
.cart-form .options .inline-select {
  margin-bottom: -15px;
}
.cart-form .options .inline-select a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
.cart-form .options .inline-select.custom a {
  font-size: 18px;
  line-height: 1.16666667;
  color: #828282;
  padding: 12px 14px;
  border: 2px solid #828282;
  border-radius: 5px;
  margin-bottom: 15px;
}
.cart-form .options .inline-select.color a {
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-form .options .inline-select.color a.selected {
  position: relative;
}
.cart-form .options .inline-select.color a.selected:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 17.5px;
  height: 13.5px;
  background: url(../img/icons/ok-icon.svg) no-repeat;
  background-size: contain;
}
.cart-form .options .inline-select.color a.selected.white:after {
  background: url(../img/icons/ok-icon_black.svg) no-repeat;
  background-size: contain;
}
.cart-form .options-title {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  margin-bottom: 15px;
}
.cart-form .stocks-title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
}
.product-tabs .tabs-menu__link a {
  font-size: 18px;
  line-height: 1.16666667;
}
.product-tabs__content {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
.product-tabs__item.active .product-tabs__content {
  display: block;
}
.product-descriptions > * {
  margin-top: 20px;
}
.product-descriptions > *:first-child {
  margin-top: 0;
}
.features__value_color .icon16 {
  margin-right: 10px;
}
.features__value_color span {
  font-size: 0;
  white-space: normal !important;
}
.product-video {
  text-align: center;
}
#product-features .value span {
  margin-top: 5px;
  display: inline-block;
}
#product-features .value span:first-child {
  margin-top: 0;
}
#product-features .table-custom td {
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.sku-stock__item {
  margin-top: 10px;
}
.sku-stock__item:first-child {
  margin-top: 0;
}
.stock-status i {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 2px;
  position: relative;
  top: -1px;
}
.stock-status i:first-child {
  margin-left: 0;
}
.stock-status i.dot-empty {
  background: #F2F2F2 !important;
}
.stock-status.stock-high {
  color: #27AE60;
}
.stock-status.stock-high i {
  background: #27AE60;
}
.stock-status.stock-low {
  color: #FCCB20;
}
.stock-status.stock-low i {
  background: #FCCB20;
}
.stock-status.stock-critical {
  color: #EB5757;
}
.stock-status.stock-critical i {
  background: #EB5757;
}
.stock-status.stock-none {
  color: #EB5757;
}
.stock-status.stock-none i {
  background: #EB5757;
}
.stock-status.stock-pre-order {
  color: #777;
}
.stock-status.stock-pre-order i {
  background: #777;
}
.stock-status .stock-name {
  margin-left: 5px;
  vertical-align: middle;
}
.stocks .stock-none {
  color: #EB5757;
}
.product-relateds {
  margin-top: 30px;
}
.product-relateds__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  margin-bottom: 10px;
}
.product-relateds__item {
  margin-top: 20px;
}
.product-relateds__item:first-child {
  margin-top: 0;
}
/* Review */
.reviews .write-review {
  margin-bottom: 30px;
}
.reviews .rating .icon18:last-child {
  margin-right: 0;
}
.reviews .reviews__awerage-rating {
  display: table;
  width: 100%;
}
.reviews .reviews__awerage-rating > * {
  display: table-cell;
}
.reviews .reviews__awerage-rating > * {
  vertical-align: middle;
}
.reviews .reviews__awerage-rating > * {
  text-align: right;
  padding-left: 10px;
}
.reviews .reviews__awerage-rating > *:first-child {
  text-align: left;
  padding-left: 0;
}
.reviews .reviews__awerage-rating {
  margin-bottom: 30px;
}
.reviews .rating-distribution {
  width: 100%;
  margin-bottom: 30px;
}
.reviews .rating-distribution td {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  border: none;
  width: 1%;
  padding-top: 10px;
  vertical-align: middle;
}
.reviews .rating-distribution td .bar {
  background: #E0E0E0;
  width: 100%;
  height: 14px;
  border-radius: 5px;
  overflow: hidden;
}
.reviews .rating-distribution td .filling {
  height: 100%;
}
.reviews .rating-distribution tr:first-child td {
  padding-top: 0;
}
.reviews .rating-distribution .rating-distribution__progress {
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.reviews .rating-distribution .min-width {
  width: 20px;
}
.reviews .rating-distribution .rating {
  text-align: right;
  position: relative;
  top: -3px;
  left: 2px;
}
.reviews .review-header {
  margin-bottom: 10px;
}
.reviews .review-header .review__name {
  font-size: 16px;
  line-height: 1.1875;
}
.reviews .review-header .rating {
  margin-right: 15px;
  position: relative;
  top: -3px;
}
.reviews .review:first-child {
  margin-top: 0;
}
.reviews .review .username {
  font-weight: 500;
}
.reviews .review .date {
  color: #828282;
}
.reviews .review .summary {
  margin-bottom: 10px;
}
.reviews .review .review__text {
  margin-bottom: 10px;
}
.reviews .review .review-reply {
  display: inline-block;
  color: #56CCF2;
  border-bottom: 1px dotted;
}
.reviews .review.new {
  padding: 10px;
  margin: -10px;
}
.reviews .reviews-branch {
  margin-top: 30px;
}
.reviews .reviews-branch .reviews-branch {
  padding-left: 20px;
}
.reviews .reviews-branch li .review {
  margin-top: 30px;
}
.reviews .reviews-branch li:first-child .review {
  margin-top: 0;
}
.reviews .review-field {
  margin-top: 15px;
  display: table;
  width: 100%;
}
.reviews .review-field input[type="text"],
.reviews .review-field input[type="password"],
.reviews .review-field input[type="email"],
.reviews .review-field input[type="tel"],
.reviews .review-field input[type="number"],
.reviews .review-field select,
.reviews .review-field textarea,
.reviews .review-field .jq-selectbox {
  width: 100%;
}
.reviews .review-field .review-field__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.reviews .review-field .review-field__item:last-child {
  margin-right: 0;
}
.reviews .review-field:first-child {
  margin-top: 0;
}
.reviews .review-field .review-field__title {
  font-size: 16px;
  line-height: 1.1875;
  padding-right: 10px;
}
.reviews .review-field .review-field__title,
.reviews .review-field .review-field__rate {
  display: table-cell;
  vertical-align: middle;
}
.reviews .review-field .review-field__rate {
  position: relative;
  text-align: right;
}
.reviews .review-submit {
  margin-top: 15px;
  text-align: center;
}
.reviews .review-submit .hint {
  display: block;
  margin-top: 5px;
}
.reviews .review-form .rating .icon18 {
  width: 25px;
  height: 24px;
  margin-right: 5px;
}
.reviews .rate-clear {
  position: absolute;
  top: 100%;
  right: 0;
}
.reviews .service-agreement-wrapper,
.reviews .wa-captcha {
  display: block;
  margin-bottom: 20px;
  text-align: left;
}
.reviews .service-agreement-wrapper {
  font-size: 16px;
  line-height: 1.1875;
}
.action-productReviews .reviews-wrapper > * {
  margin-top: 30px;
}
.action-productReviews .reviews-wrapper > *:first-child {
  margin-top: 0;
}
/* Product.page */
.product__page-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.notification-panel {
  display: block;
  left: 0;
  right: 0;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 1.1875;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 10000;
}
.notification-panel .notification-panel__close {
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 17px;
  margin: auto;
  background: url(../img/icons/close-icon.svg) no-repeat center;
  background-size: 14px;
}
/* Cart */
.cart.cart-summary-page {
  margin-bottom: 20px;
}
.cart .cart-items {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 20px;
}
.cart .cart-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}
.cart .cart-item__image {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  padding-right: 15px;
}
.cart .cart-item__image img {
  max-height: 100px;
}
.cart .cart-item__name {
  line-height: 1.14285714;
  margin-bottom: 15px;
  font-weight: 500;
}
.cart .cart-item__content > * {
  margin-top: 15px;
}
.cart .cart-item__content > *:first-child {
  margin-top: 0;
}
.cart .cart-item__total {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
}
.cart .cart-item__total .ruble {
  font-weight: 600;
}
.cart .cart-item__remove {
  text-align: right;
}
.cart .cart-item__remove .delete {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/icons/delete-icon.svg) no-repeat;
  background-size: contain;
}
.cart .cart-summary__result > * {
  margin-top: 15px;
}
.cart .cart-summary__result > *:first-child {
  margin-top: 0;
}
.cart .coupon-code__title {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 15px;
}
.cart .coupon-code__text {
  text-align: left;
  padding-right: 20px;
  width: 100%;
}
.cart .coupon-code__text input {
  width: 100%;
}
.cart .coupon-code__text.coupon-code__text_error input {
  border-color: #EB5757;
}
.cart .coupon-code__submit {
  text-align: right;
}
.cart .coupon-code__submit [type="submit"] {
  padding: 8px 12px;
  font-size: 16px;
}
.cart .cart-discount-block__title {
  color: #828282;
  line-height: 1.14285714;
  width: 1%;
  padding-right: 40px;
}
.cart .cart-discount-block__item {
  margin-top: 10px;
}
.cart .cart-discount-block__item:first-child {
  margin-top: 0;
}
.cart .cart-discount-block__discount {
  font-size: 16px;
  line-height: 1.1875;
}
.cart .affiliate-bonus {
  font-size: 16px;
  line-height: 1.1875;
}
.cart .affiliate-bonus [type="submit"] {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
}
.cart .cart-total-block > * {
  margin-top: 5px;
}
.cart .cart-total-block > *:first-child {
  margin-top: 0;
}
.cart .cart-total-block__title {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
}
.cart .cart-total-block__total {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16666667;
}
.cart .cart-total-block__total .ruble {
  font-weight: 600;
}
.cart .affiliate-info {
  color: #000;
  line-height: 1.14285714;
}
.cart .cart-payment-methods {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 -10px -10px;
}
.cart .cart-payment-methods__item {
  margin: 0 0 10px 10px;
}
.cart .cart-payment-methods img {
  max-height: 30px;
}
.cart .cart-checkout {
  margin-top: 20px;
}
.cart .cart__quickorder,
.cart .quickorder-custom-button-cart {
  margin-top: 15px;
}
.cart .cart__quickorder input,
.cart .quickorder-custom-button-cart input,
.cart .cart__quickorder .quickorder-button-cart,
.cart .quickorder-custom-button-cart .quickorder-button-cart,
.cart .cart__quickorder .buy1click-open-button,
.cart .quickorder-custom-button-cart .buy1click-open-button {
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  padding: 9.5px 22px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100% !important;
  text-align: center;
  box-shadow: none !important;
}
.cart .cart-relateds .product-relateds__title {
  padding-left: 30px;
  padding-right: 30px;
}
@media all and (max-width: 600px) {
  .cart-summary-page .services .jq-selectbox__select-text {
    white-space: normal;
    height: 40px;
  }
}
/* Checkout */
.step-header {
  font-weight: 400;
}
.step-header a {
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.16666667;
  color: #333;
}
.step-header.upcoming {
  display: none;
}
.checkout-step-wrapper .checkout-step-content > *:first-child {
  margin-top: 0;
}
.checkout-step-wrapper .auth .wa-submit [type="submit"] {
  display: block !important;
}
.checkout-step-wrapper .auth #login-form {
  margin-top: 15px;
}
.checkout-summary {
  font-size: 18px;
  line-height: 1.16666667;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}
.checkout-summary .checkout-summary__name {
  margin-right: 10px;
  color: #828282;
}
.checkout-summary .checkout-summary__value {
  font-weight: 500;
}
.auth-switch label > * {
  vertical-align: middle;
}
.auth-switch .auth-switch__item {
  margin-top: 15px;
}
.auth-switch .auth-switch__item:first-child {
  margin-top: 0;
}
.action-checkout .wa-auth-adapters {
  margin-bottom: 15px;
}
.action-checkout .global-wrapper {
  overflow: visible;
}
#checkout-contact-form .wa-form {
  margin-top: 15px;
}
#checkout-contact-form .wa-form .wa-field {
  margin-top: 20px;
}
#checkout-contact-form .wa-form .wa-field:first-child {
  margin-top: 0;
}
#checkout-contact-form .wa-form input[type="text"],
#checkout-contact-form .wa-form input[type="password"],
#checkout-contact-form .wa-form input[type="email"],
#checkout-contact-form .wa-form input[type="tel"],
#checkout-contact-form .wa-form input[type="number"] {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#checkout-contact-form .wa-form .wa-value input {
  font-size: 16px;
}
#checkout-contact-form .intl-tel-input {
  display: block;
}
#checkout-contact-form .intl-tel-input input[type="text"] {
  padding-left: 50px;
}
.auth-info {
  line-height: 1.14285714;
  border-radius: 10px;
}
.auth-info .auth-info__img {
  width: 50px;
  max-width: 50px;
  padding-right: 20px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.auth-info img {
  border-radius: 50%;
}
.method-logo-wrapper {
  width: 60px;
  height: 30px;
  position: relative;
  margin-right: 15px;
}
.method-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  right: auto;
}
.method-name {
  display: inline !important;
}
.checkout-options {
  line-height: 1.1875;
}
.checkout-options .jq-selectbox {
  width: 100%;
}
.checkout-options > li {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid;
}
.checkout-options > li:first-child {
  border-top: none;
  padding-top: 0;
}
.checkout-options > li h3 {
  font-size: 16px;
  margin-bottom: 15px;
}
.checkout-options > li h3 label {
  display: block;
  margin-bottom: 15px;
}
.checkout-options > li h3 label > * {
  display: inline-block;
}
.checkout-options > li h3 label > * {
  vertical-align: middle;
}
.checkout-options > li p {
  margin-bottom: 5px;
}
.checkout-options > li .checkout-options__description {
  margin-bottom: 15px;
  font-size: 14px;
}
.checkout-options .rate .rate__item {
  margin-bottom: 15px;
}
.checkout-options .rate .rate-title {
  font-size: 16px;
  line-height: 1.1875;
  color: #828282;
  margin-bottom: 5px;
}
.checkout-options .rate .rate__value {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
}
.checkout-options .jq-radio {
  margin-right: 10px;
}
#create-user-div {
  margin-top: 15px;
}
.checkout-next {
  padding-right: 35px;
  position: relative;
}
.step-contactinfo .checkout-next {
  margin-top: 20px;
}
.checkout-next:before {
  content: '';
  position: absolute;
  width: 7.5px;
  height: 12px;
  background: url(../img/icons/btn-arrow-icon.svg) no-repeat;
  background-size: contain;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}
.step-confirmation-contact {
  font-size: 16px;
  line-height: 1.1875;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}
.step-confirmation-contact h3 {
  font-size: 18px;
  line-height: 1.16666667;
  font-weight: 500;
  margin-bottom: 5px;
}
.step-confirmation-contact .step-confirmation-contact__item {
  margin-top: 15px;
}
.step-confirmation-contact .step-confirmation-contact__item:first-child {
  margin-top: 0;
}
.step-confirmation .comment {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}
.step-confirmation .checkout-terms {
  font-size: 16px;
  line-height: 1.1875;
}
.step-confirmation .table-custom {
  margin-bottom: 15px;
}
.step-confirmation .step-confirmation__summary {
  margin-bottom: 15px;
}
.checkout-submit {
  margin-top: 20px;
}
.checkout-result.checkout-success {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.1875;
}
.checkout-result.checkout-success h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  margin-bottom: 15px;
}
.checkout-result.checkout-success strong {
  font-weight: 600;
}
.checkout-result.checkout-success .checkout-success__back {
  margin-top: 20px;
}
.checkout-next-error {
  color: #EB5757;
  text-align: center;
  margin-top: 15px;
}
/* My orders */
.order-status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.my-orders table {
  width: 100%;
  border-collapse: collapse;
}
.my-orders td {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid;
}
.my-orders td:first-child {
  padding-left: 30px;
}
.my-orders td:last-child {
  padding-right: 30px;
  text-align: right;
}
.my-orders td:first-child:last-child {
  text-align: left;
}
.my-orders tr:first-child td {
  border-top: none;
}
.my-orders .my-orders__status-td {
  width: 15px;
  padding-right: 15px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.my-orders .my-orders__number {
  margin-bottom: 5px;
}
.my-orders .my-orders__number a {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  color: #333;
}
.my-orders .my-orders__number a:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  width: 200vw;
  z-index: 1;
}
.my-orders .my-orders__date {
  font-size: 12px;
  line-height: 1.16666667;
  color: #828282;
}
.my-orders .my-orders__total {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
}
.my-orders .my-orders__total .ruble {
  font-weight: 600;
}
.my-orders .my-orders__payment {
  margin-top: 5px;
  color: #828282;
  font-size: 12px;
  line-height: 1.16666667;
}
.my-order {
  margin-bottom: 10px;
}
.my-order .my-order-header {
  margin-bottom: 12px;
}
.my-order .my-order-header__top {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
}
.my-order .my-order-header__top .order-status {
  margin-right: 6px;
}
.my-order .my-order-header__date {
  color: #828282;
}
.my-order .my-orders__info {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
.my-order .my-order-method-header {
  margin-bottom: 15px;
}
.my-order .my-order-method-header.no_margin {
  margin-bottom: 0;
}
.my-order .my-order-method-header__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
  margin-bottom: 5px;
}
.my-order .my-order-method-header__name {
  font-size: 16px;
  line-height: 1.1875;
}
.my-order .my-order__track {
  margin: 15px 0;
}
.my-order .plugin [type="submit"],
.my-order .plugin [type="button"] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.my-order .my-order__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  margin-bottom: 10px;
}
.my-order #paymentFormSubmit {
  margin-top: 15px;
}
/* My-affiliate */
.my-affiliate__info {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 15px;
}
.my-affiliate__comment {
  margin-bottom: 10px;
}
.my-affiliate__order-title a {
  font-weight: 500;
}
/* Compare */
.action-compare .main-inner > * {
  margin-top: 20px;
}
.action-compare .main-inner > *:first-child {
  margin-top: 0;
}
.page-content {
  overflow-x: scroll;
}
.compare-diff__item {
  margin-top: 15px;
}
.compare-diff__item:first-child {
  margin-top: 0;
}
.compare-slider,
.compare-table__content {
  table-layout: fixed;
}
.compare-slider-wrapper {
  overflow: hidden;
}
.compare-slider {
  text-align: center;
}
.compare-slider.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background: #fff;
  z-index: 10001;
}
.compare-slider.fixed .compare-slider__side {
  border-bottom: none;
  border-top: 1px solid;
}
.compare-slider.fixed .compare-slider__image {
  height: 50px;
}
.compare-slider.fixed .compare-slider__name {
  display: none;
}
.compare-slider__image {
  height: 100px;
  position: relative;
  margin-bottom: 15px;
}
.compare-slider__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.compare-slider__name {
  font-weight: 500;
  height: 52px;
  color: #333;
}
.compare-slider__side {
  border-bottom: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.compare-slider__side_last {
  border-left: 1px solid;
}
.compare-slider__controls {
  position: relative;
}
.compare-slider-pages {
  color: #828282;
  margin-top: 10px;
}
.compare-slider__remove {
  width: 14px;
  height: 14px;
  background: url(../img/icons/compare-remove.svg) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}
.compare-table__item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.compare-table__item:first-child {
  margin-top: 0;
}
.compare-table__features {
  display: none;
  text-align: center;
  color: #828282;
  line-height: 19px;
}
.compare-table__features.active {
  display: block;
}
.compare-table__features-price {
  white-space: nowrap;
}
.compare-table__title {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 15px;
}
.compare-table__item_color .compare-table__features {
  font-size: 0;
}
.compare-table__item_color .compare-table__features > span {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.compare-table__item_color .compare-table__features > span i {
  margin: 0;
}
.compare-table__item_color .compare-table__features br {
  display: none;
}
#compare-clear {
  width: 14px;
  height: 18px;
  display: block;
  background: url(../img/icons/delete-icon_white.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
}
/** СТИЛИЗАЦИЯ ПЛАГИНОВ **/
/* Уведомление о поступлении */
.plugin_arrived-box {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  width: 90% !important;
}
.plugin_arrived-header {
  text-shadow: none !important;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.plugin_arrived-body {
  overflow: visible !important;
  border-radius: 0 0 10px 10px;
  background: #fff;
}
.plugin_arrived-body input,
.plugin_arrived-body select,
.plugin_arrived-body .jq-selectbox {
  width: 100% !important;
}
.plugin_arrived-button a {
  display: inline-block;
  vertical-align: middle;
}
.product-list .plugin_arrived-button a {
  width: auto;
  display: inline-block;
  line-height: 1;
}
.plugin_arrived-button a {
  border: none !important;
}
.plugin_arrived-header .plugin_arrived-close {
  background: url("../img/icons/close-icon-white.svg") no-repeat !important;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto !important;
}
.plugin_arrived-overlay {
  background: rgba(0, 0, 0, 0.7) !important;
}
.msg_errors {
  color: #EB5757 !important;
}
/* Купить в один клик storequickorder*/
#storequickorder .dialog-background {
  background: rgba(0, 0, 0, 0.7) !important;
}
#storequickorder .dialog-window {
  border: none !important;
  box-shadow: none !important;
  width: 90% !important;
  padding-bottom: 60px !important;
}
#storequickorder .dialog-buttons {
  height: 65px !important;
  position: static;
}
#storequickorder .window-name {
  padding-right: 20px;
}
#storequickorder .storequickorder-window-product_info {
  margin-bottom: 20px !important;
  display: table !important;
}
#storequickorder .storequickorder-window-product_info > * {
  display: block !important;
}
#storequickorder .storequickorder-window-product_info-image {
  float: left;
}
#storequickorder .storequickorder-window-product_info-name {
  margin-left: 110px !important;
}
#storequickorder .dialog-buttons-gradient {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 0 !important;
}
#storequickorder .close {
  width: 14px;
  height: 14px;
  background: url("../img/icons/close-icon_grey.svg") no-repeat !important;
  background-size: contain;
  background-position: 0 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-top: 4px !important;
}
/* Купить в один клик quickorder*/
.quickorder-custom-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 100000;
  overflow-y: auto;
}
.quickorder-custom-form:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.quickorder-overlay {
  z-index: 99999 !important;
  background: rgba(0, 0, 0, 0.7) !important;
}
.quickorder-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative !important;
  overflow: hidden;
  border-radius: 10px !important;
  border: none !important;
  z-index: 100000 !important;
  width: 90% !important;
  margin: 40px auto !important;
  top: inherit !important;
  left: 5% !important;
  right: 5% !important;
}
.quickorder-wrap .quickorder-value {
  margin-top: 10px;
}
.quickorder-wrap .quickorder-button {
  color: #fff;
  border: none;
  box-shadow: none;
  padding: 9.5px 10px !important;
}
.quickorder-wrap .quickorder-quantity {
  font-style: normal;
}
.quickorder-wrap textarea {
  height: 100px;
}
.quickorder-header {
  font-family: 'San Francisco' !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}
.quickorder-header i {
  font-style: normal;
  text-shadow: none;
}
.quickorder-header .close {
  width: 14px;
  height: 14px;
  background: url("../img/icons/close-icon.svg") no-repeat !important;
  background-size: contain;
  font-size: 0;
  margin-top: 13px;
}
.quickorder-body {
  overflow: visible !important;
  height: auto !important;
}
.quickorder-body > .close {
  display: none;
}
.quickorder-body .quickorder-order .quickorder-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.quickorder-body .quickorder-order .quickorder-order-image {
  margin-right: 15px;
}
.quickorder-quantity input {
  text-align: center;
}
.quickorder-button,
.quickorder-button-cart {
  box-shadow: none;
  margin: 0;
  font-weight: 400 !important;
  position: static;
  margin: 0 !important;
}
.quickorder-button i,
.quickorder-button-cart i {
  font-style: normal !important;
  background: none !important;
  padding: 0 !important;
  height: auto !important;
  display: inline !important;
}
.quickorder-button:active,
.quickorder-button-cart:active {
  top: 0 !important;
}
/* Productbrands */
.brand-image {
  text-align: center;
}
.brand-image img {
  max-height: 160px;
}
.brand-info > * {
  margin-bottom: 20px;
}
.action-brand .main-inner > *,
.action-brandPage .main-inner > * {
  margin-top: 20px;
}
.action-brand .main-inner > *:first-child,
.action-brandPage .main-inner > *:first-child {
  margin-top: 0;
}
.action-brandPage .brands-nav {
  margin-top: 20px;
}
.action-brandPage .brands-nav:first-child {
  margin-top: -20px !important;
}
.action-brandPage .brands-nav_titled:first-child {
  margin-top: 0 !important;
}
/* HtmlMap */
.htmlmap a {
  font-size: 15px;
}
.htmlmap .htmlmap-content > p {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 600;
}
.htmlmap .htmlmap-list {
  margin-top: 0;
  margin-bottom: 15px !important;
}
.htmlmap .htmlmap-list > li {
  margin-top: 10px;
}
.htmlmap .htmlmap-list > li:first-child {
  margin-top: 0;
}
.htmlmap .htmlmap-list > li ul {
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.htmlmap .htmlmap-list > li ul li a:before {
  content: '\2022';
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.htmlmap .htmlmap-list li {
  display: table;
  width: 100%;
  margin-top: 15px;
}
.htmlmap .htmlmap-list li:first-child {
  margin-top: 0;
}
.htmlmap .htmlmap-row {
  margin-bottom: 20px;
}
.htmlmap .htmlmap-row > div {
  float: none;
  width: auto;
}
.htmlmap .htmlmap-brand {
  display: table-cell;
  vertical-align: top;
}
.htmlmap .htmlmap-brand + ul {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 20px;
}
.htmlmap .htmlmap-brand .htmlmap-brand-block {
  margin-top: 3px;
  position: relative;
}
.htmlmap .htmlmap-brand .htmlmap-brand-block .htmlmap-brand-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* Заказ обратного звонка (ordercall) */
.oc {
  z-index: 99999 !important;
}
.ordercall-smart-button {
  z-index: 99 !important;
}
/* Smart Filters */
.sf-label-disabled .jq-checkbox,
.sf-label-disabled .jq-radio {
  opacity: .5;
}
/* Buy1Click */
.buy1click-open-button {
  font-size: 18px;
  line-height: 1.16666667;
}
.buy1click-form .jq-selectbox {
  border: none !important;
}
@media all and (max-width: 520px) {
  .buy1click-item-quantity .buy1click-input-text {
    height: 40px !important;
  }
  .buy1click-select.jq-selectbox .jq-selectbox__select,
  .buy1click-select.jq-selectbox .jq-selectbox__select-text {
    height: 30px !important;
    line-height: 28px !important;
  }
}
/* Информация о доставке и оплате */
.dp-container__product {
  margin-top: 30px;
}
.dp-page__group {
  margin-bottom: 30px;
}
.dp-page__service {
  margin-top: 15px;
}
.dp-dialog__header {
  padding-right: 20px;
}
.dp-dialog__content {
  padding-top: 80px;
}
.dp-dialog__close-button {
  top: 85px;
}
/* Заказ в 1 шаг */
.buy1step-page .buy1step-info-wrapper.is-affixed .inner-wrapper-sticky {
  margin-top: 40px;
}
.buy1step-page .buy1step-step__auth-box {
  margin-top: 20px;
}
.buy1step-page .buy1step-step__auth-box .buy1step-auth__variant-box {
  margin-top: 10px;
}
.buy1step-page .buy1step-step__auth-box .buy1step-auth__variant-box:first-child {
  margin-top: 0;
}
.buy1step-page .buy1step-step__auth-box .buy1step-auth__variant-box .jq-radio {
  vertical-align: middle;
}
@media all and (min-width: 1001px) {
  .buy1step-page {
    padding-bottom: 40px;
  }
}
/* Order page (Оформление заказа в корзине) */
.s-icon svg,
.wa-icon svg {
  display: none !important;
}
.order-page [type="checkbox"] {
  background: none;
}
.order-page .wa-error-text {
  color: #EB5757;
}
.order-page .wa-button.transparent {
  background: #bdbdbd;
  color: #fff;
}
.order-page__section-header {
  margin-bottom: 15px;
}
.order-page__section-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.16666667;
}
.order-page__cart {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.order-page__cart:after {
  content: '';
  width: 200vw;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: 0;
  left: -100%;
}
.order-page__cart .wa-action {
  display: block;
}
.order-page__cart .wa-products {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 20px;
}
.order-page__cart .wa-products .wa-product {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  padding-left: 30px;
  padding-right: 30px;
}
.order-page__cart .wa-products .wa-product .wa-product-body {
  position: relative;
}
.order-page__cart .wa-products .wa-product .wa-product-body:after {
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.order-page__cart .wa-products .wa-product .wa-product-body > * {
  margin-bottom: 15px;
}
.order-page__cart .wa-products .wa-product .wa-product-body > *:last-child {
  margin-bottom: 0;
}
.order-page__cart .wa-products .wa-product .wa-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}
.order-page__cart .wa-products .wa-column-image {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  padding-right: 15px;
  float: left;
}
.order-page__cart .wa-products .wa-column-image img {
  max-height: 100px;
}
.order-page__cart .wa-products .wa-column-details,
.order-page__cart .wa-products .wa-column-quantity,
.order-page__cart .wa-products .wa-column-price {
  margin-left: 100px;
}
.order-page__cart .wa-products .wa-column-details .wa-name {
  display: inline-block;
  line-height: 1.14285714;
  margin-bottom: 15px;
  font-weight: 500;
}
.order-page__cart .wa-products .wa-column-details .wa-details {
  margin-bottom: 15px;
}
.order-page__cart .wa-products .wa-column-details .wa-details .wa-sku,
.order-page__cart .wa-products .wa-column-details .wa-details .wa-weight {
  color: #828282;
}
.order-page__cart .wa-price-section > * {
  margin-bottom: 10px;
}
.order-page__cart .wa-price-section > *:last-child {
  margin-bottom: 0;
}
.order-page__cart .wa-price-section .wa-price-total {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16666667;
}
.order-page__cart .wa-price-section .wa-price-total .ruble {
  font-weight: 600;
}
.order-page__cart .wa-price-section .wa-price-compare {
  font-weight: 500;
  font-size: 14px;
  color: #BDBDBD;
  line-height: 1.14285714;
  text-decoration: line-through;
}
.order-page__cart .wa-price-section .wa-price-compare .ruble {
  font-weight: 500;
}
.order-page__cart .wa-price-section .wa-price-discount {
  color: #EB5757;
}
.order-page__cart .wa-product-price {
  font-size: 14px;
  color: #828282;
  margin-top: 10px;
}
.order-page__cart .wa-tooltip {
  font-size: 0;
}
.order-page__cart .wa-icon.delete {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(../img/icons/delete-icon.svg) no-repeat;
  background-size: contain;
}
.order-page__cart .wa-column-quantity .wa-actions {
  display: none;
}
.order-page .wa-order-cart-wrapper .wa-cart-details .wa-coupon-section:not(.is-active) .wa-active-state {
  display: none;
}
.order-page .wa-order-cart-wrapper .wa-cart-details .wa-affiliate-section:not(.is-active) .wa-active-state {
  display: none;
}
.order-page .wa-order-cart-wrapper,
.order-page .wa-order-form-wrapper {
  visibility: visible !important;
  position: relative;
}
.order-page .wa-order-cart-wrapper.is-not-ready:after,
.order-page .wa-order-form-wrapper.is-not-ready:after {
  content: '';
  background: #fff;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2280%22%20height%3D%2220%22%20viewBox%3D%220%200%20120%2030%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23828282%22%3E%0D%0A%09%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%3C%2Fcircle%3E%0D%0A%09%3Ccircle%20cx%3D%2260%22%20cy%3D%2215%22%20r%3D%229%22%20fill-opacity%3D%220.3%22%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22r%22%20from%3D%229%22%20to%3D%229%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%229%3B15%3B9%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%220.5%22%20to%3D%220.5%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%22.5%3B1%3B.5%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%3C%2Fcircle%3E%0D%0A%09%3Ccircle%20cx%3D%22105%22%20cy%3D%2215%22%20r%3D%2215%22%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%09%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%09%3C%2Fcircle%3E%0D%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 20px;
}
.order-page .wa-active-state {
  margin-top: 10px;
}
.order-page .wa-active-state .wa-text {
  margin-right: 10px;
}
.order-page .wa-coupon-section .wa-active-state {
  display: none;
}
.order-page .wa-coupon-section .wa-inactive-state {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.order-page .wa-coupon-section .wa-inactive-state .wa-input {
  flex-grow: 1;
  margin-right: 20px;
  min-width: 50px;
}
.order-page .wa-coupon-section .wa-inactive-state .wa-button {
  padding: 8px 12px;
  font-size: 16px;
}
.order-page .wa-coupon-section.is-active .wa-inactive-state {
  display: none;
}
.order-page .wa-coupon-section.is-active .wa-active-state {
  display: block;
}
.order-page .wa-affiliate-section > * {
  margin-bottom: 15px;
}
.order-page .wa-affiliate-section > *:last-child {
  margin-bottom: 0;
}
.order-page .wa-affiliate-section .wa-active-state {
  display: none;
}
.order-page .wa-affiliate-section .wa-order-bonus {
  color: #828282;
}
.order-page .wa-affiliate-section.is-active .wa-inactive-state {
  display: none;
}
.order-page .wa-affiliate-section.is-active .wa-active-state {
  display: block;
}
.order-page .wa-affiliate-section .wa-inactive-state .wa-button {
  margin-top: 5px;
}
.lang-ru .order-page .wa-coupon-section:before {
  content: 'У меня есть купон';
  display: block;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 15px;
}
.lang-ru .order-page .wa-coupon-section.is-active:before {
  display: none;
}
.order-page .wa-cart-details > *,
.order-page .wa-cart-details .wa-column-content > * {
  margin-bottom: 15px;
}
.order-page .wa-cart-details > *:last-child,
.order-page .wa-cart-details .wa-column-content > *:last-child {
  margin-bottom: 0;
}
.order-page .wa-weight-section {
  color: #828282;
  margin-top: 5px;
}
.order-page__checkout .wa-login-link {
  font-size: 16px;
  line-height: 1.1875;
}
.order-page__checkout .wa-step-section {
  margin-bottom: 20px;
}
.order-page__checkout .wa-step-section.wa-step-details-section {
  margin-top: -10px;
}
.order-page__checkout .wa-step-section:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-step-section .wa-section-header {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}
.order-page__checkout .wa-step-section .wa-section-header .wa-header {
  font-size: 18px;
  line-height: 1.16666667;
  color: #828282;
}
.order-page__checkout .wa-step-section .wa-section-header .wa-contact-name {
  font-size: 16px;
  line-height: 1.1875;
  margin-right: 15px;
}
.order-page__checkout .wa-step-section.wa-step-auth-section .wa-header {
  margin-bottom: 15px;
}
.order-page__checkout .wa-radio-wrapper {
  margin-bottom: 10px;
}
.order-page__checkout .wa-radio-wrapper:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-delivery-types-section .wa-header {
  display: none;
}
.order-page__checkout .wa-type-wrapper {
  margin-bottom: 15px;
}
.order-page__checkout .wa-type-wrapper:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-type-wrapper > * {
  margin-bottom: 10px;
}
.order-page__checkout .wa-type-wrapper > *:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-type-wrapper .wa-name a {
  font-size: 16px;
  line-height: 1.1875;
  color: #333;
}
.order-page__checkout .wa-type-wrapper .wa-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16666667;
}
.lang-ru .order-page__checkout .wa-type-wrapper .wa-price:before {
  font-size: 16px;
  line-height: 1.1875;
  color: #828282;
  margin-bottom: 5px;
  content: 'Цена:';
  display: block;
  font-weight: 400;
}
.order-page__checkout .wa-type-wrapper .wa-date {
  display: none;
}
.order-page__checkout .wa-delivery-variants-section {
  margin-top: 15px;
}
.order-page__checkout .wa-delivery-variants-section .wa-header {
  margin-bottom: 10px;
}
.order-page__checkout .wa-delivery-variant > * {
  display: inline-block;
  color: #828282;
}
.order-page__checkout .wa-delivery-variant > *:after {
  content: '\a0';
}
.order-page__checkout .wa-delivery-variant > *:last-child:after {
  display: none;
}
.order-page__checkout .wa-delivery-variant .wa-name {
  display: block;
  color: #333;
  margin-bottom: 2px;
}
.order-page__checkout .wa-details-description,
.order-page__checkout .wa-details-rates-section,
.order-page__checkout .wa-details-fields-section {
  margin-bottom: 15px;
}
.order-page__checkout .wa-details-description:last-child,
.order-page__checkout .wa-details-rates-section:last-child,
.order-page__checkout .wa-details-fields-section:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-details-fields-section .wa-line {
  margin-bottom: 15px;
}
.order-page__checkout .wa-details-fields-section .wa-line:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-details-fields-section .wa-line .wa-label {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
}
.order-page__checkout .wa-details-rates-section .wa-row {
  margin-bottom: 15px;
}
.order-page__checkout .wa-details-rates-section:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-details-rates-section .wa-name,
.order-page__checkout .wa-details-rates-section .wa-cell-name {
  color: #828282;
  margin-bottom: 5px;
}
.order-page__checkout .wa-details-rates-section .wa-delivery-price,
.order-page__checkout .wa-details-rates-section .wa-cell-value {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16666667;
}
.order-page__checkout .wa-details-rates-section .wa-delivery-price .ruble,
.order-page__checkout .wa-details-rates-section .wa-cell-value .ruble {
  font-weight: 700;
}
.order-page__checkout #wa-step-confirm-section .wa-flex-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -7px;
  margin-bottom: -7px;
}
.order-page__checkout #wa-step-confirm-section .wa-flex-wrapper > * {
  margin-top: 7px;
  margin-bottom: 7px;
}
.order-page__checkout #wa-step-confirm-section .wa-flex-wrapper .wa-total-section {
  order: -1;
}
.order-page__checkout #wa-step-confirm-section .wa-comment-section .wa-visible {
  display: none;
}
.order-page__checkout #wa-step-confirm-section .wa-comment-section .wa-textarea {
  width: 100%;
  height: 100px;
}
.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item {
  display: table;
  width: 100%;
  border-top: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item > * {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
  font-size: 14px;
  line-height: 1.14285714;
  text-align: right;
}
.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item > *:first-child {
  padding-left: 15px;
  padding-right: 0;
  width: 38%;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item .wa-name {
  font-weight: 500;
}
.order-page__checkout #wa-step-confirm-section .wa-submit-button {
  margin-top: 20px;
}
.order-page__checkout .wa-form-footer {
  margin-top: 15px;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-method-wrapper {
  margin-bottom: 30px;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-method-wrapper:last-child {
  margin-bottom: 0;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-method > * {
  display: inline-block;
  vertical-align: middle;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-method-body,
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-method-body .wa-payment-name {
  display: inline;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-payment-name {
  font-size: 16px;
  line-height: 1.1875;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-payment-name a {
  color: #333;
}
.order-page__checkout .wa-step-payment-section .wa-methods-list .wa-method-description {
  width: 100%;
  margin-top: 10px;
}
.order-page__checkout .wa-step-payment-section .wa-image-wrapper {
  margin-right: 15px;
}
