@media screen and (max-width: 900px){
    .header-order-test2 .container{
    	flex-wrap: wrap;
    }
    .header-order-test2 .container .wa-logo-section{
    	width: 100%;
    	text-align: center;
    }
    .header-order-test2 .container .wa-logo-section .wa-logo a img{
    	max-width: 266px;
    	max-height: 120px;
    }
    .header-order-test2 .wa-phone-section{
    	width: 100%;
    	text-align: center;
    	margin-top: 20px;
    }
    .header-order-test2 .wa-phone-section .wa-phone{
    	font-weight: 700;
    	font-size: 20px;
    	font-family: 'Fira Sans', sans-serif;
    }
    .header-order-test2 .wa-phone-section .wa-phone img{
    	margin-top: -4px;
    }
    .header-order-test2 .wa-phone-section .wa-description{
    	margin-top: 5px;
    	padding-left: 19px;
    	color: #aaa;
    }
	.call-back__icon{
		width: 18px;
	}
	.order-page__cart{
		box-shadow: 0px 3px 12px -1px #c0c0c0;
		padding: 0px 15px;
		margin-top: 15px;
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 5px;
		border: 1px solid #e7e7e7;
	}
	.order-page__checkout{
		box-shadow: 0px 3px 12px -1px #c0c0c0;
		padding: 0px 15px;
		margin-top: 15px;
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 5px;
		border: 1px solid #e7e7e7;
		padding: 15px;
	}
	.close__icon{
       width: 10px;
       height: 10px;
       margin-right: 3px;
       background: url("/wa-data/public/shop/storefronts/logos/closegrey.png");
       display: inline-block;
       background-size: contain;
    }
    .s-delete-button:hover .close__icon {
       background: url("/wa-data/public/shop/storefronts/logos/close.png");
       background-size: contain;
    }
	.ssearch-wrapper{
		box-shadow: 0px 3px 5px -2px #c0c0c0;
	}
	.ssearch-wrapper .ssearch-box {
		border-color: #bdbdbd !important;
		border-radius: 5px;
	}
	.ssearch-submit {
		background: #bdbdbd !important;
	}
	.main-inner.wrapper a {
		text-decoration: unset;
	}
	.search-block_static {
		background: unset;
	}
	.order-page__cart .wa-products .wa-column-details .wa-name{
	    margin-bottom: 10px;
	}
    .order-page__cart .wa-products .wa-product .wa-product-body > * {
        margin-bottom: 10px;
    }
    
    .order-page__cart .wa-action {
        display: inline-block;
        margin-left: 25px;
    }

	.order-page__cart > .title_cart {
	    font-size: 18px;
        font-weight: 500;
        color: #333;
		margin-top: 15px;
		margin-bottom: -5px;
		display: inline-block;
	}
	.order-page__cart > .s-delete-button {
        display: inline-block;
        color: #888;
        line-height: 17px;
        text-decoration: none;
        float: right;
        margin-top: 18px;
    }
	.order-page__cart > .s-delete-button .s-delete-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 6px 0 0;
        fill: #b8b8b8;
    }
    svg:not(:root) {
        overflow: hidden;
    }	
    	
	.order-page__cart .wa-tooltip {
		font-size: 12px;
		border-bottom: 1px dashed #828282;
        color: #828282;
	}
	.services .services__item label, .services .wa-service label, .wa-services .services__item label, .wa-services .wa-service label {
		font-size: 14px;
		font-weight: 300;
	}
	.order-page__cart .wa-icon.delete{
        background-color: #fff;
        width: 25px;
        position: relative;
        top: 4px;
	}
	.order-page__cart .wa-products .wa-product .wa-actions{
		position: relative;
	}
	/*.order-page__cart .wa-products .wa-product .wa-product-body>* {
		margin-bottom: 30px;
	}*/
	.order-page__cart .wa-products .wa-column-details .wa-services {
		position: relative;
		top: 15px;
	}
	.qty>* {
		margin-left: -5px;
	}
	.badge, .qty input {
		border-radius: 0px;
		border-color: #828282;
	}
	.qty-btn {
		background: unset;
		border: 1px solid #828282;
		padding: 14px 12px;
	}
	.qty-btn:hover {
		background: #cacaca;
	}
	.qty input {
		width: 40px;
		height: 30px;
		border-color: #828282 !important;
	}
	span.wa-button.btn.js-decrease.qty-btn.qty-minus {
		border-radius: 10px 0px 0px 10px !important;
	}
	span.wa-button.btn.js-increase.qty-btn.qty-plus {
		border-radius: 0px 10px 10px 0px !important;
	}
	.qty-btn.qty-plus:before {
		-webkit-filter: invert(40%);
		filter: invert(40%);
	}
	.qty-btn.qty-minus:before{
		-webkit-filter: invert(40%);
		filter: invert(40%);
	}
	.order-page .wa-coupon-section .wa-inactive-state .wa-button {
        padding: 8px 12px;
        font-size: 16px;
        color: #ffffff;
        border-radius: 4px !important;
        background-color: #2d9cdb;
	}
	input.wa-input.js-coupon-code {
        font-size: 16px;
    }
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="phone"], input[type="number"], input[type="number"], input[type="number"] {
		border-color: #828282;
	}
	.wa-cart-details .wa-column-price {
        text-align: center;
    }
    span.wa-discount.js-price {
        font-size: 14px;
    }
	.wa-field-wrapper.wa-city-wrapper.size-medium {
		margin-bottom: 10px;
	}
	.order-page .wa-affiliate-section .wa-inactive-state .wa-button {
		font-size: 16px;
		color: #949494;
		border-radius: 4px !important;
		background-color: #dedede;
	}
	.quickorder-button-cart {
		font-size: 16px;
		background: #2d9cdb !important;
		color: #fff !important;
		border: none;
		border-radius: 5px;
		padding: 10px 20px;
		text-shadow: none;
		box-shadow: none;
		margin-bottom: 15px !important;
	}
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="phone"], input[type="number"], input[type="search"], input[type="url"] {
		font-size: 14px;
	}
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="phone"], input[type="number"], input[type="number"], input[type="number"] {
		border-color: #bdbdbd;
	}
	.jq-selectbox, .jq-selectbox .jq-selectbox__dropdown, .s-styled-select select, .wa-dropdown-toggle, .wa-dropdown-area {
		border-color: #bdbdbd;
	}
	.wa-actions-section .btn, .btn-lg, .wa-form input[type="submit"], .btn-md, .btn-list {
		background: #2d9cdb;
		color: #fff;
		border: none;
		border-radius: 5px !important;
		text-shadow: none;
		box-shadow: none;
	}
	.wa-actions-section button.wa-button.wa-submit-button.js-submit-order-button {
		background: #2d9cdb;
		color: #fff;
		border: none;
		border-radius: 5px !important;
		text-shadow: none;
		box-shadow: none;
	}
	section.shadowed-frame {
		box-shadow: unset;
	}
	.order-page__cart .wa-products .wa-product {
        padding: 15px 0px;
    }
	.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item{
		display: flex;
	}
	.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item>:first-child{
		text-align: left;
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-o-box-flex: 1;
		box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.order-page__cart + .order-page__checkout #wa-step-confirm-section .wa-comment-section .wa-visible{
		display: inline-block;
		margin-bottom: 10px;
		padding-left: 15px;
	}
	.wa-step-section .wa-flex-wrapper i.wa-icon.arrow-bottom.size-8{
		width: 10px;
		height: 8px;
		display: inline-block;
		line-height: 0;
	}
	.wa-step-section .wa-flex-wrapper .is-opened i.wa-icon.arrow-bottom.size-8{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.wa-link:hover {
		color: #f00;
	}
	/*
	.is-opened .wa-value {
		display: block;
	}
	.wa-value {
		display: none;
	}
	*/
	.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper {
	    margin-bottom: 10px;
	}
	.wa-flex-wrapper .wa-comment-section .wa-icon svg {
		display: unset !important;
		width: 100%;
		height: 100%;
	}
	.jq-selectbox, .jq-selectbox .jq-selectbox__dropdown, .s-styled-select select, .wa-dropdown-toggle, .wa-dropdown-area{
		margin: 10px 0px;
	}
	.wa-fields-group .wa-field-wrapper.size-medium {
		margin: 10px 0px;
	}
	.wa-services .wa-service .wa-variant{
	    margin-top: 0;
	}
	section#wa-step-details-section {
		margin-top: 15px;
	}
	.size-large .wa-label {
		margin: 10px 0px;
	}
	.wa-city-wrapper label.wa-label {
		width: 60px;
		display: inline-block;
	}
	.wa-zip-wrapper label.wa-label {
		width: 60px;
		display: inline-block;
	}
	.wa-step-section .wa-dropdown .wa-dropdown-area {
		margin-top: -4px;
		border-radius: 0px 0px 5px 5px;
		z-index: 1;
	}
	.wa-step-section input.wa-input, input[name="details"] {
		margin-top: 10px;
		width: 100%;
	}
	.wa-step-section .wa-cell .ymaps-geolink {
		margin-left: 0px;
	}
	.ymaps-geolink{
	    font-size: 14px !important;
	}
	.ymaps-2-1-74-geolink-processed:before {
		display: none !important;
	}
	.wa-details-rates-section .wa-line.wa-schedule-wrapper {
		margin: 10px 0px;
	}
	.wa-order-form-wrapper{
	    font-size: 12px;
        color: #828282;
	}
	.order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item > :first-child{
	    -moz-hyphens: unset;
        -webkit-hyphens: unset;
        -ms-hyphens: unset;
        hyphens: unset;
	}
	    .wa-details-section span.wa-weight {
        display: inline-block;
    }
    .order-page__section-title {
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }
    .wa-order-form-wrapper .wa-step-section > .wa-section-header > .wa-header{
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }
    .wa-order-form-wrapper .wa-step-auth-section > .wa-section-header .wa-contact-name{
        display: block;
        padding: 15px 0px;
    }
    .order-page__cart .wa-products {
        margin-left: unset;
        margin-right: unset;
    }
    .wa-step-section .wa-section-header a {
        display: block;
        font-size: 14px;
        color: #006bd8;
        margin-top: 10px;
    }
    #wa-step-auth-section .wa-section-header{
        border: unset;
    }
    #wa-step-region-section .wa-section-header {
        border: unset;
    }
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item {
        justify-content: space-between;
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        -o-transform: translate(0px);
        -ms-transform: translate(0px);
        transform: translate(0px);
    }
    .table .table-total:nth-child(2n), .wa-total-section .wa-item:nth-child(2n){
        background: unset;
    }
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-name:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 2px dotted #e0e0e0;
        z-index: -1;
    }
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item.wa-item-total .wa-name:before {
        content: unset;
    }
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-name.is-large:before{
        border-bottom: unset;
    }
    #wa-step-confirm-section{
        border: unset;
    }
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-name{
        -webkit-box-flex: unset !important;
        -moz-box-flex: unset !important;
        -o-box-flex: unset !important;
        box-flex: unset !important;
        -webkit-flex: unset !important;
        -ms-flex: unset !important;
        flex: unset !important;
        margin-right: unset !important;
        background: #fff;
    }
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-value{
        -webkit-box-flex: unset !important;
        -moz-box-flex: unset !important;
        -o-box-flex: unset !important;
        box-flex: unset !important;
        -webkit-flex: unset !important;
        -ms-flex: unset !important;
        flex: unset !important;
        background: white;
    }
    .order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item{
        padding-bottom: unset;
    }
    .order-page__checkout #wa-step-confirm-section .wa-total-section .wa-item>:first-child{
        width: unset;
        font-weight: unset;
    }
    .wa-form-content #wa-step-confirm-section .wa-total-section .wa-item-total .wa-name {
        width: 50%;
        font-size: 16px;
        color: #333;
    }
    .wa-total-section .wa-item .wa-value {
        color: #333;
    }
    .order-page__cart .wa-price-section .wa-price-total{
        font-size: 18px;
        font-weight: 500;
    }
    .order-page__cart .wa-price-section .wa-price-total .wa-price.js-price {
    font-size: 24px;
    }
    .wa-order-dialog.wa-auth-dialog-wrapper .wa-dialog-body {
        padding: 60px 15px;
    }
    .wa-order-dialog.wa-auth-dialog-wrapper .wa-close-wrapper {
        top: 45px;
        right: 15px;
        background-size: 18px 18px;
        width: 12px;
        height: 12px;
    }
    .wa-order-dialog .wa-login-form-fields .wa-value input {
        width: 100%;
    }
    .wa-order-dialog .wa-buttons-wrapper input.wa-login-submit {
        width: 100%;
        padding: 8px 14px 9px;
        vertical-align: top;
        border: 1px solid transparent;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -webkit-appearance:none;
        font-weight: 500;
        outline: 0;
        font-family: "SF Pro Text", sans-serif;
        font-size: 14px;
        background-color: #2d9cdb;
        color: #fff;
    }
    .wa-login-form-wrapper .wa-login-form-actions .wa-signup-url {
        margin-top: 15px;
    }
    .wa-login-forgotpassword-url {
        display: none;
        right: 0px;
    }
    .wa-signup-url .wa-signup-url_mega {
        width: 45%;
        color: #2d9cdb;
        background: #ebf8ff;
        padding: 15px 8px;
        display: inline-block;
        position: absolute;
        margin-top: 15px;
        margin-right: 15px;
        text-align: center;
        /* font-size: 12px; */
    }
    .wa-signup-form-wrapper input[type="text"], .wa-signup-form-wrapper input[type="email"], .wa-signup-form-wrapper input[type="password"] {
        width: 100%;
        margin-right: unset;
    }
    .wa-signup-form-wrapper .wa-captcha-section .wa-captcha-code {
        margin-top: 15px;
    }
    .wa-signup-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper .wa-captcha-refresh {
        font-size: 16px;
    }
    .wa-signup-form-wrapper .wa-captcha-section .wa-captcha-code .wa-captcha-refresh-wrapper .wa-captcha-refresh .wa-captcha-refresh-icon {
        background-size: 18px;
        width: 17px;
        height: 17px;
    }
    .wa-signup-form-wrapper .wa-buttons-wrapper input[type="submit"] {
        width: 100%;
        padding: 8px 14px 9px;
        vertical-align: top;
        border: 1px solid transparent;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -webkit-appearance: none;
        font-weight: 500;
        outline: 0;
        font-family: "SF Pro Text", sans-serif;
        font-size: 14px;
        background-color: #2d9cdb;
        color: #fff;
    }
    .wa-signup-form-wrapper .wa-login-url a {
        color: #006bd8;
        font-weight: 500;
    }
    .wa-forgotpassword-form-wrapper input[type="text"], .wa-forgotpassword-form-wrapper input[type="email"], .wa-forgotpassword-form-wrapper input[type="password"] {
        width: 100%;
        margin-right: unset;
    }
    .wa-forgotpassword-form-wrapper input[type="submit"], .wa-forgotpassword-form-wrapper select, .wa-forgotpassword-form-wrapper textarea{
        width: 100%;
        padding: 8px 14px 9px;
        vertical-align: top;
        border: 1px solid transparent;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -webkit-appearance: none;
        font-weight: 500;
        outline: 0;
        font-family: "SF Pro Text", sans-serif;
        font-size: 14px;
        background-color: #2d9cdb;
        color: #fff;
    }
    .order-page .wa-button.transparent {
        margin-top: 10px;
        margin-left: 5px;
    }
    .wa-forgotpassword-form-wrapper .wa-login-url a {
        color: #006bd8;
        font-weight: 500;
    }
    .quickorder-form .quickorder-form-head {
        background: #fff;
        color: #000;
    }
    [data-quickorder-close]:before, [data-quickorder-close]:after {
        width: 3px;
        background-color: #333;
    }
    .badge, .qtydisabled input {
        width: 40px;
        height: 30px;
        border-color: #828282 !important;
        border-radius: 0px;
    }
    .qtydisabled span.wa-button.btn.js-decrease.qty-btn.qty-minus {
        top: -5px;
        left: 1px;
    }
    .qtydisabled span.wa-button.btn.js-increase.qty-btn.qty-plus {
        top: -5px;
        left: -1px;
    }
    .quickorder-form .quickorder-row .quickorder-price-cell{
        float: left;
    }
    .quickorder-form .quickorder-row .quickorder-remove{
        width: 20% !important;
        position: absolute;
        right: 20px;
        margin-top: -35px;
    }
    .quickorder-form .quickorder-row .quickorder-remove a{
        border-radius: 5px;
        border-color: #e5e5e5;
        font-size: 18px;
        font-weight: 900;
        padding: 2px 8px;
        background-color: #999;
        color: #fff;
    }
    .quickorder-form .quickorder-row select{
        padding: 10px 15px;
        margin: 15px 0px;
        background-color: #fff;
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -webkit-appearance: none;
        border-color: #999999;
    }
    .wa-order-dialog.wa-shipping-pickup-dialog .wa-dialog-body{
        width: 120%;
    }
    .wa-order-dialog .wa-dialog-body .wa-close-wrapper{
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        top: -25px;
        right: 3px;
    }
    ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
        display: none !important;
    }
    
    .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-submit-button {
        padding: 15px 20px;
        font-size: 16px;
    }
    
    /*shipping pickup dialog*/
    
    .wa-order-dialog .wa-dialog-body {
        text-align: left;
    }
    
    .wa-line {
        margin-top: 1.07em;
    }
    
    .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-variants-section .wa-filters-wrapper .wa-filters-list {
        margin-left: 0;
    }
    
    .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-variants-section .wa-filters-wrapper {
        padding-left: 0;
    }
    
    .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-variants-section .wa-variants-list .wa-variant-wrapper{
        padding-left: 0;
    }
    
    .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-map-section {
        padding: 0;
    }
    
    .wa-toggle{
        white-space: nowrap;
    }

    .wa-toggle > .selected {
        position: relative;
        border-color: rgba(0,128,255,0.2);
        background: #d9ecff linear-gradient(to bottom, #d9ecff, #e6f2ff);
        box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2),inset 0 -2px 3px 0 rgba(255,255,255,0.5);
        border-top-color: rgba(0,128,255,0.3);
        color: #000;
        cursor: default;
    }
    
    .wa-toggle > :first-child {
        margin-left: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .wa-toggle > :last-child {
        border-radius: 0 3px 3px 0;
    }
    
    .wa-toggle > * {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 -1px;
        padding: .35714285714285715em .7142857142857143em .2857142857142857em;
        list-style: none;
        border: 1px solid rgba(0,0,0,0.2);
        font-size: 1rem;
        line-height: 1.214285714285714em;
        outline: none;
    }

    /*end of shipping pickup dialog*/
    
    /*empty basket*/
    .s-cart-empty-wrapper {
        margin: 10px 0;
        padding: 29px 19px;
        border: 1px solid #eee;
        border-radius: 5px;
        text-align: center;
    }
    
    .s-cart-empty-wrapper .s-cart-empty__header {
        font-size: 18px;
    }
    
    .s-cart-empty-wrapper .s-description {
        font-size: 12px;
        margin-top: 10px;
        color: #828282;
    }
    
    .s-cart-empty-wrapper .s-actions-wrapper {
        margin-top: 10px;
    }
    
    .s-cart-empty-wrapper .s-actions-wrapper a {
        color: #2D9CDB;
        text-decoration: none;
        cursor: pointer;
        transition: color ease-in-out .2s;
        font-size: 12px;
    }
    
    /*end of empty basket*/
}
@media screen and (max-width: 350px){
    .wa-signup-url .wa-signup-url_mega {

        font-size: 12px;
    }
    .wa-order-dialog.wa-shipping-pickup-dialog .wa-content-section .wa-variants-section .wa-filters-wrapper .wa-filters-list {
        display: block;
    }
    .quickorder-form .quickorder-form-head {
        padding-right: 35px;
        font-size: 20px;
    }
}

