.popup-bottom {

    position: relative !important;

}

.wrapper.popup-wrapper.js-popup.product-list__popup.open {

    margin-bottom: 0px !important;

}



.tabs-menu__link a {

    padding-right: 37px;

    padding-left: 20px;

}



.tabs-menu__logo {

    width: 45px;

    min-width: 45px;

    padding-right: 10px;

}



.header-nav h1 {

    white-space: normal;

}





@media only screen and (max-width:670px) {

 .w-dialog-block {

  margin:20px 10px;

 }

 

 .sp {

     width: 100%;

     text-align: center;

     padding: 10px;

 }

 

 .quickorder-button-cart {

     width: 100%;

     text-align: center;

     padding: 13px 5px;

     border-radius: 0;

     border: 1px solid #aaa;

 }

 

 .ig-dialog-wrap.is-full-screen .w-dialog-wrapper .w-dialog-block{

     padding: 0;

 }

 

 .quickorder-form .quickorder-form-head {

    background: #333;

 }

 

 .quickorder-submit{

     border: 1px solid #aaa;

 }

 

 .quickorder-form [data-quickorder-cfb] {

     border-radius: 0;

 }

}





.jq-selectbox__trigger{

    position: relative;

}

.jq-selectbox .jq-selectbox__trigger-arrow {

  top: -33px;

  right: -24px;

}

.ssearch-wrapper .ssearch-result .result-categories a{
    white-space: unset !important;
    font-weight: 300 !important;
    line-height: 32px !important;
    display: block !important;
    padding: 5px 12px !important;
    text-overflow: ellipsis;
    font-size: 15px;
}

.ssearch-wrapper .ssearch-result .result-product .title{ 
    font-weight: 300 !important;
    line-height: 24px !important;
    display: block !important;
    text-overflow: ellipsis !important;
    font-size: 14px !important;
    white-space: unset !important;
    overflow: unset !important;
}

.checkout-options > li > p{
	width: 100% !important;
}

.checkout-options > li > p > b{
	font-weight: bold;
}

.checkout-options .shipping-rates{
    width: 100% !important;
}

.wa-plugin-hook {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .ig-dialog-wrap > .w-dialog-wrapper > .w-dialog-block{
        max-width: 750px;
    }

    .ig-dialog-wrap > .w-dialog-wrapper > .w-dialog-block > .quickorder-form{
        width: 750px;
    }
}